workflows/Aleksey TG DEV copy.json
{
  "active": true,
  "connections": {
    "добавляет пользователя, если не существует": {
      "main": [
        [
          {
            "node": "получаем первый статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "есть ли статус": {
      "main": [
        [
          {
            "node": "актуальный статус",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "меняем статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем первый статус": {
      "main": [
        [
          {
            "node": "есть ли статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус": {
      "main": [
        [
          {
            "node": "получаем первый статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "актуальный статус": {
      "main": [
        [
          {
            "node": "проверка статуса авторизации1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус1": {
      "main": [
        [
          {
            "node": "отправляем кнопку контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка нажатия кнопки контакта": {
      "main": [
        [
          {
            "node": "номер телефона",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "не ввели контакт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем id по mobile_phone": {
      "main": [
        [
          {
            "node": "проверяем наличие",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем наличие": {
      "main": [
        [
          {
            "node": "меняем статус на \"авторизован\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "пишем, что номера нет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "получаем все карточки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем все карточки": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вывод статуса карточки": {
      "main": [
        [
          {
            "node": "помечаем их отправленными",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка типа входных данных": {
      "main": [
        [
          {
            "node": "Проверка наличия фото",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу ВОДИТЕЛЬ_ИНЛАЙН",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Получаем тг",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем тг": {
      "main": [
        [
          {
            "node": "Вывод статуса карточки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка наличия фото": {
      "main": [
        [
          {
            "node": "воркфлоу ВОДИТЕЛЬ ФОТО",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу ВОДИТЕЛЬ_РЕПЛАЙ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем роль": {
      "main": [
        [
          {
            "node": "склеиваем данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус на \"авторизован\"": {
      "main": [
        [
          {
            "node": "проверка роли после авторизации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "получаем все карточки1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем все карточки1": {
      "main": [
        [
          {
            "node": "если не отправлены",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вывод статуса карточки1": {
      "main": [
        [
          {
            "node": "помечаем их отправленными1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем тг1": {
      "main": [
        [
          {
            "node": "Вывод статуса карточки1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "найдём водителя по номеру автомобиля1": {
      "main": [
        [
          {
            "node": "Получаем тг1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если не отправлены": {
      "main": [
        [
          {
            "node": "найдём водителя по номеру автомобиля1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "номер телефона": {
      "main": [
        [
          {
            "node": "получаем id по mobile_phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "авторизация": {
      "main": [
        [
          {
            "node": "добавляет пользователя, если не существует",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "авторизация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка статуса авторизации1": {
      "main": [
        [
          {
            "node": "меняем статус1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "проверка нажатия кнопки контакта",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "получаем роль",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка роли после авторизации": {
      "main": [
        [
          {
            "node": "логист",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "механик",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "водитель",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "нет роли",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "склеиваем данные": {
      "main": [
        [
          {
            "node": "ветки для ролей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ветки для ролей": {
      "main": [
        [
          {
            "node": "воркфлоу ЛОГИСТ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу МЕХАНИК",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка типа входных данных",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Нет роли",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-11T08:39:56.225Z",
  "id": "0xHSRXFQ1H9wNRQl",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Aleksey TG DEV copy",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tg_users (tg_id) VALUES ($1) ON CONFLICT (tg_id) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ \n  $('Telegram Trigger1').item.json.message?.from.id !== undefined \n  ? $('Telegram Trigger1').item.json.message.from.id \n  : $('Telegram Trigger1').item.json.callback_query.from.id \n}}"
        }
      },
      "id": "1b62f666-36ce-4c45-83c7-f26af6d4b370",
      "name": "добавляет пользователя, если не существует",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2260,
        4260
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3f1dd178-652c-4e81-8cb6-91df77dfe097",
              "leftValue": "={{ $json.status }}",
              "rightValue": "unauthorized",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "40c40f26-6082-4291-8289-920d4917fbf4",
      "name": "есть ли статус",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2660,
        4260
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ \n  $('Telegram Trigger1').item.json.message?.from.id !== undefined \n  ? $('Telegram Trigger1').item.json.message.from.id \n  : $('Telegram Trigger1').item.json.callback_query.from.id \n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "15f7687f-1c78-4eed-b761-fd9ddc2f7aca",
      "name": "получаем первый статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2460,
        4260
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('есть ли статус').item.json.tg_id }}",
            "status": "unauthorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "c1e23aad-8e3f-46f5-8964-656e9f7450ee",
      "name": "меняем статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2860,
        4380
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ \n  $('Telegram Trigger1').item.json.message?.from.id !== undefined \n  ? $('Telegram Trigger1').item.json.message.from.id \n  : $('Telegram Trigger1').item.json.callback_query.from.id \n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c326678-414c-4b1d-b96e-92a976e333d7",
      "name": "актуальный статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        3180,
        4240
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.tg_id }}",
            "status": "input_number"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "dafcf38c-53bf-4d6f-a43a-01c25ab6f90a",
      "name": "меняем статус1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        3760,
        3380
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Чтобы войти, поделитесь контактом",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться контактом",
                    "additionalFields": {
                      "request_contact": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "410deefb-a615-4e85-8f1c-1696d8fe9a43",
      "name": "отправляем кнопку контакта",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4020,
        3380
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4d79f0bd-02e2-413a-b219-bfc80a34c855",
              "leftValue": "={{ $('Telegram Trigger1').item.json.message.contact.phone_number }}",
              "rightValue": "Вы не нажали кнопку \"поделиться контактом\"",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "ada6ff84-63ba-4750-9810-44928d71fda4",
      "name": "проверка нажатия кнопки контакта",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3765,
        3580
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": []
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "mobile_phone",
              "value": "={{  $json.str.startsWith('+') ? $json.str : '+' + $json.str; }}"
            }
          ]
        }
      },
      "id": "a5a01731-2279-4736-ac5e-78dbf59c3fb1",
      "name": "получаем id по mobile_phone",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        4185,
        3580
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9b905cb5-83c4-4cdb-b1df-7e7f94e2a734",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "55f3bc40-c26b-4afa-8749-f9b9167c65e5",
      "name": "проверяем наличие",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4365,
        3580
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Такого сотрудника ещё нет в Odoo.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "599ed296-c6f1-4e82-8ba2-995c3f554202",
      "name": "пишем, что номера нет",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4605,
        3700
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('актуальный статус').item.json.tg_id }}",
            "odoo_id": "={{ $('проверяем наличие').item.json.id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "22052ecf-7de5-4d75-9c52-4f08fcfc8cee",
      "name": "меняем статус на \"авторизован\"",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        4620,
        3480
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Блок авторизации\n",
        "height": 683.4771536589792,
        "width": 1591.8393730343007,
        "color": 6
      },
      "id": "a07f592f-5629-4814-ac09-3b725cf86513",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3720,
        3260
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "4838122d-907c-45bf-8710-cbe3ec6987f0",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        395,
        5356
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "id": "09985b88-da86-4153-ae4f-93a95f3a7049",
      "name": "получаем все карточки",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        695,
        5356
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Проверка состояния карточек и отправка статуса водителю",
        "height": 422.196840068823,
        "width": 1685.1496509392816,
        "color": 6
      },
      "id": "fcf3fe15-fb71-4a57-80cf-b551c7b0dbae",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        343,
        5147
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "={{ $('If').item.json[\"created_by\"][1] }}\nВаше обращение перенесено в статус <b>{{ $('If').item.json[\"status\"] }}</b>\n\nТекст вашего обращения:\n<i>{{ $('If').item.json[\"description_of_maintenance\"] }}</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "456855e5-383e-48ab-a695-d084cfcd872f",
      "name": "Вывод статуса карточки",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1580,
        5240
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11c45e0d-196b-47f1-821e-bee57c9f070b",
              "leftValue": "={{ $('Telegram Trigger1').item.json.hasField(\"message\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3285e954-4c03-4fd6-b806-5209b9ffe181",
      "name": "Проверка типа входных данных",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4800,
        4600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "83edda29-8198-4233-8d09-a34820e84077",
              "leftValue": "={{ $json.sent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e3f6a0ca-dda5-4c94-b6b9-ea349b1834ff",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        920,
        5360
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.created_by }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1f21a42a-503b-4277-99be-68b473db20f4",
      "name": "Получаем тг",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1360,
        5240
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "update",
        "customResourceId": "={{ $('If').item.json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "sent",
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "id": "7d739dae-cc7e-4536-840a-bd77c868d969",
      "name": "помечаем их отправленными",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1800,
        5240
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2bd61e7b-a58d-4c5d-81d2-ec5f92c0ee0d",
              "leftValue": "={{ $('Telegram Trigger1').item.json.message.photo[0].file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9e341090-728f-42ac-b08c-2c315f245cef",
      "name": "Проверка наличия фото",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5120,
        4600
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "get",
        "customResourceId": "={{ $json.odoo_id }}",
        "options": {
          "fieldsList": [
            "job_id"
          ]
        }
      },
      "id": "0abf4d52-283a-41e6-bd63-94dc6c755e0a",
      "name": "получаем роль",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        3800,
        4420
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Проверка ролей\n",
        "height": 309.07650486512966,
        "width": 727.3089586054689,
        "color": 6
      },
      "id": "f11229dd-c6e5-4b6f-ba89-5b9c3850525b",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3760,
        4340
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как логист, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Просмотреть свободные машины",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Оповещение",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "4aaa5155-7889-45da-bd5d-1098b8916a98",
      "name": "логист",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        5040,
        3300
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как водитель, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к работе",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Срочно",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Заявки на ТО",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Моя статистика",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "a3d568d2-9ec6-4c73-b19c-dd6f8d1cfa10",
      "name": "водитель",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        5060,
        3620
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как механик, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Клавиатура механика",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "847bd18c-594f-46a7-bcfa-92568c208199",
      "name": "механик",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        5040,
        3460
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "content": "## Добавление записи в бд при первом запуске",
        "height": 400.90037255076527,
        "width": 857.69326295068,
        "color": 6
      },
      "id": "165e757c-7fcb-4915-9814-1b6e6d8ccafb",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2200,
        4180
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "0fb6bb57-a2a9-44e1-89a1-177f2393d9cd",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -220,
        6240
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "status",
              "value": "Готово"
            }
          ]
        }
      },
      "id": "0b01a3c3-7d23-4c89-8e86-62f7944aa827",
      "name": "получаем все карточки1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        75,
        6236
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Проверка состояния карточек и отправка статуса водителю",
        "height": 749.4704439473635,
        "width": 2342.9054234402693
      },
      "id": "a8c4a835-9ddf-47ed-bcbd-6b0335163094",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        5940
      ],
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "={{ $('найдём водителя по номеру автомобиля1').item.json[\"employee_id\"][1] }}\nВаше обращение перенесено в статус <b>{{ $('если не отправлены').item.json[\"status\"] }}</b>\n\nТекст вашего обращения:\n<i>{{ $('если не отправлены').item.json[\"description_of_maintenance\"] }}</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "abdce4c9-fdea-49a4-ae09-545b57eb371e",
      "name": "Вывод статуса карточки1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        960,
        6120
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.employee_id[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6f2d31de-7851-46ce-a680-ece8b0076aaa",
      "name": "Получаем тг1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        740,
        6120
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.car_id[0] }}"
            }
          ]
        }
      },
      "id": "64e0a0e7-ca78-403f-9fbb-16fa06c963d5",
      "name": "найдём водителя по номеру автомобиля1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        520,
        6120
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "update",
        "customResourceId": "={{ $('если не отправлены').item.json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "sent",
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "id": "cdd73317-a356-4036-a1b7-510c60409662",
      "name": "помечаем их отправленными1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1180,
        6120
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Вы не нажали кнопку \"поделиться контактом\"",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться контактом",
                    "additionalFields": {
                      "request_contact": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "0f29af9b-cd1d-42a3-a7da-dde66816edfb",
      "name": "не ввели контакт",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4020,
        3780
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Роль не указана",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "9ced7a4c-e466-4368-9e15-a889742951d8",
      "name": "Нет роли",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4580,
        4960
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "83edda29-8198-4233-8d09-a34820e84077",
              "leftValue": "={{ $json.sent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "57205142-151a-4246-930b-1b56a739d410",
      "name": "если не отправлены",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        300,
        6240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c7a2f2e-c8b7-431a-8a0b-5dc40efd8909",
              "name": "str",
              "value": "={{ $('Telegram Trigger1').item.json.message.contact.phone_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f2ba7ff4-a1c2-4237-9f73-e79d8645b2f7",
      "name": "номер телефона",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        4025,
        3580
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "Вы авторизовались, но у вас не указана роль в Odoo",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "f6b4bc6d-6edd-45b8-adb9-c292c46d50c2",
      "name": "нет роли",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        5040,
        3780
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.everest.lamart.site/web/session/authenticate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"call\",\n    \"params\": {\n        \"db\": \"db\",\n        \"login\": \"lamart-admin\",\n        \"password\": \"lamarlemur\"\n    }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "1102df32-671d-478f-97b4-12afe7645cf7",
      "name": "авторизация",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2000,
        4260
      ]
    },
    {
      "parameters": {
        "workflowId": "MGXx1U4ETr9dAD3C",
        "options": {}
      },
      "id": "f3050b9d-7abb-48fc-aa4b-a97eb43cdcd8",
      "name": "воркфлоу ЛОГИСТ",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4780,
        4140
      ]
    },
    {
      "parameters": {
        "workflowId": "KflLdOvWIODaWGRy",
        "options": {}
      },
      "id": "6b88eff9-7e53-4296-98a2-5273c9c36ff1",
      "name": "воркфлоу МЕХАНИК",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        4780,
        4320
      ]
    },
    {
      "parameters": {
        "workflowId": "xZLX5cAPYy4jXXfn",
        "options": {}
      },
      "id": "b2cb5f7d-ccaf-4bbd-a32b-6a8ab7dea05f",
      "name": "воркфлоу ВОДИТЕЛЬ_РЕПЛАЙ",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5500,
        4720
      ]
    },
    {
      "parameters": {
        "workflowId": "x2YXD7TXL9IQMsbj",
        "options": {}
      },
      "id": "b0adae67-45d6-4944-9cb9-5d6036a43f11",
      "name": "воркфлоу ВОДИТЕЛЬ ФОТО",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5520,
        4540
      ]
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "d9f094fd-6b68-4e1e-9123-02c51a450972",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        1780,
        4260
      ],
      "webhookId": "42c56784-6e6c-416a-ba61-b5a150d64822",
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "77fe838f-5f60-44cc-a654-5adcbbebf8bb",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "7dc92754-779a-4427-ba34-e7c6a59cb5c6",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "input_number",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "c53944e9-e386-439e-af27-b014ed92e2a1",
      "name": "проверка статуса авторизации1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3400,
        4240
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Логист",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "15e1453e-b597-4713-8d5b-6f12cf95cdfe",
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Механик",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c007a326-23d6-4d7f-84ee-af7fc0aead66",
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Водитель",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "336ca3c5-a127-4c74-944f-0da685790cf6",
      "name": "проверка роли после авторизации",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        4820,
        3480
      ]
    },
    {
      "parameters": {
        "workflowId": "SuERiSfcj3q0Cmkt",
        "options": {}
      },
      "id": "e1087c5b-d5a0-49d3-b6d7-669d46d00efe",
      "name": "воркфлоу ВОДИТЕЛЬ_ИНЛАЙН",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        5120,
        4800
      ]
    },
    {
      "parameters": {
        "content": "## Водитель\nу водителя много нод, поэтому они вынесены в отдельные воркфлоу",
        "height": 469.99969888850467,
        "width": 991.3552023907823,
        "color": 6
      },
      "id": "2986c5c8-1790-4bbd-b116-33695c737e55",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4740,
        4500
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nvar res = {};\n\nfor (const item of $input.all()) {\n  Object.assign(res, $('Telegram Trigger1').item.json);\n  Object.assign(res, $('актуальный статус').item.json);\n  Object.assign(res, { cookie: $('авторизация').item.json.headers['set-cookie'][0] });\n}\n\nreturn res;"
      },
      "id": "cdd9a1f3-4851-483e-8a1c-5cdab79f02da",
      "name": "склеиваем данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4020,
        4420
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Логист",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8c711320-cf09-453c-9f7f-dd3e02d0d308",
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Механик",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a06fb869-7c18-4036-9ca4-f2f7fa9005d8",
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Водитель",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "3c8b7e0b-3c90-423a-b906-1248257ae8da",
      "name": "ветки для ролей",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        4260,
        4420
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger1": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-07-11T07:44:57.621Z",
      "updatedAt": "2024-07-11T07:45:08.364Z",
      "id": "2bAiBX7uVqUq20et",
      "name": "aleksey"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-07-17T06:48:53.000Z",
  "versionId": "830676d0-c957-4a66-8966-24825e3e7c5b"
}