workflows/Alexander DEV.json
{
  "active": true,
  "connections": {
    "добавляет пользователя, если не существует1": {
      "main": [
        [
          {
            "node": "получаем первый статус1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "есть ли статус1": {
      "main": [
        [
          {
            "node": "актуальный статус1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "меняем статус2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем первый статус1": {
      "main": [
        [
          {
            "node": "есть ли статус1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус2": {
      "main": [
        [
          {
            "node": "получаем первый статус1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "актуальный статус1": {
      "main": [
        [
          {
            "node": "проверка статуса авторизации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус3": {
      "main": [
        [
          {
            "node": "отправляем кнопку контакта1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка нажатия кнопки контакта1": {
      "main": [
        [
          {
            "node": "номер телефона1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "не ввели контакт1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем id по mobile_phone1": {
      "main": [
        [
          {
            "node": "проверяем наличие1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем наличие1": {
      "main": [
        [
          {
            "node": "меняем статус на \"авторизован\"1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "пишем, что номера нет1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус на \"авторизован\"1": {
      "main": [
        [
          {
            "node": "проверка роли после авторизации1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger2": {
      "main": [
        [
          {
            "node": "получаем все карточки2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем все карточки2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вывод статуса карточки2": {
      "main": [
        [
          {
            "node": "помечаем их отправленными2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка типа входных данных1": {
      "main": [
        [
          {
            "node": "Проверка медиа1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу ВОДИТЕЛЬ_ИНЛАЙН",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Получаем тг2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем тг2": {
      "main": [
        [
          {
            "node": "Вывод статуса карточки2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем роль1": {
      "main": [
        [
          {
            "node": "склеиваем данные1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "получаем все карточки3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем все карточки3": {
      "main": [
        [
          {
            "node": "если не отправлены1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вывод статуса карточки3": {
      "main": [
        [
          {
            "node": "помечаем их отправленными3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем тг3": {
      "main": [
        [
          {
            "node": "Вывод статуса карточки3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "найдём водителя по номеру автомобиля": {
      "main": [
        [
          {
            "node": "Получаем тг3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если не отправлены1": {
      "main": [
        [
          {
            "node": "найдём водителя по номеру автомобиля",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "номер телефона1": {
      "main": [
        [
          {
            "node": "получаем id по mobile_phone1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "авторизация1": {
      "main": [
        [
          {
            "node": "добавляет пользователя, если не существует1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка статуса авторизации": {
      "main": [
        [
          {
            "node": "меняем статус3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "проверка нажатия кнопки контакта1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "получаем роль1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка роли после авторизации1": {
      "main": [
        [
          {
            "node": "логист1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "механик1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "водитель1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "нет роли1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "склеиваем данные1": {
      "main": [
        [
          {
            "node": "ветки для ролей1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка медиа1": {
      "main": [
        [
          {
            "node": "воркфлоу ВОДИТЕЛЬ МЕДИА1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу ВОДИТЕЛЬ_РЕПЛАЙ1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ветки для ролей1": {
      "main": [
        [
          {
            "node": "воркфлоу ЛОГИСТ1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу МЕХАНИК1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка типа входных данных1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Нет роли1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "авторизация1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-23T07:14:54.805Z",
  "id": "VKZvKUSUAnJZAEgS",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Alexander DEV",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tg_users (tg_id) VALUES ($1) ON CONFLICT (tg_id) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ \n  $('Telegram Trigger1').item.json.message?.from.id !== undefined \n  ? $('Telegram Trigger1').item.json.message.from.id \n  : $('Telegram Trigger1').item.json.callback_query.from.id \n}}"
        }
      },
      "id": "4f3b862a-bdc3-4b09-b15a-44bdb0a30a86",
      "name": "добавляет пользователя, если не существует1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -1000,
        1460
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3f1dd178-652c-4e81-8cb6-91df77dfe097",
              "leftValue": "={{ $json.status }}",
              "rightValue": "unauthorized",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "de1b2c86-44ad-454e-8d05-ab735bf77557",
      "name": "есть ли статус1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -600,
        1460
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ \n  $('Telegram Trigger1').item.json.message?.from.id !== undefined \n  ? $('Telegram Trigger1').item.json.message.from.id \n  : $('Telegram Trigger1').item.json.callback_query.from.id \n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "37671bc4-31a2-4606-928f-3ce6e831d98e",
      "name": "получаем первый статус1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -800,
        1460
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('есть ли статус1').item.json.tg_id }}",
            "status": "unauthorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "a45f0083-833d-4253-bc5f-c5ead4129e8d",
      "name": "меняем статус2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -400,
        1580
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ \n  $('Telegram Trigger1').item.json.message?.from.id !== undefined \n  ? $('Telegram Trigger1').item.json.message.from.id \n  : $('Telegram Trigger1').item.json.callback_query.from.id \n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "5daabdb3-8992-48f9-990a-ca78101c94f5",
      "name": "актуальный статус1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -80,
        1440
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.tg_id }}",
            "status": "input_number"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "77eeff41-459e-4956-9757-cc3577a10a85",
      "name": "меняем статус3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        500,
        580
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Чтобы войти, поделитесь контактом",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться контактом",
                    "additionalFields": {
                      "request_contact": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "ac93a2d5-b309-401d-b285-abd06239082b",
      "name": "отправляем кнопку контакта1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        760,
        580
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4d79f0bd-02e2-413a-b219-bfc80a34c855",
              "leftValue": "={{ $('Telegram Trigger1').item.json.message.contact.phone_number }}",
              "rightValue": "Вы не нажали кнопку \"поделиться контактом\"",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "1007af35-99dc-41a4-88b5-e16e381d7a0f",
      "name": "проверка нажатия кнопки контакта1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        505,
        780
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": []
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "mobile_phone",
              "value": "={{  $json.str.startsWith('+') ? $json.str : '+' + $json.str; }}"
            }
          ]
        }
      },
      "id": "431c488e-87a7-4a55-ae0e-f50512fc5416",
      "name": "получаем id по mobile_phone1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        925,
        780
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9b905cb5-83c4-4cdb-b1df-7e7f94e2a734",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1f625bcf-79eb-4921-9580-f21f4e85ab56",
      "name": "проверяем наличие1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1105,
        780
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Такого сотрудника ещё нет в Odoo.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "9746101c-34ed-42ad-8497-5b8e6bd852e7",
      "name": "пишем, что номера нет1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1345,
        900
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('актуальный статус1').item.json.tg_id }}",
            "odoo_id": "={{ $('проверяем наличие1').item.json.id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "88684479-b393-4174-bf9f-7477580eeba4",
      "name": "меняем статус на \"авторизован\"1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1360,
        680
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Блок авторизации\n",
        "height": 683.4771536589792,
        "width": 1591.8393730343007,
        "color": 6
      },
      "id": "4ac1e546-8fba-44f0-ae2e-a696372e7575",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "fda3cb21-8229-4587-be06-5d91c47debc4",
      "name": "Schedule Trigger2",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2865,
        2556
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "id": "012a19ad-5cb2-4646-9925-ea4aab5ade9d",
      "name": "получаем все карточки2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -2565,
        2556
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Проверка состояния карточек и отправка статуса водителю",
        "height": 422.196840068823,
        "width": 1685.1496509392816,
        "color": 6
      },
      "id": "fcdcb5b2-ec7a-4220-8c29-0426647627cb",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2917,
        2347
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "={{ $('If1').item.json[\"created_by\"][1] }}\nВаше обращение перенесено в статус <b>{{ $('If1').item.json[\"status\"] }}</b>\n\nТекст вашего обращения:\n<i>{{ $('If1').item.json[\"description_of_maintenance\"] }}</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "06162934-f8a6-404a-8355-5bf7872c4d1d",
      "name": "Вывод статуса карточки2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -1680,
        2440
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11c45e0d-196b-47f1-821e-bee57c9f070b",
              "leftValue": "={{ $('Telegram Trigger1').item.json.hasField(\"message\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5062fd9f-cb0e-40b3-b738-e5652e9ef9e3",
      "name": "Проверка типа входных данных1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1540,
        1800
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "83edda29-8198-4233-8d09-a34820e84077",
              "leftValue": "={{ $json.sent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6663c485-734a-49d4-9133-149a6ad920f5",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2340,
        2560
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.created_by }}"
            }
          ]
        },
        "options": {}
      },
      "id": "27cbf6e3-2365-48ab-9248-676df21632ae",
      "name": "Получаем тг2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -1900,
        2440
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "update",
        "customResourceId": "={{ $('If1').item.json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "sent",
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "id": "f85a63db-6a89-46ab-8bcd-cdc11971846e",
      "name": "помечаем их отправленными2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -1460,
        2440
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "get",
        "customResourceId": "={{ $json.odoo_id }}",
        "options": {
          "fieldsList": [
            "job_id"
          ]
        }
      },
      "id": "4d36a2ad-bb6a-4091-8267-e5c7e15f31ff",
      "name": "получаем роль1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        540,
        1620
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Проверка ролей\n",
        "height": 309.07650486512966,
        "width": 727.3089586054689,
        "color": 6
      },
      "id": "22b42672-dc41-4f19-9625-24b9cead2fba",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        500,
        1540
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как логист, <b>{{ $('получаем id по mobile_phone1').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Просмотреть свободные машины",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Оповещение",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "785d28a5-797e-4a03-a70c-1ac4e7937270",
      "name": "логист1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1780,
        500
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как водитель, <b>{{ $('получаем id по mobile_phone1').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к работе",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Срочно",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Заявки на ТО",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Моя статистика",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "0e92eb9c-3033-4ebe-988a-1cf65b7913cf",
      "name": "водитель1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1800,
        820
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как механик, <b>{{ $('получаем id по mobile_phone1').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Клавиатура механика",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "1c1d734c-ed17-4482-8fb6-3d2d47377839",
      "name": "механик1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1780,
        660
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "content": "## Добавление записи в бд при первом запуске",
        "height": 400.90037255076527,
        "width": 857.69326295068,
        "color": 6
      },
      "id": "95e000b1-b714-4fbd-a1e1-35edcfd8756f",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1060,
        1380
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "c5c825a5-cdc5-45e1-9500-85fb558379f9",
      "name": "Schedule Trigger3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -3480,
        3440
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "status",
              "value": "Готово"
            }
          ]
        }
      },
      "id": "029e1199-8a8a-4552-8a93-a864736bf2ac",
      "name": "получаем все карточки3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -3185,
        3436
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Проверка состояния карточек и отправка статуса водителю",
        "height": 749.4704439473635,
        "width": 2342.9054234402693
      },
      "id": "a67565da-04cb-47fa-aa65-e3b1d576efdc",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3580,
        3140
      ],
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "={{ $('найдём водителя по номеру автомобиля').item.json[\"employee_id\"][1] }}\nВаше обращение перенесено в статус <b>{{ $('если не отправлены1').item.json[\"status\"] }}</b>\n\nТекст вашего обращения:\n<i>{{ $('если не отправлены1').item.json[\"description_of_maintenance\"] }}</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "31d53db1-bfbc-4955-affd-31d2d2035e97",
      "name": "Вывод статуса карточки3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -2300,
        3320
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.employee_id[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "388a90f3-67a6-426f-be1b-6e851a902593",
      "name": "Получаем тг3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2520,
        3320
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.car_id[0] }}"
            }
          ]
        }
      },
      "id": "45f5157f-5079-4c16-b0a0-8308459aa32f",
      "name": "найдём водителя по номеру автомобиля",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -2740,
        3320
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "update",
        "customResourceId": "={{ $('если не отправлены1').item.json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "sent",
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "id": "b2884577-6f26-4341-b6cb-601ce9a2a101",
      "name": "помечаем их отправленными3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -2080,
        3320
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Вы не нажали кнопку \"поделиться контактом\"",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться контактом",
                    "additionalFields": {
                      "request_contact": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "f1998238-46eb-4664-9790-cd35ffb176f6",
      "name": "не ввели контакт1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        760,
        980
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Роль не указана",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "3d203efe-6856-41bc-b3cc-0291284b0e33",
      "name": "Нет роли1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1320,
        2160
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "83edda29-8198-4233-8d09-a34820e84077",
              "leftValue": "={{ $json.sent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a20fbedf-791e-4757-aa76-0ecb159d931f",
      "name": "если не отправлены1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2960,
        3440
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c7a2f2e-c8b7-431a-8a0b-5dc40efd8909",
              "name": "str",
              "value": "={{ $('Telegram Trigger1').item.json.message.contact.phone_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8ebb00de-c425-4f27-a956-724027defe26",
      "name": "номер телефона1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        765,
        780
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "Вы авторизовались, но у вас не указана роль в Odoo",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "bcd3fc2e-1d36-47c7-8f0a-61db9faa907a",
      "name": "нет роли1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1780,
        980
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.everest.lamart.site/web/session/authenticate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"call\",\n    \"params\": {\n        \"db\": \"db\",\n        \"login\": \"lamart-admin\",\n        \"password\": \"lamarlemur\"\n    }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "abf7b0cb-cc11-43f6-a6bb-04f54c1a853d",
      "name": "авторизация1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -1260,
        1460
      ]
    },
    {
      "parameters": {
        "workflowId": "VIUFwffQpiC2LOAs",
        "options": {}
      },
      "id": "92a606fe-51a2-436c-8cd6-040477b1fae3",
      "name": "воркфлоу ЛОГИСТ1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1520,
        1340
      ]
    },
    {
      "parameters": {
        "workflowId": "gyUSMfH1VxwLhU4f",
        "options": {}
      },
      "id": "5dc5fedb-f1f4-4454-9f96-1b952ce9f878",
      "name": "воркфлоу МЕХАНИК1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1520,
        1520
      ]
    },
    {
      "parameters": {
        "workflowId": "FmnFtZXGnliIvrIw",
        "options": {}
      },
      "id": "67ca8b06-e78f-401a-b01e-0ab0bd6d33a8",
      "name": "воркфлоу ВОДИТЕЛЬ_РЕПЛАЙ1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2240,
        1920
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "77fe838f-5f60-44cc-a654-5adcbbebf8bb",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "7dc92754-779a-4427-ba34-e7c6a59cb5c6",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "input_number",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "077d088f-fb57-4a1c-8b74-30a03779a466",
      "name": "проверка статуса авторизации",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        140,
        1440
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('получаем id по mobile_phone1').item.json.job_id[1] }}",
                    "rightValue": "Логист",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "15e1453e-b597-4713-8d5b-6f12cf95cdfe",
                    "leftValue": "={{ $('получаем id по mobile_phone1').item.json.job_id[1] }}",
                    "rightValue": "Механик",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c007a326-23d6-4d7f-84ee-af7fc0aead66",
                    "leftValue": "={{ $('получаем id по mobile_phone1').item.json.job_id[1] }}",
                    "rightValue": "Водитель",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "6730aae9-26cf-4344-af48-aab75d52939e",
      "name": "проверка роли после авторизации1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1560,
        680
      ]
    },
    {
      "parameters": {
        "content": "## Водитель\nу водителя много нод, поэтому они вынесены в отдельные воркфлоу",
        "height": 469.99969888850467,
        "width": 991.3552023907823,
        "color": 6
      },
      "id": "a7b5fd13-ef36-4077-b3e2-d6141f3d05ac",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1480,
        1700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nvar res = {};\n\nfor (const item of $input.all()) {\n  Object.assign(res, $('Telegram Trigger1').item.json);\n  Object.assign(res, $('актуальный статус1').item.json);\n  Object.assign(res, { cookie: $('авторизация1').item.json.headers['set-cookie'][0] });\n}\n\nreturn res;"
      },
      "id": "50c718d9-bb28-48bf-a326-0239085e4b0b",
      "name": "склеиваем данные1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        1620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2bd61e7b-a58d-4c5d-81d2-ec5f92c0ee0d",
              "leftValue": "={{ $json.message.photo[0].file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "beb896d6-88c5-4a2c-8278-489d76a2eca6",
              "leftValue": "={{ $json.message.voice.file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "0228f7b6-101d-46f6-98b3-0fa3b02263be",
              "leftValue": "={{ $json.message.video_note.file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "0bd83324-348f-4eae-aa8b-5f00ce5638ee",
              "leftValue": "={{ $json.message.video.file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "e03dbf73-1bf0-4437-a23f-4b4c0327dd62",
      "name": "Проверка медиа1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1860,
        1800
      ]
    },
    {
      "parameters": {
        "workflowId": "u7QivlStgyj3cIhi",
        "options": {}
      },
      "id": "bcc911d6-69cb-473d-bb0e-b60c4584227d",
      "name": "воркфлоу ВОДИТЕЛЬ МЕДИА1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2260,
        1740
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('получаем роль1').item.json.job_id[1] }}",
                    "rightValue": "Логист",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8c711320-cf09-453c-9f7f-dd3e02d0d308",
                    "leftValue": "={{ $('получаем роль1').item.json.job_id[1] }}",
                    "rightValue": "Механик",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a06fb869-7c18-4036-9ca4-f2f7fa9005d8",
                    "leftValue": "={{ $('получаем роль1').item.json.job_id[1] }}",
                    "rightValue": "Водитель",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "4642eab0-4a10-46ee-929a-1e5987ccfceb",
      "name": "ветки для ролей1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1000,
        1620
      ]
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "id": "a76ff42b-825d-4735-aee4-947883bdb861",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -1520,
        1460
      ],
      "webhookId": "8f1ac8ab-2de5-462f-8102-271572088128",
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "3ag5ZXsObL86SAWe",
        "options": {}
      },
      "id": "e125773f-6829-4a33-9201-18a60392c81b",
      "name": "воркфлоу ВОДИТЕЛЬ_ИНЛАЙН",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1840,
        2040
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger1": {
      "recurrencyRules": []
    },
    "node:Schedule Trigger3": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-07-22T15:48:01.194Z",
      "updatedAt": "2024-07-22T15:48:01.194Z",
      "id": "2T8KQNPUzVZTTvUc",
      "name": "alexandr"
    }
  ],
  "triggerCount": 2,
  "updatedAt": "2024-07-24T11:29:46.000Z",
  "versionId": "40327430-d875-4a67-858c-1301d2dd6904"
}