workflows/driver_reply_2.json
{
  "active": false,
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "отмена рейса": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получим авто по водителю1": {
      "main": [
        [
          {
            "node": "отмена рейса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "возвращаем статус2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "сегодняшняя дата": {
      "main": [
        [
          {
            "node": "какой сегодня день недели?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "какой сегодня день недели?": {
      "main": [
        [
          {
            "node": "конец недели",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "конец недели": {
      "main": [
        [
          {
            "node": "графики",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "графики": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "текст": {
      "main": [
        [
          {
            "node": "сегодняшняя дата",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "статусы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "фильтр от лишних уведомлений в чате": {
      "main": [
        [
          {
            "node": "Неизвестная команда",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "статусы": {
      "main": [
        [
          {
            "node": "получим авто по водителю1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "фильтр от лишних уведомлений в чате",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-09T06:31:40.777Z",
  "id": "zHCcbGCdc6J9bnCh",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "driver_reply_2",
  "nodes": [
    {
      "parameters": {},
      "id": "063126e9-8294-4612-8078-2f9705a1eda2",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        120,
        620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.everest.lamart.site/cancellation_round",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('Execute Workflow Trigger').item.json.cookie }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number_car",
              "value": "={{ $json.number_car }}"
            },
            {
              "name": "comment",
              "value": "={{ $('Execute Workflow Trigger').item.json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "08043953-f33f-46dd-959c-7a78c8a2bf39",
      "name": "отмена рейса",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        840
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.odoo_id }}"
            }
          ]
        }
      },
      "id": "316ea8c2-a557-4c60-839c-b736f36a27cd",
      "name": "получим авто по водителю1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        860,
        840
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "ITgOrhO4Hf2QcDtf",
          "name": "odoo dev"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "cancel round problem"
      },
      "id": "f9026255-fb91-4e3f-bb81-df9ce0bc33e7",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1300,
        1000
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "=Вы отменили рейс в перевозке: <b>{{ $json.current_route }}</b>",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к следующей перевозке",
                    "additionalFields": {
                      "callback_data": "transportation_to_tail"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "ac223a15-3bc7-41c9-987c-a0767d980f78",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        820
      ],
      "credentials": {
        "telegramApi": {
          "id": "rJQteGH5Ng1RKmF4",
          "name": "tg dev aleksey"
        }
      }
    },
    {
      "parameters": {
        "content": "## Отмена рейса",
        "height": 381.28274062358184,
        "width": 741.0356895064125,
        "color": 6
      },
      "id": "dc848a1f-6381-4b19-be94-714bcf3f5513",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        840,
        780
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.result.chat.id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "6a100a6c-ad84-4008-b1f9-2e52b4cf107e",
      "name": "возвращаем статус2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1480,
        820
      ],
      "credentials": {
        "postgres": {
          "id": "xrihBpyZE5y4OBiy",
          "name": "pg dev"
        }
      }
    },
    {
      "parameters": {
        "includeTime": false,
        "options": {}
      },
      "id": "371d9ff7-76d7-4a9c-bd98-9a55869d8ac7",
      "name": "сегодняшняя дата",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        720,
        440
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "c",
        "options": {}
      },
      "id": "904bd7ed-3f13-48d4-be99-60f777685b99",
      "name": "какой сегодня день недели?",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        940,
        440
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('сегодняшняя дата').item.json.currentDate }}",
        "duration": "={{ 7 - $json.formattedDate}}",
        "outputFieldName": "endOfWeek",
        "options": {}
      },
      "id": "e016098e-6acd-4232-8c95-774833d31e18",
      "name": "конец недели",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1160,
        440
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "=driver.schedule",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "date",
              "operator": "greaterOrEqual",
              "value": "={{ $('сегодняшняя дата').item.json.currentDate }}"
            },
            {
              "fieldName": "date",
              "operator": "lesserOrEqual",
              "value": "={{ $json.endOfWeek }}"
            },
            {
              "fieldName": "driver",
              "value": "={{ $('Execute Workflow Trigger').item.json.odoo_id }}"
            }
          ]
        }
      },
      "id": "2e97ec89-96c4-49d9-8a88-9afb3d96363c",
      "name": "графики",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1380,
        440
      ],
      "credentials": {
        "odooApi": {
          "id": "ITgOrhO4Hf2QcDtf",
          "name": "odoo dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e9355f27-7149-4cc4-8672-570d0fcf1912",
              "name": "data",
              "value": "={{ $json.date.toDateTime().setLocale('ru').format('dd.MM ccc') }}: {{ $json.day_type[1] == \"Выходной день\" ? \"\" : $json.car[1] + \" - \" }}{{ $json.day_type[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "235ac72a-43d9-4485-8dc4-62d21d2d4880",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1820,
        440
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "id": "f4762efb-4865-4840-ad64-097f96aa25b7",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        2040,
        440
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "=График на текущую неделю ({{ $('конец недели').item.json.endOfWeek.toDateTime().minus(6, 'days').format('dd.MM') }} - {{ $('конец недели').item.json.endOfWeek.toDateTime().format('dd.MM') }})\n\n{{ $json.concatenated_data }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "График за месяц",
                    "additionalFields": {
                      "callback_data": "month_schedule"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "59bca3bb-17ef-4627-917c-343abe902fb1",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2240,
        440
      ],
      "credentials": {
        "telegramApi": {
          "id": "rJQteGH5Ng1RKmF4",
          "name": "tg dev aleksey"
        }
      }
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "date"
            }
          ]
        },
        "options": {}
      },
      "id": "fbb0f925-aa44-43cc-bfdf-03873f73fb60",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1600,
        440
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d164d5d7-2d76-4582-a31e-61fdb8757af4",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Мой график",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "9175961f-7f88-4717-9494-7c8815201a0d",
      "name": "текст",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        400,
        620
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "Неизвестная команда",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "210d0696-dc0d-4278-9eea-070bb1ae91aa",
      "name": "Неизвестная команда",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1120,
        1300
      ],
      "credentials": {
        "telegramApi": {
          "id": "rJQteGH5Ng1RKmF4",
          "name": "tg dev aleksey"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2ed3940a-2427-40e7-8024-081403f02a2f",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": -4161741739,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "94122e86-7630-48f1-a4f0-e668a3a08c94",
      "name": "фильтр от лишних уведомлений в чате",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        1320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "inputing_cancel_round_coment",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "99953d9a-98f9-494c-8ef9-8898fa8c7070",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "ff46680a-30c0-4b8e-926d-997a7c70609a",
      "name": "статусы",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        600,
        1020
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "update_id": 100630349,
          "message": {
            "message_id": 22697,
            "from": {
              "id": 700956969,
              "is_bot": false,
              "first_name": "Алексей",
              "username": "Chronos196",
              "language_code": "ru"
            },
            "chat": {
              "id": 700956969,
              "first_name": "Алексей",
              "username": "Chronos196",
              "type": "private"
            },
            "date": 1728557637,
            "text": "Мой график"
          },
          "tg_id": "700956969",
          "odoo_id": 2,
          "status": "authorized",
          "only_mech": false,
          "mech_photo": false,
          "end_request_id": null,
          "materials_photo": false,
          "end_request_hours": null,
          "car_id_while_inputing": 18,
          "fuel_liters": null,
          "weight_measure": "12 м3 ",
          "logist_alert_text": null,
          "logist_recipient_name": null,
          "transportation_for_certificate": null,
          "count_weight_photo": null,
          "count_weight_photo_sent": null,
          "current_quarry_hours": 10,
          "end_round_message_id": 22693,
          "last_message_text": "Отлично, рейс активен, по его завершению нажмите на кнопку \"Завершить рейс\"",
          "logist_notifications": false,
          "cookie": "session_id=0d929c6178be0a2dce3eac64b64347fd45aead9f; Expires=Fri, 10 Oct 2025 10:53:59 GMT; Max-Age=604800; HttpOnly; Path=/",
          "seconds": 2.675
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Vladivostok",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-26T14:03:49.624Z",
      "updatedAt": "2024-08-26T14:03:49.624Z",
      "id": "sYBV4z8jwrWgz2Cc",
      "name": "aleksey"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-10-10T13:29:53.045Z",
  "versionId": "ee6e29d4-b96a-4927-977a-fd4147bd86e9"
}