workflows/driver_photo.json
{
  "active": false,
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "получение id карточки на тех.обслуживание",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "загрузка фото в карточку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получение id карточки на тех.обслуживание": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "загрузка фото в карточку": {
      "main": [
        [
          {
            "node": "возвращение статуса фото для ТО",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получение фото из тг": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка фото механику/логисту": {
      "main": [
        [
          {
            "node": "получение фото из тг",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка: является ли фото грузом",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "возвращение статуса фото для ТО": {
      "main": [
        [
          {
            "node": "Фото доставлено1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск логистов1": {
      "main": [
        [
          {
            "node": "поиск тг айди логистов1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск тг айди логистов1": {
      "main": [
        [
          {
            "node": "Отправка фото логисту",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "преобразуем в 1 переменную2": {
      "main": [
        [
          {
            "node": "Фото доставлено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фото доставлено1": {
      "main": [
        [
          {
            "node": "удаление \"отправляйте фото\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фото доставлено": {
      "main": [
        [
          {
            "node": "удаление \"отправляйте фото\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка фото логисту": {
      "main": [
        [
          {
            "node": "преобразуем в 1 переменную2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "если не отправилось",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если не отправилось": {
      "main": [
        [
          {
            "node": "удаление \"отправляйте фото\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "загрузка фото в карточку1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получение фото из тг1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "загрузка фото в карточку1": {
      "main": [
        [
          {
            "node": "Фото доставлено2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фото доставлено2": {
      "main": [
        [
          {
            "node": "меняем статус на обычный",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус на обычный": {
      "main": [
        [
          {
            "node": "поиск механиков3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка: является ли фото грузом": {
      "main": [
        [
          {
            "node": "Получение информации о водителе",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "поиск логистов1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск логистов2": {
      "main": [
        [
          {
            "node": "поиск тг айди логистов2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск тг айди логистов2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение информации о водителе": {
      "main": [
        [
          {
            "node": "поиск логистов2",
            "type": "main",
            "index": 0
          },
          {
            "node": "находим машину по odoo id6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомление логиста": {
      "main": [
        [
          {
            "node": "Отправка фото1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка фото1": {
      "main": [
        [
          {
            "node": "преобразуем в 1 переменную",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомление водителя о том, что фото доставлено": {
      "main": [
        [
          {
            "node": "Удаление прошлого сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Удаление прошлого сообщения": {
      "main": [
        [
          {
            "node": "Обновление статуса отправки фото логисту2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим машину по odoo id6": {
      "main": [
        [
          {
            "node": "находим рейсы по машине1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим рейсы по машине1": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "находим перевозки по рейсам1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим перевозки по рейсам1": {
      "main": [
        [
          {
            "node": "получаем название маршрута из перевозки1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем название маршрута из перевозки1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Уведомление логиста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск механиков3": {
      "main": [
        [
          {
            "node": "поиск тг айди механиков3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск тг айди механиков3": {
      "main": [
        [
          {
            "node": "проверка наличия механиков3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка наличия механиков3": {
      "main": [
        [
          {
            "node": "данные водителя2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные водителя2": {
      "main": [
        [
          {
            "node": "данные авто1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные авто1": {
      "main": [
        [
          {
            "node": "текст заявки1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "текст заявки1": {
      "main": [
        [
          {
            "node": "Отправка проблемы механикам3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "убираем кнопку \"назад\" у прикрепления фото": {
      "main": [
        [
          {
            "node": "получение фото из тг1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск логистов3": {
      "main": [
        [
          {
            "node": "поиск тг айди логистов3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск тг айди логистов3": {
      "main": [
        [
          {
            "node": "Отправка фото логисту1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка фото логисту1": {
      "main": [
        [
          {
            "node": "преобразуем в 1 переменную3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "если не отправилось1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "преобразуем в 1 переменную3": {
      "main": [
        [
          {
            "node": "Фото доставлено3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фото доставлено3": {
      "main": [
        [
          {
            "node": "меняем статус на обычный1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если не отправилось1": {
      "main": [
        [
          {
            "node": "меняем статус на обычный1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск авто": {
      "main": [
        [
          {
            "node": "поиск логистов3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получение фото из тг2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "находим машину по odoo id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "загрузка весовой в рейс": {
      "main": [
        [
          {
            "node": "меняем статус на дефолтный3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим машину по odoo id1": {
      "main": [
        [
          {
            "node": "загрузка весовой в рейс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус на дефолтный3": {
      "main": [
        [
          {
            "node": "возврат к завершению заказа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "проверка статуса",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка статуса": {
      "main": [
        [
          {
            "node": "убираем кнопку \"назад\" у прикрепления фото",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "поиск авто",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "убираем кнопку \"назад\" у прикрепления фото1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "проверка фото механику/логисту",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "преобразуем в 1 переменную": {
      "main": [
        [
          {
            "node": "Уведомление водителя о том, что фото доставлено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "убираем кнопку \"назад\" у прикрепления фото1": {
      "main": [
        [
          {
            "node": "получение фото из тг2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-12T12:00:31.417Z",
  "id": "x2YXD7TXL9IQMsbj",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "driver_photo",
  "nodes": [
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "b01cf841-8448-4209-9fd4-da4e543ba30f",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1260,
        2360
      ]
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "id": "b69453f2-e0de-4065-b817-4d29ea4fe4ee",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1740,
        2360
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "getAll",
        "options": {
          "fieldsList": [
            "id"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "created_by",
              "value": "={{ $('Execute Workflow Trigger').item.json.pg_odoo_id}}"
            }
          ]
        }
      },
      "id": "f1c0af62-6b79-44ac-a7ba-5b0e6af9f8bd",
      "name": "получение id карточки на тех.обслуживание",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1520,
        2360
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "image_of_breakage",
              "fieldValue": "={{ $('Extract from File').item.json.data }}"
            }
          ]
        }
      },
      "id": "658b63e8-8a86-4ea5-a224-0c2118e005cc",
      "name": "загрузка фото в карточку",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1960,
        2360
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Execute Workflow Trigger').item.json.photo_id }}"
      },
      "id": "11df8d56-3dfc-4c43-a510-09ac115bc285",
      "name": "получение фото из тг",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1020,
        2360
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "069241e8-a706-4d88-98a4-39e00ff7a911",
              "leftValue": "={{ $json.pg_mech_photo }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "72120268-3d2d-459d-a37b-2159c72457cf",
      "name": "проверка фото механику/логисту",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        620,
        2120
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mech_photo": false,
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.chat_id }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "aa1cb316-90bd-4876-9922-38191a0ba86b",
      "name": "возвращение статуса фото для ТО",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2160,
        2360
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Добавление фото к карточке тех.обслуживания",
        "height": 227.62478042711086,
        "width": 1608.6685143378268
      },
      "id": "06539d00-9c5c-4d25-b065-f349d1895f38",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        940,
        2300
      ]
    },
    {
      "parameters": {
        "content": "## Отправка фото логисту",
        "height": 230.9235502040431,
        "width": 1117.3696268263427
      },
      "id": "e4988a68-159a-420d-8c45-e3665850491e",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        940,
        2600
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "job_title",
              "value": "Логист"
            }
          ]
        }
      },
      "id": "20896c77-a487-46f9-8c24-22f81741f00b",
      "name": "поиск логистов1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        980,
        2660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9a3c278d-8901-49bb-ae2e-9af6b8328409",
      "name": "поиск тг айди логистов1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1200,
        2660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "2cfa5609-0de3-44c7-a3e4-0838502687aa",
      "name": "преобразуем в 1 переменную2",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1660,
        2660
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Фото доставлено",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к работе",
                    "additionalFields": {
                      "callback_data": "menu_ok"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "8d7e54d9-4ea5-483c-9101-3f83bb475993",
      "name": "Фото доставлено1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2360,
        2360
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Фото доставлено",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Продолжить",
                    "additionalFields": {
                      "callback_data": "final"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "64e24ad0-1507-47b6-8258-6900d0728dc7",
      "name": "Фото доставлено",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1880,
        2660
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.chat_message_id-1 }}"
      },
      "id": "b0bf9af8-3526-45b8-b468-86fcb6a741c9",
      "name": "удаление \"отправляйте фото\"",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2220,
        2660
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.tg_id }}",
        "file": "={{ $('Execute Workflow Trigger').item.json.photo_id }}",
        "additionalFields": {}
      },
      "id": "080a0846-d48a-4ebe-8d06-01d8c3f60fd9",
      "name": "Отправка фото логисту",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1440,
        2660
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Не удалось отправить фото, логист не найден",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Продолжить",
                    "additionalFields": {
                      "callback_data": "final"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "85040f42-ac14-42c1-8c6e-77767eabe8c0",
      "name": "если не отправилось",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1740,
        2800
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "046fd53e-491c-481b-a5a7-5a7872cb53cd",
      "name": "Extract from File1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1795,
        1000
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Execute Workflow Trigger').item.json.photo_id }}"
      },
      "id": "63912136-345a-4ba6-9d9a-b719cf6694a9",
      "name": "получение фото из тг1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1555,
        1000
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "update",
        "customResourceId": "={{ $('Execute Workflow Trigger').item.json.pg_end_request_id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "image_of_repaired",
              "fieldValue": "={{ $('Extract from File1').item.json.data }}"
            }
          ]
        }
      },
      "id": "16de87f2-036d-43ee-ac71-bfef240a7931",
      "name": "загрузка фото в карточку1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2035,
        1000
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Когда механик проверит заявку, вам придёт уведомление",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "ed4eaab0-5acb-44b3-aeca-7d8249d0d7db",
      "name": "Фото доставлено2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2280,
        1000
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
            "status": "authorized",
            "end_request_hours": "={{ null }}",
            "end_request_id": "={{ null }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "e35e0273-45ab-45e1-a554-ae2ae6a68ff7",
      "name": "меняем статус на обычный",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2495,
        1000
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Отправка фото завершения заявки",
        "height": 304.0187080264881,
        "width": 1480.2413619003405,
        "color": 6
      },
      "id": "cdd10a77-d02c-4300-981d-ccf47f8a487e",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        920
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f1712e67-90f4-49cd-8453-48a737c30574",
              "leftValue": "={{ $json.pg_materials_photo }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "192936f2-e4c1-461e-ae49-bb59f11ac0b3",
      "name": "Проверка: является ли фото грузом",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        600,
        2600
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "job_title",
              "value": "Логист"
            }
          ]
        }
      },
      "id": "ad223e00-2f75-4626-8e5c-b1ea06c6f808",
      "name": "поиск логистов2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1220,
        3080
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "60b2e5ea-9b95-413c-a119-d0647302d44f",
      "name": "поиск тг айди логистов2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1440,
        3080
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "materials_photo": false,
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.chat_id }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "24f3e376-1860-4a2f-8730-1891cd10aeda",
      "name": "Обновление статуса отправки фото логисту2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        3020,
        3080
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "display_name",
            "mobile_phone"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.pg_odoo_id }}"
            }
          ]
        }
      },
      "id": "ce696816-557d-4237-82a5-110aa675adb1",
      "name": "Получение информации о водителе",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1000,
        3080
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=<b>{{ $('находим машину по odoo id6').item.json.number_car }}</b>, <b>{{ $json.departure }} -  {{ $json.arrival }}</b>, <b>{{ $('находим перевозки по рейсам1').item.json.product[1] }}</b>.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "d85b17b2-4c35-4a37-9132-e3e14b308cf4",
      "name": "Уведомление логиста",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2040,
        3080
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('поиск тг айди логистов2').item.json.tg_id }}",
        "file": "={{ $('Execute Workflow Trigger').item.json.photo_id }}",
        "additionalFields": {}
      },
      "id": "49962a61-5848-473d-80de-b43e87810d95",
      "name": "Отправка фото1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2220,
        3080
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Ваше фото будет доставлено логисту",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Вернуться к рейсам",
                    "additionalFields": {
                      "callback_data": "accept"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "5d5726be-f2c3-4481-8f45-bb7e381d9272",
      "name": "Уведомление водителя о том, что фото доставлено",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2600,
        3080
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $json.result.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.chat_message_id -1}}"
      },
      "id": "70ec4f94-509a-4fd6-9bba-8a354fbf21b7",
      "name": "Удаление прошлого сообщения",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2820,
        3080
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "7e48af56-c79c-408e-937d-86337a521312",
      "name": "находим машину по odoo id6",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1000,
        3240
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.round",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "car",
              "value": "={{ $json.id }}"
            },
            {
              "fieldName": "status",
              "value": "Назначен"
            }
          ]
        }
      },
      "id": "df1f6b22-9240-4c5c-91b7-5177b4c4b594",
      "name": "находим рейсы по машине1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1160,
        3240
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {},
      "id": "95fbde92-8b30-49a6-b44e-93dd2aea0189",
      "name": "Limit2",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1320,
        3240
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.transportation",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.transportation[0] }}"
            }
          ]
        }
      },
      "id": "66a976af-4908-4e99-aab1-fb4cb4be3c98",
      "name": "находим перевозки по рейсам1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1500,
        3240
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.route",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.route[0] }}"
            }
          ]
        }
      },
      "id": "0a17486a-53b8-4172-a64c-812e015c867c",
      "name": "получаем название маршрута из перевозки1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1700,
        3240
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Отправка фото с материалом логисту",
        "height": 414.5819171409328,
        "width": 2388.3105904636163,
        "color": 4
      },
      "id": "00c55f5b-2250-4185-9bad-609d1c06f1b6",
      "name": "Sticky Note36",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        960,
        3000
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "921a6f7b-efba-4add-adba-6aefb656051f",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1860,
        3080
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "job_title",
              "value": "Механик"
            }
          ]
        }
      },
      "id": "cd2aaafc-3020-4d6b-9009-e9d750edd516",
      "name": "поиск механиков3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2800,
        1020
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "54b5d1ea-f909-49ff-86c0-50758a1ce355",
      "name": "поиск тг айди механиков3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2995,
        1021
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "40eca1c8-25ce-4538-9aec-0b10b421179f",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2622da69-d64f-42c1-b418-061bd1362ee2",
      "name": "проверка наличия механиков3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3220,
        1020
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('поиск тг айди механиков3').item.json.tg_id }}",
        "file": "={{ $('получение фото из тг1').item.json.result.file_id }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "=Принять заявку✅",
                    "additionalFields": {
                      "callback_data": "={{\"accept_TO_\" + $('Execute Workflow Trigger').item.json.pg_end_request_id }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Отклонить заявку❌",
                    "additionalFields": {
                      "callback_data": "={{\"reject_TO_\" + $('Execute Workflow Trigger').item.json.pg_end_request_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "caption": "={{ $('данные авто1').item.json[\"number_car\"] }} - {{ $('Execute Workflow Trigger').item.json.pg_end_request_hours }} ч. - {{ $('данные водителя2').item.json[\"display_name\"] }} - {{ $json.description_of_maintenance }}\n\n<b>Требуется проверить корректность выставленных часов</b> <a href=\"https://everest.lamart.site/web#id={{ $('Execute Workflow Trigger').item.json.pg_end_request_id }}&cids=1&menu_id=343&action=485&model=technical.maintenance&view_type=form\">Ссылка на заявку в Odoo</a>",
          "parse_mode": "HTML"
        }
      },
      "id": "bfafbffc-486e-4703-86e3-8ddbe6985a86",
      "name": "Отправка проблемы механикам3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4100,
        1000
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $('Execute Workflow Trigger').item.json.pg_odoo_id }}"
            }
          ]
        }
      },
      "id": "f74801ca-7ad4-4983-b093-901cca89b541",
      "name": "данные водителя2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        3440,
        1000
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Механик получает уведомление, когда водитель завершает заявку",
        "height": 250.48240620104332,
        "width": 1545.548756095632,
        "color": 6
      },
      "id": "66220ec0-6a00-4b4d-821a-b7a5da33d639",
      "name": "Sticky Note42",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2740,
        940
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "f35b2e3c-37f1-438f-abf2-cef0c9ad0654",
      "name": "данные авто1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        3660,
        1000
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $('Execute Workflow Trigger').item.json.pg_end_request_id }}"
            }
          ]
        }
      },
      "id": "cfbb5229-27fd-466c-9528-2e590f47073c",
      "name": "текст заявки1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        3880,
        1000
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.chat_message_id - 1}}",
        "replyMarkup": "inlineKeyboard",
        "text": "=Прикрепите фото исправления:",
        "additionalFields": {}
      },
      "id": "bffec819-1ec3-4c48-a35a-93eaf26d9813",
      "name": "убираем кнопку \"назад\" у прикрепления фото",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1300,
        1000
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "content": "## Отправка фото чека логисту",
        "height": 340.04935999199654,
        "width": 1584.447064897881,
        "color": 6
      },
      "id": "087cbad6-75cb-4b7a-b828-083c057fd665",
      "name": "Sticky Note58",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        1320
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "job_title",
              "value": "Логист"
            }
          ]
        }
      },
      "id": "adb30783-a05c-4211-8a06-886766320d34",
      "name": "поиск логистов3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1476,
        1380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a16aa63a-0a9b-4e0d-9099-a908e4b782ed",
      "name": "поиск тг айди логистов3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1696,
        1380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.tg_id }}",
        "file": "={{ $('Execute Workflow Trigger').item.json.photo_id }}",
        "additionalFields": {
          "caption": "=Заправка: авто {{ $('поиск авто').item.json.number_car }}, {{ $('Execute Workflow Trigger').item.json.pg_fuel_liters }}л."
        }
      },
      "id": "f3de5cd4-087f-415e-9ec6-7854380e6c1b",
      "name": "Отправка фото логисту1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1936,
        1380
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "79f2d06e-0d2a-4f12-a4f0-b7c60aaef827",
      "name": "преобразуем в 1 переменную3",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2156,
        1380
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Фото чека доставлено",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Продолжить",
                    "additionalFields": {
                      "callback_data": "check_career"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "f3a4cab3-3638-4e18-8383-0c3d4768339c",
      "name": "Фото доставлено3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2376,
        1380
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Не удалось отправить фото, логист не найден",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Продолжить",
                    "additionalFields": {
                      "callback_data": "check_career"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "18d6edc0-5408-47e5-82e4-f5166735b4bb",
      "name": "если не отправилось1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2316,
        1540
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "value": "={{ $json.pg_odoo_id }}"
            }
          ]
        }
      },
      "id": "82ad1a66-573e-467a-88f2-3dc1bcd1f175",
      "name": "поиск авто",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1276,
        1380
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "f86b5347-5b2b-4dd4-b81e-9a8a4c026a81",
      "name": "меняем статус на обычный1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2616,
        1380
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Execute Workflow Trigger').item.json.photo_id }}"
      },
      "id": "22ce3885-774b-4579-bd81-d7826ea7443b",
      "name": "получение фото из тг2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1580,
        1840
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "2e83fbd9-f80b-454c-94d9-5aef2e9ca41b",
      "name": "Extract from File2",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1780,
        1840
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dev.everest.lamart.site:8069/upload_weight_certificates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('Execute Workflow Trigger').item.json.cookie }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number_car\":  {{'\"'+ $json.number_car +'\"'}},\n  \"transportation_id\":  {{ $json.current_transportation[0] }},\n  \"files\":\n   [ {{'\"'+ $('Extract from File2').item.json.data +'\"'}} ]\n}",
        "options": {}
      },
      "id": "5ecc5fe6-70ff-4091-8cc4-ccc71df210d2",
      "name": "загрузка весовой в рейс",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2120,
        1840
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.pg_odoo_id }}"
            }
          ]
        }
      },
      "id": "f2113e81-eb0e-4e7e-8909-76bf4dc7998f",
      "name": "находим машину по odoo id1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1940,
        1840
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.chat_id}}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "1a81c4ec-5294-4efc-ad74-a32aa9057781",
      "name": "меняем статус на дефолтный3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2380,
        1840
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Загрузка весовой в рейс",
        "height": 325.36388985291813,
        "width": 1581.9914497029301,
        "color": 4
      },
      "id": "dab0f85d-5374-43f8-9d91-b545357a5969",
      "name": "Sticky Note63",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1220,
        1760
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Фото прикреплено",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Продолжить",
                    "additionalFields": {
                      "callback_data": "final"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "af877997-248a-4239-ad1a-08b429df6bbf",
      "name": "возврат к завершению заказа",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2600,
        1840
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {},
      "id": "93c51940-0f75-4014-bafb-d4cb7a405b1e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        60,
        1480
      ]
    },
    {
      "parameters": {
        "errorMessage": "444"
      },
      "id": "bfe06abf-370e-4e76-b49c-0a62a6dbc484",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        260,
        1880
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.pg_status }}",
                    "rightValue": "adding_end_request_photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a36fdeef-c179-48b5-8014-915761e4f22c",
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.pg_status }}",
                    "rightValue": "photo_fuel_receipt",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a621526f-3c31-40d0-bbd3-725ca1a082a9",
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.pg_status }}",
                    "rightValue": "weight_photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "4ccb9d98-607a-440e-9781-b23fba37f080",
      "name": "проверка статуса",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        620,
        1800
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "a4ba8943-6422-4011-af7b-db7c3cbe6b46",
      "name": "преобразуем в 1 переменную",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2400,
        3080
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.chat_message_id - 1}}",
        "replyMarkup": "inlineKeyboard",
        "text": "=Отлично, отправляйте фото",
        "additionalFields": {}
      },
      "id": "d76a6496-3c1a-4802-988f-b025ca0f379e",
      "name": "убираем кнопку \"назад\" у прикрепления фото1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1320,
        1840
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "chat_id": "700956969",
          "chat_text": null,
          "inline_data": null,
          "inline_chat_id": null,
          "inline_query_id": null,
          "inline_message_id": null,
          "pg_status": "authorized",
          "chat_message_id": "10327",
          "pg_odoo_id": 2,
          "pg_only_mech": false,
          "pg_car_id_while_inputing": 18,
          "cookie": "session_id=352aafa14b73fd4f0a7b7c93edbf3b2530743ed5; Expires=Sat, 12 Jul 2025 12:43:02 GMT; Max-Age=604800; HttpOnly; Path=/",
          "pg_weight_measure": null,
          "photo_id": "AgACAgIAAxkBAAIoV2aRJNSPaDBydtNfOwz4axyAUzsyAAKy3TEbM-qJSOBKgECq5gYPAQADAgADeAADNQQ",
          "pg_mech_photo": true,
          "pg_end_request_id": null,
          "pg_end_request_hours": null,
          "pg_fuel_liters": "40"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-07-11T07:44:57.621Z",
      "updatedAt": "2024-07-11T07:45:08.364Z",
      "id": "2bAiBX7uVqUq20et",
      "name": "aleksey"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-07-12T13:13:30.000Z",
  "versionId": "3b43ba69-7265-44db-8745-762105f6d065"
}