workflows/driver_reply.json
{
  "active": false,
  "connections": {
    "создание заявки ": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение для описания проблемы": {
      "main": [
        [
          {
            "node": "статус - ввод текста запроса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "сообщение ввода автомобиля": {
      "main": [
        [
          {
            "node": "меняем статус2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ищем автомобиль по номеру": {
      "main": [
        [
          {
            "node": "проверка наличия",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка наличия": {
      "main": [
        [
          {
            "node": "если автомобиль уже занят другим водителем",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Автомобиль отсутствует",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Меню ТО1": {
      "main": [
        [
          {
            "node": "возвращаем статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем данные автомобиля": {
      "main": [
        [
          {
            "node": "проверка привязки к автомобилю",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ввод одометра": {
      "main": [
        [
          {
            "node": "статус ввода одометра",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем данные автомобиля1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные смены введены": {
      "main": [
        [
          {
            "node": "возвращаем статус1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "возвращаем статус1": {
      "main": [
        [
          {
            "node": "номер автомобиля",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка привязки к автомобилю": {
      "main": [
        [
          {
            "node": "создание заявки ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "нельзя создать заявку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск механиков": {
      "main": [
        [
          {
            "node": "поиск тг айди механиков",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск тг айди механиков": {
      "main": [
        [
          {
            "node": "проверка наличия механиков",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка наличия механиков": {
      "main": [
        [
          {
            "node": "Отправка проблемы механикам",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка проблемы механикам": {
      "main": [
        [
          {
            "node": "преобразуем в 1 переменную",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение инф. о водителе": {
      "main": [
        [
          {
            "node": "поиск механиков",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск логистов": {
      "main": [
        [
          {
            "node": "поиск тг айди логистов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск тг айди логистов": {
      "main": [
        [
          {
            "node": "проверка наличия логистов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка наличия логистов": {
      "main": [
        [
          {
            "node": "Отправка проблемы логистам",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "нет логистов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка проблемы логистам": {
      "main": [
        [
          {
            "node": "преобразуем в 1 переменную1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "нет логистов": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "преобразуем в 1 переменную": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сообщение только для механика?": {
      "main": [
        [
          {
            "node": "отправка всего сообщения",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "поиск логистов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "преобразуем в 1 переменную1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получим все неисправности": {
      "main": [
        [
          {
            "node": "есть ли неисправности",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "есть ли неисправности": {
      "main": [
        [
          {
            "node": "форматируем время в удобный формат",
            "type": "main",
            "index": 0
          },
          {
            "node": "объединяем время и текст",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Меню ТО1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ищем автомобиль с таким же сотрудником": {
      "main": [
        [
          {
            "node": "если сотрудник уже занял авто",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если сотрудник уже занял авто": {
      "main": [
        [
          {
            "node": "статус авто",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "сообщение ввода автомобиля",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если автомобиль уже занят другим водителем": {
      "main": [
        [
          {
            "node": "авто уже занят другим водителем",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ввод одометра",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "форматируем время в удобный формат": {
      "main": [
        [
          {
            "node": "объединяем время и текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Меню ТО2": {
      "main": [
        [
          {
            "node": "возвращаем статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объединяем время и текст": {
      "main": [
        [
          {
            "node": "добавляем теги",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "добавляем теги": {
      "main": [
        [
          {
            "node": "добавляем разделитель - новая строка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "добавляем разделитель - новая строка": {
      "main": [
        [
          {
            "node": "Меню ТО2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "нельзя создать заявку": {
      "main": [
        [
          {
            "node": "меняем статус на дефолтный",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем сегодняшнюю дату": {
      "main": [
        [
          {
            "node": "форматируем в удобный вид",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем разницу в днях": {
      "main": [
        [
          {
            "node": "округляем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если истекло": {
      "main": [
        [
          {
            "node": "объединяем в один список",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "скоро истекает": {
      "main": [
        [
          {
            "node": "объединяем в один список",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "форматируем в удобный вид": {
      "main": [
        [
          {
            "node": "получаем разницу в днях",
            "type": "main",
            "index": 0
          },
          {
            "node": "объединяем доки и форматированную дату",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объединяем доки и форматированную дату": {
      "main": [
        [
          {
            "node": "объединяем доки+дата с разницей во времени",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "объединяем доки+дата с разницей во времени": {
      "main": [
        [
          {
            "node": "склоняем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "округляем": {
      "main": [
        [
          {
            "node": "объединяем доки+дата с разницей во времени",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "склоняем": {
      "main": [
        [
          {
            "node": "сколько дней до окончания срока",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "действует долго": {
      "main": [
        [
          {
            "node": "объединяем в один список1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "сколько дней до окончания срока": {
      "main": [
        [
          {
            "node": "если истекло",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "скоро истекает",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "действует долго",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объединяем в один список": {
      "main": [
        [
          {
            "node": "объединяем в один список1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объединяем в один список1": {
      "main": [
        [
          {
            "node": "соединяем в единое сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "соединяем в единое сообщение": {
      "main": [
        [
          {
            "node": "получим все неисправности",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем документы": {
      "main": [
        [
          {
            "node": "есть ли документы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "есть ли документы": {
      "main": [
        [
          {
            "node": "получаем сегодняшнюю дату",
            "type": "main",
            "index": 0
          },
          {
            "node": "объединяем доки и форматированную дату",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "документы не найдены",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы не найдены": {
      "main": [
        [
          {
            "node": "соединяем в единое сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "есть ли неисправности1": {
      "main": [
        [
          {
            "node": "форматируем время в удобный формат1",
            "type": "main",
            "index": 0
          },
          {
            "node": "объединяем время и текст1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Заявки не найдены",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "форматируем время в удобный формат1": {
      "main": [
        [
          {
            "node": "объединяем время и текст1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объединяем время и текст1": {
      "main": [
        [
          {
            "node": "Добавляем теги",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получим все заявки": {
      "main": [
        [
          {
            "node": "есть ли неисправности1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Добавляем теги": {
      "main": [
        [
          {
            "node": "Разделяем по статусам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "добавим перевод на новую строку": {
      "main": [
        [
          {
            "node": "к выполнению2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "добавим перевод на новую строку1": {
      "main": [
        [
          {
            "node": "в работе",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "добавим перевод на новую строку2": {
      "main": [
        [
          {
            "node": "требуется проверка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "к выполнению2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "в работе": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "требуется проверка": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "в один текст объединяем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "в один текст объединяем": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получим авто по водителю": {
      "main": [
        [
          {
            "node": "если авто не привязан",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если авто не привязан": {
      "main": [
        [
          {
            "node": "получим все заявки",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "не привязан авто",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "обновляем заявку": {
      "main": [
        [
          {
            "node": "нужно ли приложить фото?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "если есть ошибки2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Преобразование одометра в число": {
      "main": [
        [
          {
            "node": "Проверка нужна ли замена масла",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка нужна ли замена масла": {
      "main": [
        [
          {
            "node": "инф. о замене масле для меню ТО",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправка уведомления о том, что требуется замена масла",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка уведомления о том, что требуется замена масла": {
      "main": [
        [
          {
            "node": "инф. о замене масла не нужна в меню ТО",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "инф. о замене масле для меню ТО": {
      "main": [
        [
          {
            "node": "преобразуем инф. о масле в единое для меню ТО",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "инф. о замене масла не нужна в меню ТО": {
      "main": [
        [
          {
            "node": "преобразуем инф. о масле в единое для меню ТО",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "преобразуем инф. о масле в единое для меню ТО": {
      "main": [
        [
          {
            "node": "получаем документы",
            "type": "main",
            "index": 0
          },
          {
            "node": "изменяем водителя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "нужно ли приложить фото?": {
      "main": [
        [
          {
            "node": "возвращаем статус2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "форматируем номер": {
      "main": [
        [
          {
            "node": "Ищем автомобиль по номеру",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Получение инф. о водителе",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Сообщение только для механика?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "отправка всего сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Сообщение только для механика?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "отправка всего сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "отправка всего сообщения": {
      "main": [
        [
          {
            "node": "меняем статус на дефолтный1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "статус авто": {
      "main": [
        [
          {
            "node": "вывод доступных перевозок1",
            "type": "main",
            "index": 0
          },
          {
            "node": "находим машину по odoo id10",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "находим рейсы по машине3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим машину по odoo id7": {
      "main": [
        [
          {
            "node": "находим рейсы по машине2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем odoo id6": {
      "main": [
        [
          {
            "node": "находим машину по odoo id7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим рейсы по машине2": {
      "main": [
        [
          {
            "node": "Limit3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим перевозки по рейсам2": {
      "main": [
        [
          {
            "node": "получаем название маршрута из перевозки2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем название маршрута из перевозки2": {
      "main": [
        [
          {
            "node": "Выводим информацию о перевозке2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "вывод доступных перевозок1": {
      "main": [
        [
          {
            "node": "получаем odoo id6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit3": {
      "main": [
        [
          {
            "node": "находим перевозки по рейсам2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Преобразование одометра в число",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка на число": {
      "main": [
        [
          {
            "node": "получаем данные автомобиля1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "одометр введён неверно",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка на число1": {
      "main": [
        [
          {
            "node": "данные смены введены",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "часы введены неверно",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "номер автомобиля": {
      "main": [
        [
          {
            "node": "сохраняем карьер часы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим рейсы по машине3": {
      "main": [
        [
          {
            "node": "Limit4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit4": {
      "main": [
        [
          {
            "node": "находим перевозки по рейсам3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим перевозки по рейсам3": {
      "main": [
        [
          {
            "node": "получаем название маршрута из перевозки3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем название маршрута из перевозки3": {
      "main": [
        [
          {
            "node": "Выводим информацию о перевозке3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим машину по odoo id10": {
      "main": [
        [
          {
            "node": "Получение сегодняшней даты1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение сегодняшней даты1": {
      "main": [
        [
          {
            "node": "получаем дату и время 00:",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем дату и время 00:": {
      "main": [
        [
          {
            "node": "дата и время 23:",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:": {
      "main": [
        [
          {
            "node": "находим рейсы по машине5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим рейсы по машине5": {
      "main": [
        [
          {
            "node": "есть ли рейсы на сегодня?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "есть ли рейсы на сегодня?1": {
      "main": [
        [
          {
            "node": "находим перевозки по рейсам5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Нет доступных перевозок2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим перевозки по рейсам5": {
      "main": [
        [
          {
            "node": "перевозка со статусом \"В начале смены\"1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "перевозка со статусом \"В начале смены\"1": {
      "main": [
        [
          {
            "node": "получаем название маршрута из перевозки5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "находим перевозки по рейсам6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем название маршрута из перевозки5": {
      "main": [
        [
          {
            "node": "вывод доступных перевозок3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "вывод доступных перевозок3": {
      "main": [
        [
          {
            "node": "Выводим информацию о перевозке5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим перевозки по рейсам6": {
      "main": [
        [
          {
            "node": "получаем название маршрута из перевозки6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем название маршрута из перевозки6": {
      "main": [
        [
          {
            "node": "вывод доступных перевозок4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "вывод доступных перевозок4": {
      "main": [
        [
          {
            "node": "Выводим информацию о перевозке6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем odoo id9": {
      "main": [
        [
          {
            "node": "находим машину по odoo id11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение сегодняшней даты2": {
      "main": [
        [
          {
            "node": "получаем дату и время 00:1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем дату и время 00:1": {
      "main": [
        [
          {
            "node": "дата и время 23:1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:1": {
      "main": [
        [
          {
            "node": "находим рейсы по машине6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize2": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize3": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Вывод статистики1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим машину по odoo id11": {
      "main": [
        [
          {
            "node": "Получение сегодняшней даты2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим рейсы по машине6": {
      "main": [
        [
          {
            "node": "Summarize2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarize3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разделение reply-кнопок или иного ввода": {
      "main": [
        [
          {
            "node": "получаем odoo id9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ищем автомобиль с таким же сотрудником",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сообщение для описания проблемы",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "получим авто по водителю",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "проверка статуса авторизации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка на число2": {
      "main": [
        [
          {
            "node": "литры введены",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "литры введены неверно",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "литры введены": {
      "main": [
        [
          {
            "node": "записываем литры",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка на число3": {
      "main": [
        [
          {
            "node": "объём введён",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "объём введён неверно",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объём введён": {
      "main": [
        [
          {
            "node": "записываем объём материала",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Нет заявок для отображения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "Проверка старта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка старта": {
      "main": [
        [
          {
            "node": "/start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Разделение reply-кнопок или иного ввода",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка статуса авторизации": {
      "main": [
        [
          {
            "node": "Неизвестная команда",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "форматируем номер",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "проверка на число",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "проверка на число1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "получаем данные автомобиля",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "обновляем заявку",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "проверка на число2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "проверка на число3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разделяем по статусам": {
      "main": [
        [
          {
            "node": "добавим перевод на новую строку",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "добавим перевод на новую строку1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "добавим перевод на новую строку2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-11T08:41:44.925Z",
  "id": "xZLX5cAPYy4jXXfn",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "driver_reply",
  "nodes": [
    {
      "parameters": {
        "content": "## Вывод статистики \nПока данные берутся из Postgres",
        "height": 401.9779681145926,
        "width": 1583.6275775611143,
        "color": 6
      },
      "id": "10092481-d686-41c2-babe-c718b9f0a0e5",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3965.3024439904602,
        3020
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Вы уже авторизованы!",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к работе",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Сообщение механику и логисту",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Заявки на ТО",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Моя статистика",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "2a516671-f63a-40c2-82c2-a6a7cf1b222b",
      "name": "/start",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -4620,
        3340
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "content": "## Создание запроса на обслуживание ",
        "height": 454.79006974581796,
        "width": 1082.1649756719262,
        "color": 6
      },
      "id": "06d8eeba-eb1d-434d-bb6c-7dd61e530d01",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2296,
        6820
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "car_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldName": "status",
              "fieldValue": "=К выполнению"
            },
            {
              "fieldName": "description_of_maintenance",
              "fieldValue": "={{ $('Execute Workflow Trigger').item.json.chat_text }}"
            },
            {
              "fieldName": "hours_for_maintenance",
              "fieldValue": "1"
            },
            {
              "fieldName": "tech_maintenance",
              "fieldValue": "=false"
            },
            {
              "fieldName": "cost",
              "fieldValue": "1"
            },
            {
              "fieldName": "created_by",
              "fieldValue": "={{ $('Execute Workflow Trigger').item.json.pg_odoo_id }}"
            }
          ]
        }
      },
      "id": "294b6f35-ce50-48da-9f55-ddc177034749",
      "name": "создание заявки ",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -1725,
        6881
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Опишите вашу проблему, доставим ее механику и логисту",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "02ec026e-11f9-4233-a152-71512d7837bc",
      "name": "Сообщение для описания проблемы",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -2460,
        3980
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Введите номер автомобиля заглавными буквами и без пробелов, например: А312МЕ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "6f770e5d-4de5-45cc-8b25-19e67f473580",
      "name": "сообщение ввода автомобиля",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -2374,
        3720
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.result.chat.id }}",
            "status": "=inputing_car_number"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "3c477409-0f83-4933-b14e-24aa17200b4b",
      "name": "меняем статус2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2114,
        3720
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## После нажатия кнопки \"приступить к работе\"",
        "height": 421.69740650535715,
        "width": 1023.3011191444527,
        "color": 6
      },
      "id": "0dc8357a-38c5-4075-9890-7b8122933401",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2960,
        3480
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "number_car",
              "value": "={{ $json.number }}"
            }
          ]
        }
      },
      "id": "284593e2-ff9c-4135-93ef-1c48f60087ca",
      "name": "Ищем автомобиль по номеру",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -2800,
        5280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4d4be8aa-73f6-479a-a3a3-9ab858135854",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f54f4146-d53b-4439-96f1-63afe525eb18",
      "name": "проверка наличия",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2580,
        5280
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "=<b>Документы на автомобиль:</b>\n\n{{ $('соединяем в единое сообщение').item.json[\"concatenated_status\"] }}\n\n<b>Пожалуйста, проведите осмотр авто перед началом работы!</b>\n\nАвтомобиль: <b>{{ $('получаем данные автомобиля1').item.json[\"model\"] }}</b>\nНомер: <b>{{ $('получаем данные автомобиля1').item.json[\"number_car\"] }}</b>\nПробег: <b>{{ $('Telegram Trigger1').item.json[\"message\"][\"text\"] }} км</b>\n______________________\n<b>⭕ Тех. жидкость в норме.\n⭕ Тормозная система в норме.\n⭕ Ходовая часть в норме.\n⭕ Запаска в норме.\n</b>\n{{ $('преобразуем инф. о масле в единое для меню ТО').item.json.concatenated_my_field_2 }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅Всё в норме.",
                    "additionalFields": {
                      "callback_data": "menu_ok"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "❌Есть неисправности",
                    "additionalFields": {
                      "callback_data": "menu_wrong"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "2d9662d9-62fa-423d-b87b-657dbea5c294",
      "name": "Меню ТО1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2572,
        6140
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "only_mech": "={{ $('проверка статуса авторизации').item.json.only_mech }}",
            "odoo_id": "={{ $('проверка статуса авторизации').item.json.odoo_id }}",
            "tg_id": "={{ $('проверка статуса авторизации').item.json.tg_id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "35f05c54-1c55-47fb-b5b8-5d0572dad4de",
      "name": "возвращаем статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2852,
        6140
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ввод номера автомобиля",
        "height": 510.0261823387185,
        "width": 1060.8242082088582,
        "color": 6
      },
      "id": "48c1060b-e125-473f-9b47-39840e7d48c7",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3040,
        5020
      ]
    },
    {
      "parameters": {
        "content": "## Изменение водителя в ОДУ\n",
        "height": 258.8309220721088,
        "width": 421.1900237988659,
        "color": 6
      },
      "id": "2b41c3e6-9c57-445c-8b62-62c12edb8a61",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2300,
        6360
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "=Автомобиль с номером <b>{{ $('Execute Workflow Trigger').item.json.chat_text }}</b> не найден!\nВведите номер заново",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "929ffab8-0bb7-4421-ba4f-67a4d57911f0",
      "name": "Автомобиль отсутствует",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -2280,
        5340
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.pg_odoo_id }}"
            }
          ]
        }
      },
      "id": "aadc8c09-3b93-491a-a57d-e4da74f9d499",
      "name": "получаем данные автомобиля",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -2220,
        7080
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "=Автомобиль <b>{{ $json.model }} {{ $json.number_car }}</b> найден!\nВведите показатель одометра.\nНапример: 999999",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Ввести номер авто заново",
                    "additionalFields": {
                      "callback_data": "back_to_input_car"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "dd11f66d-dd03-495b-bf9a-3503984b3146",
      "name": "ввод одометра",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -1920,
        5200
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
            "status": "inputing_odometer",
            "car_id_while_inputing": "={{ $('если автомобиль уже занят другим водителем').item.json.id }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "car_id_while_inputing",
              "displayName": "car_id_while_inputing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "c71ec331-5eee-422e-a75a-c3e4b8a90598",
      "name": "статус ввода одометра",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -1740,
        5200
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.car_id_while_inputing }}"
            }
          ]
        }
      },
      "id": "86b4da15-b1cd-499e-86a8-1b273851dbc3",
      "name": "получаем данные автомобиля1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -3610,
        6140
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ввод одометра",
        "height": 271.1847873311224,
        "width": 511.5414015853248
      },
      "id": "6f13b35e-cc33-4c63-98a6-c2b4ecba373e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3720,
        6060
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Вы ввели данные, смена завершена!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d50dd3d5-7d2a-4f2c-8b70-8c6f28ffd985",
      "name": "данные смены введены",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -3430,
        6620
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ввод данных смены\nэти данные пока никуда не сохраняются",
        "height": 297.5961132589107,
        "width": 906.4857111284805,
        "color": 6
      },
      "id": "302a1da0-d708-49d7-a0de-75a56ea6a012",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3520,
        6520
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "only_mech": "={{ $('проверка статуса авторизации').item.json.only_mech }}",
            "odoo_id": "={{ $('проверка статуса авторизации').item.json.odoo_id }}",
            "tg_id": "={{ $('проверка статуса авторизации').item.json.tg_id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d4b9b366-6015-4786-8856-a1a81d044c8e",
      "name": "возвращаем статус1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -3210,
        6620
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "8b90db41-fe8e-46f1-8e7e-aead67e43183",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "31ee000b-5237-49ec-b3f4-25cd7a17f36c",
      "name": "проверка привязки к автомобилю",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2005,
        7081
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "job_title",
              "value": "Механик"
            }
          ]
        }
      },
      "id": "c6d3789d-60cf-4a95-9706-903509103bc9",
      "name": "поиск механиков",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -720,
        7040
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ff02748b-6bbe-4562-8d4b-121d22c0d8a3",
      "name": "поиск тг айди механиков",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -525,
        7041
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "40eca1c8-25ce-4538-9aec-0b10b421179f",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ba1ea53b-9d49-49e4-a7f7-079832c4ecc4",
      "name": "проверка наличия механиков",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -305,
        7041
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=У водителя <b>{{ $('Получение инф. о водителе').item.json[\"display_name\"] }}</b> {{ $('Получение инф. о водителе').item.json[\"mobile_phone\"] }}, номер машины <b>{{ $('получаем данные автомобиля').item.json[\"number_car\"] }}</b> проблема: {{ $('Execute Workflow Trigger').item.json.chat_text }} \n\n<a href=\"https://everest.lamart.site/web#id={{ $('создание заявки ').item.json[\"id\"] }}&cids=1&menu_id=158&action=227&model=technical.maintenance&view_type=form\">Ссылка на заявку в Odoo</a>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "6985846c-bc35-4061-a444-d285f7fd7b5e",
      "name": "Отправка проблемы механикам",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -85,
        6901
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "get",
        "customResourceId": "={{ $('Execute Workflow Trigger').item.json.pg_odoo_id }}",
        "options": {}
      },
      "id": "71c44eb3-cbfb-4a92-8fa4-f6806094306a",
      "name": "Получение инф. о водителе",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -1060,
        6980
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Отправка механикам\n",
        "height": 476.1450016967405,
        "width": 1329.7955997843726,
        "color": 6
      },
      "id": "76eb552e-7c7d-462b-94a8-0ec22d41fda5",
      "name": "Sticky Note22",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -760,
        6840
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "job_title",
              "value": "Логист"
            }
          ]
        }
      },
      "id": "c12f9569-0f4b-4bff-97d4-42cacfee53eb",
      "name": "поиск логистов",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1075,
        7121
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "06738c6b-dfec-4a33-8f1b-71cff26bc14d",
      "name": "поиск тг айди логистов",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1295,
        7121
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "40eca1c8-25ce-4538-9aec-0b10b421179f",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1b01091d-a04d-46e2-b25d-0854d074747c",
      "name": "проверка наличия логистов",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1515,
        7121
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=У водителя <b>{{ $('Получение инф. о водителе').item.json[\"display_name\"] }}</b> {{ $('Получение инф. о водителе').item.json[\"mobile_phone\"] }}, номер машины <b>{{ $('получаем данные автомобиля').item.json[\"number_car\"] }}</b> проблема: {{ $('Execute Workflow Trigger').item.json.chat_text }} ",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "99498cf5-fa58-4e46-b032-a486f79dab51",
      "name": "Отправка проблемы логистам",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1735,
        6981
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Логисты не найдены",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "223f09af-173d-438c-97a1-0d9d0d0a5cac",
      "name": "нет логистов",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1735,
        7201
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "48a4b960-a5a9-4ac0-93a5-3debca3945da",
      "name": "преобразуем в 1 переменную",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        115,
        6901
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f4a04b7f-8758-49ca-b7cd-8e933dc9137d",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.pg_only_mech }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ad51e905-e307-4cf3-8411-e2494008d54d",
      "name": "Сообщение только для механика?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        775,
        7041
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "f8268e37-f956-418f-a80c-eb34ec99055c",
      "name": "преобразуем в 1 переменную1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1955,
        6981
      ]
    },
    {
      "parameters": {
        "content": "## Отправка логистам",
        "height": 547.6404091736987,
        "width": 1505.9827533603946,
        "color": 6
      },
      "id": "50918dcc-4238-476f-9bfb-0b061c374606",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        940,
        6880
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "car_id",
              "value": "={{ $('получаем данные автомобиля1').item.json.id }}"
            },
            {
              "fieldName": "status",
              "operator": "notEqual",
              "value": "Готово"
            }
          ]
        }
      },
      "id": "cab7dcb3-60f4-4a1b-a848-2d4d61f7308f",
      "name": "получим все неисправности",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1172,
        6080
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a0512750-cabb-473b-a650-4e13eb2f16bb",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "80c313f2-033b-4d07-8cbd-adce15a800f1",
      "name": "есть ли неисправности",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1392,
        6080
      ]
    },
    {
      "parameters": {
        "content": "## Вывод неисправностей перед сменой",
        "height": 458.5517437594953,
        "width": 1950.3722016156914,
        "color": 6
      },
      "id": "01301656-9f3a-4987-8e97-4b0ca7f78c3d",
      "name": "Sticky Note24",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1120,
        5840
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Произошла ошибка, повторите ввод данных одометра",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "ce82b438-67db-423e-8531-d0822a4457e6",
      "name": "одометр введён неверно",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -3480,
        6360
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "value": "={{ $json.odoo_id }}"
            }
          ]
        }
      },
      "id": "867f5b9c-39cc-40f7-8d35-e6d27faf0cea",
      "name": "ищем автомобиль с таким же сотрудником",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -2894,
        3580
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "47286136-a0d9-421b-9f0b-93270696d9ff",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "654bcf74-3e1a-4ae1-b4e4-5c63c73790d6",
      "name": "если сотрудник уже занял авто",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2634,
        3600
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "eb8f3a86-31ee-4b61-9746-eff045d2ed87",
              "leftValue": "={{ $json.employee_id[1] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "912c8ad7-3e03-4957-aed3-3a0bdc599ba3",
      "name": "если автомобиль уже занят другим водителем",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2360,
        5180
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "=Автомобиль с номером <b>{{ $('Execute Workflow Trigger').item.json.chat_text }}</b> сейчас привязан к водителю: {{ $('Ищем автомобиль по номеру').item.json[\"employee_id\"][1] }}. \nВы не можете занять этот автомобиль",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "69830f76-030e-4ee5-af93-664f1157af11",
      "name": "авто уже занят другим водителем",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -2180,
        5060
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.create_date }}",
        "format": "custom",
        "customFormat": "dd.MM.yyyy HH:mm",
        "options": {}
      },
      "id": "1b753328-ae41-4c4e-bac8-49ee304f8525",
      "name": "форматируем время в удобный формат",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1672,
        5880
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "=<b>Документы на автомобиль:</b>\n\n{{ $('соединяем в единое сообщение').item.json[\"concatenated_status\"] }}\n\n<b>Найдены заявки на техобслуживание:</b>\n\n{{ $json[\"concatenated_dateAndText\"] }}\n\n<b>Пожалуйста, проведите осмотр авто перед началом работы!</b>\n\nАвтомобиль: <b>{{ $('получаем данные автомобиля1').item.json[\"model\"] }}</b>\nНомер: <b>{{ $('получаем данные автомобиля1').item.json[\"number_car\"] }}</b>\nПробег: <b>{{ $('Telegram Trigger1').item.json[\"message\"][\"text\"] }} км</b>\n______________________\n<b>⭕ Тех. жидкость в норме.\n⭕ Тормозная система в норме.\n⭕ Ходовая часть в норме.\n⭕ Запаска в норме.\n</b>\n{{ $('преобразуем инф. о масле в единое для меню ТО').item.json.concatenated_my_field_2 }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅Всё в норме.",
                    "additionalFields": {
                      "callback_data": "menu_ok"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "❌Есть неисправности",
                    "additionalFields": {
                      "callback_data": "menu_wrong"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "53067e50-8ee2-45a6-8dec-ce6f8142bb70",
      "name": "Меню ТО2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2572,
        5960
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "790b0684-3625-4858-b291-b56cdb07e5a7",
      "name": "объединяем время и текст",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1912,
        5980
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "90695d8c-3cb9-4dd0-a519-10f98ad471c2",
              "name": "dateAndText",
              "value": "={{ $('объединяем время и текст').item.json.formattedDate }} - <b>{{ $('объединяем время и текст').item.json.description_of_maintenance }}</b>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "71a06bb1-0c56-4120-acfd-5c8e58cc6c6f",
      "name": "добавляем теги",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2112,
        5980
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "dateAndText",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "id": "b451fb23-b45d-4d81-8923-21944c94b0b6",
      "name": "добавляем разделитель - новая строка",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        2332,
        5980
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Вы не можете создать заявку, ни один автомобиль не привязан к вам",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "46004a8a-861e-4422-bd1f-3c6caa20f2e2",
      "name": "нельзя создать заявку",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -1725,
        7081
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
            "status": "inputing_request"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "5061bb28-3cb4-45ac-b292-a1473e435e47",
      "name": "статус - ввод текста запроса",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2240,
        3983
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Водитель вводит данные запроса\n",
        "height": 256.48901597526793,
        "width": 538.9510110344839,
        "color": 6
      },
      "id": "611140ed-9459-4271-b00b-e462126746b0",
      "name": "Sticky Note26",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2580,
        3900
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "Неизвестная команда",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "b747843b-d140-40d3-a7e9-ea73625c2012",
      "name": "Неизвестная команда",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -3480,
        4980
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "f57baffd-474d-4f49-913e-f22992b2c2ac",
      "name": "меняем статус на дефолтный",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -1505,
        7081
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "only_mech": false,
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "fdece0e9-f862-408b-8950-b4f6633655fa",
      "name": "меняем статус на дефолтный1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2760,
        7080
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3fffb2e1-8fa3-4f3d-88b8-91d28d5577df",
      "name": "получаем сегодняшнюю дату",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1603,
        5840
      ]
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $json.currentDate }}",
        "endDate": "={{ $('получаем документы').item.json.expiration_date }}",
        "options": {}
      },
      "id": "5774bc2a-33cb-4775-ac32-5779465b2be7",
      "name": "получаем разницу в днях",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1123,
        5840
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3cd5ce67-7030-49fa-b1d7-63e5baca1d30",
              "name": "status",
              "value": "=❗ {{ -$json[\"timeDifference\"] }} {{ $json[\"sklonenie\"] }} назад истёк срок действия документа <b>{{ $json.type_of_document_id[1] }}</b> (был действителен до {{ $json[\"formattedDate\"] }})",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "99559fb5-5bc9-4477-938c-c6624f6713c0",
      "name": "если истекло",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        97,
        5840
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1e9831e9-427c-43c6-a1e1-d9248aca50a2",
              "name": "status",
              "value": "=⚠️ Через {{ $json[\"timeDifference\"] }} {{ $json[\"sklonenie\"] }} истекает срок действия документа <b>{{ $json.type_of_document_id[1] }}</b> (действителен до {{ $json[\"formattedDate\"] }})",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "aaf1911c-29e3-42c8-8d36-fb09eec21fed",
      "name": "скоро истекает",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        97,
        6000
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('получаем документы').item.json.expiration_date }}",
        "format": "=dd.MM.yyyy",
        "options": {}
      },
      "id": "17238344-cbe7-4d19-adaa-208a77d0e01a",
      "name": "форматируем в удобный вид",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1383,
        5840
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "23059b26-803f-4479-97a6-92ed7b7898f4",
      "name": "объединяем доки и форматированную дату",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1223,
        6000
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "7ca474b3-32b4-4adf-ab39-d09613a2716c",
      "name": "объединяем доки+дата с разницей во времени",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -643,
        6000
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0bd3f1ff-9963-406f-b40f-8c9e47ba7e30",
              "name": "timeDifference",
              "value": "={{ $json.timeDifference.days.round() }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "0f99913f-2764-473b-afdb-36e876dc84a3",
      "name": "округляем",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -903,
        5840
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n    days = abs(item.json.timeDifference)\n    if days % 100 // 10 == 1:\n        item.json.sklonenie = \"дней\"\n    elif days % 10 == 1:\n        item.json.sklonenie = \"день\"\n    elif days % 10 in [2, 3, 4]:\n        item.json.sklonenie = \"дня\"\n    else:\n        item.json.sklonenie = \"дней\"\nreturn _input.all()"
      },
      "id": "384e4e3a-adca-4b46-98f8-4a5adc6da4ef",
      "name": "склоняем",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -423,
        6000
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b226ac9f-94b7-41b3-93d2-ad88173c7799",
              "name": "status",
              "value": "=✅ Документ <b>{{ $json.type_of_document_id[1] }}</b> действует ещё {{ $json[\"timeDifference\"] }} {{ $json[\"sklonenie\"] }} (действителен до {{ $json[\"formattedDate\"] }}) ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "4de04913-f994-42b1-94b6-e41573f91e42",
      "name": "действует долго",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        97,
        6180
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.timeDifference }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4d8ac404-b74b-4df3-8919-0de5596a2e53",
                    "leftValue": "={{ $json.timeDifference }}",
                    "rightValue": 31,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "c8948dad-3649-432f-87a4-9a89627881e6",
      "name": "сколько дней до окончания срока",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -203,
        6000
      ]
    },
    {
      "parameters": {},
      "id": "d176ed9b-b72d-4b16-9515-e334554452a1",
      "name": "объединяем в один список",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        357,
        5920
      ]
    },
    {
      "parameters": {},
      "id": "63bfa71f-8c2a-49cc-bda6-69e05ff51f9a",
      "name": "объединяем в один список1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        537,
        6100
      ]
    },
    {
      "parameters": {
        "content": "## Создание сообщения с датой документов",
        "height": 882.2499632258869,
        "width": 3141.474165087874,
        "color": 6
      },
      "id": "3d047c7a-35c0-4c99-a719-15200aa44a19",
      "name": "Sticky Note27",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2220,
        5720
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "status",
              "separateBy": "other",
              "customSeparator": "={{ \"\\n\\n\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "01320c9b-fa82-47b7-a979-21b144b59aad",
      "name": "соединяем в единое сообщение",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        677,
        5960
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "documents.documents",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "car_id",
              "value": "={{ $('получаем данные автомобиля1').item.json.id }}"
            }
          ]
        }
      },
      "id": "1c820202-93c7-4832-935a-d8a1ad0238da",
      "name": "получаем документы",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -2125,
        5980
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dd03a5e3-6831-4754-9d0f-c649dc32d482",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "34e8974f-3f33-49b9-a331-ae961bd4835f",
      "name": "есть ли документы",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1805,
        6180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1156af14-1187-4476-bcfb-82042687aa0b",
              "name": "status",
              "value": "Документы не найдены!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "096e451b-80ff-49b3-8fbe-67983c80046c",
      "name": "документы не найдены",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        535,
        6340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a0512750-cabb-473b-a650-4e13eb2f16bb",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "520ba964-d5af-4c8d-82f4-58d1a0d69252",
      "name": "есть ли неисправности1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2225,
        4520
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.create_date }}",
        "format": "custom",
        "customFormat": "dd.MM.yyyy HH:mm",
        "options": {}
      },
      "id": "a9b6746e-fdeb-49f3-a8b5-a48b74f72380",
      "name": "форматируем время в удобный формат1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1945,
        4320
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "a7f239d9-5274-41fc-9067-ece0aebc2b0a",
      "name": "объединяем время и текст1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -1705,
        4420
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "=Заявки на ТО не найдены",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "3949fdc5-9216-46c9-9168-891698ac3a8a",
      "name": "Заявки не найдены",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -1560,
        4760
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "car_id",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "a4d3eed0-4063-4cae-945b-1af78b9811c4",
      "name": "получим все заявки",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -2445,
        4520
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "988c91e8-36b4-4f3f-9131-b8cf97b1dd63",
              "name": "=date_description",
              "value": "={{ $('объединяем время и текст1').item.json[\"formattedDate\"] }} - <b>{{ $('объединяем время и текст1').item.json[\"description_of_maintenance\"] }}</b>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "7d3f2974-0bce-4386-ba60-17071e3de569",
      "name": "Добавляем теги",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1480,
        4420
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "date_description",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "id": "d50ab3d9-f43a-422e-885a-232dade0edfc",
      "name": "добавим перевод на новую строку",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -800,
        4200
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "date_description",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "id": "def579fb-23d2-458e-b08d-95dd12039b58",
      "name": "добавим перевод на новую строку1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -720,
        4380
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "date_description",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "id": "f74d3033-75bc-4566-9934-76876cc40c09",
      "name": "добавим перевод на новую строку2",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -720,
        4560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fee6eb4-9862-4619-a904-ede2a98a73ae",
              "name": "concatenated_date_description",
              "value": "=<b>Можно взять в работу:</b>\n\n{{ $json.concatenated_date_description }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "83345b2b-2280-45a8-b817-f7cc2fb38b98",
      "name": "к выполнению2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -580,
        4200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fee6eb4-9862-4619-a904-ede2a98a73ae",
              "name": "concatenated_date_description",
              "value": "=<b>В работе:</b>\n\n{{ $json.concatenated_date_description }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ba2d86fd-de48-4e8a-a5d5-1b28e53ff67e",
      "name": "в работе",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -500,
        4380
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0fee6eb4-9862-4619-a904-ede2a98a73ae",
              "name": "concatenated_date_description",
              "value": "=<b>Ожидают проверки механиком:</b>\n\n{{ $json.concatenated_date_description }}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9ac99dfd-fb64-47ae-8f52-1fe56a01bd63",
      "name": "требуется проверка",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -500,
        4560
      ]
    },
    {
      "parameters": {},
      "id": "8af6e58e-559b-416c-abfb-b43315793a7b",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -240,
        4340
      ]
    },
    {
      "parameters": {},
      "id": "b30a9ed0-9c76-4c67-b08b-428fc2aeeed8",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        0,
        4400
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "={{ $json.concatenated_concatenated_date_description }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Взять заявку в работу",
                    "additionalFields": {
                      "callback_data": "take_to"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить заявку",
                    "additionalFields": {
                      "callback_data": "finish_to"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "71e267ff-9565-4d19-87a4-274c55e1eff3",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        440,
        4400
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "concatenated_date_description",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "id": "b1115793-6d94-444a-99ff-da16015e8a7a",
      "name": "в один текст объединяем",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        220,
        4400
      ]
    },
    {
      "parameters": {
        "content": "## Вывод всех заявок",
        "height": 774.298011427,
        "width": 3433.7723550403643,
        "color": 6
      },
      "id": "155c976d-8b90-475e-99fa-156148bc802c",
      "name": "Sticky Note28",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3000,
        4180
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.pg_odoo_id }}"
            }
          ]
        }
      },
      "id": "7bcc3e2f-919f-4e87-b6a9-b2fea66a419f",
      "name": "получим авто по водителю",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -2940,
        4480
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "d2976151-29cb-4bb1-8c9a-c68b3e769f61",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "281d6895-2fbb-4995-a2e0-de9a87f528b8",
      "name": "если авто не привязан",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2720,
        4480
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Чтобы увидеть заявки, нужно быть привязанным к автомобилю",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "be46cfdf-989d-476d-aeca-4c4f785368ab",
      "name": "не привязан авто",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -2500,
        4700
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "messageId": "={{ $('Telegram Trigger1').item.json.message.message_id -1 }}",
        "text": "=Ошибка Odoo: {{ $json.error }}\n\nВведите количество часов заново",
        "additionalFields": {}
      },
      "id": "08914690-39f9-4efb-b376-50b5b89c3838",
      "name": "если есть ошибки2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -2420,
        7780
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "update",
        "customResourceId": "={{ $json.end_request_id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "hours_for_maintenance",
              "fieldValue": "={{ $('Execute Workflow Trigger').item.json.chat_text }}"
            },
            {
              "fieldName": "status",
              "fieldValue": "Требуется проверка"
            }
          ]
        }
      },
      "id": "4c2f0d02-94d6-43cd-933c-4192198c7540",
      "name": "обновляем заявку",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -2640,
        7600
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "## Ввод часов заявки",
        "height": 455.96505135718655,
        "width": 669.8315772631973,
        "color": 6
      },
      "id": "574e808d-8bc5-44dc-91bd-69640b25f8e6",
      "name": "Sticky Note35",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2660,
        7480
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3765df7a-35ff-469e-b2b9-92e76010d0ab",
              "name": "oil",
              "value": "={{ $('Execute Workflow Trigger').item.json.chat_text }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "f03fa192-1b5a-46f6-97f4-fc6a56d076ac",
      "name": "Преобразование одометра в число",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -3140,
        6080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3a4b091e-3f7b-43b9-9a07-1ce686ad3dfd",
              "leftValue": "={{ $('получаем данные автомобиля1').item.json.oil_change_schedule }}",
              "rightValue": "={{ $json.oil }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1df10d39-f6ca-45ca-a8a2-01a4d234e1e9",
      "name": "Проверка нужна ли замена масла",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2940,
        6000
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "Дорогой водитель, показания вашего одометра говорят о том, что пора заменить масло",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Заменил",
                    "additionalFields": {
                      "callback_data": "oil"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "e671219b-402d-4a7c-9a00-ca9263492f8a",
      "name": "Отправка уведомления о том, что требуется замена масла",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -2760,
        6140
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"my_field_1\": \"value\",\n  \"my_field_2\": \"<b>До замены масла осталось {{$('получаем данные автомобиля1').item.json.oil_change_schedule - $('Преобразование одометра в число').item.json.oil }} км.</b>\",\n}\n",
        "options": {}
      },
      "id": "a3d85d7d-ccb5-49b9-b694-6d90ffae07fe",
      "name": "инф. о замене масле для меню ТО",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -2740,
        5980
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"my_field_1\": \"value\",\n  \"my_field_2\": \"\",\n}\n",
        "options": {}
      },
      "id": "cf1db99e-03c0-4537-8fe2-1bf301725072",
      "name": "инф. о замене масла не нужна в меню ТО",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -2580,
        6140
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "my_field_2"
            }
          ]
        },
        "options": {}
      },
      "id": "0eb235bd-9f39-404b-b2c4-e1a34283ed74",
      "name": "преобразуем инф. о масле в единое для меню ТО",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -2420,
        5980
      ]
    },
    {
      "parameters": {
        "content": "## Сравнение текущего показания одометра с регламентом замены масла",
        "height": 316.4822932808388,
        "width": 898.8728138140585
      },
      "id": "a4b44d8d-298c-4e46-84c7-ab1b918861e1",
      "name": "Sticky Note39",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -3180,
        5940
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "=Нужно приложить фото исправления?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Да",
                    "additionalFields": {
                      "callback_data": "yes_request_photo"
                    }
                  },
                  {
                    "text": "Нет",
                    "additionalFields": {
                      "callback_data": "no_request_photo"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "65fe2464-e148-4653-b7b8-8040efbe656d",
      "name": "нужно ли приложить фото?",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -2340,
        7580
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.result.chat.id }}",
            "status": "authorized",
            "end_request_hours": "={{ $('Execute Workflow Trigger').item.json.chat_text }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "52239c5f-f023-4d63-aabd-24824728710e",
      "name": "возвращаем статус2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2120,
        7580
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\n\nvar data = $('Telegram Trigger1').all()[0].json;\nvar number = data.message.text;\n\nconst cleanedNumber = number.replace(/\\s+/g, '').toUpperCase(); //убираем пробелы и приводим к верхнему регистру\n\nreturn {\"number\": cleanedNumber};"
      },
      "id": "74a0ebf7-ef86-4ef3-ae6f-0f77aae4951a",
      "name": "форматируем номер",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2980,
        5280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c72d298-2725-455b-8e85-73a899505532",
              "name": "message",
              "value": "={{ \"Заявка создана в Odoo\\n\" }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e720aa6f-17b5-4e4f-8992-18628603ea36",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -1500,
        6880
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5a6d2923-aede-446a-8052-961fdb771cf2",
              "name": "message",
              "value": "={{ $('Edit Fields').item.json.message + \"Сообщение доставлено механикам\\n\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cf977c2f-012c-4c3f-95a4-783971155714",
      "name": "Edit Fields1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        300,
        6900
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "024d9c8f-dbc9-42c0-a939-d9c930d27923",
              "name": "message",
              "value": "={{ $('Сообщение только для механика?').item.json.message + \"Сообщение доставлено логистам\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e78ba510-0e18-4ed1-8639-15bd4659d14d",
      "name": "Edit Fields2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2200,
        6980
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ac48f8b-389e-463f-842c-e20e5d3145a7",
              "name": "message",
              "value": "={{ $('Edit Fields').item.json.message + \"Механики не найдены\\n\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ae35fbec-fd45-45c3-b7b9-7f986f8969d1",
      "name": "Edit Fields3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        220,
        7120
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75b10d33-872d-42eb-8a45-8447b1dee3e7",
              "name": "message",
              "value": "={{ $('Сообщение только для механика?').item.json.message + \"Логисты не найдены\"}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "88550918-ba0e-4b8d-be08-6af391d981eb",
      "name": "Edit Fields4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1960,
        7200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').all()[0].json.chat_id }}",
        "text": "={{ $json.message }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к работе",
                    "additionalFields": {
                      "callback_data": "menu_ok"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Добавить фото",
                    "additionalFields": {
                      "callback_data": "mech_photo"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "50212dbc-a837-4316-830f-4c7d664f1cfb",
      "name": "отправка всего сообщения",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2540,
        7080
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "29f8f851-1606-4cac-b82b-2cec8c237333",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Нет груза",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0bd5b9c8-f8e0-4717-b64a-c7e84b048b26",
      "name": "статус авто",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2400,
        3500
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "employee_id",
              "value": "={{ $json.odoo_id }}"
            }
          ]
        }
      },
      "id": "8c2794d6-4a65-4f16-9500-dd834d453196",
      "name": "находим машину по odoo id7",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -1260,
        3480
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $json.result.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "44fa0361-d288-45d7-8902-efb97fb4902b",
      "name": "получаем odoo id6",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -1520,
        3480
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.round",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "car",
              "value": "={{ $json.id }}"
            },
            {
              "fieldName": "status",
              "value": "Назначен"
            }
          ]
        }
      },
      "id": "2f9ceedd-6e74-4aa2-8ced-381d2b2ea02c",
      "name": "находим рейсы по машине2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -1040,
        3480
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.transportation",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.transportation[0] }}"
            }
          ]
        }
      },
      "id": "e6a3d670-9274-47ad-8710-9b600b982a35",
      "name": "находим перевозки по рейсам2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -600,
        3480
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.route",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.route[0] }}"
            }
          ]
        }
      },
      "id": "f3708524-c5e6-499b-abc7-a85ba23cffbd",
      "name": "получаем название маршрута из перевозки2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -380,
        3480
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('получаем айди').item.json.tg_id }}",
        "text": "={{ $('находим перевозки по рейсам2').item.json.id }}. <b>{{ $('находим перевозки по рейсам2').item.json[\"sender\"][1] }} - {{ $('находим перевозки по рейсам2').item.json[\"partner\"][1] }}\n{{ $json.departure }} - {{ $json.arrival }}</b>\nМатериал - <b>{{ $('находим перевозки по рейсам2').item.json.product[1] }}</b>\nКомментарий - <b>{{ $('находим перевозки по рейсам2').item.json.comment }}</b>",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к перевозке",
                    "additionalFields": {
                      "callback_data": "accept"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "625c2bc9-83a7-4b40-8120-5ee7eff8c50a",
      "name": "Выводим информацию о перевозке2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -160,
        3480
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $('получаем айди').item.json.tg_id }}",
        "text": "Вам назначена следующая перевозка:",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "6b0def28-a61b-4684-bd4f-786290d0206e",
      "name": "вывод доступных перевозок1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -1740,
        3480
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "id": "285f5a5e-0466-4097-b79c-31fbc4ab987c",
      "name": "Limit3",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -820,
        3480
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Вывод перевозок, если ещё не начали рейс",
        "height": 278.9869976467074,
        "width": 1874.7009843831459,
        "color": 6
      },
      "id": "ac893ae7-c2af-4787-a84d-20e895c53f74",
      "name": "Sticky Note47",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1800,
        3380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dev.everest.lamart.site:8069/update_odometer",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('авторизация').item.json.headers['set-cookie'][0] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"number_car\": {{ '\"' + $json.number_car + '\"' }}, \"odometer\": {{ $('Execute Workflow Trigger').item.json.chat_text }}}",
        "options": {}
      },
      "id": "1a07ec1d-4e13-475e-a126-45809a12dfca",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3380,
        6140
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "44403514-747a-47bf-9419-77944fae7bb7",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.chat_text }}",
              "rightValue": "/^[0-9]+$/",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ec42e919-a362-42ee-9ce1-287ec3e5e464",
      "name": "проверка на число",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3820,
        6300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dev.everest.lamart.site:8069/take_auto",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('авторизация').item.json.headers['set-cookie'][0] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \n\"number_car\": {{ '\"' + $('получаем данные автомобиля1').item.json.number_car + '\"' }},\n\"driver_id\": {{ $('проверка статуса авторизации').item.json.odoo_id }}\n}  ",
        "options": {}
      },
      "id": "e6a8a4d4-66ad-479d-a52b-497b504d8332",
      "name": "изменяем водителя",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2200,
        6460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://everest.lamart.site/finish_shift",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('авторизация').item.json.headers['set-cookie'][0] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"number_car\": {{ '\"' + $json.number_car + '\"' }}, \n\"quarry_hours\": {{ $('Execute Workflow Trigger').item.json.chat_text }}\n}",
        "options": {}
      },
      "id": "0f08f6f4-21d7-40ba-aa69-2fe210434f4f",
      "name": "сохраняем карьер часы",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2740,
        6620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "44403514-747a-47bf-9419-77944fae7bb7",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.chat_text }}",
              "rightValue": "/^[0-9]+$/",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f8a2b4ef-f9db-4f4e-9660-21a7ec159864",
      "name": "проверка на число1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3840,
        6580
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Часы введены неверно, повторите попытку",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "7b130fca-ff7b-45fb-bf62-43eac197c58c",
      "name": "часы введены неверно",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -3400,
        6780
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "value": "={{ $json.odoo_id }}"
            }
          ]
        }
      },
      "id": "432b7527-18cd-4864-ae8f-c25b9b1c29c9",
      "name": "номер автомобиля",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -2980,
        6620
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.round",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "car",
              "value": "={{ $('ищем автомобиль с таким же сотрудником').item.json.id }}"
            },
            {
              "fieldName": "status",
              "value": "Выполняется"
            }
          ]
        }
      },
      "id": "5157571b-0fde-410f-91b3-8563cd0fd756",
      "name": "находим рейсы по машине3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -1740,
        3720
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {},
      "id": "99b8fbdf-6639-44b1-bcbb-662baec841e6",
      "name": "Limit4",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1520,
        3720
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.transportation",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.transportation[0] }}"
            },
            {
              "fieldName": "status",
              "value": "Выполняется"
            }
          ]
        }
      },
      "id": "9cdc8e5b-4b2a-4252-a3f5-e94280e89866",
      "name": "находим перевозки по рейсам3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -1300,
        3720
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.route",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.route[0] }}"
            }
          ]
        }
      },
      "id": "35edbd2b-8cad-4d23-b604-3bde30515a57",
      "name": "получаем название маршрута из перевозки3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -1060,
        3720
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('получаем айди').item.json.tg_id }}",
        "text": "=Ваша текущая перевозка:\n\n{{ $('находим перевозки по рейсам3').item.json.id }}. <b>{{ $('находим перевозки по рейсам3').item.json[\"sender\"][1] }} - {{ $('находим перевозки по рейсам3').item.json[\"partner\"][1] }}\n{{ $json.departure }} - {{ $json.arrival }}</b>\nМатериал - <b>{{ $('находим перевозки по рейсам3').item.json.product[1] }}</b>\nКомментарий - <b>{{ $('находим перевозки по рейсам3').item.json.comment }}</b>",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить рейс",
                    "additionalFields": {
                      "callback_data": "Finish"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "bcd1332d-7778-4bb2-8d6c-9141c182ca2b",
      "name": "Выводим информацию о перевозке3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -840,
        3720
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "content": "## Вывод текущей перевозки",
        "height": 246.06858875214925,
        "width": 1150.356787433489,
        "color": 6
      },
      "id": "9284ef1c-8012-4db0-b8cc-27d28af8a49c",
      "name": "Sticky Note48",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1840,
        3661.4972230731128
      ]
    },
    {
      "parameters": {
        "content": "## Вывод перевозок водителю",
        "height": 326.7771809966836,
        "width": 3097.1140685838354,
        "color": 3
      },
      "id": "d561555a-9a03-41db-8fc9-c368a4844077",
      "name": "Sticky Note52",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1800,
        2940
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "value": "={{ $('Разделение reply-кнопок или иного ввода').item.json.odoo_id }}"
            }
          ]
        }
      },
      "id": "dde1b7fb-9148-4427-bb90-299e2373640f",
      "name": "находим машину по odoo id10",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -1540,
        3040
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9c673a22-b9d9-4b2d-8618-fc55a6b868ec",
      "name": "Получение сегодняшней даты1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1340,
        3040
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "=yyyy-MM-dd, 00:00:00",
        "options": {}
      },
      "id": "84038a19-7624-48ff-93c6-7989de408abd",
      "name": "получаем дату и время 00:",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -1120,
        3040
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Получение сегодняшней даты1').item.json.currentDate }}",
        "format": "=yyyy-MM-dd, 23:59:59",
        "outputFieldName": "newformattedDate",
        "options": {}
      },
      "id": "f5a8f3b2-107d-491d-92b3-9ff18d1cc45f",
      "name": "дата и время 23:",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -920,
        3040
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.round",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "car",
              "value": "={{ $('находим машину по odoo id10').item.json.id }}"
            },
            {
              "fieldName": "status",
              "value": "Назначен"
            },
            {
              "fieldName": "time",
              "operator": "greaterOrEqual",
              "value": "={{ $('получаем дату и время 00:').item.json.formattedDate }}"
            },
            {
              "fieldName": "time",
              "operator": "lesserOrEqual",
              "value": "={{ $json.newformattedDate }}"
            }
          ]
        }
      },
      "id": "412747a8-010f-4720-a6ff-d10563d5eccd",
      "name": "находим рейсы по машине5",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -720,
        3040
      ],
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4d23ae04-cccb-42b1-b53e-23ece53e44fb",
              "leftValue": "={{ $('находим рейсы по машине5').item.json }}",
              "rightValue": "={{ $json.formattedDate }}",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ca3e90a7-e5a5-4f91-a06a-dae04f53405f",
      "name": "есть ли рейсы на сегодня?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -520,
        3040
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.transportation",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $('находим рейсы по машине5').item.json.transportation[0] }}"
            },
            {
              "fieldName": "start_condition",
              "value": "В начале смены"
            }
          ]
        }
      },
      "id": "e33191ce-ba4b-4334-859e-df3ba73dd616",
      "name": "находим перевозки по рейсам5",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -120,
        3020
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "63c1d6fc-2466-4e19-b4ac-7ecc2f051e09",
              "leftValue": "={{ $('находим перевозки по рейсам5').item.json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5fb9f87d-3c04-4085-84c0-96ce30e51e3c",
      "name": "перевозка со статусом \"В начале смены\"1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        100,
        3020
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.route",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.route[0] }}"
            }
          ]
        }
      },
      "id": "3521eb7a-db74-4d93-89c4-763aec0f7337",
      "name": "получаем название маршрута из перевозки5",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        400,
        2960
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "Вам назначена следующая перевозка:",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "11f22a5c-dd57-426c-9c91-3f5937514063",
      "name": "вывод доступных перевозок3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        780,
        2960
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "=Отправитель - <b>{{ $('находим перевозки по рейсам5').item.json[\"sender\"][1] }}</b>\nПолучатель - <b>{{ $('находим перевозки по рейсам5').item.json[\"partner\"][1] }}</b>\nМаршрут - <b>{{ $('получаем название маршрута из перевозки5').item.json.departure }} - {{ $('получаем название маршрута из перевозки5').item.json.arrival }}</b>\nМатериал - <b>{{ $('находим перевозки по рейсам5').item.json.product[1] }}</b>\nКомментарий - <b>{{ $('находим перевозки по рейсам5').item.json.comment }}</b>",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к перевозке",
                    "additionalFields": {
                      "callback_data": "accept"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "1ca3dc78-32fe-4ef3-8df4-2af6ec4a7b45",
      "name": "Выводим информацию о перевозке5",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1060,
        2960
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.transportation",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $('находим рейсы по машине5').item.json.transportation[0] }}"
            },
            {
              "fieldName": "start_condition",
              "value": "После предыдущей"
            }
          ]
        }
      },
      "id": "3369900e-9b42-4bb3-bbc5-dc5fa86a1540",
      "name": "находим перевозки по рейсам6",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        400,
        3180
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.route",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.route[0] }}"
            }
          ]
        }
      },
      "id": "3380836d-1ad7-4c28-b9e6-fc41a27492ce",
      "name": "получаем название маршрута из перевозки6",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        640,
        3180
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "Вам назначена следующая перевозка:",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a3d105ef-c4ec-4bdc-8d08-2c4016e16c7b",
      "name": "вывод доступных перевозок4",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        840,
        3180
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "=Отправитель - <b>{{ $('находим перевозки по рейсам6').item.json[\"sender\"][1] }}</b>\nПолучатель - <b>{{ $('находим перевозки по рейсам6').item.json[\"partner\"][1] }}</b>\nМаршрут - <b>{{ $('получаем название маршрута из перевозки6').item.json.departure }} - {{ $('получаем название маршрута из перевозки6').item.json.arrival }}</b>\nМатериал - <b>{{ $('находим перевозки по рейсам6').item.json.product[1] }}</b>\nКомментарий - <b>{{ $('находим перевозки по рейсам6').item.json.comment }}</b>",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к перевозке",
                    "additionalFields": {
                      "callback_data": "accept"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "8a97e17f-5aa6-4b4a-8d79-13fad59d891b",
      "name": "Выводим информацию о перевозке6",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1100,
        3180
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "content": "вывод перевозок со статусом \"В начале смены\"",
        "height": 206.1827768770513,
        "width": 899.7539553864474
      },
      "id": "34cb1875-05e1-4d70-94e2-7e41255fee7a",
      "name": "Sticky Note53",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        340,
        2920
      ]
    },
    {
      "parameters": {
        "content": "вывод перевозок со статусом \"После предыдущей\"",
        "height": 211.13093154244964,
        "width": 898.1045704979812
      },
      "id": "fa3fe217-1b9f-48aa-9c04-c6472782be46",
      "name": "Sticky Note54",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        340,
        3140
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $('Telegram Trigger1').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "78376908-dc15-43b7-b379-c74212dae8b5",
      "name": "получаем odoo id9",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -3940,
        3180
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "07c05f8e-8649-4788-a74f-a5585f6c975d",
      "name": "Получение сегодняшней даты2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -3620,
        3180
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "=yyyy-MM-dd, 00:00:00",
        "options": {}
      },
      "id": "b3dab7a0-8551-476b-9f13-517f3ea2f84a",
      "name": "получаем дату и время 00:1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -3460,
        3180
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $('Получение сегодняшней даты2').item.json.currentDate }}",
        "format": "=yyyy-MM-dd, 23:59:59",
        "outputFieldName": "newformattedDate",
        "options": {}
      },
      "id": "58e803a3-722c-4dd3-aac4-1a563dffae04",
      "name": "дата и время 23:1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -3320,
        3180
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "84020219-6b7b-44a1-b22a-031465fe6c22",
      "name": "Summarize2",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -2940,
        3100
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "sum",
              "field": "cargo_netto"
            }
          ]
        },
        "options": {}
      },
      "id": "dda13488-4998-4a40-91ee-a9b0708f348f",
      "name": "Summarize3",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -2960,
        3300
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "04eb1529-fb8e-410b-8267-dc14b59c9203",
      "name": "Merge4",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -2740,
        3200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "=Во время смены: \nКоличество выполненых рейсов: {{ $json.count_id }}\nСумма нетто: {{ $json.sum_cargo_netto }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Назад",
                    "additionalFields": {
                      "callback_data": "after_stats"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "bbf4e292-3bf1-4711-bea0-f98d61329285",
      "name": "Вывод статистики1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -2540,
        3180
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "value": "={{ $json.odoo_id }}"
            }
          ]
        }
      },
      "id": "76f6fb00-4707-42d1-a66f-49d894a73b45",
      "name": "находим машину по odoo id11",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -3760,
        3180
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.round",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "car",
              "value": "={{ $('находим машину по odoo id11').item.json.id }}"
            },
            {
              "fieldName": "status",
              "value": "Завершен"
            },
            {
              "fieldName": "time",
              "operator": "greaterOrEqual",
              "value": "={{ $('получаем дату и время 00:1').item.json.formattedDate }}"
            },
            {
              "fieldName": "time",
              "operator": "lesserOrEqual",
              "value": "={{ $json.newformattedDate }}"
            }
          ]
        }
      },
      "id": "859fa9ec-3653-4a8e-937a-fb2eb2ad4c86",
      "name": "находим рейсы по машине6",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -3180,
        3180
      ],
      "alwaysOutputData": true,
      "executeOnce": false,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.chat_text }}",
                    "rightValue": "Моя статистика",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "46700892-d6f7-4494-9b30-6e3a9344bc28",
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.chat_text }}",
                    "rightValue": "Приступить к работе",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "e9d1379d-cad3-4666-a782-5366de1a5ead",
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.chat_text }}",
                    "rightValue": "Сообщение механику и логисту",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "41f0fd84-a2a8-4d16-8bd0-ea0e5824d5dc",
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.chat_text }}",
                    "rightValue": "Заявки на ТО",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "19b4fc70-3f12-429e-b1c6-82751dc1aeb2",
      "name": "Разделение reply-кнопок или иного ввода",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -5000,
        4020
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "На данный момент нет назначенных перевозок!",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Проверить назначенные перевозки",
                    "additionalFields": {
                      "callback_data": "проверить перевозки"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Статистика",
                    "additionalFields": {
                      "callback_data": "stats"
                    }
                  },
                  {
                    "text": "Завершить смену",
                    "additionalFields": {
                      "callback_data": "complete_work"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "eecb2461-907a-467c-a02a-58f67fb77d97",
      "name": "Нет доступных перевозок2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        100,
        3180
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "44403514-747a-47bf-9419-77944fae7bb7",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.chat_text }}",
              "rightValue": "/^[0-9]+$/",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a0cf3eae-88f4-48e1-bfc5-ca359300139a",
      "name": "проверка на число2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4520,
        7100
      ]
    },
    {
      "parameters": {
        "content": "## Ввод топлива",
        "height": 385.7962170846879,
        "width": 536.8852760490331,
        "color": 6
      },
      "id": "b8709bf8-f170-47a3-94ab-62eafeee071e",
      "name": "Sticky Note57",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4200,
        7100
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Литры введены неверно, повторите попытку",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "1fc340d7-3a7d-411d-8160-10aa88ce60f6",
      "name": "литры введены неверно",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -4080,
        7300
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "У вас сохранился чек?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Да",
                    "additionalFields": {
                      "callback_data": "add_fuel_receipt"
                    }
                  },
                  {
                    "text": "Нет",
                    "additionalFields": {
                      "callback_data": "no_receipt"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "67a7780b-76c5-4665-b11a-3cd35d6d41fb",
      "name": "литры введены",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -4120,
        7140
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('проверка статуса авторизации').item.json.tg_id }}",
            "fuel_liters": "={{ $('Execute Workflow Trigger').item.json.chat_text }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "car_id_while_inputing",
              "displayName": "car_id_while_inputing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuel_liters",
              "displayName": "fuel_liters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "2037efcd-e591-4dbe-b15d-27998b8e7ef4",
      "name": "записываем литры",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -3890,
        7140
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "44403514-747a-47bf-9419-77944fae7bb7",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.chat_text }}",
              "rightValue": "/^[0-9]+$/",
              "operator": {
                "type": "string",
                "operation": "regex"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b6b4470e-ae32-497e-8ed9-037660603ecd",
      "name": "проверка на число3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4520,
        7560
      ]
    },
    {
      "parameters": {
        "content": "## Ввод объёма материала",
        "height": 385.7962170846879,
        "width": 536.8852760490331,
        "color": 6
      },
      "id": "bd82abd2-6334-461c-9521-f3b51ec78086",
      "name": "Sticky Note62",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4200,
        7560
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Объём введён неверно, повторите попытку",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "932b6fef-d0c2-4fbb-ad82-5f4b65f7b6ba",
      "name": "объём введён неверно",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -4080,
        7760
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Вы ввели объём материала",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Продолжить",
                    "additionalFields": {
                      "callback_data": "last"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "4e6f3af8-9967-4aec-a256-834d7706dcb2",
      "name": "объём введён",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -4120,
        7600
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('проверка статуса авторизации').item.json.tg_id }}",
            "status": "authorized",
            "weight_measure": "={{ $('Execute Workflow Trigger').item.json.chat_text }} {{ $('проверка статуса авторизации').item.json.weight_measure }} "
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "car_id_while_inputing",
              "displayName": "car_id_while_inputing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuel_liters",
              "displayName": "fuel_liters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weight_measure",
              "displayName": "weight_measure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "3f316687-d274-48eb-adae-fb6ca90de0b3",
      "name": "записываем объём материала",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -3890,
        7600
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Нет заявок для отображения",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "6ceaa2aa-136f-4a91-a131-98e1a8dbb199",
      "name": "Нет заявок для отображения",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -800,
        4760
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "a884595b-72f0-4499-af68-db82614b59b7",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -1000,
        4660
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "id": "bb5a779c-f833-4fca-9734-022738a9c3b2",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -5760,
        3680
      ]
    },
    {
      "parameters": {
        "errorMessage": "555"
      },
      "id": "32412cfe-08bf-4713-9f4d-9757678ebc01",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -5520,
        3900
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.chat_text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "da7c1aea-6eec-4157-831c-c71593d84a67",
      "name": "Проверка старта",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -5220,
        3620
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c328907d-5e2f-4059-b43d-dec7c9a2136a",
                    "leftValue": "={{ $json.pg_status }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ed5a4e82-0574-4022-a4e9-a9e3d492e32f",
                    "leftValue": "={{ $json.pg_status }}",
                    "rightValue": "inputing_car_number",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "27af43d5-2d5c-4cf3-9fd6-11b9316f9089",
                    "leftValue": "={{ $json.pg_status }}",
                    "rightValue": "inputing_odometer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c2794bc8-e2a0-40b4-b9a7-bf906ac1f32b",
                    "leftValue": "={{ $json.pg_status }}",
                    "rightValue": "inputing_data_after_work",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "886fe962-d8ac-4fe7-bfc6-53735b1d1c2f",
                    "leftValue": "={{ $json.pg_status }}",
                    "rightValue": "inputing_request",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "b1352144-6e5b-4776-aed7-ef2b3b1af6ea",
                    "leftValue": "={{ $json.pg_status }}",
                    "rightValue": "inputing_request_hours",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "03354b42-0d53-4fdf-8303-664dfa71f703",
                    "leftValue": "={{ $json.pg_status }}",
                    "rightValue": "inputing_fuel_count",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a7622408-5f09-4a62-aa84-c23ede0d56a4",
                    "leftValue": "={{ $json.pg_status }}",
                    "rightValue": "inputing_material_volume",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "19149a49-d0f9-416f-8e88-0fe1cc1b656d",
      "name": "проверка статуса авторизации",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -4760,
        6580
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "К выполнению",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "84c7a41e-05e5-4497-b42a-1e5102906729",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "В работе",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "dea7aa17-5f44-45d5-a497-9cea75e85820",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "Требуется проверка",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "id": "9192fa89-75fa-4989-bcfc-0048b9db7323",
      "name": "Разделяем по статусам",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1220,
        4420
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "chat_id": "700956969",
          "chat_text": "Заявки на ТО",
          "inline_data": null,
          "inline_chat_id": null,
          "inline_query_id": null,
          "inline_message_id": null,
          "pg_status": "authorized",
          "chat_message_id": "10248",
          "pg_odoo_id": 2,
          "pg_only_mech": false
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-07-11T07:44:57.621Z",
      "updatedAt": "2024-07-11T07:45:08.364Z",
      "id": "2bAiBX7uVqUq20et",
      "name": "aleksey"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-07-11T12:40:34.000Z",
  "versionId": "10378c12-b388-4f24-b509-d9630395859b"
}