workflows/EXPO_Bot.json
{
  "active": true,
  "connections": {
    "добавляет пользователя, если не существует": {
      "main": [
        [
          {
            "node": "получаем первый статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "есть ли статус": {
      "main": [
        [
          {
            "node": "актуальный статус",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "меняем статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем первый статус": {
      "main": [
        [
          {
            "node": "есть ли статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус": {
      "main": [
        [
          {
            "node": "получаем первый статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "актуальный статус": {
      "main": [
        [
          {
            "node": "проверка статуса авторизации1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус1": {
      "main": [
        [
          {
            "node": "отправляем кнопку контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка нажатия кнопки контакта": {
      "main": [
        [
          {
            "node": "номер телефона",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "не ввели контакт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем id по mobile_phone": {
      "main": [
        [
          {
            "node": "проверяем наличие",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем наличие": {
      "main": [
        [
          {
            "node": "меняем статус на \"авторизован\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "пишем, что номера нет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка типа входных данных": {
      "main": [
        [
          {
            "node": "Проверка медиа",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу ВОДИТЕЛЬ_ИНЛАЙН",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус на \"авторизован\"": {
      "main": [
        [
          {
            "node": "проверка роли после авторизации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "номер телефона": {
      "main": [
        [
          {
            "node": "получаем id по mobile_phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "авторизация": {
      "main": [
        [
          {
            "node": "добавляет пользователя, если не существует",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка статуса авторизации1": {
      "main": [
        [
          {
            "node": "меняем статус1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "проверка нажатия кнопки контакта",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "получаем роль",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "склеиваем данные": {
      "main": [
        [
          {
            "node": "ветки для ролей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка медиа": {
      "main": [
        [
          {
            "node": "воркфлоу ВОДИТЕЛЬ МЕДИА",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу ВОДИТЕЛЬ_РЕПЛАЙ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "дата через неделю1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата через неделю1": {
      "main": [
        [
          {
            "node": "документы с истекающим сроком1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы с истекающим сроком1": {
      "main": [
        [
          {
            "node": "разница в днях1",
            "type": "main",
            "index": 0
          },
          {
            "node": "объединяем доки+дата с разницей во времени1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "склоняем1": {
      "main": [
        [
          {
            "node": "склеиваем1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "округляем1": {
      "main": [
        [
          {
            "node": "объединяем доки+дата с разницей во времени1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "разница в днях1": {
      "main": [
        [
          {
            "node": "округляем1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объединяем доки+дата с разницей во времени1": {
      "main": [
        [
          {
            "node": "склоняем1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "склеиваем1": {
      "main": [
        [
          {
            "node": "объединяем1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объединяем1": {
      "main": [
        [
          {
            "node": "поиск механиков+диспетчеров",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получение перевозок4": {
      "main": [
        [
          {
            "node": "Сортировка перевозок и работ в карьере",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сортировка перевозок и работ в карьере": {
      "main": [
        [
          {
            "node": "есть ли перевозка1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "есть ли перевозка1": {
      "main": [
        [
          {
            "node": "в единое сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "поиск текущего авто1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объединяем в один список": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "айди водителя1": {
      "main": [
        [
          {
            "node": "пересылаем, чтобы получить текст прошлого сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "авторизация1": {
      "main": [
        [
          {
            "node": "данные карточек1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получим карточки очереди1": {
      "main": [
        [
          {
            "node": "авторизация1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "сегодняшняя дата2": {
      "main": [
        [
          {
            "node": "если не пустой2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если не пустой2": {
      "main": [
        [
          {
            "node": "объединяем в один список",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "сегодняшняя дата1": {
      "main": [
        [
          {
            "node": "если не пустой1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если не пустой1": {
      "main": [
        [
          {
            "node": "объединяем в один список",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск механиков+диспетчеров": {
      "main": [
        [
          {
            "node": "айди диспетчеров+механиков",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "айди диспетчеров+механиков": {
      "main": [
        [
          {
            "node": "отправка сообщения1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "айди последнего сообщения": {
      "main": [
        [
          {
            "node": "Убираем кнопки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "пересылаем, чтобы получить текст прошлого сообщения": {
      "main": [
        [
          {
            "node": "удаляем прошлое",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "в единое сообщение": {
      "main": [
        [
          {
            "node": "айди водителя1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "работа первая?": {
      "main": [
        [
          {
            "node": "работа в карьере",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "данные перевозки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "первое=работа в карьере": {
      "main": [
        [
          {
            "node": "айди последнего сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "уже начатая перевозка": {
      "main": [
        [
          {
            "node": "айди последнего сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "не начатая перевозка": {
      "main": [
        [
          {
            "node": "айди последнего сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Убираем кнопки": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "удаляем прошлое": {
      "main": [
        [
          {
            "node": "работа первая?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем тг1": {
      "main": [
        [
          {
            "node": "Вывод статуса карточки1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "найдём водителя по номеру автомобиля1": {
      "main": [
        [
          {
            "node": "Получаем тг1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "только готовые уведомляем": {
      "main": [
        [
          {
            "node": "найдём водителя по номеру автомобиля1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка роли после авторизации": {
      "main": [
        [
          {
            "node": "логист",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "механик",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "водитель",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "диспетчер",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "наёмник",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "нет роли",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ветки для ролей": {
      "main": [
        [
          {
            "node": "воркфлоу ЛОГИСТ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу МЕХАНИК",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка типа входных данных",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу ДИСПЕТЧЕР",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка типа входных данных",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Нет роли",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "авто": {
      "main": [
        [
          {
            "node": "айди водителя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "айди водителя": {
      "main": [
        [
          {
            "node": "текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "текст": {
      "main": [
        [
          {
            "node": "отправка уведомления",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем роль": {
      "main": [
        [
          {
            "node": "склеиваем данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "изменение данных в перевозке": {
      "main": [
        [
          {
            "node": "авто",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные перевозок2": {
      "main": [
        [
          {
            "node": "сегодняшняя дата2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные карточек1": {
      "main": [
        [
          {
            "node": "данные перевозок2",
            "type": "main",
            "index": 0
          },
          {
            "node": "данные работ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные перевозки": {
      "main": [
        [
          {
            "node": "разделяем рейсы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск текущего авто1": {
      "main": [
        [
          {
            "node": "получение перевозок4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "разделяем рейсы": {
      "main": [
        [
          {
            "node": "рейсы определённого авто",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рейсы определённого авто": {
      "main": [
        [
          {
            "node": "всего рейсов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "первый рейс выполняется?": {
      "main": [
        [
          {
            "node": "без кнопок",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "один рейс?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "всего рейсов": {
      "main": [
        [
          {
            "node": "первый рейс выполняется?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "один рейс?": {
      "main": [
        [
          {
            "node": "не начатая перевозка",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "уже начатая перевозка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные работ": {
      "main": [
        [
          {
            "node": "сегодняшняя дата1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "работа в карьере": {
      "main": [
        [
          {
            "node": "только выполняющиеся",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "только выполняющиеся": {
      "main": [
        [
          {
            "node": "всего рейсов1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "есть выполняющиеся?": {
      "main": [
        [
          {
            "node": "карьер без кнопок",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "первое=работа в карьере",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "смена статуса заявки": {
      "main": [
        [
          {
            "node": "только готовые уведомляем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1 dev1": {
      "main": [
        [
          {
            "node": "получим карточки очереди1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "всего рейсов1": {
      "main": [
        [
          {
            "node": "есть выполняющиеся?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TG_trigger": {
      "main": [
        [
          {
            "node": "авторизация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-10-23T04:27:11.543Z",
  "id": "tRBPaNm68IzYOhaJ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "EXPO_Bot",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tg_users (tg_id) VALUES ($1) ON CONFLICT (tg_id) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ \n  $('TG_trigger').item.json.message?.from.id !== undefined \n  ? $('TG_trigger').item.json.message.from.id \n  : $('TG_trigger').item.json.callback_query.from.id \n}}"
        }
      },
      "id": "f3cb7e91-5f75-4978-bb80-ccf8af14e4de",
      "name": "добавляет пользователя, если не существует",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2380,
        1540
      ],
      "credentials": {
        "postgres": {
          "id": "xrihBpyZE5y4OBiy",
          "name": "pg dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3f1dd178-652c-4e81-8cb6-91df77dfe097",
              "leftValue": "={{ $json.status }}",
              "rightValue": "unauthorized",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9be96c7b-2cb0-4af5-8d7c-90de54e65dd9",
      "name": "есть ли статус",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1980,
        1540
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ \n  $('TG_trigger').item.json.message?.from.id !== undefined \n  ? $('TG_trigger').item.json.message.from.id \n  : $('TG_trigger').item.json.callback_query.from.id \n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "f7eb2fba-63d0-4675-936d-0420f9c1d91a",
      "name": "получаем первый статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2180,
        1540
      ],
      "credentials": {
        "postgres": {
          "id": "xrihBpyZE5y4OBiy",
          "name": "pg dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('есть ли статус').item.json.tg_id }}",
            "status": "unauthorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "59137a0d-130b-4c23-a7c5-73f53ac7d415",
      "name": "меняем статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -1780,
        1660
      ],
      "credentials": {
        "postgres": {
          "id": "xrihBpyZE5y4OBiy",
          "name": "pg dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ \n  $('TG_trigger').item.json.message?.from.id !== undefined \n  ? $('TG_trigger').item.json.message.from.id \n  : $('TG_trigger').item.json.callback_query.from.id \n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "6e3c6966-07f0-4257-9cad-5e1014e41104",
      "name": "актуальный статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -1540,
        1520
      ],
      "credentials": {
        "postgres": {
          "id": "xrihBpyZE5y4OBiy",
          "name": "pg dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.tg_id }}",
            "status": "input_number"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d884140f-e027-4d6f-8588-ed04f02a416e",
      "name": "меняем статус1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -880,
        660
      ],
      "credentials": {
        "postgres": {
          "id": "xrihBpyZE5y4OBiy",
          "name": "pg dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('TG_trigger').item.json.message.chat.id }}",
        "text": "Чтобы войти, поделитесь контактом",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться контактом",
                    "additionalFields": {
                      "request_contact": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "cf07ce25-1c0f-4fec-a106-4c93566c585e",
      "name": "отправляем кнопку контакта",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -620,
        660
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4d79f0bd-02e2-413a-b219-bfc80a34c855",
              "leftValue": "={{ $('TG_trigger').item.json.message.contact.phone_number }}",
              "rightValue": "Вы не нажали кнопку \"поделиться контактом\"",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "b5107815-ce01-49b4-8a71-44f86cb7dcf1",
      "name": "проверка нажатия кнопки контакта",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -875,
        860
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": []
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "mobile_phone",
              "value": "={{  $json.str.startsWith('+') ? $json.str : '+' + $json.str; }}"
            }
          ]
        }
      },
      "id": "93d2d5d4-6701-4b4c-ac3e-155da826ba1e",
      "name": "получаем id по mobile_phone",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -455,
        860
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "ITgOrhO4Hf2QcDtf",
          "name": "odoo dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9b905cb5-83c4-4cdb-b1df-7e7f94e2a734",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8ac16b79-3bc8-418c-98d1-d1b714525595",
      "name": "проверяем наличие",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -275,
        860
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('TG_trigger').item.json.message.chat.id }}",
        "text": "Такого сотрудника ещё нет в Odoo.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "3ed75713-de8e-43c6-b6c0-149b0148f179",
      "name": "пишем, что номера нет",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -35,
        980
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('актуальный статус').item.json.tg_id }}",
            "odoo_id": "={{ $('проверяем наличие').item.json.id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "940f5031-48f9-4f32-b5b4-a3b4f3a89b23",
      "name": "меняем статус на \"авторизован\"",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -20,
        760
      ],
      "credentials": {
        "postgres": {
          "id": "xrihBpyZE5y4OBiy",
          "name": "pg dev"
        }
      }
    },
    {
      "parameters": {
        "content": "## Блок авторизации\n",
        "height": 683.4771536589792,
        "width": 1591.8393730343007,
        "color": 6
      },
      "id": "38b9e632-7ad6-4c1e-a2f5-364255dfee07",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -920,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11c45e0d-196b-47f1-821e-bee57c9f070b",
              "leftValue": "={{ $('TG_trigger').item.json.hasField(\"message\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5dc37c41-bf79-43de-8bc2-4ce6400c33b1",
      "name": "Проверка типа входных данных",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        1880
      ]
    },
    {
      "parameters": {
        "content": "## Проверка ролей\n",
        "height": 309.07650486512966,
        "width": 727.3089586054689,
        "color": 6
      },
      "id": "e570b19e-38a7-4397-ae50-b70735a9fad6",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        1620
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как логист, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Просмотреть свободные машины",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Оповещение",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Уведомления",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "201a89dc-a0b4-44ab-9768-18737edaa4d8",
      "name": "логист",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        460,
        460
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как водитель, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к работе",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Срочно",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Связь с диспетчером",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Моя статистика",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Заявки по авто",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Мой график",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "01077a3a-952f-45b4-8cbc-474d778e81a4",
      "name": "водитель",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        540,
        660
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как механик, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Клавиатура механика",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "d3fd5d41-aa83-461a-ab8b-5c361f1ee576",
      "name": "механик",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        640,
        520
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Добавление записи в бд при первом запуске",
        "height": 400.90037255076527,
        "width": 857.69326295068,
        "color": 6
      },
      "id": "81930adc-6bbc-4d0d-81fc-1fecd47af26f",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2440,
        1460
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('TG_trigger').item.json.message.chat.id }}",
        "text": "Вы не нажали кнопку \"поделиться контактом\"",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться контактом",
                    "additionalFields": {
                      "request_contact": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "540e1c9a-8237-40cc-88dd-fa096775bd9c",
      "name": "не ввели контакт",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -620,
        1060
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('TG_trigger').item.json.message.chat.id }}",
        "text": "=Роль не указана",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "054732f9-d53d-4173-b820-a5fa3687c933",
      "name": "Нет роли",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        0,
        2200
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c7a2f2e-c8b7-431a-8a0b-5dc40efd8909",
              "name": "str",
              "value": "={{ $('TG_trigger').item.json.message.contact.phone_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a58782c2-4f51-4712-b869-fcefe668188e",
      "name": "номер телефона",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -615,
        860
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "Вы авторизовались, но у вас не указана роль в Odoo",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "ebf32359-f43c-45a4-8a8d-99d900ad0a6b",
      "name": "нет роли",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        340,
        1120
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.everest.lamart.site/web/session/authenticate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"call\",\n    \"params\": {\n        \"db\": \"db\",\n        \"login\": \"lamart-admin\",\n        \"password\": \"lamarlemur\"\n    }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "6b85ea0a-64aa-4e42-bbbf-68b729b5da68",
      "name": "авторизация",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2640,
        1540
      ]
    },
    {
      "parameters": {
        "workflowId": "Tcc2nK4Zr7gprZrG",
        "options": {}
      },
      "id": "c8aa0d97-5dc7-4462-b94e-442170b0c7c2",
      "name": "воркфлоу ЛОГИСТ",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        360,
        1420
      ]
    },
    {
      "parameters": {
        "workflowId": "ix4mtBerXu4a1ZYz",
        "options": {}
      },
      "id": "8d1da5c1-c052-4314-9b88-fcd67ab92794",
      "name": "воркфлоу МЕХАНИК",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        360,
        1600
      ]
    },
    {
      "parameters": {
        "workflowId": "yz2XqJbbiWqgIm4k",
        "options": {}
      },
      "id": "495f3beb-e07b-4a5c-9c57-83287bec0113",
      "name": "воркфлоу ВОДИТЕЛЬ_РЕПЛАЙ",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1040,
        2440
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "77fe838f-5f60-44cc-a654-5adcbbebf8bb",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "7dc92754-779a-4427-ba34-e7c6a59cb5c6",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "input_number",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "068499b7-2aca-45cb-bcd6-4fdb36b60262",
      "name": "проверка статуса авторизации1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1240,
        1520
      ]
    },
    {
      "parameters": {
        "workflowId": "5U3MvudgCGq43NbB",
        "options": {}
      },
      "id": "d188f18b-a70b-41ae-aef1-31c4ccb89177",
      "name": "воркфлоу ВОДИТЕЛЬ_ИНЛАЙН",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        760,
        2040
      ]
    },
    {
      "parameters": {
        "content": "## Водитель\nу водителя много нод, поэтому они вынесены в отдельные воркфлоу",
        "height": 469.99969888850467,
        "width": 991.3552023907823,
        "color": 6
      },
      "id": "8b89bad5-eef1-4df8-94d8-a6d8d20a33fe",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        1780
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nvar res = {};\n\nfor (const item of $input.all()) {\n  Object.assign(res, $('TG_trigger').item.json);\n  Object.assign(res, $('актуальный статус').item.json);\n  Object.assign(res, { cookie:  $('авторизация').item.json.headers['set-cookie'][0]  });\n}\n\nreturn res;"
      },
      "id": "f5718af0-6b53-491b-9892-03b7bf87387d",
      "name": "склеиваем данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        1700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2bd61e7b-a58d-4c5d-81d2-ec5f92c0ee0d",
              "leftValue": "={{ $json.message.photo[0].file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "beb896d6-88c5-4a2c-8278-489d76a2eca6",
              "leftValue": "={{ $json.message.voice.file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "0228f7b6-101d-46f6-98b3-0fa3b02263be",
              "leftValue": "={{ $json.message.video_note.file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "0bd83324-348f-4eae-aa8b-5f00ce5638ee",
              "leftValue": "={{ $json.message.video.file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "1b14c45d-97e2-40bb-a222-b6deeef16f45",
      "name": "Проверка медиа",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        1880
      ]
    },
    {
      "parameters": {
        "workflowId": "JWThMCiA1RQ3LNkN",
        "options": {}
      },
      "id": "7fc0451b-bd19-4e1f-b921-72743ede02c3",
      "name": "воркфлоу ВОДИТЕЛЬ МЕДИА",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1120,
        1860
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как диспетчер, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboardRemove",
        "replyKeyboardRemove": {
          "remove_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "c2d12a08-eb24-448b-80da-09843bac7465",
      "name": "диспетчер",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        720,
        720
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "kHZp2aFbHKEoeIIr",
        "options": {}
      },
      "id": "63998b2d-b6e5-40d7-89f6-014cde4c1aaf",
      "name": "воркфлоу ДИСПЕТЧЕР",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        140,
        1920
      ]
    },
    {
      "parameters": {
        "content": "## Проверка состояния карточек и отправка статуса водителю",
        "height": 369.4704439473635,
        "width": 1212.5764986840902,
        "color": 6
      },
      "id": "0b3dba4f-2081-417f-8fc3-af1f1bea5d46",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4400,
        2020
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "ada98c2e-55a4-44e2-b45b-0de98b0aa4ee",
      "name": "Schedule Trigger3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -4360,
        2580
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $today }}",
        "duration": 7,
        "options": {}
      },
      "id": "adc2a6f2-299e-4624-85b3-26466231e722",
      "name": "дата через неделю1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -4180,
        2580
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "documents.documents",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "expiration_date",
              "operator": "lesserOrEqual",
              "value": "={{ $json.newDate }}"
            },
            {
              "fieldName": "expiration_date",
              "operator": "greaterOrEqual",
              "value": "={{ $today }}"
            }
          ]
        }
      },
      "id": "be7abfed-0555-497b-8006-3d0c7e26daa4",
      "name": "документы с истекающим сроком1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -3980,
        2580
      ],
      "credentials": {
        "odooApi": {
          "id": "ITgOrhO4Hf2QcDtf",
          "name": "odoo dev"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n    days = abs(item.json.timeDifference)\n    if days % 100 // 10 == 1:\n        item.json.sklonenie = \"дней\"\n    elif days % 10 == 1:\n        item.json.sklonenie = \"день\"\n    elif days % 10 in [2, 3, 4]:\n        item.json.sklonenie = \"дня\"\n    else:\n        item.json.sklonenie = \"дней\"\nreturn _input.all()"
      },
      "id": "999b2d67-785d-4645-8022-4ed9a0a89895",
      "name": "склоняем1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3140,
        2740
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0bd3f1ff-9963-406f-b40f-8c9e47ba7e30",
              "name": "timeDifference",
              "value": "={{ $json.timeDifference.days.round() }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "67bb3a31-0756-409c-8008-dd70671f29f5",
      "name": "округляем1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -3500,
        2580
      ]
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $today }}",
        "endDate": "={{ $json.expiration_date }}",
        "options": {}
      },
      "id": "c3f22e61-d463-43f2-a7ef-b2c22ac5151b",
      "name": "разница в днях1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -3740,
        2580
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "6059bb1c-39f1-4f15-8dc7-d03ca41aa841",
      "name": "объединяем доки+дата с разницей во времени1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -3340,
        2740
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "386f4fe1-4858-4421-a50e-867e5ca497fc",
              "name": "message",
              "value": "=⚠️Через {{ $json.timeDifference }} {{ $json.sklonenie }} истекает срок документа <b>{{ $json.display_name }}</b>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d6335e40-fcb1-4f9e-bf58-0b171746a4ca",
      "name": "склеиваем1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -2920,
        2740
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "message",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "id": "337148da-8e08-4ff3-b71f-05bafb79d1ca",
      "name": "объединяем1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -2700,
        2740
      ]
    },
    {
      "parameters": {
        "content": "## Проверка срока документов механик + диспетчер\n",
        "height": 460.7511085684256,
        "width": 2525.6327042306157,
        "color": 6
      },
      "id": "51fa784e-1809-41f1-a906-1db5085df809",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4420,
        2460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "={{ $('объединяем1').item.json.concatenated_message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "2801cdc0-6d5c-47db-97c5-b7cc898a7cf7",
      "name": "отправка сообщения1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -2040,
        2740
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://dev.everest.lamart.site/transportations_by_car",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('авторизация1').item.json.headers['set-cookie'][0] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number_car",
              "value": "={{ $json.number_car }}"
            }
          ]
        },
        "options": {}
      },
      "id": "30402ef7-b6e8-4fa3-afc1-fddd00979870",
      "name": "получение перевозок4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2380,
        3220
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet allItems = [];\n\nfor (let i = 0; i < items.length; i++) {\n    const { transportations, full_quarry_work } = items[i].json;\n\n    if (transportations && Array.isArray(transportations)) {\n        allItems = allItems.concat(transportations);\n    }\n    if (full_quarry_work && Array.isArray(full_quarry_work)) {\n        allItems = allItems.concat(full_quarry_work);\n    }\n}\n\nallItems = allItems.filter(item => item.hasOwnProperty('sequence'));\nallItems.sort((a, b) => a.sequence - b.sequence);\n\nreturn allItems.map(item => ({ json: item }));\n"
      },
      "id": "795cfc1c-0d37-475e-978d-8301c38d3b49",
      "name": "Сортировка перевозок и работ в карьере",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2100,
        3220
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e24d83cc-dc2d-4d01-8af3-ff146b515d82",
              "leftValue": "={{ $('Сортировка перевозок и работ в карьере').item.json }}",
              "rightValue": "Срочная",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b8bff989-aad7-43b0-a627-8d4ed7f1d4f7",
      "name": "есть ли перевозка1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1880,
        3220
      ]
    },
    {
      "parameters": {},
      "id": "5d146266-61fb-4c22-a809-4643ccf6e698",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2780,
        3220
      ]
    },
    {
      "parameters": {},
      "id": "6b8a2a63-650e-4fb4-9236-3638dd57f04d",
      "name": "объединяем в один список",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -2980,
        3220
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $('поиск текущего авто1').all()[0].json.driver_id[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f3d1da81-43d5-4579-bb29-6370b0995739",
      "name": "айди водителя1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1420,
        3200
      ],
      "credentials": {
        "postgres": {
          "id": "xrihBpyZE5y4OBiy",
          "name": "pg dev"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.everest.lamart.site/web/session/authenticate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"call\",\n    \"params\": {\n        \"db\": \"db\",\n        \"login\": \"lamart-admin\",\n        \"password\": \"lamarlemur\"\n    }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "d7f3ad9e-e265-4ce9-be5e-e022c2113195",
      "name": "авторизация1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -4100,
        3240
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.resequenced_data",
        "options": {}
      },
      "id": "0ab305b8-e845-4aec-a610-b91b2bb73098",
      "name": "получим карточки очереди1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4300,
        3240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a9d8f664-deb0-47c2-b8f1-bea1a09d8139",
              "leftValue": "={{ $json.transportation[0].date }}",
              "rightValue": "={{ $today.format('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "caf1fd8e-826d-4031-a471-1b39f7aed70f",
      "name": "сегодняшняя дата2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -3440,
        3300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6d9aa25a-ccec-4bbd-9e1f-e90cc391fdc0",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "68653bb4-6e46-4ac9-aabc-1857ed2fc5b0",
      "name": "если не пустой2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3240,
        3300
      ]
    },
    {
      "parameters": {
        "content": "## Проверка: изменена очередь на сегодня или нет.",
        "height": 394.06284454438725,
        "width": 1522.0410589173039
      },
      "id": "805d1593-edac-40ba-8479-ca48ffa189da",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4180,
        3080
      ]
    },
    {
      "parameters": {
        "content": "## Вывод очереди водителю",
        "height": 389.6622559205192,
        "width": 1389.3708193435414,
        "color": 5
      },
      "id": "54b3ac5f-e224-4429-876a-f3733c9e62de",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2640,
        3080
      ]
    },
    {
      "parameters": {
        "content": "## Изменение номера в очереди перевозок",
        "height": 476.4075860221335,
        "width": 3314.408122191204,
        "color": 6
      },
      "id": "3166643a-a79c-4e04-9e46-843a017d15a8",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4542.069450478657,
        3020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a9d8f664-deb0-47c2-b8f1-bea1a09d8139",
              "leftValue": "={{ $json.date }}",
              "rightValue": "={{ $today.format('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0683272e-b58f-4e80-a828-862108dbffe4",
      "name": "сегодняшняя дата1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -3440,
        3160
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6d9aa25a-ccec-4bbd-9e1f-e90cc391fdc0",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d220cf6b-3ca9-4d4d-849c-71db42d6c086",
      "name": "если не пустой1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3240,
        3160
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "job_title",
              "operator": "in",
              "value": "={{ [\"Механик\", \"Диспетчер\"] }}"
            }
          ]
        }
      },
      "id": "102459ea-f43e-4da7-a22f-c3d7307765ab",
      "name": "поиск механиков+диспетчеров",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -2480,
        2740
      ],
      "credentials": {
        "odooApi": {
          "id": "ITgOrhO4Hf2QcDtf",
          "name": "odoo dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4d54f2fe-2ab2-44e8-b688-a258743bc23e",
      "name": "айди диспетчеров+механиков",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2260,
        2740
      ],
      "credentials": {
        "postgres": {
          "id": "xrihBpyZE5y4OBiy",
          "name": "pg dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('айди водителя1').item.json.tg_id }}",
            "end_round_message_id": "={{ $json.result.message_id }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "car_id_while_inputing",
              "displayName": "car_id_while_inputing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuel_liters",
              "displayName": "fuel_liters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weight_measure",
              "displayName": "weight_measure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_alert_text",
              "displayName": "logist_alert_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_recipient_name",
              "displayName": "logist_recipient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transportation_for_certificate",
              "displayName": "transportation_for_certificate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "count_weight_photo",
              "displayName": "count_weight_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "count_weight_photo_sent",
              "displayName": "count_weight_photo_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "current_quarry_hours",
              "displayName": "current_quarry_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_round_message_id",
              "displayName": "end_round_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "40035c7f-5e98-46f8-8216-221a33401ab8",
      "name": "айди последнего сообщения",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        800,
        2820
      ],
      "credentials": {
        "postgres": {
          "id": "xrihBpyZE5y4OBiy",
          "name": "pg dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('айди водителя1').item.json.tg_id }}",
        "messageId": "={{ $('айди водителя1').item.json.end_round_message_id }}",
        "text": "={{ $('пересылаем, чтобы получить текст прошлого сообщения').item.json.result.reply_to_message.text }}",
        "additionalFields": {}
      },
      "id": "b4727040-bd2b-427c-bd0c-9fb6425fff8c",
      "name": "Убираем кнопки",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        2820
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=.",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "HTML",
          "reply_to_message_id": "={{ $json.end_round_message_id }}"
        }
      },
      "id": "29f298da-f999-4535-9d51-f906624961ff",
      "name": "пересылаем, чтобы получить текст прошлого сообщения",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1091,
        3171
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let combinedMessages = \"\";\n\nlet index = 1;\nfor (const item of $input.all()) {\n  const data = item.json;\n\n  const isQuarryWork = data.quarry && data.quarry.length > 1;\n\n  let message = \"\";\n\n  if (isQuarryWork) {\n    const quarry = data.quarry[1];\n    const requiredHours = data.required_hours || 0;\n    const comment = data.comment;\n\n    message = `<b>${index}.</b> Работа в карьере - <b>${quarry}</b>`;\n    if (data.end_condition === \"По часам\") {\n      message += `\\nНеобходимое количество часов - <b>${requiredHours}</b>`;\n    }\n    if (comment !== false) {\n      message += `\\nКомментарий - <i>${comment}</i>`;\n    }\n    message += `\\n\\n`;\n  } else {\n    const sender = data.sender && data.sender.length > 1 ? data.sender[1] : \"\";\n    const partner = data.partner && data.partner.length > 1 ? data.partner[1] : \"\";\n    const placeFrom = data.place_from && data.place_from.length > 1 ? data.place_from[1] : \"\";\n    const placeTo = data.place_to && data.place_to.length > 1 ? data.place_to[1] : \"\";\n    const material = data.material && data.material.length > 1 ? data.material[1] : \"\";\n    const comment = data.comment;\n    const endCondition = data.end_condition;\n    const requiredCubicMetre = data.required_cubic_metre || 0;\n    const requiredTon = data.required_ton || 0;\n\n    let route = placeFrom && placeTo ? `${placeFrom}-${placeTo}` : \"\";\n\n    message = `<b>${index}.</b>`;\n    \n    if (sender) message += ` Отправитель - <b>${sender}</b>`;\n    if (partner) message += `\\nПолучатель - <b>${partner}</b>`;\n    if (route) message += `\\nМаршрут - <b>${route}</b>`;\n    if (material) message += `\\nМатериал - <b>${material}</b>`;\n    \n    if (comment !== false) {\n      message += `\\nКомментарий - <i>${comment}</i>`;\n    }\n\n    if (endCondition === \"По перевезенным кубометрам\" && requiredCubicMetre > 0) {\n      message += `\\nТребуемое количество кубометров по перевозке - <b>${requiredCubicMetre}</b>`;\n    }\n\n    if (endCondition === \"По перевезенным тоннам\" && requiredTon > 0) {\n      message += `\\nТребуемое количество тонн по перевозке - <b>${requiredTon}</b>`;\n    }\n\n    if (endCondition === \"Количество рейсов для каждого автомобиля\" && data.round_quantity_for_car > 0) {\n      message += `\\nКоличество рейсов для каждого автомобиля - <b>${data.round_quantity_for_car}</b>`;\n    }\n\n    message += (item.json.concatenated_driver1 ? \"\\n\\nВодители, выполняющие перевозку с вами:\\n\" + item.json.concatenated_driver1 : \"\");\n\n    message += `\\n\\n`;\n  }\n\n\n  combinedMessages += message;\n  index++;\n}\n\nreturn [{ json: { combinedMessages: combinedMessages.trim() } }];\n"
      },
      "id": "10ef3c6f-0bbc-482c-83e0-6ba48434a9fe",
      "name": "в единое сообщение",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1640,
        3200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "df43e591-4040-4e44-9556-05c0a141bb03",
              "leftValue": "={{ $('есть ли перевозка1').all()[0].json.quarry_works }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "daa8eb04-0f62-47d9-80a1-705c30c7c89d",
      "name": "работа первая?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -731,
        3171
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('айди водителя1').item.json.tg_id }}",
        "text": "={{ \"Изменился порядок перевозок на сегодня:\\n\\n\" + $('в единое сообщение').item.json.combinedMessages }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Начать работу в карьере",
                    "additionalFields": {
                      "callback_data": "accept_quarry"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к следующей перевозке",
                    "additionalFields": {
                      "callback_data": "transportation_to_tail"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить смену",
                    "additionalFields": {
                      "callback_data": "complete_work"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "ca8bdf70-8a2a-4f71-b55f-1579f99fc731",
      "name": "первое=работа в карьере",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        3200
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('айди водителя1').item.json.tg_id }}",
        "text": "={{ \"Изменился порядок перевозок на сегодня:\\n\\n\" + $('в единое сообщение').item.json.combinedMessages }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Начать рейс",
                    "additionalFields": {
                      "callback_data": "pick"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить смену",
                    "additionalFields": {
                      "callback_data": "complete_work"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "392f49a4-4000-4a88-93c0-9c500df51b4d",
      "name": "уже начатая перевозка",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        3200
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('айди водителя1').item.json.tg_id }}",
        "text": "={{ \"Изменился порядок перевозок на сегодня:\\n\\n\" + $('в единое сообщение').item.json.combinedMessages }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Начать рейс в новой перевозке",
                    "additionalFields": {
                      "callback_data": "accept"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить смену",
                    "additionalFields": {
                      "callback_data": "complete_work"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "9fc74969-8843-4d25-948e-b34fdb7cdf4e",
      "name": "не начатая перевозка",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        3040
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Смена текста начала рейса при смене очереди",
        "height": 506.9884164964226,
        "width": 1775.1807115607076,
        "color": 6
      },
      "id": "b7846e9b-614f-4218-a73d-5967d989d0ca",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1120,
        3000
      ]
    },
    {
      "parameters": {
        "errorMessage": "123"
      },
      "id": "dbaf0619-c13d-4d08-982d-f179d882c27c",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1240,
        2800
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $json.result.chat.id }}",
        "messageId": "={{ $json.result.message_id }}"
      },
      "id": "0328bef3-f858-43c7-86de-cf05bfe67d7b",
      "name": "удаляем прошлое",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -911,
        3171
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "={{ $('найдём водителя по номеру автомобиля1').item.json[\"driver_id\"][1] }}\nВаше обращение перенесено в статус <b>{{ $('смена статуса заявки').item.json.body.status }}</b>\n\nТекст вашего обращения:\n<i>{{ $('смена статуса заявки').item.json.body.description_of_maintenance }}</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "e0ddee53-0cc2-4f54-98f3-21835401c743",
      "name": "Вывод статуса карточки1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -3380,
        2100
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.driver_id[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3399f0a0-ed7e-4e86-b239-66c318c9dab0",
      "name": "Получаем тг1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -3600,
        2100
      ],
      "credentials": {
        "postgres": {
          "id": "xrihBpyZE5y4OBiy",
          "name": "pg dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.body.car_id }}"
            },
            {
              "fieldName": "driver_id",
              "operator": "notEqual",
              "value": "={{ false }}"
            }
          ]
        }
      },
      "id": "0b840996-eab9-48b5-b60a-fabbc978ade7",
      "name": "найдём водителя по номеру автомобиля1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -3800,
        2100
      ],
      "credentials": {
        "odooApi": {
          "id": "ITgOrhO4Hf2QcDtf",
          "name": "odoo dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ca93c242-ca4e-4d06-8b64-91a75e30caa7",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "Готово",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5181254e-2034-4ad0-ae19-1c1b0c908ea6",
      "name": "только готовые уведомляем",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -4080,
        2180
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Логист",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "15e1453e-b597-4713-8d5b-6f12cf95cdfe",
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Механик",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c007a326-23d6-4d7f-84ee-af7fc0aead66",
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Водитель",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "a0b1b44d-6624-404a-9edc-b87f2556e916",
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Диспетчер",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "ecc22b35-435d-4659-a3dc-72b3bcfae75b",
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Наёмник",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "c96f61da-9726-4a7e-96ed-666b69c5c88b",
      "name": "проверка роли после авторизации",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        180,
        760
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Логист",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8c711320-cf09-453c-9f7f-dd3e02d0d308",
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Механик",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "a06fb869-7c18-4036-9ca4-f2f7fa9005d8",
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Водитель",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "62c1396b-c91f-4fe9-968e-63fad325a2da",
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Диспетчер",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "06f8996e-e8af-4163-ac0f-4fe4b0bcc7c5",
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "=Наёмник",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b9842724-5b54-41b1-9f6e-31146baf11e0",
      "name": "ветки для ролей",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -160,
        1700
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как наёмник, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к работе",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Связь с диспетчером",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "96dee581-57e8-4ab0-9e4b-939ca8b53215",
      "name": "наёмник",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        520,
        900
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "=cars.cars",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.body.car_id }}"
            }
          ]
        }
      },
      "id": "e57e527a-75c0-455c-b04e-b9b8a779aea3",
      "name": "авто",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -4300,
        3660
      ],
      "credentials": {
        "odooApi": {
          "id": "ITgOrhO4Hf2QcDtf",
          "name": "odoo dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.driver_id[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "87298444-1206-473a-8058-c2092beaf2cb",
      "name": "айди водителя",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4080,
        3660
      ],
      "credentials": {
        "postgres": {
          "id": "xrihBpyZE5y4OBiy",
          "name": "pg dev"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Пример функции для краткого форматирования даты в формате число.месяц.год\nfunction formatDate(date) {\n  if (!date) return date;  // Если дата отсутствует, возвращаем пустую строку\n  return new Date(date).toLocaleDateString('ru-RU');  // Форматируем дату в формате дд.мм.гггг\n}\n\nconst oldValues = $('изменение данных в перевозке').all()[0].json.body.old_values;\nconst newValues = $('изменение данных в перевозке').all()[0].json.body.updated;\n\nlet output = 'Произошли изменения в перевозке <b>' + oldValues.place_from + ' - ' + oldValues.place_to + '</b>:\\n\\n';\n\nfunction createLine(oldValue, newValue, label, isDate = false) {\n  // Если нужно форматировать дату\n  if (isDate) {\n    oldValue = formatDate(oldValue);\n    newValue = formatDate(newValue);\n  }\n  \n  // Проверяем, если значение изменилось и новое значение не undefined\n  if (newValue !== undefined && oldValue !== newValue) {\n    return `${label}: <s>${oldValue}</s> - ${newValue}\\n`;\n  }\n  return '';\n}\n\n// Проверяем только изменённые поля, исключая undefined значения\noutput += createLine(oldValues.date, newValues.date, 'Дата', true);  // true указывает на форматирование даты\noutput += createLine(oldValues.place_from, newValues.place_from, 'От');\noutput += createLine(oldValues.place_to, newValues.place_to, 'До');\noutput += createLine(oldValues.sender, newValues.sender, 'Отправитель');\noutput += createLine(oldValues.partner, newValues.partner, 'Получатель');\noutput += createLine(oldValues.carrier, newValues.carrier, 'Перевозчик');\noutput += createLine(oldValues.type, newValues.type, 'Тип');\noutput += createLine(oldValues.end_condition, newValues.end_condition, 'Условие завершения');\n\n// Возвращаем итоговую строку\nreturn {\n  output\n};\n"
      },
      "id": "a0c1332f-3cad-4e18-9f11-71eae46ebc7e",
      "name": "текст",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3860,
        3660
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('айди водителя').item.json.tg_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "a3eb0eba-e55d-485f-8d98-aef05d5f4b56",
      "name": "отправка уведомления",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3640,
        3660
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Отправка изменений",
        "height": 280.1188505499391,
        "width": 1018.060178588168,
        "color": 6
      },
      "id": "bc52df74-94fe-45d9-b130-e1214a222473",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4540,
        3560
      ]
    },
    {
      "parameters": {
        "url": "https://dev.everest.lamart.site/get_driver_by_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('авторизация').item.json.headers['set-cookie'][0] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "driver_id",
              "value": "={{ $json.odoo_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "71ae29e9-f82d-4554-a19b-7bc9497a21c9",
      "name": "получаем роль",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -860,
        1720
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev/update_transportation",
        "authentication": "basicAuth",
        "options": {}
      },
      "id": "ebd3da97-4344-4890-9256-6c7e7a616d37",
      "name": "изменение данных в перевозке",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4520,
        3660
      ],
      "webhookId": "90df170f-5431-43ec-a6ac-2fd2aa42683b",
      "credentials": {
        "httpBasicAuth": {
          "id": "uHcFMSp9IXmPMRB4",
          "name": "queue webhook"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://dev.everest.lamart.site/get_transportation_by_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('авторизация1').item.json.headers['set-cookie'][0] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transportation_id",
              "value": "={{ $json.car_queue_transportation_rel[0].transportation[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a8dfdac4-37c0-4d11-b8fb-a9eba5460df0",
      "name": "данные перевозок2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3660,
        3320
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://dev.everest.lamart.site/get_queue_rel_by_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('авторизация1').item.json.headers['set-cookie'][0] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "rel_id",
              "value": "={{ $('получим карточки очереди1').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7eac9c76-31e5-4b90-959c-afa0c3e41ec8",
      "name": "данные карточек1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3860,
        3240
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://dev.everest.lamart.site/get_rounds_by_transportation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('авторизация1').all()[0].json.headers['set-cookie'][0] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transportation_id",
              "value": "={{ $('есть ли перевозка1').all()[0].json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "79a948cf-ac3c-4d43-afd4-1cfaa0bb9bde",
      "name": "данные перевозки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -600,
        3380
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $('Webhook1 dev1').all()[0].json.body.resequenced_data[0].car_id }}"
            }
          ]
        }
      },
      "id": "a7759218-5740-46a6-b05c-8b632ce83879",
      "name": "поиск текущего авто1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -2580,
        3220
      ],
      "credentials": {
        "odooApi": {
          "id": "ITgOrhO4Hf2QcDtf",
          "name": "odoo dev"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "transportation_rounds",
        "options": {}
      },
      "id": "823b0fb2-76a8-4cf0-a142-84169c830985",
      "name": "разделяем рейсы",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -360,
        3380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3aa7ed1-6303-47fb-b809-ba6de3b31013",
              "leftValue": "={{ $json.car[0] }}",
              "rightValue": "={{ $('поиск текущего авто1').all()[0].json.id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e1e1a595-9fb9-4e4b-a623-e74031ddd144",
      "name": "рейсы определённого авто",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -180,
        3380
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('айди водителя1').item.json.tg_id }}",
        "text": "={{ \"Изменился порядок перевозок на сегодня:\\n\\n\" + $('в единое сообщение').item.json.combinedMessages }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "644661c6-6524-48f0-bca7-9a65a5d5fab9",
      "name": "без кнопок",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        3220
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61ebb6c3-eae3-4025-b851-d268efcb22c5",
              "leftValue": "={{ $('рейсы определённого авто').all()[0].json.status }}",
              "rightValue": "Выполняется",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "04a8b80a-9a59-471b-9362-527b074e2847",
      "name": "первый рейс выполняется?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        3380
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "ae7c2f7d-9360-409c-a69a-f58e5659587c",
      "name": "всего рейсов",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        40,
        3380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb2040a1-7342-42fa-a94f-96b6d7b881e0",
              "leftValue": "={{ $json.count_id }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "57c32241-55a5-42ad-9e7b-89a0c034d927",
      "name": "один рейс?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        3380
      ]
    },
    {
      "parameters": {
        "url": "https://dev.everest.lamart.site/get_full_quarry_work",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('авторизация1').item.json.headers['set-cookie'][0] }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "full_quarry_work_id",
              "value": "={{ $json.quarry_work[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d46b5c3a-b02a-4945-adb4-d388a8fa8c4b",
      "name": "данные работ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3660,
        3160
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "=quarry.work",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "car",
              "value": "={{ $('поиск текущего авто1').all()[0].json.id }}"
            },
            {
              "fieldName": "start_time",
              "operator": "greaterOrEqual",
              "value": "={{ $today }}"
            }
          ]
        }
      },
      "id": "70202cc2-d6ba-4328-b0f8-125ce89c1244",
      "name": "работа в карьере",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -500,
        3080
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "ITgOrhO4Hf2QcDtf",
          "name": "odoo dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d416c370-c4bf-4545-a03b-180013468e4f",
              "leftValue": "={{ $json.count_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "49c7a596-7381-47bd-a161-d62e0b2b69f4",
      "name": "есть выполняющиеся?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        3000
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f1ce84c-6a03-4a03-9646-a4f438302c46",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Выполняются",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a4643991-f213-40ee-9bbf-742d69021b1b",
      "name": "только выполняющиеся",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -320,
        3080
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "={{ $('айди водителя1').item.json.tg_id }}",
        "text": "={{ \"Изменился порядок перевозок на сегодня:\\n\\n\" + $('в единое сообщение').item.json.combinedMessages }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "eeaea1b6-2815-4c1d-96ff-ebef7f2938cf",
      "name": "карьер без кнопок",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        260,
        2980
      ],
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Поменяй потом\nsession_id=88ccf62b42920ec8fc3a7e36c1bbc079208fa499; Expires=Fri, 17 Oct 2025 05:43:43 GMT; Max-Age=604800; HttpOnly; Path=/\nна\n{{ $('авторизация').item.json.headers['set-cookie'][0] }}\n\nв двух нодах: получаем роль и склеиваем данные",
        "height": 434.3417957083881,
        "width": 676.2295720009513,
        "color": 3
      },
      "id": "0db1ad3a-b1d8-4661-824b-f0bb57387769",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1180,
        1980
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev/change_maintenance",
        "authentication": "basicAuth",
        "options": {}
      },
      "id": "8835b708-7244-4339-9f6b-8d487567caf5",
      "name": "смена статуса заявки",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4300,
        2180
      ],
      "webhookId": "152d7c74-b120-4c93-8437-4209442ecc9a",
      "credentials": {
        "httpBasicAuth": {
          "id": "uHcFMSp9IXmPMRB4",
          "name": "queue webhook"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev/queue",
        "authentication": "basicAuth",
        "options": {}
      },
      "id": "69cbb88c-840a-47f1-bf2a-b5ef6a5d26e7",
      "name": "Webhook1 dev1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4500,
        3240
      ],
      "webhookId": "e6a5dcca-6f85-49f3-96b8-8dbeb67aa115",
      "credentials": {
        "httpBasicAuth": {
          "id": "uHcFMSp9IXmPMRB4",
          "name": "queue webhook"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "6a0a6be1-58d0-4006-925c-6633995ba423",
      "name": "всего рейсов1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -120,
        3080
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "updates": [
          "message",
          "*"
        ],
        "additionalFields": {}
      },
      "id": "133b0513-296c-431d-a4aa-43406cabc828",
      "name": "TG_trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2940,
        1540
      ],
      "webhookId": "53a6c965-bcc6-45c5-b93f-16f0c799dae1",
      "credentials": {
        "telegramApi": {
          "id": "zIPbVZ3veqdzh1DY",
          "name": "EXPO Bot"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger3": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-10-23T04:26:48.010Z",
      "updatedAt": "2024-10-23T04:26:48.010Z",
      "id": "JCe8bZJMnidbNOwE",
      "name": "EXPO"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-10-25T06:39:14.933Z",
  "versionId": "d1e34931-c674-4da0-a451-69c079025e33"
}