workflows/old_prod.json
{
  "active": false,
  "connections": {
    "добавляет пользователя, если не существует": {
      "main": [
        [
          {
            "node": "получаем первый статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "есть ли статус": {
      "main": [
        [
          {
            "node": "актуальный статус",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "меняем статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем первый статус": {
      "main": [
        [
          {
            "node": "есть ли статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус": {
      "main": [
        [
          {
            "node": "получаем первый статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "актуальный статус": {
      "main": [
        [
          {
            "node": "проверка статуса авторизации1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус1": {
      "main": [
        [
          {
            "node": "отправляем кнопку контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка нажатия кнопки контакта": {
      "main": [
        [
          {
            "node": "номер телефона",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "не ввели контакт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем id по mobile_phone": {
      "main": [
        [
          {
            "node": "проверяем наличие",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем наличие": {
      "main": [
        [
          {
            "node": "меняем статус на \"авторизован\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "пишем, что номера нет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка типа входных данных": {
      "main": [
        [
          {
            "node": "Проверка медиа",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу ВОДИТЕЛЬ_ИНЛАЙН",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус на \"авторизован\"": {
      "main": [
        [
          {
            "node": "проверка роли после авторизации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "номер телефона": {
      "main": [
        [
          {
            "node": "получаем id по mobile_phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "авторизация": {
      "main": [
        [
          {
            "node": "добавляет пользователя, если не существует",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка статуса авторизации1": {
      "main": [
        [
          {
            "node": "меняем статус1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "проверка нажатия кнопки контакта",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "получаем роль",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "склеиваем данные": {
      "main": [
        [
          {
            "node": "ветки для ролей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка медиа": {
      "main": [
        [
          {
            "node": "воркфлоу ВОДИТЕЛЬ МЕДИА",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу ВОДИТЕЛЬ_РЕПЛАЙ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger3": {
      "main": [
        [
          {
            "node": "дата через неделю1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата через неделю1": {
      "main": [
        [
          {
            "node": "документы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "склоняем1": {
      "main": [
        [
          {
            "node": "склеиваем1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "округляем1": {
      "main": [
        [
          {
            "node": "объединяем доки+дата с разницей во времени1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "разница в днях1": {
      "main": [
        [
          {
            "node": "округляем1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объединяем доки+дата с разницей во времени1": {
      "main": [
        [
          {
            "node": "склоняем1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "склеиваем1": {
      "main": [
        [
          {
            "node": "объединяем1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объединяем1": {
      "main": [
        [
          {
            "node": "поиск механиков4",
            "type": "main",
            "index": 0
          },
          {
            "node": "поиск диспетчера1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получение перевозок4": {
      "main": [
        [
          {
            "node": "Сортировка перевозок и работ в карьере",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сортировка перевозок и работ в карьере": {
      "main": [
        [
          {
            "node": "есть ли перевозка1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "есть ли перевозка1": {
      "main": [
        [
          {
            "node": "в единое сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объединяем в один список": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "айди водителя1": {
      "main": [
        [
          {
            "node": "пересылаем, чтобы получить текст прошлого сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получим карточки очереди1": {
      "main": [
        [
          {
            "node": "авторизация1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "сегодняшняя дата2": {
      "main": [
        [
          {
            "node": "если не пустой2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если не пустой2": {
      "main": [
        [
          {
            "node": "объединяем в один список",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "сегодняшняя дата1": {
      "main": [
        [
          {
            "node": "если не пустой1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если не пустой1": {
      "main": [
        [
          {
            "node": "объединяем в один список",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "айди диспетчеров+механиков": {
      "main": [
        [
          {
            "node": "отправка сообщения1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "айди последнего сообщения": {
      "main": [
        [
          {
            "node": "Убираем кнопки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "пересылаем, чтобы получить текст прошлого сообщения": {
      "main": [
        [
          {
            "node": "удаляем прошлое",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "в единое сообщение": {
      "main": [
        [
          {
            "node": "айди водителя1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "работа первая?": {
      "main": [
        [
          {
            "node": "работы в карьере",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "данные перевозки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "первое=работа в карьере": {
      "main": [
        [
          {
            "node": "айди последнего сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "уже начатая перевозка": {
      "main": [
        [
          {
            "node": "айди последнего сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "не начатая перевозка": {
      "main": [
        [
          {
            "node": "айди последнего сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Убираем кнопки": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "удаляем прошлое": {
      "main": [
        [
          {
            "node": "работа первая?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем тг1": {
      "main": [
        [
          {
            "node": "Вывод статуса карточки1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "только готовые уведомляем": {
      "main": [
        [
          {
            "node": "водитель текущего авто",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка роли после авторизации": {
      "main": [
        [
          {
            "node": "логист",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "механик",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "водитель",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "диспетчер",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "наёмник",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "нет роли",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "айди водителя": {
      "main": [
        [
          {
            "node": "текст",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "текст": {
      "main": [
        [
          {
            "node": "отправка уведомления",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем роль": {
      "main": [
        [
          {
            "node": "склеиваем данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные перевозок2": {
      "main": [
        [
          {
            "node": "сегодняшняя дата2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные перевозки": {
      "main": [
        [
          {
            "node": "разделяем рейсы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "разделяем рейсы": {
      "main": [
        [
          {
            "node": "рейсы определённого авто",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рейсы определённого авто": {
      "main": [
        [
          {
            "node": "всего рейсов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "первый рейс выполняется?": {
      "main": [
        [
          {
            "node": "без кнопок",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "один рейс?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "всего рейсов": {
      "main": [
        [
          {
            "node": "первый рейс выполняется?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "один рейс?": {
      "main": [
        [
          {
            "node": "не начатая перевозка",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "уже начатая перевозка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные работ": {
      "main": [
        [
          {
            "node": "сегодняшняя дата1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "есть выполняющиеся?": {
      "main": [
        [
          {
            "node": "карьер без кнопок",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "первое=работа в карьере",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "всего рейсов1": {
      "main": [
        [
          {
            "node": "есть выполняющиеся?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ветки для ролей": {
      "main": [
        [
          {
            "node": "воркфлоу ЛОГИСТ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу МЕХАНИК",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка типа входных данных",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу ДИСПЕТЧЕР",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка типа входных данных",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу СЛЕСАРЬ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Нет роли",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если не равно нулю": {
      "main": [
        [
          {
            "node": "группируем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "группируем": {
      "main": [
        [
          {
            "node": "данные водителя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "склоняем": {
      "main": [
        [
          {
            "node": "отправим сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "итоговое кол-во": {
      "main": [
        [
          {
            "node": "если не равно нулю",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные водителя": {
      "main": [
        [
          {
            "node": "очередь поменялась?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "очередь поменялась?": {
      "main": [
        [
          {
            "node": "сохраним текст",
            "type": "main",
            "index": 0
          },
          {
            "node": "склоняем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "график на завтра": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рейсы": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "на завтра1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "на завтра1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "работы на завтра1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "работы": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "работы на завтра1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "итоговое кол-во",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing2": {
      "main": [
        [
          {
            "node": "рейсы",
            "type": "main",
            "index": 0
          },
          {
            "node": "работы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "авто с завершённой сменой",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "смена статуса заявки": {
      "main": [
        [
          {
            "node": "только готовые уведомляем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "водитель текущего авто": {
      "main": [
        [
          {
            "node": "Получаем тг1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы с истекающим сроком1": {
      "main": [
        [
          {
            "node": "разница в днях1",
            "type": "main",
            "index": 0
          },
          {
            "node": "объединяем доки+дата с разницей во времени1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "айди диспетчеров+механиков",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы": {
      "main": [
        [
          {
            "node": "документы с истекающим сроком1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск механиков4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск диспетчера1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "данные карточек1": {
      "main": [
        [
          {
            "node": "данные перевозок2",
            "type": "main",
            "index": 0
          },
          {
            "node": "данные работ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "авторизация1": {
      "main": [
        [
          {
            "node": "данные карточек1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "поиск текущего авто1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск текущего авто1": {
      "main": [
        [
          {
            "node": "получение перевозок4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1 dev1": {
      "main": [
        [
          {
            "node": "получим карточки очереди1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "работа в карьере",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "только выполняющиеся": {
      "main": [
        [
          {
            "node": "всего рейсов1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "работа в карьере": {
      "main": [
        [
          {
            "node": "только выполняющиеся",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "изменение данных в перевозке": {
      "main": [
        [
          {
            "node": "авто",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "работы в карьере": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "авто": {
      "main": [
        [
          {
            "node": "айди водителя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "история взятия": {
      "main": [
        [
          {
            "node": "график на завтра",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "авто с завершённой сменой": {
      "main": [
        [
          {
            "node": "история взятия",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "авторизация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-17T16:00:23.666Z",
  "id": "1LV1e32wtEHrHyRB",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "old_prod",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tg_users (tg_id) VALUES ($1) ON CONFLICT (tg_id) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ \n  $('Telegram Trigger1').item.json.message?.from.id !== undefined \n  ? $('Telegram Trigger1').item.json.message.from.id \n  : $('Telegram Trigger1').item.json.callback_query.from.id \n}}"
        }
      },
      "id": "366d18ac-1f2f-4523-b09a-25a053261a10",
      "name": "добавляет пользователя, если не существует",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2380,
        1540
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3f1dd178-652c-4e81-8cb6-91df77dfe097",
              "leftValue": "={{ $json.status }}",
              "rightValue": "unauthorized",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ce183e50-b774-450c-bb2a-a65829f3cb4d",
      "name": "есть ли статус",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1980,
        1540
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ \n  $('Telegram Trigger1').item.json.message?.from.id !== undefined \n  ? $('Telegram Trigger1').item.json.message.from.id \n  : $('Telegram Trigger1').item.json.callback_query.from.id \n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "6287ddbd-9b1d-480c-bf95-a21738c4e2fe",
      "name": "получаем первый статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2180,
        1540
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('есть ли статус').item.json.tg_id }}",
            "status": "unauthorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "15ea8439-93bd-49fa-bd96-94fdbf25ed4e",
      "name": "меняем статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -1780,
        1660
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ \n  $('Telegram Trigger1').item.json.message?.from.id !== undefined \n  ? $('Telegram Trigger1').item.json.message.from.id \n  : $('Telegram Trigger1').item.json.callback_query.from.id \n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b2ac39e9-1a81-4b7e-9e1e-6b8ae7903d86",
      "name": "актуальный статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -1540,
        1520
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.tg_id }}",
            "status": "input_number"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "3fb1d03c-13c0-4eca-bde2-85f6f85c7c76",
      "name": "меняем статус1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -880,
        660
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Чтобы войти, поделитесь контактом",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться контактом",
                    "additionalFields": {
                      "request_contact": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "02a3065e-ee33-49c8-a068-7a1c2e091969",
      "name": "отправляем кнопку контакта",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -620,
        660
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4d79f0bd-02e2-413a-b219-bfc80a34c855",
              "leftValue": "={{ $('Telegram Trigger1').item.json.message.contact.phone_number }}",
              "rightValue": "Вы не нажали кнопку \"поделиться контактом\"",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "37fb9ab8-96a7-43ab-8672-c3ba70936ef0",
      "name": "проверка нажатия кнопки контакта",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -875,
        860
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": []
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "mobile_phone",
              "value": "={{  $json.str.startsWith('+') ? $json.str : '+' + $json.str; }}"
            }
          ]
        }
      },
      "id": "bbf49e40-13ca-45d5-b446-5192d0f10d8c",
      "name": "получаем id по mobile_phone",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -455,
        860
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "8fI2woAI3HZ7dHDv",
          "name": "Odoo production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9b905cb5-83c4-4cdb-b1df-7e7f94e2a734",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6ce26fea-8bbe-4d36-9dd0-2bec795ba7b0",
      "name": "проверяем наличие",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -275,
        860
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Такого сотрудника ещё нет в Odoo.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "1d04cd02-efed-4487-9913-c334bd195389",
      "name": "пишем, что номера нет",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -35,
        980
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('актуальный статус').item.json.tg_id }}",
            "odoo_id": "={{ $('проверяем наличие').item.json.id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "9f935347-9201-4615-bad1-b1d43710289d",
      "name": "меняем статус на \"авторизован\"",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -20,
        760
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "content": "## Блок авторизации\n",
        "height": 683.4771536589792,
        "width": 1591.8393730343007,
        "color": 6
      },
      "id": "3cd92bf3-fd20-484c-ae0c-19cb90d27ba9",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -920,
        540
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "11c45e0d-196b-47f1-821e-bee57c9f070b",
              "leftValue": "={{ $('Telegram Trigger1').item.json.hasField(\"message\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5db94a05-9ede-4dda-ba84-c86a8acd1627",
      "name": "Проверка типа входных данных",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        1880
      ]
    },
    {
      "parameters": {
        "content": "## Проверка ролей\n",
        "height": 309.07650486512966,
        "width": 727.3089586054689,
        "color": 6
      },
      "id": "fe03f107-e4b2-4367-b273-277405539601",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        1620
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как логист, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Просмотреть свободные машины",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Оповещение",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Уведомления",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Создание заявки на перевозку",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Начали смену?",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "3c3a0c6e-cfa1-4a96-9f3c-a6f9d429327a",
      "name": "логист",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        460,
        460
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как водитель, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к работе",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Срочно",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Связь с диспетчером",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Моя статистика",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Заявки по авто",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Мой график",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "1fd69f60-d977-44f0-9e5e-98bfafa37099",
      "name": "водитель",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        540,
        660
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как механик, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Клавиатура механика",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "960abcac-e6e2-4b73-8374-86343a65df15",
      "name": "механик",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        640,
        520
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "content": "## Добавление записи в бд при первом запуске",
        "height": 400.90037255076527,
        "width": 857.69326295068,
        "color": 6
      },
      "id": "96ddabec-4ada-41dc-ab0d-0bee1006b2b7",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2440,
        1460
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Вы не нажали кнопку \"поделиться контактом\"",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться контактом",
                    "additionalFields": {
                      "request_contact": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "50c2a49a-d8d0-45f1-b335-1e202d02a1a2",
      "name": "не ввели контакт",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -620,
        1060
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Роль не указана",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "312dab11-077d-4103-81e5-d017908b866e",
      "name": "Нет роли",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        0,
        2200
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c7a2f2e-c8b7-431a-8a0b-5dc40efd8909",
              "name": "str",
              "value": "={{ $('Telegram Trigger1').item.json.message.contact.phone_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "1e31219a-b8d8-44a8-b74f-bdc561311bf8",
      "name": "номер телефона",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -615,
        860
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "Вы авторизовались, но у вас не указана роль в Odoo",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "fc70e0cd-996f-4a50-992b-188e7f8db46b",
      "name": "нет роли",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        340,
        1120
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://everest.lamart.site/web/session/authenticate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"call\",\n    \"params\": {\n        \"db\": \"db\",\n        \"login\": \"aleksey.g@lamart.site\",\n        \"password\": \"cXYgjue4D8gVC9A\"\n    }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "efb240a0-ce5b-4cf5-b0c3-10ad40908109",
      "name": "авторизация",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2640,
        1540
      ],
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": "54iXtVLAjmCsupv8",
        "options": {}
      },
      "id": "38d6d329-c8b2-4dbf-999f-73a7aa9a0e91",
      "name": "воркфлоу ЛОГИСТ",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        360,
        1420
      ]
    },
    {
      "parameters": {
        "workflowId": "dzp2tXGnKaiBneAQ",
        "options": {}
      },
      "id": "91166fd4-49ef-49ae-aab7-400d5ed959da",
      "name": "воркфлоу МЕХАНИК",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        360,
        1600
      ]
    },
    {
      "parameters": {
        "workflowId": "A2qOmwdTNLDlUzRU",
        "options": {}
      },
      "id": "cfb1a65c-be0b-480d-9509-16cfa0aaec9a",
      "name": "воркфлоу ВОДИТЕЛЬ_РЕПЛАЙ",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1040,
        2440
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "77fe838f-5f60-44cc-a654-5adcbbebf8bb",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "7dc92754-779a-4427-ba34-e7c6a59cb5c6",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "input_number",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "0a655654-f74b-49bf-8d6b-2dcdff12f21f",
      "name": "проверка статуса авторизации1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1240,
        1520
      ]
    },
    {
      "parameters": {
        "workflowId": "aWP89ViC6zly3vSU",
        "options": {}
      },
      "id": "cef4137d-6193-4fa8-83d3-0e9e31887cc6",
      "name": "воркфлоу ВОДИТЕЛЬ_ИНЛАЙН",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        760,
        2040
      ]
    },
    {
      "parameters": {
        "content": "## Водитель\nу водителя много нод, поэтому они вынесены в отдельные воркфлоу",
        "height": 469.99969888850467,
        "width": 991.3552023907823,
        "color": 6
      },
      "id": "baa7d526-4a64-4b6a-be8c-b6f630f228dd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        1780
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nvar res = {};\n\nfor (const item of $input.all()) {\n  Object.assign(res, $('Telegram Trigger1').item.json);\n  Object.assign(res, $('актуальный статус').item.json);\n  Object.assign(res, { cookie: 'session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/' });\n}\n\nreturn res;"
      },
      "id": "c12bac50-657d-4a0d-a29c-a9dde48719ca",
      "name": "склеиваем данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -520,
        1700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "2bd61e7b-a58d-4c5d-81d2-ec5f92c0ee0d",
              "leftValue": "={{ $json.message.photo[0].file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "beb896d6-88c5-4a2c-8278-489d76a2eca6",
              "leftValue": "={{ $json.message.voice.file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "0228f7b6-101d-46f6-98b3-0fa3b02263be",
              "leftValue": "={{ $json.message.video_note.file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "0bd83324-348f-4eae-aa8b-5f00ce5638ee",
              "leftValue": "={{ $json.message.video.file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "6215b9af-e596-4da4-9e2c-1f530c5bf461",
      "name": "Проверка медиа",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        860,
        1880
      ]
    },
    {
      "parameters": {
        "workflowId": "SRsidC506x4IfOx3",
        "options": {}
      },
      "id": "7e27770c-774e-4b7e-bde5-5f0df5a1dd9a",
      "name": "воркфлоу ВОДИТЕЛЬ МЕДИА",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1120,
        1860
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как диспетчер, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboardRemove",
        "replyKeyboardRemove": {
          "remove_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "29ad7873-f357-45ae-bb80-0ae217161319",
      "name": "диспетчер",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        720,
        720
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "q9mBz1gtrnLcs156",
        "options": {}
      },
      "id": "24a4b86a-0e0b-4092-852c-4e1f20ac81d0",
      "name": "воркфлоу ДИСПЕТЧЕР",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        140,
        1920
      ]
    },
    {
      "parameters": {
        "content": "## Проверка состояния карточек и отправка статуса водителю",
        "height": 369.4704439473635,
        "width": 1212.5764986840902,
        "color": 6
      },
      "id": "c76d7df8-1df5-4755-9708-04d5e61f12e5",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4400,
        2020
      ],
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 18
            }
          ]
        }
      },
      "id": "a767c21f-9b31-475b-a35d-e53a2f2adff5",
      "name": "Schedule Trigger3",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -4420,
        2580
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $today }}",
        "duration": 7,
        "options": {}
      },
      "id": "c8757109-1433-45e9-97f4-cd7f4ef4750a",
      "name": "дата через неделю1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -4260,
        2580
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n    days = abs(item.json.timeDifference)\n    if days % 100 // 10 == 1:\n        item.json.sklonenie = \"дней\"\n    elif days % 10 == 1:\n        item.json.sklonenie = \"день\"\n    elif days % 10 in [2, 3, 4]:\n        item.json.sklonenie = \"дня\"\n    else:\n        item.json.sklonenie = \"дней\"\nreturn _input.all()"
      },
      "id": "26e0f7af-6e93-4aa9-89ab-f992a638abdf",
      "name": "склоняем1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3140,
        2740
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0bd3f1ff-9963-406f-b40f-8c9e47ba7e30",
              "name": "timeDifference",
              "value": "={{ $json.timeDifference.days.round() }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "a8b126f2-fe66-4bd4-839b-402e5868caac",
      "name": "округляем1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -3500,
        2580
      ]
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $today }}",
        "endDate": "={{ $json.expiration_date }}",
        "options": {}
      },
      "id": "9da8acee-e71b-4fc4-abca-5361c1907c74",
      "name": "разница в днях1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -3740,
        2580
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "203e39c6-7706-430e-bff2-2358cc376797",
      "name": "объединяем доки+дата с разницей во времени1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -3340,
        2740
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "386f4fe1-4858-4421-a50e-867e5ca497fc",
              "name": "message",
              "value": "=⚠️Через {{ $json.timeDifference }} {{ $json.sklonenie }} истекает срок документа <b>{{ $json.display_name }}</b>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "26c3eff9-6618-45ba-b692-08c7f3580025",
      "name": "склеиваем1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -2920,
        2740
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "message",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "id": "63dc0a12-4986-4850-838e-5ae11583b52d",
      "name": "объединяем1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -2700,
        2740
      ]
    },
    {
      "parameters": {
        "content": "## Проверка срока документов механик + диспетчер\n",
        "height": 460.7511085684256,
        "width": 2525.6327042306157,
        "color": 6
      },
      "id": "805e5730-0696-4c98-bf74-cee18a29bafc",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4420,
        2460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "={{ $('объединяем1').item.json.concatenated_message }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "6a39626e-dba8-4d20-b812-fa36089b01e9",
      "name": "отправка сообщения1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -2040,
        2740
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/transportations_by_car",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "=session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number_car",
              "value": "={{ $json.number_car }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9cba08ef-2e01-4663-bd7b-74c8fbb1e3d0",
      "name": "получение перевозок4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2380,
        3220
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet allItems = [];\n\nfor (let i = 0; i < items.length; i++) {\n    const { transportations, full_quarry_work } = items[i].json;\n\n    if (transportations && Array.isArray(transportations)) {\n        allItems = allItems.concat(transportations);\n    }\n    if (full_quarry_work && Array.isArray(full_quarry_work)) {\n        allItems = allItems.concat(full_quarry_work);\n    }\n}\n\nallItems = allItems.filter(item => item.hasOwnProperty('sequence'));\nallItems.sort((a, b) => a.sequence - b.sequence);\n\nreturn allItems.map(item => ({ json: item }));\n"
      },
      "id": "e3401320-5dab-474f-9fd8-0fc6c57e89e9",
      "name": "Сортировка перевозок и работ в карьере",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2100,
        3220
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "e24d83cc-dc2d-4d01-8af3-ff146b515d82",
              "leftValue": "={{ $('Сортировка перевозок и работ в карьере').item.json }}",
              "rightValue": "Срочная",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2b7bba69-3072-414f-93c2-75aeaf3e81c2",
      "name": "есть ли перевозка1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1880,
        3220
      ]
    },
    {
      "parameters": {},
      "id": "b7a4d33e-e9a5-4c86-b17b-bb72d2f6c25a",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -2780,
        3220
      ]
    },
    {
      "parameters": {},
      "id": "15a7cb51-0ce4-4a77-a5d8-f78fb36d655b",
      "name": "объединяем в один список",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        -2980,
        3220
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $('поиск текущего авто1').all()[0].json.driver_id[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eea750f6-39f0-4e42-9e12-171f6cd6d68e",
      "name": "айди водителя1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -1420,
        3200
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.resequenced_data",
        "options": {}
      },
      "id": "b2dd54d3-701a-4499-b5dd-440b41974b17",
      "name": "получим карточки очереди1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -4300,
        3240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "a9d8f664-deb0-47c2-b8f1-bea1a09d8139",
              "leftValue": "={{ $json.transportation[0].date }}",
              "rightValue": "={{ $today.format('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ed68e5cc-3bae-4214-b7b5-9a10d353ad04",
      "name": "сегодняшняя дата2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -3440,
        3300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6d9aa25a-ccec-4bbd-9e1f-e90cc391fdc0",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4e352576-64e1-4964-95f7-566c71aecc6e",
      "name": "если не пустой2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3240,
        3300
      ]
    },
    {
      "parameters": {
        "content": "## Проверка: изменена очередь на сегодня или нет.",
        "height": 394.06284454438725,
        "width": 1522.0410589173039
      },
      "id": "5edf69f3-e169-4423-8457-efd85517d917",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4180,
        3080
      ]
    },
    {
      "parameters": {
        "content": "## Вывод очереди водителю",
        "height": 389.6622559205192,
        "width": 1389.3708193435414,
        "color": 5
      },
      "id": "05e4a59c-9614-4731-9775-fe54d4d9fd36",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2640,
        3080
      ]
    },
    {
      "parameters": {
        "content": "## Изменение номера в очереди перевозок",
        "height": 476.4075860221335,
        "width": 3314.408122191204,
        "color": 6
      },
      "id": "f8855af3-e0d5-4bd2-97f6-65de3f9b0d93",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4542.069450478657,
        3020
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "a9d8f664-deb0-47c2-b8f1-bea1a09d8139",
              "leftValue": "={{ $json.date }}",
              "rightValue": "={{ $today.format('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "75aace08-0f42-4505-9d4a-a2f9cd58f401",
      "name": "сегодняшняя дата1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        -3440,
        3160
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6d9aa25a-ccec-4bbd-9e1f-e90cc391fdc0",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cc622c2c-51e6-4acc-b84b-eec5d38eaf87",
      "name": "если не пустой1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3240,
        3160
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "19c6d1ca-082f-423c-926d-ef1c2000aad3",
      "name": "айди диспетчеров+механиков",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2160,
        2520
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('айди водителя1').item.json.tg_id }}",
            "end_round_message_id": "={{ $json.result.message_id }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "car_id_while_inputing",
              "displayName": "car_id_while_inputing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuel_liters",
              "displayName": "fuel_liters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weight_measure",
              "displayName": "weight_measure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_alert_text",
              "displayName": "logist_alert_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_recipient_name",
              "displayName": "logist_recipient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transportation_for_certificate",
              "displayName": "transportation_for_certificate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "count_weight_photo",
              "displayName": "count_weight_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "count_weight_photo_sent",
              "displayName": "count_weight_photo_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "current_quarry_hours",
              "displayName": "current_quarry_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_round_message_id",
              "displayName": "end_round_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "febbea28-bcb2-4bdf-84bf-496ceb5ed16d",
      "name": "айди последнего сообщения",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        800,
        2820
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('айди водителя1').item.json.tg_id }}",
        "messageId": "={{ $('айди водителя1').item.json.end_round_message_id }}",
        "text": "={{ $('пересылаем, чтобы получить текст прошлого сообщения').item.json.result.reply_to_message.text }}",
        "additionalFields": {}
      },
      "id": "6c6fc2d2-e9de-48ac-91cf-28653d2a8bef",
      "name": "Убираем кнопки",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1000,
        2820
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=.",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "parse_mode": "HTML",
          "reply_to_message_id": "={{ $json.end_round_message_id }}"
        }
      },
      "id": "450924e9-8656-4a56-b1a2-3c9a5877983f",
      "name": "пересылаем, чтобы получить текст прошлого сообщения",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1091,
        3171
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "let combinedMessages = \"\";\n\nlet index = 1;\nfor (const item of $input.all()) {\n  const data = item.json;\n\n  const isQuarryWork = data.quarry && data.quarry.length > 1;\n\n  let message = \"\";\n\n  if (isQuarryWork) {\n    const quarry = data.quarry[1];\n    const requiredHours = data.required_hours || 0;\n    const comment = data.comment;\n\n    message = `<b>${index}.</b> Работа в карьере - <b>${quarry}</b>`;\n    if (data.end_condition === \"По часам\") {\n      message += `\\nНеобходимое количество часов - <b>${requiredHours}</b>`;\n    }\n    if (comment !== false) {\n      message += `\\nКомментарий - <i>${comment}</i>`;\n    }\n    message += `\\n\\n`;\n  } else {\n    const sender = data.sender && data.sender.length > 1 ? data.sender[1] : \"\";\n    const partner = data.partner && data.partner.length > 1 ? data.partner[1] : \"\";\n    const placeFrom = data.place_from && data.place_from.length > 1 ? data.place_from[1] : \"\";\n    const placeTo = data.place_to && data.place_to.length > 1 ? data.place_to[1] : \"\";\n    const material =data.material[1].replace(/\\s*\\(.*?\\)\\s*/g, \"\");\n    const comment = data.comment;\n    const endCondition = data.end_condition;\n    const requiredCubicMetre = data.required_cubic_metre || 0;\n    const requiredTon = data.required_ton || 0;\n\n    let route = placeFrom && placeTo ? `${placeFrom}-${placeTo}` : \"\";\n\n    message = `<b>${index}.</b>`;\n    \n    if (sender) message += ` Отправитель - <b>${sender}</b>`;\n    if (partner) message += `\\nПолучатель - <b>${partner}</b>`;\n    if (route) message += `\\nМаршрут - <b>${route}</b>`;\n    if (material) message += `\\nМатериал - <b>${material}</b>`;\n    \n    if (comment !== false) {\n      message += `\\nКомментарий - <i>${comment}</i>`;\n    }\n\n    if (endCondition === \"По перевезенным кубометрам\" && requiredCubicMetre > 0) {\n      message += `\\nТребуемое количество кубометров по перевозке - <b>${requiredCubicMetre}</b>`;\n    }\n\n    if (endCondition === \"По перевезенным тоннам\" && requiredTon > 0) {\n      message += `\\nТребуемое количество тонн по перевозке - <b>${requiredTon}</b>`;\n    }\n\n    if (endCondition === \"Количество рейсов для каждого автомобиля\" && data.round_quantity_for_car > 0) {\n      message += `\\nКоличество рейсов для каждого автомобиля - <b>${data.round_quantity_for_car}</b>`;\n    }\n\n    message += (item.json.concatenated_driver1 ? \"\\n\\nВодители, выполняющие перевозку с вами:\\n\" + item.json.concatenated_driver1 : \"\");\n\n    message += `\\n\\n`;\n  }\n\n\n  combinedMessages += message;\n  index++;\n}\n\nreturn [{ json: { combinedMessages: combinedMessages.trim() } }];\n"
      },
      "id": "1cbacdf3-92bf-4043-b41e-60ffbba0f2fb",
      "name": "в единое сообщение",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1640,
        3200
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "df43e591-4040-4e44-9556-05c0a141bb03",
              "leftValue": "={{ $('есть ли перевозка1').all()[0].json.quarry_works }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d0dc2ef0-a0bb-4874-b7c7-1de371e9c0da",
      "name": "работа первая?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -731,
        3171
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('айди водителя1').item.json.tg_id }}",
        "text": "={{ \"Изменился порядок перевозок на сегодня:\\n\\n\" + $('в единое сообщение').item.json.combinedMessages }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Начать работу в карьере",
                    "additionalFields": {
                      "callback_data": "accept_quarry"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к следующей перевозке",
                    "additionalFields": {
                      "callback_data": "transportation_to_tail"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить смену",
                    "additionalFields": {
                      "callback_data": "complete_work"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "4742ecbb-d4d1-4752-a9cd-092257b858d0",
      "name": "первое=работа в карьере",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        160,
        3200
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('айди водителя1').item.json.tg_id }}",
        "text": "={{ \"Изменился порядок перевозок на сегодня:\\n\\n\" + $('в единое сообщение').item.json.combinedMessages }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Начать рейс",
                    "additionalFields": {
                      "callback_data": "pick"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить смену",
                    "additionalFields": {
                      "callback_data": "complete_work"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "caff0c82-21d0-4865-a80e-e1807d9c0e59",
      "name": "уже начатая перевозка",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        3200
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('айди водителя1').item.json.tg_id }}",
        "text": "={{ \"Изменился порядок перевозок на сегодня:\\n\\n\" + $('в единое сообщение').item.json.combinedMessages }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Начать рейс в новой перевозке",
                    "additionalFields": {
                      "callback_data": "accept"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить смену",
                    "additionalFields": {
                      "callback_data": "complete_work"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "b4852f94-9dda-4faa-bbf5-2d9be68807e2",
      "name": "не начатая перевозка",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        600,
        3040
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "content": "## Смена текста начала рейса при смене очереди",
        "height": 506.9884164964226,
        "width": 1775.1807115607076,
        "color": 6
      },
      "id": "ede082bf-7932-4973-86d8-ab236206aabd",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1120,
        3000
      ]
    },
    {
      "parameters": {
        "errorMessage": "123"
      },
      "id": "4a2eb565-1cfc-4c27-83dc-a9b97f4c6d48",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1240,
        2800
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $json.result.chat.id }}",
        "messageId": "={{ $json.result.message_id }}"
      },
      "id": "e7c5f89b-ba9e-4734-91e6-10dbed601624",
      "name": "удаляем прошлое",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -911,
        3171
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "={{ $('водитель текущего авто').item.json[\"driver_id\"][1] }}\nВаше обращение перенесено в статус <b>{{ $('смена статуса заявки').item.json.body.status }}</b>\n\nТекст вашего обращения:\n<i>{{ $('смена статуса заявки').item.json.body.description_of_maintenance }}</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "eac6af68-a911-4b88-aed3-7c14bd43a90b",
      "name": "Вывод статуса карточки1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -3380,
        2100
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.driver_id[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "109bab49-a854-4f2d-8e64-3092cb8e85f6",
      "name": "Получаем тг1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -3600,
        2100
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "ca93c242-ca4e-4d06-8b64-91a75e30caa7",
              "leftValue": "={{ $json.body.status }}",
              "rightValue": "Готово",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2d375439-69d8-4d17-907c-86cfa9e0d92d",
      "name": "только готовые уведомляем",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.1,
      "position": [
        -4080,
        2180
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Логист",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "15e1453e-b597-4713-8d5b-6f12cf95cdfe",
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Механик",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c007a326-23d6-4d7f-84ee-af7fc0aead66",
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Водитель",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "a0b1b44d-6624-404a-9edc-b87f2556e916",
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Диспетчер",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "ecc22b35-435d-4659-a3dc-72b3bcfae75b",
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Наёмник",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "5db55788-1d73-464f-9ff1-eb72a687debd",
      "name": "проверка роли после авторизации",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        180,
        760
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как наёмник, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к работе",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Связь с диспетчером",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "431a8615-48ae-475c-9cb3-9579d027e8a9",
      "name": "наёмник",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        520,
        900
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.driver_id[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ea972bd2-fe27-4881-81b8-db6f32ac74c1",
      "name": "айди водителя",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -4080,
        3660
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Пример функции для краткого форматирования даты в формате число.месяц.год\nfunction formatDate(date) {\n  if (!date) return date;  // Если дата отсутствует, возвращаем пустую строку\n  return new Date(date).toLocaleDateString('ru-RU');  // Форматируем дату в формате дд.мм.гггг\n}\n\nconst oldValues = $('изменение данных в перевозке').all()[0].json.body.old_values;\nconst newValues = $('изменение данных в перевозке').all()[0].json.body.updated;\n\nlet output = 'Произошли изменения в перевозке <b>' + oldValues.place_from + ' - ' + oldValues.place_to + '</b>:\\n\\n';\n\nfunction createLine(oldValue, newValue, label, isDate = false) {\n  // Если нужно форматировать дату\n  if (isDate) {\n    oldValue = formatDate(oldValue);\n    newValue = formatDate(newValue);\n  }\n  \n  // Проверяем, если значение изменилось и новое значение не undefined\n  if (newValue !== undefined && oldValue !== newValue) {\n    return `${label}: <s>${oldValue}</s> - ${newValue}\\n`;\n  }\n  return '';\n}\n\n// Проверяем только изменённые поля, исключая undefined значения\noutput += createLine(oldValues.date, newValues.date, 'Дата', true);  // true указывает на форматирование даты\noutput += createLine(oldValues.place_from, newValues.place_from, 'От');\noutput += createLine(oldValues.place_to, newValues.place_to, 'До');\noutput += createLine(oldValues.sender, newValues.sender, 'Отправитель');\noutput += createLine(oldValues.partner, newValues.partner, 'Получатель');\noutput += createLine(oldValues.carrier, newValues.carrier, 'Перевозчик');\noutput += createLine(oldValues.type, newValues.type, 'Тип');\noutput += createLine(oldValues.end_condition, newValues.end_condition, 'Условие завершения');\n\n// Возвращаем итоговую строку\nreturn {\n  output\n};\n"
      },
      "id": "954e2457-f031-43d3-9eb6-dc3684cb936b",
      "name": "текст",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3860,
        3660
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('айди водителя').item.json.tg_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "948d0637-3090-4f07-a490-2bedde76df72",
      "name": "отправка уведомления",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3640,
        3660
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "content": "## Отправка изменений",
        "height": 280.1188505499391,
        "width": 1018.060178588168,
        "color": 6
      },
      "id": "a7b34512-52a1-4a63-9e46-cf5691e2e8fb",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4540,
        3580
      ]
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_driver_by_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "driver_id",
              "value": "={{ $json.odoo_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b51a48bd-d070-4dc4-a0fc-d844f190a33e",
      "name": "получаем роль",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -860,
        1720
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_transportation_by_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "=session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transportation_id",
              "value": "={{ $json.car_queue_transportation_rel[0].transportation[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bb68f604-576f-4331-b9ff-795a12b4f4b5",
      "name": "данные перевозок2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3660,
        3320
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_rounds_by_transportation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "=session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "transportation_id",
              "value": "={{ $('есть ли перевозка1').all()[0].json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "75807aab-5e87-4fb1-bc92-8b90db1eec8d",
      "name": "данные перевозки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -600,
        3380
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "transportation_rounds",
        "options": {}
      },
      "id": "af6a30e2-1ccf-4788-8727-75555b5f43d4",
      "name": "разделяем рейсы",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -360,
        3380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3aa7ed1-6303-47fb-b809-ba6de3b31013",
              "leftValue": "={{ $json.car[0] }}",
              "rightValue": "={{ $('поиск текущего авто1').all()[0].json.id }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "94fe8bd4-6b06-4742-8500-69dcd1aab20d",
      "name": "рейсы определённого авто",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -180,
        3380
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('айди водителя1').item.json.tg_id }}",
        "text": "={{ \"Изменился порядок перевозок на сегодня:\\n\\n\" + $('в единое сообщение').item.json.combinedMessages }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "e23c3b38-f05c-4abb-9033-cca557edf6b5",
      "name": "без кнопок",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        3220
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61ebb6c3-eae3-4025-b851-d268efcb22c5",
              "leftValue": "={{ $('рейсы определённого авто').all()[0].json.status }}",
              "rightValue": "Выполняется",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d948d6e5-1235-40ed-85f4-e22a31713e25",
      "name": "первый рейс выполняется?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        240,
        3380
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "05d2c3bc-4de4-4931-a8d8-66d51d1a45db",
      "name": "всего рейсов",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        40,
        3380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cb2040a1-7342-42fa-a94f-96b6d7b881e0",
              "leftValue": "={{ $json.count_id }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "55a41d2b-2504-417a-ba64-892ec9b6e064",
      "name": "один рейс?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        3380
      ]
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_full_quarry_work",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "=session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "full_quarry_work_id",
              "value": "={{ $json.quarry_work[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "08b2ba97-07a7-4a64-a460-539cfa5a62aa",
      "name": "данные работ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3660,
        3160
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d416c370-c4bf-4545-a03b-180013468e4f",
              "leftValue": "={{ $json.count_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "da1bfb12-51a7-43a1-a76f-ccaea286db12",
      "name": "есть выполняющиеся?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        40,
        3000
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('айди водителя1').item.json.tg_id }}",
        "text": "={{ \"Изменился порядок перевозок на сегодня:\\n\\n\" + $('в единое сообщение').item.json.combinedMessages }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "d3dea659-2e6b-404e-9041-c63473dac869",
      "name": "карьер без кнопок",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        260,
        2980
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "content": "## Куки менять в нодах:\n- получаем роль и склеиваем данные в \"получаем роль\"\n- проверка состояния карточки\n",
        "height": 434.3417957083881,
        "width": 676.2295720009513,
        "color": 3
      },
      "id": "8d11ef84-79cb-4597-b101-e16a9d1cabd3",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        2000
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "95a73b97-4f71-48d4-8c02-be9c191f89c1",
      "name": "всего рейсов1",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -100,
        3180
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": "03D5YGhXMcZLQb6Y",
        "options": {}
      },
      "id": "51713989-2ee8-4853-8943-401b099e1c8f",
      "name": "воркфлоу СЛЕСАРЬ",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        360,
        2280
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Логист",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "8c711320-cf09-453c-9f7f-dd3e02d0d308",
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Механик",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "a06fb869-7c18-4036-9ca4-f2f7fa9005d8",
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Водитель",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "62c1396b-c91f-4fe9-968e-63fad325a2da",
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Диспетчер",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "06f8996e-e8af-4163-ac0f-4fe4b0bcc7c5",
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "=Наёмник",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "9a58554b-ec06-407c-b8c5-ca804170d9f0",
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Слесарь",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "49ba7cdc-e801-46d2-a66d-cd5e85df9862",
      "name": "ветки для ролей",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -160,
        1700
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "308060bc-fb9d-4379-af49-994a6c61365b",
              "leftValue": "={{ $json.count_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "d8cd196a-394b-4169-aadf-fd3499170c52",
              "leftValue": "={{ $json.count_id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "509ec7e5-8901-4ade-9561-a52ed79289fc",
      "name": "если не равно нулю",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2840,
        4074
      ]
    },
    {
      "parameters": {
        "jsCode": "const groupedFlights = {};\n\n$('Loop Over Items').all().forEach(it => {\n  var entry = it.json;\n  const carName = entry.car[1]; // Извлекаем название автомобиля\n  const flightInfo = entry.transportation !== undefined ? entry.transportation[1].substring(11) : entry.shift[1].substring(11); // Извлекаем информацию о рейсе\n\n  if (!groupedFlights[carName]) {\n    groupedFlights[carName] = [];\n  }\n\n  groupedFlights[carName].push(flightInfo);\n});\n\n// Формирование итоговой строки\nlet result = '';\n\nfor (const [car, flights] of Object.entries(groupedFlights)) {\n  result += `${car}:\\n`;\n  result += flights.join('\\n') + '\\n\\n';\n}\n\n// Вывод результата\nreturn {res: result};"
      },
      "id": "a586855b-3435-498d-90d9-66c9469550fa",
      "name": "группируем",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2620,
        4054
      ]
    },
    {
      "parameters": {
        "jsCode": "function getTransportationWord(count) {\n  const lastDigit = count % 10;\n  const lastTwoDigits = count % 100;\n\n  let transportationWord;\n  if (lastDigit === 1 && lastTwoDigits !== 11) {\n    transportationWord = \"перевозка\";\n  } else if ((lastDigit >= 2 && lastDigit <= 4) && (lastTwoDigits < 12 || lastTwoDigits > 14)) {\n    transportationWord = \"перевозки\";\n  } else {\n    transportationWord = \"перевозок\";\n  }\n\n  return `${count} ${transportationWord}`;\n}\n\n// Функция для склонения слова \"запланировано\"\nfunction getPlannedWord(count) {\n  const lastDigit = count % 10;\n  const lastTwoDigits = count % 100;\n\n  if (lastDigit === 1 && lastTwoDigits !== 11) {\n    return \"запланирована\";\n  } else if ((lastDigit >= 2 && lastDigit <= 4) && (lastTwoDigits < 12 || lastTwoDigits > 14)) {\n    return \"запланированы\";\n  } else {\n    return \"запланированы\";\n  }\n}\nvar count = $('итоговое кол-во').all()[0].json.count_id;\nvar ans = getPlannedWord(count) + ' ' + getTransportationWord(count);\nreturn {'trans': ans}"
      },
      "id": "87595828-ec3c-4f0c-9a57-8508743a17af",
      "name": "склоняем",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2040,
        4114
      ]
    },
    {
      "parameters": {
        "content": "## Вывод на завтра",
        "height": 902.7271656633407,
        "width": 2960.4673426000354,
        "color": 6
      },
      "id": "f446e61f-e1a3-4f2e-9295-59fba03154d9",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4364.9483716860495,
        3940
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "d13c7b9c-d71b-430d-99ef-2524c25a8351",
      "name": "итоговое кол-во",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        -3040,
        4094
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.tg_id }}",
            "last_message_text": "={{ $('группируем').item.json.res }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "car_id_while_inputing",
              "displayName": "car_id_while_inputing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuel_liters",
              "displayName": "fuel_liters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weight_measure",
              "displayName": "weight_measure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_alert_text",
              "displayName": "logist_alert_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_recipient_name",
              "displayName": "logist_recipient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transportation_for_certificate",
              "displayName": "transportation_for_certificate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "count_weight_photo",
              "displayName": "count_weight_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "count_weight_photo_sent",
              "displayName": "count_weight_photo_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "current_quarry_hours",
              "displayName": "current_quarry_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_round_message_id",
              "displayName": "end_round_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_message_text",
              "displayName": "last_message_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "logist_notifications",
              "displayName": "logist_notifications",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "a39f4421-e663-4642-b937-09b9619da9ee",
      "name": "сохраним текст",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2040,
        3954
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('данные водителя').item.json.tg_id }}",
        "text": "=<b>Изменение перевозок</b>\n\nНа завтра у вас {{ $json.trans }}!\n\n{{ $('группируем').item.json.res }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "db8854be-0a02-40ce-a076-02cc926471db",
      "name": "отправим сообщение",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1860,
        4114
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $('история взятия').all()[0].json.employee[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fd773c15-cba2-4bb4-933c-49ac91ef5f70",
      "name": "данные водителя",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        -2440,
        4054
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "de602108-41b5-4245-810b-0f3b96f0a60d",
              "leftValue": "={{ $json.last_message_text }}",
              "rightValue": "={{ $('группируем').item.json.res }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f3b87ce9-a4e9-4e45-a662-e6cdddfc56a8",
      "name": "очередь поменялась?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2260,
        4054
      ]
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_schedules_by_driver",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "=session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "driver_id",
              "value": "={{ $json.employee[0] }}"
            },
            {
              "name": "start_date",
              "value": "={{ $today.plus(1, 'days').format('yyyy-MM-dd') }}"
            },
            {
              "name": "end_date",
              "value": "={{ $today.plus(1, 'days').format('yyyy-MM-dd') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7d13ad80-259b-45e8-9ca8-74a9319b1b2d",
      "name": "график на завтра",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3660,
        4480
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_rounds_by_car",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "=session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "car_id",
              "value": "={{ $json.car[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f51fcb5e-598e-4484-a366-bebc8dcbe445",
      "name": "рейсы",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2780,
        4354
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "transportation_rounds",
        "options": {}
      },
      "id": "366f5b2e-0444-413e-8e81-64002ba12ce0",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2560,
        4334
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d43dbc66-2b4b-4df6-b25a-2c1fd1a22f32",
              "leftValue": "={{ $json.transportation[1].slice(0, 10) }}",
              "rightValue": "={{ $today.plus(1, 'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7d66cc42-1f58-44b7-9c9f-2a2b08df14be",
      "name": "на завтра1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2340,
        4334
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c53394e2-1089-482a-a9bc-66194a5588b8",
              "leftValue": "={{ $json.shift[1].slice(0, 10) }}",
              "rightValue": "={{ $today.plus(1, 'days') }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3778f01a-7253-4684-88b7-94fc6fe9bd26",
      "name": "работы на завтра1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2340,
        4574
      ]
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_quarry_work_by_car",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "=session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "car_id",
              "value": "={{ $json.car[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "96857b40-4431-49a0-8419-2455f2845431",
      "name": "работы",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2780,
        4594
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "quarry_works",
        "options": {}
      },
      "id": "d7cd71b7-efec-405a-a4dd-081b1b33adcf",
      "name": "Split Out2",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2560,
        4574
      ]
    },
    {
      "parameters": {},
      "id": "14160a0c-5fe0-4b43-86ce-f99f8c56b531",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1960,
        4474
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4dc0c7f2-5e7c-4802-9776-c8f8c6e28f99",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -3340,
        4354
      ]
    },
    {
      "parameters": {},
      "id": "637fd93e-2f59-42f2-bdc8-2974c88fd60e",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3020,
        4474
      ]
    },
    {
      "parameters": {},
      "id": "fbbab652-680e-4813-9f13-99f2ed032b7d",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1740,
        4614
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7-23/2 * * *"
            }
          ]
        }
      },
      "id": "0c57887c-3c84-48e0-8348-42b5a77cf0a1",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -4300,
        4474
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prod/change_maintenance",
        "authentication": "basicAuth",
        "options": {}
      },
      "id": "d4c93f6d-deb3-48ec-acf2-a864d55c741e",
      "name": "смена статуса заявки",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4300,
        2180
      ],
      "webhookId": "152d7c74-b120-4c93-8437-4209442ecc9a",
      "credentials": {
        "httpBasicAuth": {
          "id": "uHcFMSp9IXmPMRB4",
          "name": "queue webhook"
        }
      }
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_car_by_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "car_id",
              "value": "={{ $json.body.car_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bb52f461-1845-4ade-ad75-c64d3db57cf2",
      "name": "водитель текущего авто",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3840,
        2100
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a96d47b-6329-437f-aa6b-a6b3fb2b58c8",
              "leftValue": "={{ $json.expiration_date }}",
              "rightValue": "={{ $('дата через неделю1').item.json.newDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            },
            {
              "id": "2475d05c-b23f-449d-aa7f-b1887ca105de",
              "leftValue": "={{ $json.expiration_date }}",
              "rightValue": "={{ $today }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "496ddc97-9734-48f6-9a24-45b32b90edf3",
      "name": "документы с истекающим сроком1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -3940,
        2580
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "5eecf741-5955-43ae-bd8c-a391b0805832",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2320,
        2720
      ]
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_all_documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "198dc64b-127d-4162-a6b5-da00d95d40d5",
      "name": "документы",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -4100,
        2740
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_mechanics",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "51712d77-45ad-4d9f-8a91-845ff47a6dc6",
      "name": "поиск механиков4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2540,
        2620
      ],
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_dispatchers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "7eb72e02-0bee-4815-ba81-93ccdcb76e4c",
      "name": "поиск диспетчера1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2540,
        2800
      ],
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_queue_rel_by_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "=session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "rel_id",
              "value": "={{ $('получим карточки очереди1').item.json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c9d953cf-b3e6-44e1-abb9-babf72aeabe9",
      "name": "данные карточек1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -3860,
        3240
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "\n  {\n    \"headers\": {\n      \"set-cookie\": [\n        \"session_id=c3e4a62a1a8d37aac55955740fe40fb4fbfdb108; Expires=Tue, 11 Nov 2025 06:56:02 GMT; Max-Age=604800; HttpOnly; Path=/\"\n      ]\n    }\n  }\n",
        "options": {}
      },
      "id": "e32e0722-f796-458b-a411-3d0bb9109978",
      "name": "авторизация1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4080,
        3160
      ]
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_car_by_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "car_id",
              "value": "={{ $('Webhook1 dev1').all()[0].json.body.resequenced_data[0].car_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6befcfe7-2f46-4581-914e-b0abf2a72b9d",
      "name": "поиск текущего авто1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2580,
        3220
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prod/queue",
        "authentication": "basicAuth",
        "options": {}
      },
      "id": "db675faf-ca11-41c5-b082-29800875f109",
      "name": "Webhook1 dev1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4500,
        3240
      ],
      "webhookId": "e6a5dcca-6f85-49f3-96b8-8dbeb67aa115",
      "credentials": {
        "httpBasicAuth": {
          "id": "uHcFMSp9IXmPMRB4",
          "name": "queue webhook"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "quarry_works",
        "options": {}
      },
      "id": "a301c06a-8e3c-48c8-9fc7-ac742558e1eb",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -500,
        2980
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f1ce84c-6a03-4a03-9646-a4f438302c46",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Выполняются",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aebd560f-3052-45a7-a05b-4777a4e505de",
      "name": "только выполняющиеся",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -220,
        2980
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0ce1a33e-bccc-4f6a-b58f-1486ebda1507",
              "leftValue": "={{ $json.start_time }}",
              "rightValue": "={{ $today }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a9474c60-6b77-4b5b-b59d-8488e83af825",
      "name": "работа в карьере",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -360,
        2980
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prod/update_transportation",
        "authentication": "basicAuth",
        "options": {}
      },
      "id": "7e054cdc-51a2-43f6-b845-80baaa970cb2",
      "name": "изменение данных в перевозке",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4500,
        3660
      ],
      "webhookId": "90df170f-5431-43ec-a6ac-2fd2aa42683b",
      "credentials": {
        "httpBasicAuth": {
          "id": "uHcFMSp9IXmPMRB4",
          "name": "queue webhook"
        }
      }
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_quarry_work_by_car",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "=session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "car_id",
              "value": "={{ $('поиск текущего авто1').all()[0].json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9bac1fcf-0367-4f6e-a3ae-4f7c7a3fc218",
      "name": "работы в карьере",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -480,
        3180
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_car_by_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "session_id=ededf83a787b3396a2e2e1320f1a1f04dd4b9c31; Expires=Mon, 24 Nov 2025 15:34:02 GMT; Max-Age=604800; HttpOnly; Path=/"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "car_id",
              "value": "={{ $json.body.car_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "25c61336-b964-45d7-bb15-a7a0f2666f34",
      "name": "авто",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -4300,
        3660
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "story.car",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.story_for_car[0] }}"
            }
          ]
        }
      },
      "id": "cfc8eaf4-4115-4203-8769-36f8e8bbbf2f",
      "name": "история взятия",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -3880,
        4474
      ],
      "credentials": {
        "odooApi": {
          "id": "8fI2woAI3HZ7dHDv",
          "name": "Odoo production"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "finish_status",
              "operator": "notEqual",
              "value": "Не завершали"
            }
          ]
        }
      },
      "id": "8d977a22-10ff-401e-b9d7-b4ce68ec7cd0",
      "name": "авто с завершённой сменой",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -4100,
        4474
      ],
      "credentials": {
        "odooApi": {
          "id": "8fI2woAI3HZ7dHDv",
          "name": "Odoo production"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev/wialon_take_auto",
        "authentication": "basicAuth",
        "options": {}
      },
      "id": "e26a52ff-2159-4fe7-b1a7-e4186652bf56",
      "name": "виалон авто взят",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4340,
        5060
      ],
      "webhookId": "e48cff51-ea72-4b82-a844-ac15b292794e",
      "credentials": {
        "httpBasicAuth": {
          "id": "uHcFMSp9IXmPMRB4",
          "name": "queue webhook"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dev/wialon_end_shift",
        "authentication": "basicAuth",
        "options": {}
      },
      "id": "c9a14e33-4752-4bdf-8b58-399a3d652dfb",
      "name": "виалон смена закончена",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4360,
        5220
      ],
      "webhookId": "e48cff51-ea72-4b82-a844-ac15b292794e",
      "credentials": {
        "httpBasicAuth": {
          "id": "uHcFMSp9IXmPMRB4",
          "name": "queue webhook"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prod/no_taking_shift",
        "authentication": "basicAuth",
        "options": {}
      },
      "id": "3b2aac19-875c-4652-af07-deddf16c7d13",
      "name": "опоздания водителей",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -4340,
        4900
      ],
      "webhookId": "e48cff51-ea72-4b82-a844-ac15b292794e",
      "credentials": {
        "httpBasicAuth": {
          "id": "uHcFMSp9IXmPMRB4",
          "name": "queue webhook"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "2fbfc248-ed76-458c-9513-e8e153b320f1",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2980,
        1540
      ],
      "webhookId": "54315eb0-08bc-434f-91a3-3b8660cca2d7",
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Vladivostok",
    "saveManualExecutions": false
  },
  "staticData": {
    "node:Schedule Trigger3": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2024-08-26T14:50:05.418Z",
      "updatedAt": "2024-08-26T14:50:05.418Z",
      "id": "6aWMzdObOVIXsJ6y",
      "name": "production"
    }
  ],
  "triggerCount": 7,
  "updatedAt": "2024-11-25T16:13:40.613Z",
  "versionId": "9ce95fa9-6fb3-497f-9092-afcbcf814dc2"
}