workflows/old_prod_dispatcher.json
{
  "active": false,
  "connections": {
    "проверка типа сообщения": {
      "main": [
        [
          {
            "node": "статус диспетчера",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "инлайн-кнопки для диспетчера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата через неделю": {
      "main": [
        [
          {
            "node": "дата и время 23:59",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "разница в днях": {
      "main": [
        [
          {
            "node": "округляем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "округляем": {
      "main": [
        [
          {
            "node": "объединяем доки+дата с разницей во времени",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объединяем доки+дата с разницей во времени": {
      "main": [
        [
          {
            "node": "склоняем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "склоняем": {
      "main": [
        [
          {
            "node": "сколько дней до окончания срока",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "склеиваем": {
      "main": [
        [
          {
            "node": "объединяем в один список",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "объединяем": {
      "main": [
        [
          {
            "node": "отправка сообщения1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "разница в днях",
            "type": "main",
            "index": 0
          },
          {
            "node": "объединяем доки+дата с разницей во времени",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "если истекло": {
      "main": [
        [
          {
            "node": "объединяем в один список",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объединяем в один список": {
      "main": [
        [
          {
            "node": "объединяем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:59": {
      "main": [
        [
          {
            "node": "документы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:": {
      "main": [
        [
          {
            "node": "документы1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:1": {
      "main": [
        [
          {
            "node": "дата через 14 дней",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:60": {
      "main": [
        [
          {
            "node": "документы2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "сколько дней до окончания срока": {
      "main": [
        [
          {
            "node": "если истекло",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "склеиваем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:2": {
      "main": [
        [
          {
            "node": "документы3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:3": {
      "main": [
        [
          {
            "node": "дата через 21 день",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:61": {
      "main": [
        [
          {
            "node": "документы4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата через 8 дней": {
      "main": [
        [
          {
            "node": "дата и время 23:1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата через 14 дней": {
      "main": [
        [
          {
            "node": "дата и время 23:",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата через 15 дней": {
      "main": [
        [
          {
            "node": "дата и время 23:3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата через 21 день": {
      "main": [
        [
          {
            "node": "дата и время 23:2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата сегодня": {
      "main": [
        [
          {
            "node": "дата и время 23:61",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата сегодня1": {
      "main": [
        [
          {
            "node": "дата и время 23:60",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "разделение на дни для документов": {
      "main": [
        [
          {
            "node": "дата через неделю",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "дата через 8 дней",
            "type": "main",
            "index": 0
          },
          {
            "node": "дата сегодня1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "дата через 15 дней",
            "type": "main",
            "index": 0
          },
          {
            "node": "дата сегодня",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "возврат к выбору периода",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "удаления сообщения с выбором",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка старта1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка кнопок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка кнопок": {
      "main": [
        [
          {
            "node": "выбор периода документов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "отправка водителю": {
      "main": [
        [
          {
            "node": "айди водителя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "сообщение отправлено": {
      "main": [
        [
          {
            "node": "обновляем статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "айди водителя": {
      "main": [
        [
          {
            "node": "данные водителя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "статус диспетчера": {
      "main": [
        [],
        [
          {
            "node": "отправка водителю",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка старта1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "проверка типа сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "введите ответ": {
      "main": [
        [
          {
            "node": "убираем кнопку назад",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "убираем кнопку назад": {
      "main": [
        [
          {
            "node": "меняем статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "инлайн-кнопки для диспетчера": {
      "main": [
        [],
        [],
        [
          {
            "node": "введите ответ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "разделение на дни для документов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные водителя": {
      "main": [
        [
          {
            "node": "сообщение отправлено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы": {
      "main": [
        [
          {
            "node": "документы с истекающим сроком",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы с истекающим сроком": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы1": {
      "main": [
        [
          {
            "node": "документы с истекающим сроком1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы с истекающим сроком1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы2": {
      "main": [
        [
          {
            "node": "документы с истекающим сроком2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы с истекающим сроком2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "документы3": {
      "main": [
        [
          {
            "node": "документы с истекающим сроком3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы4": {
      "main": [
        [
          {
            "node": "документы с истекающим сроком4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы с истекающим сроком3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы с истекающим сроком4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-10T15:11:50.115Z",
  "id": "t8k3MVODJ4DttWrT",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "old_prod_dispatcher",
  "nodes": [
    {
      "parameters": {
        "errorMessage": "dispatcher"
      },
      "id": "c2ff6ab8-9768-4f1a-850b-f698f84e7e66",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        80,
        1380
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11c45e0d-196b-47f1-821e-bee57c9f070b",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d199aad9-3877-4712-bd65-b9228a5f8f00",
      "name": "проверка типа сообщения",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        1080
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $today }}",
        "duration": 7,
        "options": {}
      },
      "id": "4a62b41a-076c-477a-b9e8-c7bf0bc60732",
      "name": "дата через неделю",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        760,
        1680
      ]
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $today }}",
        "endDate": "={{ $json.expiration_date }}",
        "options": {}
      },
      "id": "a23b16dc-7ae4-4266-b337-accc15ca0519",
      "name": "разница в днях",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1620,
        1680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0bd3f1ff-9963-406f-b40f-8c9e47ba7e30",
              "name": "timeDifference",
              "value": "={{ $json.timeDifference.days.round() }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "93466ef3-f25b-470f-8d2a-e2caee884c8c",
      "name": "округляем",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1800,
        1680
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "7d68a007-a44d-4051-ba68-99dfdb7a7545",
      "name": "объединяем доки+дата с разницей во времени",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1960,
        1820
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n    days = abs(item.json.timeDifference)\n    if days % 100 // 10 == 1:\n        item.json.sklonenie = \"дней\"\n    elif days % 10 == 1:\n        item.json.sklonenie = \"день\"\n    elif days % 10 in [2, 3, 4]:\n        item.json.sklonenie = \"дня\"\n    else:\n        item.json.sklonenie = \"дней\"\nreturn _input.all()"
      },
      "id": "b06cab77-1f43-440f-9cf5-881ed43ab53f",
      "name": "склоняем",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        1820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "386f4fe1-4858-4421-a50e-867e5ca497fc",
              "name": "message",
              "value": "=⚠️Через {{ $json.timeDifference }} {{ $json.sklonenie }} истекает срок документа <b>{{ $json.display_name }}</b>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "29c75c3c-c024-43a0-bdb3-4b5b8b3a0e65",
      "name": "склеиваем",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2660,
        1840
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "message",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "id": "763d430a-cc73-4f1a-905e-ceb3caab5e6f",
      "name": "объединяем",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        3080,
        1820
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "expiration_date"
            }
          ]
        },
        "options": {}
      },
      "id": "0323634c-5432-4f2b-8840-c92983c7cf95",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1340,
        1680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3cd5ce67-7030-49fa-b1d7-63e5baca1d30",
              "name": "message",
              "value": "=❗ {{ -$json[\"timeDifference\"] }} {{ $json[\"sklonenie\"] }} назад истёк срок действия документа <b>{{ $json.type_of_document_id[1] }}</b> (был действителен до {{ $json.expiration_date }}) <b>({{ $json.car_id[1] }})</b>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "999c8777-29fa-4f52-a2b0-42937a3a222b",
      "name": "если истекло",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2660,
        1660
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "26c2c9cc-c9df-4e79-b3a7-722cbabf6a70",
      "name": "объединяем в один список",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2880,
        1820
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "={{ $('объединяем').item.json.concatenated_message }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Назад",
                    "additionalFields": {
                      "callback_data": "view_date"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "1472dd4a-56f5-48a1-b1d7-71fa0bba5697",
      "name": "отправка сообщения1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3280,
        1820
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "content": "## Истекшие документы и документы за 7 дней до истечения",
        "height": 369.39864609379947,
        "width": 2774.539456615861
      },
      "id": "9311c177-0e43-4f49-bd28-543cf2119ff8",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        1631
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.newDate }}",
        "format": "=yyyy-MM-dd, 23:59:59",
        "outputFieldName": "newformattedDate",
        "options": {}
      },
      "id": "487704d4-d716-4ee6-a51e-1dee1d0ac003",
      "name": "дата и время 23:59",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        940,
        1680
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.newDate }}",
        "format": "=yyyy-MM-dd, 23:59:59",
        "outputFieldName": "newformattedDate",
        "options": {}
      },
      "id": "03b07263-d192-4955-89f8-3c690cf1fa82",
      "name": "дата и время 23:",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1300,
        2020
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.newDate }}",
        "format": "=yyyy-MM-dd, 00:00:00",
        "outputFieldName": "newformattedDate1",
        "options": {}
      },
      "id": "c1c45232-79b7-47c0-90e2-4dad53240de6",
      "name": "дата и время 23:1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        940,
        2020
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "=yyyy-MM-dd, 00:00:00",
        "outputFieldName": "newformattedDate",
        "options": {}
      },
      "id": "a59767f1-21cc-4804-bb15-9830f75a4993",
      "name": "дата и время 23:60",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        960,
        2180
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.timeDifference }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4d8ac404-b74b-4df3-8919-0de5596a2e53",
                    "leftValue": "={{ $json.timeDifference }}",
                    "rightValue": 31,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b7f7507d-0766-4824-9adb-9d4f55b4c81b",
      "name": "сколько дней до окончания срока",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2340,
        1820
      ]
    },
    {
      "parameters": {},
      "id": "dd79c2c6-f189-4113-a7ba-a5fca5f04d42",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1780,
        2140
      ]
    },
    {
      "parameters": {
        "content": "## Истекшие документы и документы за 8-14 дней до истечения",
        "height": 369.39864609379947,
        "width": 1215.0811098210288
      },
      "id": "ad2098ab-0543-45be-b411-d831795d298e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        1980
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.newDate }}",
        "format": "=yyyy-MM-dd, 23:59:59",
        "outputFieldName": "newformattedDate",
        "options": {}
      },
      "id": "6b0dc3c2-3675-417a-bac5-a724c0c53f2b",
      "name": "дата и время 23:2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1300,
        2380
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.newDate }}",
        "format": "=yyyy-MM-dd, 00:00:00",
        "outputFieldName": "newformattedDate1",
        "options": {}
      },
      "id": "7560c6c6-fd80-427a-b0ff-3ab1980f7129",
      "name": "дата и время 23:3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        940,
        2380
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "=yyyy-MM-dd, 00:00:00",
        "outputFieldName": "newformattedDate",
        "options": {}
      },
      "id": "cab2329d-749b-4a4f-82bd-62fd01117a29",
      "name": "дата и время 23:61",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        960,
        2540
      ]
    },
    {
      "parameters": {},
      "id": "eafaa708-00b5-452c-b660-40988554d517",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1840,
        2520
      ]
    },
    {
      "parameters": {
        "content": "## Истекшие документы и документы за 15-21 дней до истечения",
        "height": 369.39864609379947,
        "width": 1215.0811098210288
      },
      "id": "61839964-5b2e-40b5-aaae-97e73a8c34f7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        2340
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $today }}",
        "duration": 8,
        "options": {}
      },
      "id": "37759843-9581-4b33-ba22-3a19c5e7ba65",
      "name": "дата через 8 дней",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        780,
        2020
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $today }}",
        "duration": 14,
        "options": {}
      },
      "id": "61738bea-8638-4cac-9060-e43d4784e5e7",
      "name": "дата через 14 дней",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1120,
        2020
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $today }}",
        "duration": 15,
        "options": {}
      },
      "id": "e78f3464-e4ed-4ec4-b151-c773fecaaaaf",
      "name": "дата через 15 дней",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        780,
        2380
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $today }}",
        "duration": 21,
        "options": {}
      },
      "id": "21490f12-2941-4a80-9e36-8ef2fa2c43a9",
      "name": "дата через 21 день",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1120,
        2380
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1d085bc1-5760-46c6-9333-bce667aa131e",
      "name": "дата сегодня",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        780,
        2540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e4d033eb-cdc8-4591-b0b1-5c05e92e4be4",
      "name": "дата сегодня1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        780,
        2180
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Выберите за какой период хотите проверить документы:",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "1-7 дней",
                    "additionalFields": {
                      "callback_data": "7_days"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "8-14 дней",
                    "additionalFields": {
                      "callback_data": "14_days"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "15-21 день",
                    "additionalFields": {
                      "callback_data": "21_days"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Назад",
                    "additionalFields": {
                      "callback_data": "delete_date"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "e682d88e-ca31-400e-a8b4-92da12f6ce0e",
      "name": "возврат к выбору периода",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        760,
        2760
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}"
      },
      "id": "a581ddf2-1d25-455a-8b34-f2a6667e3a4f",
      "name": "удаления сообщения с выбором",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        760,
        2940
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "content": "## Проверка сроков документов",
        "height": 1516.856820405149,
        "width": 2918.594993693928,
        "color": 5
      },
      "id": "d876b27e-0731-4246-8c78-51a7cfc5c2b4",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        660,
        1360
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "7_days",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "29768801-6a74-4a14-be52-f00a8c557555",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "14_days",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ddb933c9-04c7-4d8e-b07e-779c610e9c46",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "21_days",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "e674fd05-e952-48d5-b7aa-7cc405f40766",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "view_date",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c9f6d1ed-bbdf-43ea-9a3f-ad3ac67cc13d",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "delete_date",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "cecfedc0-5279-45ca-aa0b-b0f98dd1ee3e",
      "name": "разделение на дни для документов",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        480,
        1820
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "={{ \"/start\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "54592ca6-09a9-4520-adeb-dc5cc26a7eed",
      "name": "Проверка старта1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        940,
        800
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "Выберите за какой период хотите проверить документы:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "1-7 дней",
                    "additionalFields": {
                      "callback_data": "7_days"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "8-14 дней",
                    "additionalFields": {
                      "callback_data": "14_days"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "15-21 день",
                    "additionalFields": {
                      "callback_data": "21_days"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Назад",
                    "additionalFields": {
                      "callback_data": "delete_date"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "10b1ec15-469b-4a53-b22f-ddf1ea85208d",
      "name": "выбор периода документов",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1620,
        660
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "Вы авторизовались как диспетчер",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Документы",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "0d203c14-76c7-4669-b553-d40d27ef549b",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1300,
        660
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Документы",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "5ca3a5ad-9dab-4f13-948d-6e1e5ca71501",
      "name": "Проверка кнопок",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1300,
        820
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.status.substring(11) }}",
        "text": "=Ответ от диспетчера:\n{{ $json.message.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "1a52a3ba-42c8-41a0-8236-48613d390edc",
      "name": "отправка водителю",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "=Сообщение отправлено водителю {{ $json.resource_id[1] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "1d075302-4225-4c32-9c09-3a2c560e2dd7",
      "name": "сообщение отправлено",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.tg_id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "car_id_while_inputing",
              "displayName": "car_id_while_inputing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuel_liters",
              "displayName": "fuel_liters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weight_measure",
              "displayName": "weight_measure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_alert_text",
              "displayName": "logist_alert_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_recipient_name",
              "displayName": "logist_recipient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transportation_for_certificate",
              "displayName": "transportation_for_certificate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "count_weight_photo",
              "displayName": "count_weight_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "count_weight_photo_sent",
              "displayName": "count_weight_photo_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "f20f8e4c-5c26-4f05-965a-fc20b1af579c",
      "name": "обновляем статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1820,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.status.substring(11) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fe04e107-89d6-4ddf-8381-4bc29c60155f",
      "name": "айди водителя",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1180,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.status }}",
                    "rightValue": "inputing_reject_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "383f2506-25b9-48f0-935d-e1e4da6690b6",
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.status }}",
                    "rightValue": "not_urgent",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "99763dd0-2286-4357-9064-2f3b527fe6f7",
      "name": "статус диспетчера",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.message_id }}",
        "text": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.text }}",
        "additionalFields": {}
      },
      "id": "e8890cfe-4d56-4dce-9baa-7f8787a273fa",
      "name": "убираем кнопку назад",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1060,
        1380
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "4a49ab89-11b7-4db9-811d-9bc01615eef2",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        1120
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "Введите ответ на сообщение:",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $json.callback_query.message.message_id }}"
        }
      },
      "id": "5ccdbafe-060a-4fc4-9401-20faa0a1c875",
      "name": "введите ответ",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        860,
        1380
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
            "status": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data.substring(10) }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "car_id_while_inputing",
              "displayName": "car_id_while_inputing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuel_liters",
              "displayName": "fuel_liters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weight_measure",
              "displayName": "weight_measure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_alert_text",
              "displayName": "logist_alert_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_recipient_name",
              "displayName": "logist_recipient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transportation_for_certificate",
              "displayName": "transportation_for_certificate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "count_weight_photo",
              "displayName": "count_weight_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "count_weight_photo_sent",
              "displayName": "count_weight_photo_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "6b9ec3ca-0af9-4a57-830a-f5dd08552ca6",
      "name": "меняем статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        1380
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "reject_TO",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "0dad3c43-0653-485e-bdde-074fb8ca6551",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "accept_TO",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "3ad6054b-15ef-4758-9f3a-43b37605f416",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "answer_to_not_urgent",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "5d5cae12-ba00-44f5-b50d-486d78bdb2cd",
      "name": "инлайн-кнопки для диспетчера",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        480,
        1380
      ]
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_driver_by_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('Execute Workflow Trigger').item.json.cookie }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "driver_id",
              "value": "={{ $json.odoo_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cd951355-b23b-4868-b73a-da95e7761e33",
      "name": "данные водителя",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1380,
        480
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_all_documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('Execute Workflow Trigger').item.json.cookie }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "bcdb3f0e-83fc-4f5f-9a74-0fabae29c52e",
      "name": "документы",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1040,
        1860
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a96d47b-6329-437f-aa6b-a6b3fb2b58c8",
              "leftValue": "={{ $json.expiration_date }}",
              "rightValue": "={{ $('дата и время 23:59').item.json.newformattedDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "67f2f4ec-339a-4e34-999e-4c317950a78c",
      "name": "документы с истекающим сроком",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1140,
        1680
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_all_documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('Execute Workflow Trigger').item.json.cookie }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "0cc1b29e-55c0-484f-90f9-740b0aa80ea8",
      "name": "документы1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1480,
        2000
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a96d47b-6329-437f-aa6b-a6b3fb2b58c8",
              "leftValue": "={{ $json.expiration_date }}",
              "rightValue": "={{ $('дата и время 23:').item.json.newformattedDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            },
            {
              "id": "7b780fe4-6d56-41b2-b157-cdb202f3fab3",
              "leftValue": "={{ $json.expiration_date }}",
              "rightValue": "={{ $('дата и время 23:1').item.json.newformattedDate1 }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "638bd8ff-8535-4595-b162-f9a064da5f73",
      "name": "документы с истекающим сроком1",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1640,
        1980
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_all_documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('Execute Workflow Trigger').item.json.cookie }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "255ee8b2-bbee-4669-b87e-934e6a7b2fbc",
      "name": "документы2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1160,
        2180
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a96d47b-6329-437f-aa6b-a6b3fb2b58c8",
              "leftValue": "={{ $json.expiration_date }}",
              "rightValue": "={{ $('дата и время 23:60').item.json.newformattedDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "431ed935-1acf-4b2f-a0c2-a4b4b56e8647",
      "name": "документы с истекающим сроком2",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1420,
        2160
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_all_documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('Execute Workflow Trigger').item.json.cookie }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "95844255-ed3f-4039-be2c-5a0dd51815f2",
      "name": "документы3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1500,
        2380
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://everest.lamart.site/get_all_documents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('Execute Workflow Trigger').item.json.cookie }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "d376bb24-f036-47aa-9173-778d3adcd4c5",
      "name": "документы4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1160,
        2540
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a96d47b-6329-437f-aa6b-a6b3fb2b58c8",
              "leftValue": "={{ $json.expiration_date }}",
              "rightValue": "={{ $('дата и время 23:2').item.json.newformattedDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            },
            {
              "id": "7b780fe4-6d56-41b2-b157-cdb202f3fab3",
              "leftValue": "={{ $json.expiration_date }}",
              "rightValue": "={{ $('дата и время 23:3').item.json.newformattedDate1 }}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "85059d2f-4cb7-4862-a58f-8d7ab544c7f5",
      "name": "документы с истекающим сроком3",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1660,
        2340
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a96d47b-6329-437f-aa6b-a6b3fb2b58c8",
              "leftValue": "={{ $json.expiration_date }}",
              "rightValue": "={{ $('дата и время 23:61').item.json.newformattedDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "21e5fc6f-8d6e-4c14-9738-2e44e2ad8694",
      "name": "документы с истекающим сроком4",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1420,
        2540
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "update_id": 100633897,
          "callback_query": {
            "id": "2782501072885384678",
            "from": {
              "id": 7090302459,
              "is_bot": false,
              "first_name": "Al",
              "last_name": "Go",
              "language_code": "ru"
            },
            "message": {
              "message_id": 26624,
              "from": {
                "id": 7063451965,
                "is_bot": true,
                "first_name": "Everest n8n",
                "username": "myn8nbotbot"
              },
              "chat": {
                "id": 7090302459,
                "first_name": "Al",
                "last_name": "Go",
                "type": "private"
              },
              "date": 1730893776,
              "text": "Выберите за какой период хотите проверить документы:",
              "reply_markup": {
                "inline_keyboard": [
                  [
                    {
                      "text": "1-7 дней",
                      "callback_data": "7_days"
                    }
                  ],
                  [
                    {
                      "text": "8-14 дней",
                      "callback_data": "14_days"
                    }
                  ],
                  [
                    {
                      "text": "15-21 день",
                      "callback_data": "21_days"
                    }
                  ],
                  [
                    {
                      "text": "Назад",
                      "callback_data": "delete_date"
                    }
                  ]
                ]
              }
            },
            "chat_instance": "4841481297779052467",
            "data": "21_days"
          },
          "tg_id": "7090302459",
          "odoo_id": 19,
          "status": "authorized",
          "only_mech": false,
          "mech_photo": false,
          "end_request_id": 481,
          "materials_photo": false,
          "end_request_hours": null,
          "car_id_while_inputing": 49,
          "fuel_liters": null,
          "weight_measure": "2 м3 ",
          "logist_alert_text": null,
          "logist_recipient_name": null,
          "transportation_for_certificate": null,
          "count_weight_photo": null,
          "count_weight_photo_sent": null,
          "current_quarry_hours": 50,
          "end_round_message_id": 23981,
          "last_message_text": "Отлично, рейс активен. \n\nКарьер Ключевое - Карьер Ключевое\nНеназначенный (Не указан)\n\nПо его завершению нажмите на кнопку \"Завершить рейс\"",
          "logist_notifications": true,
          "creating_transportation": null,
          "cookie": "session_id=b9c645092bc728c977a98c4be377c7c2ac0a2e9e; Expires=Mon, 03 Nov 2025 14:04:36 GMT; Max-Age=604800; HttpOnly; Path=/"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Vladivostok",
    "saveManualExecutions": false
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-26T14:50:05.418Z",
      "updatedAt": "2024-08-26T14:50:05.418Z",
      "id": "6aWMzdObOVIXsJ6y",
      "name": "production"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-11-17T15:58:08.396Z",
  "versionId": "fd57d460-ea7a-49be-9d79-f053cd0cc959"
}