workflows/prod_logist.json
{
  "active": false,
  "connections": {
    "Проверка свободных машин": {
      "main": [
        [
          {
            "node": "Поиск машин со статусом Нет груза",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поиск машин со статусом Нет груза": {
      "main": [
        [
          {
            "node": "Вывод свободных машин",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "проверка типа сообщения",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка типа сообщения": {
      "main": [
        [
          {
            "node": "Проверка старта1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "инлайн кнопки для логиста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "введите текст для всех": {
      "main": [
        [
          {
            "node": "статус=ввод оповещения для всех",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "действительно оповестить всех?": {
      "main": [
        [
          {
            "node": "убираем кнопку назад",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "айди водителей": {
      "main": [
        [
          {
            "node": "рассылка",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рассылка": {
      "main": [
        [
          {
            "node": "преобразуем в 1 переменную",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "преобразуем в 1 переменную": {
      "main": [
        [
          {
            "node": "изменяем сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "все сегодняшние перевозки": {
      "main": [
        [
          {
            "node": "проверка наличия перевозок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получим получателей без дубликатов": {
      "main": [
        [
          {
            "node": "создаём динамически инлайн кнопки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка наличия перевозок": {
      "main": [
        [
          {
            "node": "получим получателей без дубликатов",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "заявки не найдены",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "создаём динамически инлайн кнопки": {
      "main": [
        [
          {
            "node": "отправляем сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "отправляем сообщение": {
      "main": [
        [
          {
            "node": "удаляем прошлое сообщение с заявками",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "введите текст для получателя": {
      "main": [
        [
          {
            "node": "статус=ввод сообщения для получателя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "название получателя": {
      "main": [
        [
          {
            "node": "введите текст для получателя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "кнопка оповещения1": {
      "main": [
        [
          {
            "node": "дефолтный статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "оповестить по перевозке?": {
      "main": [
        [
          {
            "node": "убираем кнопку назад1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "перевозки по получателю": {
      "main": [
        [
          {
            "node": "все рейсы",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "все рейсы": {
      "main": [
        [
          {
            "node": "автомобили по рейсу на смене",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск машин на смене": {
      "main": [
        [
          {
            "node": "айди водителей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "автомобили по рейсу на смене": {
      "main": [
        [
          {
            "node": "айди водителей1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "айди водителей1": {
      "main": [
        [
          {
            "node": "рассылка1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "рассылка1": {
      "main": [
        [
          {
            "node": "преобразуем в 1 переменную1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "преобразуем в 1 переменную1": {
      "main": [
        [
          {
            "node": "изменяем сообщение1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "убираем кнопку назад": {
      "main": [
        [
          {
            "node": "сохраним текст логиста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "убираем кнопку назад1": {
      "main": [
        [
          {
            "node": "сохраним текст логиста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка старта1": {
      "main": [
        [
          {
            "node": "Приветственное сообщений",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка кнопок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка кнопок": {
      "main": [
        [
          {
            "node": "Проверка свободных машин",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Связь с водителем",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Назначение маршрута",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "кнопка оповещения",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "проверка статуса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка статуса": {
      "main": [
        [
          {
            "node": "действительно оповестить всех?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "оповестить по перевозке?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "выбор получателя": {
      "main": [
        [
          {
            "node": "название получателя",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "перевозки по получателю",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "инлайн кнопки для логиста": {
      "main": [
        [
          {
            "node": "введите текст для всех",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "все сегодняшние перевозки",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "кнопка оповещения1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "поиск машин на смене",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "выбор получателя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-17T18:18:21.357Z",
  "id": "rrPKh97VppYZfMgB",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "prod_logist",
  "nodes": [
    {
      "parameters": {
        "content": "## Блок сценария для логиста",
        "height": 862.4168334078684,
        "width": 1267.9135979457083
      },
      "id": "7e209fb7-bcac-4268-9d9e-a0b141b48d03",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "Здравствуй, дорогой логист, приступим к работе?",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Просмотреть свободные машины",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Оповещение",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "2d795d9d-532b-49b8-93e8-d2191bd9b1ac",
      "name": "Приветственное сообщений",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        600,
        580
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "Напишите имя и Фамилию водителя для связи с ним",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "453fecf2-52b6-4c35-81b9-5463a5b9cb13",
      "name": "Связь с водителем",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1340,
        820
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "Сейчас свободны следующие автомобили:",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "f9baeae3-2438-4af9-a62f-2800e5e579fc",
      "name": "Проверка свободных машин",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        980,
        580
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "Для назначения напишите маршрут перевозки",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "e1244bfb-40c8-45e8-8118-a825d756b87e",
      "name": "Назначение маршрута",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1480,
        960
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "=<b>{{ $json.number_car }}, {{ $json.employee_id[1] }}</b>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "897addf4-8e2b-4ab2-a8cc-7e73bd820ece",
      "name": "Вывод свободных машин",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1460,
        580
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": []
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "status",
              "value": "Нет груза"
            }
          ]
        }
      },
      "id": "eda6713e-f148-4ff0-91ae-aacedc071cf3",
      "name": "Поиск машин со статусом Нет груза",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1220,
        580
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "content": "## Вывод свободных машин",
        "height": 273.8075573041622,
        "width": 779.3488585284206,
        "color": 5
      },
      "id": "c0984dc3-d1ff-4eac-b8d2-536be5adf826",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        860,
        540
      ]
    },
    {
      "parameters": {},
      "id": "ae43dc05-827a-45ef-8330-bfd3f6672a4c",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        1120
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "Выберите вариант оповещения водителей:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Оповестить всех",
                    "additionalFields": {
                      "callback_data": "logist_alert_all"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Оповестить по выбранному получателю",
                    "additionalFields": {
                      "callback_data": "logist_alert_transportation"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "6f12645f-bdee-4b83-8d21-c2feb922db94",
      "name": "кнопка оповещения",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1620,
        1080
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11c45e0d-196b-47f1-821e-bee57c9f070b",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d89053b8-d836-4a6a-9214-61a825534e23",
      "name": "проверка типа сообщения",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        100,
        1080
      ]
    },
    {
      "parameters": {
        "errorMessage": "123"
      },
      "id": "a3368334-5921-48a2-9db1-a697af73b524",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -80,
        1280
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Введите текст сообщения для всех водителей:",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Назад",
                    "additionalFields": {
                      "callback_data": "back_to_alert_menu"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "fb8b3cfb-dd56-415c-aa91-3643b54523c9",
      "name": "введите текст для всех",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        560,
        1480
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
            "status": "inputing_alert_for_all"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "car_id_while_inputing",
              "displayName": "car_id_while_inputing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuel_liters",
              "displayName": "fuel_liters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weight_measure",
              "displayName": "weight_measure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "0486d07f-6d5b-419c-97fa-ad0685501b08",
      "name": "статус=ввод оповещения для всех",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        760,
        1480
      ],
      "credentials": {
        "postgres": {
          "id": "JvKzM0ZR1mjzsPky",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Выберите вариант оповещения водителей:",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Оповестить всех",
                    "additionalFields": {
                      "callback_data": "logist_alert_all"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Оповестить по выбранной перевозке",
                    "additionalFields": {
                      "callback_data": "logist_alert_transportation"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "a2efff30-8f7a-4769-873c-4c68d81e0c84",
      "name": "кнопка оповещения1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        560,
        1860
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "=<b>Действительно хотите оповестить всех водителей?</b>\n\nВаше сообщение:\n<i>{{ $('Execute Workflow Trigger').item.json.message.text }}</i>",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Оповестить",
                    "additionalFields": {
                      "callback_data": "alert_all"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Вернуться к выбору",
                    "additionalFields": {
                      "callback_data": "back_to_alert_menu"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "1cb13265-7ea9-40bc-b750-94401e9b95d1",
      "name": "действительно оповестить всех?",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2200,
        1240
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.driver_id[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d4407570-f277-4616-9594-a8dcf77991de",
      "name": "айди водителей",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        760,
        2040
      ],
      "credentials": {
        "postgres": {
          "id": "JvKzM0ZR1mjzsPky",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('айди водителей').item.json.tg_id }}",
        "text": "=Оповещение от логиста:\n<i>{{ $('Execute Workflow Trigger').item.json.logist_alert_text }}</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "387c8f4e-1a25-486a-a191-813a9d3e4691",
      "name": "рассылка",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1000,
        2040
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
            "status": "authorized",
            "logist_alert_text": "={{ $('Execute Workflow Trigger').item.json.message.text }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "car_id_while_inputing",
              "displayName": "car_id_while_inputing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuel_liters",
              "displayName": "fuel_liters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weight_measure",
              "displayName": "weight_measure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_alert_text",
              "displayName": "logist_alert_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "e50acc55-7c3d-4d04-b6e2-47c8d38c936e",
      "name": "сохраним текст логиста",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2700,
        1240
      ],
      "credentials": {
        "postgres": {
          "id": "JvKzM0ZR1mjzsPky",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "content": "## Оповещения для всех водителей на смене",
        "height": 799.4991199079257,
        "width": 1321.0782113186833,
        "color": 6
      },
      "id": "4f53e29c-2e1d-4a7f-8b42-0e10756979fd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        1420
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "c2d9df9f-28ce-4dd3-9902-a5fd8fbd982d",
      "name": "преобразуем в 1 переменную",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1240,
        2040
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.message_id }}",
        "text": "Сообщение будет доставлено всем водителям на смене",
        "additionalFields": {}
      },
      "id": "028a8367-8df8-49d7-ad54-6c5dded86139",
      "name": "изменяем сообщение",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1460,
        2040
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.transportation",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "date",
              "value": "={{ $today }}"
            }
          ]
        }
      },
      "id": "6c60a51a-078e-444b-8541-8d0079669da8",
      "name": "все сегодняшние перевозки",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        560,
        1680
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "partner[1]",
        "options": {}
      },
      "id": "96f0f88c-32ce-4cf4-a570-620a4e00a556",
      "name": "получим получателей без дубликатов",
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 1,
      "position": [
        1000,
        1620
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "6d3ef479-f9d1-4c48-9141-f8120a69fece",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "96cdf55c-13fa-4d92-be87-aa6aa53975b3",
      "name": "проверка наличия перевозок",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        760,
        1680
      ]
    },
    {
      "parameters": {
        "resource": "callback",
        "queryId": "={{ $('Execute Workflow Trigger').item.json.callback_query.id }}",
        "additionalFields": {
          "show_alert": true,
          "text": "Перевозки на сегодня не найдены"
        }
      },
      "id": "f4c934b8-bf4c-429c-be4a-56c8d7a83b08",
      "name": "заявки не найдены",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1000,
        1800
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst buttons = items.map((item, index) => ({\n    text: `${item.json.partner[1]}`,\n    callback_data: `AT_${item.json.partner[1]}` // AT - alert transportation\n}));\n\nconst inlineKeyboard = {\n    inline_keyboard: buttons.map(button => [button])\n};\nconst chatId = $('Execute Workflow Trigger').all()[0].json.callback_query.message.chat.id \nconst token = '7062531188:AAFkpyOiRuXLHFQO8mWKHuftPGglQSruqwo';\nconst url = `https://api.telegram.org/bot${token}/sendMessage`;\n\nconst message = {\n    chat_id: chatId,\n    text: \"Нажмите на получателя\",\n    reply_markup: inlineKeyboard\n};\n\n// Возвращаем данные для запроса\nreturn [\n    {\n        json: {\n            url,\n            message\n        }\n    }\n];\n"
      },
      "id": "d4f29918-cae5-4d09-bb44-f6c2f3fef2ee",
      "name": "создаём динамически инлайн кнопки",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1220,
        1620
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.message }}",
        "options": {}
      },
      "id": "ac701eb9-c91e-462d-ae4b-620a29d56571",
      "name": "отправляем сообщение",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1440,
        1620
      ]
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.message_id }}"
      },
      "id": "8b592b45-5485-4b66-87b0-b1e346001123",
      "name": "удаляем прошлое сообщение с заявками",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1660,
        1620
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=Вы выбрали получателя <b>{{ $json[\"AT_name\"] }}</b>. Введите текст сообщения для водителей:",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Назад",
                    "additionalFields": {
                      "callback_data": "logist_alert_transportation"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "a7e2cee9-3d76-46c0-a6fc-e37347fc6033",
      "name": "введите текст для получателя",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        780,
        2320
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "92ad7c1c-cd84-4fc3-bf35-ca59aedad2a0",
              "name": "AT_name",
              "value": "={{ $json.inline_data.substring(3) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "94a549c6-1425-4738-b5b8-e3d7dbd14cc9",
      "name": "название получателя",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        540,
        2320
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "inputing_alert_for_transportation",
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
            "logist_recipient_name": "={{ $('название получателя').item.json.AT_name }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "car_id_while_inputing",
              "displayName": "car_id_while_inputing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuel_liters",
              "displayName": "fuel_liters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weight_measure",
              "displayName": "weight_measure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_alert_text",
              "displayName": "logist_alert_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_recipient_name",
              "displayName": "logist_recipient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "a2073ed7-62f3-46e9-9627-2a9e00cae986",
      "name": "статус=ввод сообщения для получателя",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1000,
        2320
      ],
      "credentials": {
        "postgres": {
          "id": "JvKzM0ZR1mjzsPky",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "=<b>Действительно хотите оповестить всех водителей по выбранному получателю?</b>\n\nВаше сообщение:\n<i>{{ $('Execute Workflow Trigger').item.json.message.text }}</i>",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Оповестить",
                    "additionalFields": {
                      "callback_data": "alert_transportation"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Вернуться к выбору",
                    "additionalFields": {
                      "callback_data": "back_to_alert_menu"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "13ae118b-907d-4eeb-8ff3-3980a71ba10e",
      "name": "оповестить по перевозке?",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2200,
        1440
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.inline_chat_id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "car_id_while_inputing",
              "displayName": "car_id_while_inputing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuel_liters",
              "displayName": "fuel_liters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weight_measure",
              "displayName": "weight_measure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "3790bb63-7418-49c5-9b31-27d4d70dca3c",
      "name": "дефолтный статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        760,
        1860
      ],
      "credentials": {
        "postgres": {
          "id": "JvKzM0ZR1mjzsPky",
          "name": "Everest production"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.transportation",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "date",
              "value": "={{ $today }}"
            },
            {
              "fieldName": "partner",
              "value": "={{ $('Execute Workflow Trigger').item.json.pg_recipient_name }}"
            }
          ]
        }
      },
      "id": "1a126798-4b07-43c7-bce2-9734d8792a35",
      "name": "перевозки по получателю",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        540,
        2560
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nvar rounds = [];\nfor (const item of $input.all()) {\n  for(const round of item.json.rounds) {\n    rounds.push(round);\n  }\n}\n\nreturn {\"rounds\": rounds};"
      },
      "id": "bfeda33b-6c33-4089-a9db-3dbc0ab6292e",
      "name": "все рейсы",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        2560
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "operator": "notEqual",
              "value": "={{ false }}"
            }
          ]
        }
      },
      "id": "b6768c8b-4517-4539-b9b0-21ef6143eea8",
      "name": "поиск машин на смене",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        560,
        2040
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "rounds",
              "value": "={{ $json.rounds }}"
            },
            {
              "fieldName": "driver_id",
              "operator": "notEqual",
              "value": "={{ false }}"
            }
          ]
        }
      },
      "id": "75e3be7c-ac27-4e0e-ac11-bf0c1da61753",
      "name": "автомобили по рейсу на смене",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1000,
        2560
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.driver_id[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "46cdaee9-c520-455b-b930-82537b87b37b",
      "name": "айди водителей1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1240,
        2560
      ],
      "credentials": {
        "postgres": {
          "id": "JvKzM0ZR1mjzsPky",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('айди водителей1').item.json.tg_id }}",
        "text": "=Оповещение от логиста:\n<i>{{ $('Execute Workflow Trigger').item.json.logist_alert_text }}</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "9d76ec0b-172f-4f33-84af-3a0519120c98",
      "name": "рассылка1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1460,
        2560
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "5cb6cc42-63f4-484e-9978-12d86e7d9397",
      "name": "преобразуем в 1 переменную1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1700,
        2560
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.message_id }}",
        "text": "Сообщение будет доставлено всем водителям с выбранным получателем",
        "additionalFields": {}
      },
      "id": "99c55998-06b0-4653-b959-8a604cf52965",
      "name": "изменяем сообщение1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1920,
        2560
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "content": "## Оповещения по получателю",
        "height": 496.20554104438617,
        "width": 1722.0426037145492,
        "color": 6
      },
      "id": "903121f3-b572-4ed4-99a6-a28b57e01265",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        480,
        2260
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.message.message_id -1 }}",
        "text": "Введите текст сообщения для всех водителей:",
        "additionalFields": {}
      },
      "id": "25ccf947-7b37-4518-8c8d-b36b1e53faa0",
      "name": "убираем кнопку назад",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2420,
        1240
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.message.message_id -1 }}",
        "text": "=Вы выбрали получателя <b>{{ $('Execute Workflow Trigger').item.json[\"pg_recipient_name\"] }}</b>. Введите текст сообщения для водителей:",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "e79a9b39-cd3e-473e-acf2-97ca67ba4706",
      "name": "убираем кнопку назад1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2420,
        1440
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "={{ \"/start\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b9bc7427-bddc-4600-bf41-7b57bfe043f0",
      "name": "Проверка старта1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        480,
        980
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Просмотреть свободные машины",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "46635c29-fbc4-4b0c-b6c8-7b31bc9fee81",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Связь с водителем",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "f33ba847-4918-4bdd-a823-7d99c709e03b",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Назначить перевозку",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "34002e05-61b0-40d3-884d-45ed94368732",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Оповещение",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "8f411cba-c33c-4f41-9eb1-863012dc5d8d",
      "name": "Проверка кнопок",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        720,
        1000
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "inputing_alert_for_all",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "14da08f2-eaa2-4a05-a2ec-e02fa0ec245d",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "inputing_alert_for_transportation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "b69b7edc-3c85-4583-93a3-e41d7fe3225b",
      "name": "проверка статуса",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1960,
        1260
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "={{ \"AT_\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "954e80e5-89fc-4093-b0dc-fa39a23981d8",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "alert_transportation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "2ac08fd2-5ad8-455e-b770-e3733a949540",
      "name": "выбор получателя",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        320,
        2340
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "logist_alert_all",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "424c6e2a-a988-406f-9a0a-13a079991adb",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "logist_alert_transportation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "89372a57-be12-40be-9a51-4fa9938c8205",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "back_to_alert_menu",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "16d7aef0-6c20-4f44-a9ee-46c21e2a786f",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "alert_all",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "8e707210-5a9d-4fcc-868a-f54d4130839e",
      "name": "инлайн кнопки для логиста",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        300,
        1760
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "cookie": "session_id=c554e448649a81d5cccacb539ad5df43a3c745f2; Expires=Wed, 16 Jul 2025 07:44:22 GMT; Max-Age=604800; HttpOnly; Path=/",
          "pg": {
            "tg_id": "7090302459",
            "odoo_id": 19,
            "status": "authorized",
            "only_mech": false,
            "mech_photo": false,
            "end_request_id": 274,
            "materials_photo": false,
            "end_request_hours": null,
            "car_id_while_inputing": null,
            "fuel_liters": null,
            "weight_measure": null,
            "logist_alert_text": "12345",
            "logist_recipient_name": "ТЕСТ-КОМПАНИЯ",
            "transportation_for_certificate": null,
            "count_weight_photo": null,
            "count_weight_photo_sent": null
          },
          "tt": {
            "update_id": 100619625,
            "callback_query": {
              "id": "2782501072747681022",
              "from": {
                "id": 7090302459,
                "is_bot": false,
                "first_name": "Al",
                "last_name": "Go",
                "language_code": "ru"
              },
              "message": {
                "message_id": 10660,
                "from": {
                  "id": 7063451965,
                  "is_bot": true,
                  "first_name": "Everest n8n",
                  "username": "myn8nbotbot"
                },
                "chat": {
                  "id": 7090302459,
                  "first_name": "Al",
                  "last_name": "Go",
                  "type": "private"
                },
                "date": 1721115810,
                "text": "Выберите вариант оповещения водителей:",
                "reply_markup": {
                  "inline_keyboard": [
                    [
                      {
                        "text": "Оповестить всех",
                        "callback_data": "logist_alert_all"
                      }
                    ],
                    [
                      {
                        "text": "Оповестить по выбранному получателю",
                        "callback_data": "logist_alert_transportation"
                      }
                    ]
                  ]
                }
              },
              "chat_instance": "4841481297779052467",
              "data": "logist_alert_all"
            }
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-07-11T08:13:56.296Z",
      "updatedAt": "2024-07-11T08:13:56.296Z",
      "id": "eucjxmhF768T7WNu",
      "name": "production"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-07-17T18:18:23.000Z",
  "versionId": "9c85de70-0108-4a5d-a4d3-c0f52ab43d1b"
}