workflows/prod_dispatcher.json
{
  "active": false,
  "connections": {
    "проверка типа сообщения": {
      "main": [
        [
          {
            "node": "статус диспетчера",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "инлайн-кнопки для диспетчера",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата через неделю": {
      "main": [
        [
          {
            "node": "дата и время 23:59",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы с истекающим сроком": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "разница в днях": {
      "main": [
        [
          {
            "node": "округляем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "округляем": {
      "main": [
        [
          {
            "node": "объединяем доки+дата с разницей во времени",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объединяем доки+дата с разницей во времени": {
      "main": [
        [
          {
            "node": "склоняем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "склоняем": {
      "main": [
        [
          {
            "node": "сколько дней до окончания срока",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "склеиваем": {
      "main": [
        [
          {
            "node": "объединяем в один список",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "объединяем": {
      "main": [
        [
          {
            "node": "отправка сообщения1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "разница в днях",
            "type": "main",
            "index": 0
          },
          {
            "node": "объединяем доки+дата с разницей во времени",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "если истекло": {
      "main": [
        [
          {
            "node": "объединяем в один список",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "объединяем в один список": {
      "main": [
        [
          {
            "node": "объединяем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:59": {
      "main": [
        [
          {
            "node": "документы с истекающим сроком",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:": {
      "main": [
        [
          {
            "node": "документы с истекающим сроком1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы с истекающим сроком1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:1": {
      "main": [
        [
          {
            "node": "дата через 14 дней",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:60": {
      "main": [
        [
          {
            "node": "документы с истекающим сроком2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы с истекающим сроком2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "сколько дней до окончания срока": {
      "main": [
        [
          {
            "node": "если истекло",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "склеиваем",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:2": {
      "main": [
        [
          {
            "node": "документы с истекающим сроком3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы с истекающим сроком3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:3": {
      "main": [
        [
          {
            "node": "дата через 21 день",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата и время 23:61": {
      "main": [
        [
          {
            "node": "документы с истекающим сроком4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "документы с истекающим сроком4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата через 8 дней": {
      "main": [
        [
          {
            "node": "дата и время 23:1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата через 14 дней": {
      "main": [
        [
          {
            "node": "дата и время 23:",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата через 15 дней": {
      "main": [
        [
          {
            "node": "дата и время 23:3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата через 21 день": {
      "main": [
        [
          {
            "node": "дата и время 23:2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата сегодня": {
      "main": [
        [
          {
            "node": "дата и время 23:61",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "дата сегодня1": {
      "main": [
        [
          {
            "node": "дата и время 23:60",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "разделение на дни для документов": {
      "main": [
        [
          {
            "node": "дата через неделю",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "дата через 8 дней",
            "type": "main",
            "index": 0
          },
          {
            "node": "дата сегодня1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "дата через 15 дней",
            "type": "main",
            "index": 0
          },
          {
            "node": "дата сегодня",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "возврат к выбору периода",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "удаления сообщения с выбором",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка старта1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка кнопок",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка кнопок": {
      "main": [
        [
          {
            "node": "выбор периода документов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "отправка водителю": {
      "main": [
        [
          {
            "node": "айди водителя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "сообщение отправлено": {
      "main": [
        [
          {
            "node": "обновляем статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "айди водителя": {
      "main": [
        [
          {
            "node": "данные водителя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные водителя": {
      "main": [
        [
          {
            "node": "сообщение отправлено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "статус диспетчера": {
      "main": [
        [],
        [
          {
            "node": "отправка водителю",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка старта1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          },
          {
            "node": "проверка типа сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "введите ответ": {
      "main": [
        [
          {
            "node": "убираем кнопку назад",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "убираем кнопку назад": {
      "main": [
        [
          {
            "node": "меняем статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "инлайн-кнопки для диспетчера": {
      "main": [
        [],
        [],
        [
          {
            "node": "введите ответ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "разделение на дни для документов",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-09-04T16:46:18.584Z",
  "id": "FUCqDioiUEfRLT1L",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "prod_dispatcher",
  "nodes": [
    {
      "parameters": {
        "errorMessage": "dispatcher"
      },
      "id": "d5de7602-fec7-4149-8bea-02c3c63b793b",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        80,
        1380
      ],
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11c45e0d-196b-47f1-821e-bee57c9f070b",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2297b58e-2608-45c1-964f-9855ab08b871",
      "name": "проверка типа сообщения",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        220,
        1080
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $today }}",
        "duration": 7,
        "options": {}
      },
      "id": "24c44fa4-2be5-48df-a2bc-9f1bde12c405",
      "name": "дата через неделю",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        760,
        1680
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "documents.documents",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "expiration_date",
              "operator": "lesserOrEqual",
              "value": "={{ $json.newformattedDate }}"
            }
          ]
        }
      },
      "id": "7db8f3ea-c54b-4d56-b885-9826f9ee6e5a",
      "name": "документы с истекающим сроком",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1140,
        1680
      ],
      "credentials": {
        "odooApi": {
          "id": "8fI2woAI3HZ7dHDv",
          "name": "Odoo production"
        }
      }
    },
    {
      "parameters": {
        "operation": "getTimeBetweenDates",
        "startDate": "={{ $today }}",
        "endDate": "={{ $json.expiration_date }}",
        "options": {}
      },
      "id": "0c09953b-0172-45e3-94f4-1aca38812cf1",
      "name": "разница в днях",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1620,
        1680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0bd3f1ff-9963-406f-b40f-8c9e47ba7e30",
              "name": "timeDifference",
              "value": "={{ $json.timeDifference.days.round() }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "c22fda5a-b1ad-4aab-9259-cd4540b52187",
      "name": "округляем",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1800,
        1680
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "c25be515-63d6-4ccb-854c-828bc3eeecbb",
      "name": "объединяем доки+дата с разницей во времени",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1960,
        1820
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n    days = abs(item.json.timeDifference)\n    if days % 100 // 10 == 1:\n        item.json.sklonenie = \"дней\"\n    elif days % 10 == 1:\n        item.json.sklonenie = \"день\"\n    elif days % 10 in [2, 3, 4]:\n        item.json.sklonenie = \"дня\"\n    else:\n        item.json.sklonenie = \"дней\"\nreturn _input.all()"
      },
      "id": "1942a25d-b7aa-4298-b3f8-a097a52129d9",
      "name": "склоняем",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        1820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "386f4fe1-4858-4421-a50e-867e5ca497fc",
              "name": "message",
              "value": "=⚠️Через {{ $json.timeDifference }} {{ $json.sklonenie }} истекает срок документа <b>{{ $json.display_name }}</b>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "75c7d544-0d06-4dce-8c44-974e0d6ff809",
      "name": "склеиваем",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2660,
        1840
      ]
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "message",
              "separateBy": "\n"
            }
          ]
        },
        "options": {}
      },
      "id": "e6de13d8-71d0-4b8e-b274-75e41c790544",
      "name": "объединяем",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        3080,
        1820
      ]
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "expiration_date"
            }
          ]
        },
        "options": {}
      },
      "id": "ca1d584a-9012-49ea-bab2-bfbed859583a",
      "name": "Sort",
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        1340,
        1680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3cd5ce67-7030-49fa-b1d7-63e5baca1d30",
              "name": "message",
              "value": "=❗ {{ -$json[\"timeDifference\"] }} {{ $json[\"sklonenie\"] }} назад истёк срок действия документа <b>{{ $json.type_of_document_id[1] }}</b> (был действителен до {{ $json.expiration_date }}) <b>({{ $json.car_id[1] }})</b>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "95d18882-54a2-4413-9797-5b475d4ff7a2",
      "name": "если истекло",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2660,
        1660
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {},
      "id": "63e665a2-c90d-4584-b788-0594c1cdb94b",
      "name": "объединяем в один список",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        2880,
        1820
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "={{ $('объединяем').item.json.concatenated_message }}",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Назад",
                    "additionalFields": {
                      "callback_data": "view_date"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "a8cdbe7f-98d4-4e0e-a2dd-c3b24ff0016b",
      "name": "отправка сообщения1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3280,
        1820
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "content": "## Истекшие документы и документы за 7 дней до истечения",
        "height": 369.39864609379947,
        "width": 2774.539456615861
      },
      "id": "4ca3c993-8622-43d0-a33f-c05098b748e2",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        1631
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.newDate }}",
        "format": "=yyyy-MM-dd, 23:59:59",
        "outputFieldName": "newformattedDate",
        "options": {}
      },
      "id": "1fc31e96-bda5-4fbb-a27e-bc9c777b7af0",
      "name": "дата и время 23:59",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        940,
        1680
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.newDate }}",
        "format": "=yyyy-MM-dd, 23:59:59",
        "outputFieldName": "newformattedDate",
        "options": {}
      },
      "id": "6d9bb1b9-8567-4d47-98c5-59dc41c411ce",
      "name": "дата и время 23:",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1300,
        2020
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "documents.documents",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "expiration_date",
              "operator": "lesserOrEqual",
              "value": "={{ $json.newformattedDate }}"
            },
            {
              "fieldName": "expiration_date",
              "operator": "greaterOrEqual",
              "value": "={{ $('дата и время 23:1').item.json.newformattedDate1 }}"
            }
          ]
        }
      },
      "id": "62894721-b48e-495d-8a8b-5e0989e19486",
      "name": "документы с истекающим сроком1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1540,
        2020
      ],
      "credentials": {
        "odooApi": {
          "id": "8fI2woAI3HZ7dHDv",
          "name": "Odoo production"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.newDate }}",
        "format": "=yyyy-MM-dd, 00:00:00",
        "outputFieldName": "newformattedDate1",
        "options": {}
      },
      "id": "105bce3d-2670-4c21-be97-f341c7ace90c",
      "name": "дата и время 23:1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        940,
        2020
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "=yyyy-MM-dd, 00:00:00",
        "outputFieldName": "newformattedDate",
        "options": {}
      },
      "id": "93098fa6-6af6-464b-b5cd-46afc3c6ba89",
      "name": "дата и время 23:60",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        960,
        2180
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "documents.documents",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "expiration_date",
              "operator": "lesserOrEqual",
              "value": "={{ $json.newformattedDate }}"
            }
          ]
        }
      },
      "id": "84d2f7a7-a882-48bd-b93c-77b0cc891e04",
      "name": "документы с истекающим сроком2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1160,
        2180
      ],
      "credentials": {
        "odooApi": {
          "id": "8fI2woAI3HZ7dHDv",
          "name": "Odoo production"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.timeDifference }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "4d8ac404-b74b-4df3-8919-0de5596a2e53",
                    "leftValue": "={{ $json.timeDifference }}",
                    "rightValue": 31,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "581c5cdb-10ee-4d8f-83c2-e154274ca598",
      "name": "сколько дней до окончания срока",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2340,
        1820
      ]
    },
    {
      "parameters": {},
      "id": "1c4a947b-e647-4c78-bfbb-5c5223a6d545",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1780,
        2120
      ]
    },
    {
      "parameters": {
        "content": "## Истекшие документы и документы за 8-14 дней до истечения",
        "height": 369.39864609379947,
        "width": 1215.0811098210288
      },
      "id": "335171f9-4985-4c4d-9af7-9c0e72cabaab",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        1980
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.newDate }}",
        "format": "=yyyy-MM-dd, 23:59:59",
        "outputFieldName": "newformattedDate",
        "options": {}
      },
      "id": "b6ed5781-555c-4189-b1c1-c6383c4548f7",
      "name": "дата и время 23:2",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1300,
        2380
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "documents.documents",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "expiration_date",
              "operator": "lesserOrEqual",
              "value": "={{ $json.newformattedDate }}"
            },
            {
              "fieldName": "expiration_date",
              "operator": "greaterOrEqual",
              "value": "={{ $('дата и время 23:3').item.json.newformattedDate1 }}"
            }
          ]
        }
      },
      "id": "5c6691fa-e0de-4341-855b-899c63090b5a",
      "name": "документы с истекающим сроком3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1540,
        2380
      ],
      "credentials": {
        "odooApi": {
          "id": "8fI2woAI3HZ7dHDv",
          "name": "Odoo production"
        }
      }
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.newDate }}",
        "format": "=yyyy-MM-dd, 00:00:00",
        "outputFieldName": "newformattedDate1",
        "options": {}
      },
      "id": "5eceecf3-f0b6-40af-b391-08e4aab79ea0",
      "name": "дата и время 23:3",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        940,
        2380
      ]
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "=yyyy-MM-dd, 00:00:00",
        "outputFieldName": "newformattedDate",
        "options": {}
      },
      "id": "77bd9b84-a2a8-45c6-a4ce-287f6f64ffa2",
      "name": "дата и время 23:61",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        960,
        2540
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "documents.documents",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "expiration_date",
              "operator": "lesserOrEqual",
              "value": "={{ $json.newformattedDate }}"
            }
          ]
        }
      },
      "id": "e9be21a8-b9b8-42ac-b5aa-9be6acd7751a",
      "name": "документы с истекающим сроком4",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1160,
        2540
      ],
      "credentials": {
        "odooApi": {
          "id": "8fI2woAI3HZ7dHDv",
          "name": "Odoo production"
        }
      }
    },
    {
      "parameters": {},
      "id": "38611976-84b5-4074-9b30-ffbc551123ed",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1780,
        2480
      ]
    },
    {
      "parameters": {
        "content": "## Истекшие документы и документы за 15-21 дней до истечения",
        "height": 369.39864609379947,
        "width": 1215.0811098210288
      },
      "id": "5b6b7d63-aedb-4ccc-a628-ca42efbea0ed",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        720,
        2340
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $today }}",
        "duration": 8,
        "options": {}
      },
      "id": "ef508245-d411-418a-b4e9-ad992a938f4b",
      "name": "дата через 8 дней",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        780,
        2020
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $today }}",
        "duration": 14,
        "options": {}
      },
      "id": "b368b1c4-2259-4dc0-8088-b18fdec0f33e",
      "name": "дата через 14 дней",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1120,
        2020
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $today }}",
        "duration": 15,
        "options": {}
      },
      "id": "7aab805e-e634-435c-ac47-5e044cab366e",
      "name": "дата через 15 дней",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        780,
        2380
      ]
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $today }}",
        "duration": 21,
        "options": {}
      },
      "id": "3f5fe4d3-17c9-4d2f-8658-f4d54a6068cd",
      "name": "дата через 21 день",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1120,
        2380
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "6c155a3a-0541-4541-97bd-fa9fe9decb42",
      "name": "дата сегодня",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        780,
        2540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "15425206-4ebe-44b0-968f-1ad7f79a28e5",
      "name": "дата сегодня1",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        780,
        2180
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Выберите за какой период хотите проверить документы:",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "1-7 дней",
                    "additionalFields": {
                      "callback_data": "7_days"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "8-14 дней",
                    "additionalFields": {
                      "callback_data": "14_days"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "15-21 день",
                    "additionalFields": {
                      "callback_data": "21_days"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Назад",
                    "additionalFields": {
                      "callback_data": "delete_date"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "0b4ceed1-e290-4832-bb4f-a10851a3ef40",
      "name": "возврат к выбору периода",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        760,
        2760
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}"
      },
      "id": "70c49a3a-8b5a-43f3-999f-15cdcbcd9266",
      "name": "удаления сообщения с выбором",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        760,
        2940
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "content": "## Проверка сроков документов",
        "height": 1516.856820405149,
        "width": 2918.594993693928,
        "color": 5
      },
      "id": "48bfae45-79e9-4bbc-a463-dba625cc1ce9",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        680,
        1580
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "7_days",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "29768801-6a74-4a14-be52-f00a8c557555",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "14_days",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ddb933c9-04c7-4d8e-b07e-779c610e9c46",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "21_days",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "e674fd05-e952-48d5-b7aa-7cc405f40766",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "view_date",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c9f6d1ed-bbdf-43ea-9a3f-ad3ac67cc13d",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "delete_date",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "547c12bb-bf50-4731-b638-7ae23881827f",
      "name": "разделение на дни для документов",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        480,
        1820
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "={{ \"/start\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b0fef514-d794-4962-9c3c-cf9ed34cbd85",
      "name": "Проверка старта1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        940,
        800
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "Выберите за какой период хотите проверить документы:",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "1-7 дней",
                    "additionalFields": {
                      "callback_data": "7_days"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "8-14 дней",
                    "additionalFields": {
                      "callback_data": "14_days"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "15-21 день",
                    "additionalFields": {
                      "callback_data": "21_days"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Назад",
                    "additionalFields": {
                      "callback_data": "delete_date"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "07775228-d575-49ee-9a15-f54f0b15a233",
      "name": "выбор периода документов",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1620,
        660
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "Вы авторизовались как диспетчер",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Документы",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "625a6d9a-567e-4b38-9115-97497b3ee94e",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1300,
        660
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Документы",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "af645361-f14a-4e60-833f-6d7903aea709",
      "name": "Проверка кнопок",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1300,
        820
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.status.substring(11) }}",
        "text": "=Ответ от диспетчера:\n{{ $json.message.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "420b394c-45c7-4d4f-a28b-bd2769af986a",
      "name": "отправка водителю",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "=Сообщение отправлено водителю {{ $json.resource_id[1] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "9c3606f6-ed82-4fcd-9e65-ea016e8700e0",
      "name": "сообщение отправлено",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        480
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.tg_id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "car_id_while_inputing",
              "displayName": "car_id_while_inputing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuel_liters",
              "displayName": "fuel_liters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weight_measure",
              "displayName": "weight_measure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_alert_text",
              "displayName": "logist_alert_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_recipient_name",
              "displayName": "logist_recipient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transportation_for_certificate",
              "displayName": "transportation_for_certificate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "count_weight_photo",
              "displayName": "count_weight_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "count_weight_photo_sent",
              "displayName": "count_weight_photo_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "9e203319-2823-495d-b3f6-70c23aae39e1",
      "name": "обновляем статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1820,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.status.substring(11) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14977c9c-602f-498d-ad5a-de9ea0097be8",
      "name": "айди водителя",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1180,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "=hr.employee",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.odoo_id }}"
            }
          ]
        }
      },
      "id": "87b0b059-d4a2-43ad-a0af-aa7521dccf0b",
      "name": "данные водителя",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1400,
        480
      ],
      "credentials": {
        "odooApi": {
          "id": "8fI2woAI3HZ7dHDv",
          "name": "Odoo production"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.status }}",
                    "rightValue": "inputing_reject_text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "383f2506-25b9-48f0-935d-e1e4da6690b6",
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.status }}",
                    "rightValue": "not_urgent",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "cd693650-4c7a-4b01-8071-e50eb5b4aacc",
      "name": "статус диспетчера",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.message_id }}",
        "text": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.text }}",
        "additionalFields": {}
      },
      "id": "02827893-1034-4e12-92c1-2ae7323d65e2",
      "name": "убираем кнопку назад",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1060,
        1380
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "477c5e28-513c-4256-a9ae-0f7711c895d8",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        1120
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "Введите ответ на сообщение:",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $json.callback_query.message.message_id }}"
        }
      },
      "id": "a12fb5ac-bd8f-4f05-8ec7-2d33f35aaa03",
      "name": "введите ответ",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        860,
        1380
      ],
      "credentials": {
        "telegramApi": {
          "id": "s2yURwRj0JIo9urH",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.chat.id }}",
            "status": "={{ $('Execute Workflow Trigger').item.json.callback_query.message.reply_markup.inline_keyboard[0][0].callback_data.substring(10) }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "car_id_while_inputing",
              "displayName": "car_id_while_inputing",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fuel_liters",
              "displayName": "fuel_liters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "weight_measure",
              "displayName": "weight_measure",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_alert_text",
              "displayName": "logist_alert_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "logist_recipient_name",
              "displayName": "logist_recipient_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "transportation_for_certificate",
              "displayName": "transportation_for_certificate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "count_weight_photo",
              "displayName": "count_weight_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "count_weight_photo_sent",
              "displayName": "count_weight_photo_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "e3f75283-057f-40e9-9830-87b2aa54ee47",
      "name": "меняем статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1300,
        1380
      ],
      "credentials": {
        "postgres": {
          "id": "cMlKL7XYShZtUnqo",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "reject_TO",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "0dad3c43-0653-485e-bdde-074fb8ca6551",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "accept_TO",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "3ad6054b-15ef-4758-9f3a-43b37605f416",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "answer_to_not_urgent",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "e57c3176-947c-49e4-9070-788a4fdc2d62",
      "name": "инлайн-кнопки для диспетчера",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        480,
        1380
      ]
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "update_id": 100626331,
          "callback_query": {
            "id": "2782501073602434925",
            "from": {
              "id": 7090302459,
              "is_bot": false,
              "first_name": "Al",
              "last_name": "Go",
              "language_code": "ru"
            },
            "message": {
              "message_id": 18072,
              "from": {
                "id": 7063451965,
                "is_bot": true,
                "first_name": "Everest n8n",
                "username": "myn8nbotbot"
              },
              "chat": {
                "id": 7090302459,
                "first_name": "Al",
                "last_name": "Go",
                "type": "private"
              },
              "date": 1725290331,
              "voice": {
                "duration": 1,
                "mime_type": "audio/ogg",
                "file_id": "AwACAgIAAxkDAAJGmGbV11tbndmnV8qv3DILW39XSi6CAALRUQACXJSxSh3FJFWgaUW_NQQ",
                "file_unique_id": "AgAD0VEAAlyUsUo",
                "file_size": 4568
              },
              "caption": "Сообщение от водителя автомобиля А 459 ТЕ, Алексей Горемыкин, +79124406618",
              "caption_entities": [
                {
                  "offset": 62,
                  "length": 12,
                  "type": "phone_number"
                }
              ],
              "reply_markup": {
                "inline_keyboard": [
                  [
                    {
                      "text": "Ответить на сообщение",
                      "callback_data": "answer_to_not_urgent_700956969"
                    }
                  ]
                ]
              }
            },
            "chat_instance": "4841481297779052467",
            "data": "answer_to_not_urgent_700956969"
          },
          "tg_id": "7090302459",
          "odoo_id": 19,
          "status": "not_urgent_700956969",
          "only_mech": false,
          "mech_photo": false,
          "end_request_id": null,
          "materials_photo": false,
          "end_request_hours": null,
          "car_id_while_inputing": null,
          "fuel_liters": null,
          "weight_measure": null,
          "logist_alert_text": null,
          "logist_recipient_name": null,
          "transportation_for_certificate": null,
          "count_weight_photo": null,
          "count_weight_photo_sent": null,
          "current_quarry_hours": null,
          "cookie": "session_id=5bdaca9bbd0a9f6dc8c5c096549f730886b5969f; Expires=Tue, 02 Sep 2025 15:18:58 GMT; Max-Age=604800; HttpOnly; Path=/"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-08-26T14:50:05.418Z",
      "updatedAt": "2024-08-26T14:50:05.418Z",
      "id": "6aWMzdObOVIXsJ6y",
      "name": "production"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-09-04T16:47:09.077Z",
  "versionId": "6f6e3c9d-b0fa-484f-889b-dd12f8415e02"
}