workflows/prod_driver_photo.json
{
  "active": false,
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "получение id карточки на тех.обслуживание",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "загрузка фото в карточку",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получение id карточки на тех.обслуживание": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "загрузка фото в карточку": {
      "main": [
        [
          {
            "node": "возвращение статуса фото для ТО",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получение фото из тг": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка фото механику/логисту": {
      "main": [
        [
          {
            "node": "получение фото из тг",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка: является ли фото грузом",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "возвращение статуса фото для ТО": {
      "main": [
        [
          {
            "node": "Фото доставлено1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск логистов1": {
      "main": [
        [
          {
            "node": "поиск тг айди логистов1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск тг айди логистов1": {
      "main": [
        [
          {
            "node": "Отправка фото логисту",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "преобразуем в 1 переменную2": {
      "main": [
        [
          {
            "node": "Фото доставлено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фото доставлено1": {
      "main": [
        [
          {
            "node": "удаление \"отправляйте фото\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фото доставлено": {
      "main": [
        [
          {
            "node": "удаление \"отправляйте фото\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка фото логисту": {
      "main": [
        [
          {
            "node": "преобразуем в 1 переменную2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "если не отправилось",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если не отправилось": {
      "main": [
        [
          {
            "node": "удаление \"отправляйте фото\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "загрузка фото в карточку1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получение фото из тг1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "загрузка фото в карточку1": {
      "main": [
        [
          {
            "node": "Фото доставлено2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фото доставлено2": {
      "main": [
        [
          {
            "node": "меняем статус на обычный",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус на обычный": {
      "main": [
        [
          {
            "node": "поиск механиков3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка: является ли фото грузом": {
      "main": [
        [
          {
            "node": "Получение информации о водителе",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "поиск логистов1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск логистов2": {
      "main": [
        [
          {
            "node": "поиск тг айди логистов2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск тг айди логистов2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение информации о водителе": {
      "main": [
        [
          {
            "node": "поиск логистов2",
            "type": "main",
            "index": 0
          },
          {
            "node": "находим машину по odoo id6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомление логиста": {
      "main": [
        [
          {
            "node": "Отправка фото1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка фото1": {
      "main": [
        [
          {
            "node": "преобразуем в 1 переменную",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомление водителя о том, что фото доставлено": {
      "main": [
        [
          {
            "node": "Удаление прошлого сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Удаление прошлого сообщения": {
      "main": [
        [
          {
            "node": "Обновление статуса отправки фото логисту2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим машину по odoo id6": {
      "main": [
        [
          {
            "node": "находим рейсы по машине1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим рейсы по машине1": {
      "main": [
        [
          {
            "node": "Limit2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit2": {
      "main": [
        [
          {
            "node": "находим перевозки по рейсам1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим перевозки по рейсам1": {
      "main": [
        [
          {
            "node": "получаем название маршрута из перевозки1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем название маршрута из перевозки1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Уведомление логиста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск механиков3": {
      "main": [
        [
          {
            "node": "поиск тг айди механиков3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск тг айди механиков3": {
      "main": [
        [
          {
            "node": "проверка наличия механиков3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка наличия механиков3": {
      "main": [
        [
          {
            "node": "данные водителя2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные водителя2": {
      "main": [
        [
          {
            "node": "данные авто1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные авто1": {
      "main": [
        [
          {
            "node": "текст заявки1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "текст заявки1": {
      "main": [
        [
          {
            "node": "Отправка проблемы механикам3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "убираем кнопку \"назад\" у прикрепления фото": {
      "main": [
        [
          {
            "node": "получение фото из тг1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск логистов3": {
      "main": [
        [
          {
            "node": "поиск тг айди логистов3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск тг айди логистов3": {
      "main": [
        [
          {
            "node": "Отправка фото логисту1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка фото логисту1": {
      "main": [
        [
          {
            "node": "преобразуем в 1 переменную3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "если не отправилось1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "преобразуем в 1 переменную3": {
      "main": [
        [
          {
            "node": "Фото доставлено3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Фото доставлено3": {
      "main": [
        [
          {
            "node": "меняем статус на обычный1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если не отправилось1": {
      "main": [
        [
          {
            "node": "меняем статус на обычный1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "поиск авто": {
      "main": [
        [
          {
            "node": "поиск логистов3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "проверка статуса",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "преобразуем в 1 переменную": {
      "main": [
        [
          {
            "node": "Уведомление водителя о том, что фото доставлено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус на обычный1": {
      "main": [
        [
          {
            "node": "убираем кнопку назад",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка статуса": {
      "main": [
        [
          {
            "node": "убираем кнопку \"назад\" у прикрепления фото",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "поиск авто",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "убираем кнопку \"назад\" у прикрепления фото1",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "проверка фото механику/логисту",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получение фото из тг2": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "находим машину по odoo id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "загрузка весовой в рейс": {
      "main": [
        [
          {
            "node": "меняем статус на дефолтный3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим машину по odoo id1": {
      "main": [
        [
          {
            "node": "загрузка весовой в рейс",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус на дефолтный3": {
      "main": [
        [
          {
            "node": "возврат к завершению заказа",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "убираем кнопку \"назад\" у прикрепления фото1": {
      "main": [
        [
          {
            "node": "получение фото из тг2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-15T05:29:45.526Z",
  "id": "wTbtjOHXHKjsOXah",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "prod_driver_photo",
  "nodes": [
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "9c41b42f-7aff-4eeb-a668-0c75ba33e354",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        580,
        1560
      ]
    },
    {
      "parameters": {
        "keep": "lastItems"
      },
      "id": "6a72ad30-a486-4416-9175-4ec4090dbe63",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1060,
        1560
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "getAll",
        "options": {
          "fieldsList": [
            "id"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "created_by",
              "value": "={{ $('Execute Workflow Trigger').item.json.pg_odoo_id}}"
            }
          ]
        }
      },
      "id": "f92bb30f-2f1b-40f4-8d90-fb3808e6daff",
      "name": "получение id карточки на тех.обслуживание",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        840,
        1560
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "image_of_breakage",
              "fieldValue": "={{ $('Extract from File').item.json.data }}"
            }
          ]
        }
      },
      "id": "4768ff84-9d08-4656-826c-c2fbd72214b2",
      "name": "загрузка фото в карточку",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1280,
        1560
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Execute Workflow Trigger').item.json.photo_id }}"
      },
      "id": "07fbce0a-31fd-4496-8b53-d4ee3b06843c",
      "name": "получение фото из тг",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        340,
        1560
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "069241e8-a706-4d88-98a4-39e00ff7a911",
              "leftValue": "={{ $json.pg_mech_photo }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "91bba36f-2a27-41a6-aa5a-41012387d5bc",
      "name": "проверка фото механику/логисту",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -60,
        1320
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mech_photo": false,
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.chat_id }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "052a0f55-3a28-45df-8506-b9c017db0a4d",
      "name": "возвращение статуса фото для ТО",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1480,
        1560
      ],
      "credentials": {
        "postgres": {
          "id": "JvKzM0ZR1mjzsPky",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "content": "## Добавление фото к карточке тех.обслуживания",
        "height": 227.62478042711086,
        "width": 1608.6685143378268
      },
      "id": "40c2bc0b-9461-4bd3-bc87-f16903c8a8b4",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        1500
      ]
    },
    {
      "parameters": {
        "content": "## Отправка фото логисту",
        "height": 230.9235502040431,
        "width": 1117.3696268263427
      },
      "id": "d1d507e3-cbc0-48ae-b9b8-45200b513047",
      "name": "Sticky Note23",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        260,
        1800
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "job_title",
              "value": "Логист"
            }
          ]
        }
      },
      "id": "513837dc-4fe8-4991-93f0-8b017e0c7a8f",
      "name": "поиск логистов1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        300,
        1860
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e2eb4e94-22a8-44e8-886c-d613952579bd",
      "name": "поиск тг айди логистов1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        520,
        1860
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "JvKzM0ZR1mjzsPky",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "23ae283d-8de2-4082-b473-f613f1185c8d",
      "name": "преобразуем в 1 переменную2",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        980,
        1860
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Фото доставлено",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к работе",
                    "additionalFields": {
                      "callback_data": "menu_ok"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "ba254828-4a6a-492d-922d-4b4ee0578bb6",
      "name": "Фото доставлено1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1680,
        1560
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Фото доставлено",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Продолжить",
                    "additionalFields": {
                      "callback_data": "final"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "5030046d-212e-4c4d-86a0-ada15d0e4eb2",
      "name": "Фото доставлено",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1200,
        1860
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.chat_message_id-1 }}"
      },
      "id": "118a4b1b-31bc-4738-b52b-600390a2a688",
      "name": "удаление \"отправляйте фото\"",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1540,
        1860
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.tg_id }}",
        "file": "={{ $('Execute Workflow Trigger').item.json.photo_id }}",
        "additionalFields": {}
      },
      "id": "8a032b3a-8fc0-4d13-8e03-417eb22c89d1",
      "name": "Отправка фото логисту",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        760,
        1860
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Не удалось отправить фото, логист не найден",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Продолжить",
                    "additionalFields": {
                      "callback_data": "final"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "34f9caa9-fe2f-4e63-8d38-05b79a966ed4",
      "name": "если не отправилось",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1060,
        2000
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "71078922-7492-47e4-8a7b-4b9d25e5bc92",
      "name": "Extract from File1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1115,
        -400
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Execute Workflow Trigger').item.json.photo_id }}"
      },
      "id": "e5dec49b-8ff4-41e7-b0df-b2e11ff1e49f",
      "name": "получение фото из тг1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        875,
        -400
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "update",
        "customResourceId": "={{ $('Execute Workflow Trigger').item.json.pg_end_request_id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "image_of_repaired",
              "fieldValue": "={{ $('Extract from File1').item.json.data }}"
            }
          ]
        }
      },
      "id": "e3638280-f39f-4c68-a24d-087be6f38415",
      "name": "загрузка фото в карточку1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1355,
        -400
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Когда механик проверит заявку, вам придёт уведомление",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "0d8aa6c7-74a2-4ab3-8135-c90ebe0491cd",
      "name": "Фото доставлено2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1600,
        -400
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
            "status": "authorized",
            "end_request_hours": "={{ null }}",
            "end_request_id": "={{ null }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "48706f7a-3313-47f0-8c40-cd09dd06a5b9",
      "name": "меняем статус на обычный",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1815,
        -400
      ],
      "credentials": {
        "postgres": {
          "id": "JvKzM0ZR1mjzsPky",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "content": "## Отправка фото завершения заявки",
        "height": 304.0187080264881,
        "width": 1480.2413619003405,
        "color": 6
      },
      "id": "db189057-0375-4a8b-8445-9269e012242b",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        540,
        -480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f1712e67-90f4-49cd-8453-48a737c30574",
              "leftValue": "={{ $json.pg_materials_photo }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b5cbdd9e-d1a4-4c9b-8b06-9ab8a070add0",
      "name": "Проверка: является ли фото грузом",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -80,
        1800
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "job_title",
              "value": "Логист"
            }
          ]
        }
      },
      "id": "c2296127-3712-4de0-89f9-1882f714f426",
      "name": "поиск логистов2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        540,
        2280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6a1a2622-9903-43e4-b6b2-a68c222b1401",
      "name": "поиск тг айди логистов2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        760,
        2280
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "JvKzM0ZR1mjzsPky",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "materials_photo": false,
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.chat_id }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "6449c977-c982-45d9-a273-9847a6f4845d",
      "name": "Обновление статуса отправки фото логисту2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2340,
        2280
      ],
      "credentials": {
        "postgres": {
          "id": "JvKzM0ZR1mjzsPky",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "display_name",
            "mobile_phone"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.pg_odoo_id }}"
            }
          ]
        }
      },
      "id": "38ed5d1e-5be0-45b6-8f10-62469ee90447",
      "name": "Получение информации о водителе",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        320,
        2280
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=<b>{{ $('находим машину по odoo id6').item.json.number_car }}</b>, <b>{{ $json.departure }} -  {{ $json.arrival }}</b>, <b>{{ $('находим перевозки по рейсам1').item.json.product[1] }}</b>.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "d708696f-cfd9-4c82-a63b-31fe21fe503a",
      "name": "Уведомление логиста",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1360,
        2280
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('поиск тг айди логистов2').item.json.tg_id }}",
        "file": "={{ $('Execute Workflow Trigger').item.json.photo_id }}",
        "additionalFields": {}
      },
      "id": "9466833a-8401-4a31-ba02-44921e0f673e",
      "name": "Отправка фото1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1540,
        2280
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Ваше фото будет доставлено логисту",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Вернуться к рейсам",
                    "additionalFields": {
                      "callback_data": "accept"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "53f76787-5b9e-4f4c-a7d0-14298a37358c",
      "name": "Уведомление водителя о том, что фото доставлено",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1920,
        2280
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $json.result.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.chat_message_id -1}}"
      },
      "id": "e2dd71a5-c751-44ce-8bad-a02e80b11bd6",
      "name": "Удаление прошлого сообщения",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2140,
        2280
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "deab6185-73f9-4318-aa1e-98d2331ab3a9",
      "name": "находим машину по odoo id6",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        320,
        2440
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.round",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "car",
              "value": "={{ $json.id }}"
            },
            {
              "fieldName": "status",
              "value": "Назначен"
            }
          ]
        }
      },
      "id": "cf604481-aa79-4701-90b7-8ef18d73ac70",
      "name": "находим рейсы по машине1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        480,
        2440
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {},
      "id": "c9a22036-5569-42b6-ad34-c8d00860af77",
      "name": "Limit2",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        640,
        2440
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.transportation",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.transportation[0] }}"
            }
          ]
        }
      },
      "id": "36ac294e-0939-453f-a2e8-2ed0b7139430",
      "name": "находим перевозки по рейсам1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        820,
        2440
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "transportation.route",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.route[0] }}"
            }
          ]
        }
      },
      "id": "d46f81c2-3756-4315-95cd-21756c63b7f3",
      "name": "получаем название маршрута из перевозки1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1020,
        2440
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "content": "## Отправка фото с материалом логисту",
        "height": 414.5819171409328,
        "width": 2388.3105904636163,
        "color": 4
      },
      "id": "054acf4c-6dc6-4aa2-aebb-1fc3e7d4b54a",
      "name": "Sticky Note36",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        280,
        2200
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "5d3034b4-a2dc-4753-be64-428c518f5f7e",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        1180,
        2280
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "job_title",
              "value": "Механик"
            }
          ]
        }
      },
      "id": "f354b10f-a2c3-433c-89bc-4988b4b17395",
      "name": "поиск механиков3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2120,
        -380
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "cbbbd469-c5a0-4966-9435-9a44e42c39eb",
      "name": "поиск тг айди механиков3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2315,
        -379
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "JvKzM0ZR1mjzsPky",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "40eca1c8-25ce-4538-9aec-0b10b421179f",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3cc3bc3a-bea7-4806-ad9d-f62117abc4b2",
      "name": "проверка наличия механиков3",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2540,
        -380
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('поиск тг айди механиков3').item.json.tg_id }}",
        "file": "={{ $('получение фото из тг1').item.json.result.file_id }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "=Принять заявку✅",
                    "additionalFields": {
                      "callback_data": "={{\"accept_TO_\" + $('Execute Workflow Trigger').item.json.pg_end_request_id }}"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Отклонить заявку❌",
                    "additionalFields": {
                      "callback_data": "={{\"reject_TO_\" + $('Execute Workflow Trigger').item.json.pg_end_request_id }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "caption": "={{ $('данные авто1').item.json[\"number_car\"] }} - {{ $('Execute Workflow Trigger').item.json.pg_end_request_hours }} ч. - {{ $('данные водителя2').item.json[\"display_name\"] }} - {{ $json.description_of_maintenance }}\n\n<b>Требуется проверить корректность выставленных часов</b> <a href=\"https://everest.lamart.site/web#id={{ $('Execute Workflow Trigger').item.json.pg_end_request_id }}&cids=1&menu_id=343&action=485&model=technical.maintenance&view_type=form\">Ссылка на заявку в Odoo</a>",
          "parse_mode": "HTML"
        }
      },
      "id": "3dc6352d-d958-4085-b5c2-1ff350551ffd",
      "name": "Отправка проблемы механикам3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3420,
        -400
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $('Execute Workflow Trigger').item.json.pg_odoo_id }}"
            }
          ]
        }
      },
      "id": "3a8da40f-0937-4b5c-96e0-6ef74191e930",
      "name": "данные водителя2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2760,
        -400
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "content": "## Механик получает уведомление, когда водитель завершает заявку",
        "height": 250.48240620104332,
        "width": 1545.548756095632,
        "color": 6
      },
      "id": "312b0753-6989-4c5d-b3a5-f6fe37678a59",
      "name": "Sticky Note42",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2060,
        -460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "value": "={{ $json.id }}"
            }
          ]
        }
      },
      "id": "bab9f141-3e2f-480b-aecd-ff484c6b88a1",
      "name": "данные авто1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2980,
        -400
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $('Execute Workflow Trigger').item.json.pg_end_request_id }}"
            }
          ]
        }
      },
      "id": "7acecfe6-238f-42c6-b2d7-03e4fbca7a56",
      "name": "текст заявки1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        3200,
        -400
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.chat_message_id - 1}}",
        "replyMarkup": "inlineKeyboard",
        "text": "=Прикрепите фото исправления:",
        "additionalFields": {}
      },
      "id": "38633a25-8a19-41aa-ab52-f6878ffb72d7",
      "name": "убираем кнопку \"назад\" у прикрепления фото",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        620,
        -400
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "content": "## Отправка фото чека логисту",
        "height": 340.04935999199654,
        "width": 1752.316928328234,
        "color": 6
      },
      "id": "63cecdd7-486b-45a4-8cb8-70231d84b5ab",
      "name": "Sticky Note58",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        540,
        -80
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "job_title",
              "value": "Логист"
            }
          ]
        }
      },
      "id": "3b61b9bc-b394-4459-91fc-7b2164c9827e",
      "name": "поиск логистов3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        796,
        -20
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "3b568fb3-e439-4013-a634-54e474b10f00",
      "name": "поиск тг айди логистов3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1016,
        -20
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "JvKzM0ZR1mjzsPky",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.tg_id }}",
        "file": "={{ $('Execute Workflow Trigger').item.json.photo_id }}",
        "additionalFields": {
          "caption": "=Заправка: авто {{ $('поиск авто').item.json.number_car }}, {{ $('Execute Workflow Trigger').item.json.pg_fuel_liters }}л."
        }
      },
      "id": "e74e5e59-f7b7-40f5-8666-1ebd080773b3",
      "name": "Отправка фото логисту1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1256,
        -20
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "b3960bea-b465-4bb1-93a5-bf6f4326085f",
      "name": "преобразуем в 1 переменную3",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1476,
        -20
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Фото чека доставлено",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Продолжить",
                    "additionalFields": {
                      "callback_data": "check_career"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "31a68837-7f77-4100-a66d-5cf9ca8dbf67",
      "name": "Фото доставлено3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1696,
        -20
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
        "text": "Не удалось отправить фото, логист не найден",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Продолжить",
                    "additionalFields": {
                      "callback_data": "check_career"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "acdb8601-d162-4ff9-95c4-61e197cdacb1",
      "name": "если не отправилось1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1636,
        140
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "value": "={{ $json.pg_odoo_id }}"
            }
          ]
        }
      },
      "id": "49a27e92-2a3a-4bc1-a8ae-da63c48ff46b",
      "name": "поиск авто",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        596,
        -20
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.chat_id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_id",
              "displayName": "end_request_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "materials_photo",
              "displayName": "materials_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_request_hours",
              "displayName": "end_request_hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "8347c4bc-00f1-45a2-844c-a91a7ccf66b3",
      "name": "меняем статус на обычный1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1936,
        -20
      ],
      "credentials": {
        "postgres": {
          "id": "JvKzM0ZR1mjzsPky",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {},
      "id": "6c90eee6-7580-4d4a-aad6-ada5d04a5c0f",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        680
      ]
    },
    {
      "parameters": {
        "errorMessage": "444"
      },
      "id": "5937286f-b838-40f6-aa04-0671d9c06450",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -420,
        1080
      ],
      "disabled": true
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "c3d2c997-af94-4d42-9b72-159a7f0a04a6",
      "name": "преобразуем в 1 переменную",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1720,
        2280
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.message.message_id - 1}}",
        "text": "Отправьте фотографию чека с заправки:",
        "additionalFields": {}
      },
      "id": "9bf4fbca-2287-4bce-ac3e-38a0bca6623a",
      "name": "убираем кнопку назад",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2160,
        -20
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.pg_status }}",
                    "rightValue": "adding_end_request_photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a36fdeef-c179-48b5-8014-915761e4f22c",
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.pg_status }}",
                    "rightValue": "photo_fuel_receipt",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a621526f-3c31-40d0-bbd3-725ca1a082a9",
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.pg_status }}",
                    "rightValue": "weight_photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "74e125ed-e2c4-4422-a91a-28668cf8e05d",
                    "leftValue": "={{ $('Execute Workflow Trigger').item.json.pg_status }}",
                    "rightValue": "TTN_photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "74fac433-a108-4ae0-8fd9-ea734288e6ac",
      "name": "проверка статуса",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -60,
        1000
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Execute Workflow Trigger').item.json.message.photo.reduce((largest, current) => current.file_size > largest.file_size ? current : largest).file_id; }}"
      },
      "id": "8932718a-dc19-4294-9cb0-0d8ee54853c7",
      "name": "получение фото из тг2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        920,
        520
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "fd633aa9-b25a-4318-a7c3-0cc1ba922ee9",
      "name": "Extract from File2",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1120,
        520
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://80.87.105.202:8069/upload_weight_certificates",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "cookie",
              "value": "={{ $('Execute Workflow Trigger').item.json.cookie }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number_car\":  {{'\"'+ $json.number_car +'\"'}},\n  \"transportation_id\":  {{ $json.current_transportation[0] }},\n  \"files\":\n   [ {{'\"'+ $('Extract from File2').item.json.data +'\"'}} ]\n}",
        "options": {}
      },
      "id": "1ec87762-62d1-4588-8f39-211c1fda17c2",
      "name": "загрузка весовой в рейс",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1460,
        520
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "driver_id",
              "value": "={{ $('Execute Workflow Trigger').item.json.odoo_id }}"
            }
          ]
        }
      },
      "id": "7728348b-8aba-4517-8d2c-496de3a65e89",
      "name": "находим машину по odoo id1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1280,
        520
      ],
      "credentials": {
        "odooApi": {
          "id": "Lq325enRAAa1pn0J",
          "name": "Everest prod"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Execute Workflow Trigger').item.json.message.chat.id}}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "61966477-65c6-4e0a-af9e-49a7292c716c",
      "name": "меняем статус на дефолтный3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1720,
        520
      ],
      "credentials": {
        "postgres": {
          "id": "JvKzM0ZR1mjzsPky",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "content": "## Загрузка весовой в рейс",
        "height": 325.36388985291813,
        "width": 1581.9914497029301,
        "color": 4
      },
      "id": "a216790c-12f2-440d-94a5-4da33237dc90",
      "name": "Sticky Note63",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        440
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "text": "Фото прикреплено",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Продолжить",
                    "additionalFields": {
                      "callback_data": "final"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "f768c2a9-59d4-45c0-8ec8-3e7c3b4839db",
      "name": "возврат к завершению заказа",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1940,
        520
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $('Execute Workflow Trigger').item.json.message.chat.id }}",
        "messageId": "={{ $('Execute Workflow Trigger').item.json.message.message_id - 1}}",
        "replyMarkup": "inlineKeyboard",
        "text": "=Отлично, отправляйте фото",
        "additionalFields": {}
      },
      "id": "c995e325-1944-4033-95db-adf886b7cc06",
      "name": "убираем кнопку \"назад\" у прикрепления фото1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        660,
        520
      ],
      "credentials": {
        "telegramApi": {
          "id": "yJVsCMzutOZvA2Re",
          "name": "Everest production"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Execute Workflow Trigger": [
      {
        "json": {
          "chat_id": "700956969",
          "chat_text": null,
          "inline_data": null,
          "inline_chat_id": null,
          "inline_query_id": null,
          "inline_message_id": null,
          "pg_status": "authorized",
          "chat_message_id": "10327",
          "pg_odoo_id": 2,
          "pg_only_mech": false,
          "pg_car_id_while_inputing": 18,
          "cookie": "session_id=352aafa14b73fd4f0a7b7c93edbf3b2530743ed5; Expires=Sat, 12 Jul 2025 12:43:02 GMT; Max-Age=604800; HttpOnly; Path=/",
          "pg_weight_measure": null,
          "photo_id": "AgACAgIAAxkBAAIoV2aRJNSPaDBydtNfOwz4axyAUzsyAAKy3TEbM-qJSOBKgECq5gYPAQADAgADeAADNQQ",
          "pg_mech_photo": true,
          "pg_end_request_id": null,
          "pg_end_request_hours": null,
          "pg_fuel_liters": "40"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-07-11T08:13:56.296Z",
      "updatedAt": "2024-07-11T08:13:56.296Z",
      "id": "eucjxmhF768T7WNu",
      "name": "production"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-07-17T07:52:53.000Z",
  "versionId": "0e1d18ea-6938-43ac-8c2b-b9f647ab1c0a"
}