workflows/Sergey_TG_DEV.json
{
  "active": true,
  "connections": {
    "добавляет пользователя, если не существует": {
      "main": [
        [
          {
            "node": "получаем первый статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "есть ли статус": {
      "main": [
        [
          {
            "node": "актуальный статус",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "меняем статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем первый статус": {
      "main": [
        [
          {
            "node": "есть ли статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус": {
      "main": [
        [
          {
            "node": "получаем первый статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "актуальный статус": {
      "main": [
        [
          {
            "node": "проверка статуса авторизации1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус1": {
      "main": [
        [
          {
            "node": "отправляем кнопку контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка нажатия кнопки контакта": {
      "main": [
        [
          {
            "node": "номер телефона",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "не ввели контакт",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем id по mobile_phone": {
      "main": [
        [
          {
            "node": "проверяем наличие",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем наличие": {
      "main": [
        [
          {
            "node": "меняем статус на \"авторизован\"",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "пишем, что номера нет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "получаем все карточки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем все карточки": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вывод статуса карточки": {
      "main": [
        [
          {
            "node": "помечаем их отправленными",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка типа входных данных": {
      "main": [
        [
          {
            "node": "Проверка медиа",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу ВОДИТЕЛЬ_ИНЛАЙН",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Получаем тг",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем тг": {
      "main": [
        [
          {
            "node": "Вывод статуса карточки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем роль": {
      "main": [
        [
          {
            "node": "склеиваем данные",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус на \"авторизован\"": {
      "main": [
        [
          {
            "node": "проверка роли после авторизации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "получаем все карточки1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем все карточки1": {
      "main": [
        [
          {
            "node": "если не отправлены",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вывод статуса карточки1": {
      "main": [
        [
          {
            "node": "помечаем их отправленными1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем тг1": {
      "main": [
        [
          {
            "node": "Вывод статуса карточки1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "найдём водителя по номеру автомобиля1": {
      "main": [
        [
          {
            "node": "Получаем тг1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "если не отправлены": {
      "main": [
        [
          {
            "node": "найдём водителя по номеру автомобиля1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "номер телефона": {
      "main": [
        [
          {
            "node": "получаем id по mobile_phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "авторизация": {
      "main": [
        [
          {
            "node": "добавляет пользователя, если не существует",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка статуса авторизации1": {
      "main": [
        [
          {
            "node": "меняем статус1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "проверка нажатия кнопки контакта",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "получаем роль",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "склеиваем данные": {
      "main": [
        [
          {
            "node": "ветки для ролей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка медиа": {
      "main": [
        [
          {
            "node": "воркфлоу ВОДИТЕЛЬ МЕДИА",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу ВОДИТЕЛЬ_РЕПЛАЙ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка роли после авторизации": {
      "main": [
        [
          {
            "node": "логист",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "механик",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "водитель",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "диспетчер",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "нет роли",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "авторизация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ветки для ролей": {
      "main": [
        [
          {
            "node": "воркфлоу ЛОГИСТ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу МЕХАНИК",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка типа входных данных",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "воркфлоу ДИСПЕТЧЕР",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Нет роли",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-07-30T08:47:54.945Z",
  "id": "0hOwMIulJ7dNlcLQ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Sergey_TG_DEV",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tg_users (tg_id) VALUES ($1) ON CONFLICT (tg_id) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ \n  $('Telegram Trigger1').item.json.message?.from.id !== undefined \n  ? $('Telegram Trigger1').item.json.message.from.id \n  : $('Telegram Trigger1').item.json.callback_query.from.id \n}}"
        }
      },
      "id": "b7bf9bc1-9422-4cd1-a5f2-1456779795b9",
      "name": "добавляет пользователя, если не существует",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2380,
        1480
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3f1dd178-652c-4e81-8cb6-91df77dfe097",
              "leftValue": "={{ $json.status }}",
              "rightValue": "unauthorized",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8c42e3e8-f66d-4126-bfea-156270085012",
      "name": "есть ли статус",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1980,
        1480
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ \n  $('Telegram Trigger1').item.json.message?.from.id !== undefined \n  ? $('Telegram Trigger1').item.json.message.from.id \n  : $('Telegram Trigger1').item.json.callback_query.from.id \n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "7a56d96e-4749-43c2-8814-de9efb0f9ba0",
      "name": "получаем первый статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -2180,
        1480
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('есть ли статус').item.json.tg_id }}",
            "status": "unauthorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "8c71d38a-52c1-4480-bbd1-adffa1cc3125",
      "name": "меняем статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -1780,
        1600
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ \n  $('Telegram Trigger1').item.json.message?.from.id !== undefined \n  ? $('Telegram Trigger1').item.json.message.from.id \n  : $('Telegram Trigger1').item.json.callback_query.from.id \n}}"
            }
          ]
        },
        "options": {}
      },
      "id": "ed93c1e2-db82-45a1-988e-15ea327a7927",
      "name": "актуальный статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -1460,
        1460
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.tg_id }}",
            "status": "input_number"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "ad75377f-dffe-47fd-a005-bb15ebd519ad",
      "name": "меняем статус1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -880,
        600
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Чтобы войти, поделитесь контактом",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться контактом",
                    "additionalFields": {
                      "request_contact": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "44cc010a-c4e4-44cb-af42-24654963af6b",
      "name": "отправляем кнопку контакта",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -620,
        600
      ],
      "credentials": {
        "telegramApi": {
          "id": "R2ipKSfc6dad40P9",
          "name": "Sergey Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4d79f0bd-02e2-413a-b219-bfc80a34c855",
              "leftValue": "={{ $('Telegram Trigger1').item.json.message.contact.phone_number }}",
              "rightValue": "Вы не нажали кнопку \"поделиться контактом\"",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "eabffc63-fd34-4dd1-b338-ba0880909c51",
      "name": "проверка нажатия кнопки контакта",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -875,
        800
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": []
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "mobile_phone",
              "value": "={{  $json.str.startsWith('+') ? $json.str : '+' + $json.str; }}"
            }
          ]
        }
      },
      "id": "96876ec3-f940-4fab-be6e-e232d17620e3",
      "name": "получаем id по mobile_phone",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -455,
        800
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9b905cb5-83c4-4cdb-b1df-7e7f94e2a734",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6459e5a6-74de-4fdf-961e-c130767f0d5b",
      "name": "проверяем наличие",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -275,
        800
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Такого сотрудника ещё нет в Odoo.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "c34c125a-95b4-4516-b20a-2d003b873f3a",
      "name": "пишем, что номера нет",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -35,
        920
      ],
      "credentials": {
        "telegramApi": {
          "id": "R2ipKSfc6dad40P9",
          "name": "Sergey Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('актуальный статус').item.json.tg_id }}",
            "odoo_id": "={{ $('проверяем наличие').item.json.id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "0aa75835-e425-44b5-9924-c3a0e9d15449",
      "name": "меняем статус на \"авторизован\"",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -20,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Блок авторизации\n",
        "height": 683.4771536589792,
        "width": 1591.8393730343007,
        "color": 6
      },
      "id": "b4ea3296-d05a-4a06-9105-64ab19721599",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -920,
        480
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "6ca33628-b3a9-4382-b810-65924863f183",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -4665,
        2156
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "id": "f49f4e4a-a2df-45f9-8fdf-17a1b1dfd372",
      "name": "получаем все карточки",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -4365,
        2156
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Проверка состояния карточек и отправка статуса водителю",
        "height": 422.196840068823,
        "width": 1685.1496509392816,
        "color": 6
      },
      "id": "8b0fb672-d469-4eb0-8b55-4e132ea7e872",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -4717,
        1947
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "={{ $('If').item.json[\"created_by\"][1] }}\nВаше обращение перенесено в статус <b>{{ $('If').item.json[\"status\"] }}</b>\n\nТекст вашего обращения:\n<i>{{ $('If').item.json[\"description_of_maintenance\"] }}</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "5d75c859-a2c3-4e26-9ee0-b957a133b69e",
      "name": "Вывод статуса карточки",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -3480,
        2040
      ],
      "credentials": {
        "telegramApi": {
          "id": "R2ipKSfc6dad40P9",
          "name": "Sergey Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11c45e0d-196b-47f1-821e-bee57c9f070b",
              "leftValue": "={{ $('Telegram Trigger1').item.json.hasField(\"message\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9514db5b-0696-4d3d-8161-b8dd987c5d87",
      "name": "Проверка типа входных данных",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        160,
        1820
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "83edda29-8198-4233-8d09-a34820e84077",
              "leftValue": "={{ $json.sent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2baac79f-efe2-4cf3-a798-5c26170e1452",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4140,
        2160
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.created_by }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6d917639-c645-4de3-80ac-f74b24f8ec03",
      "name": "Получаем тг",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -3700,
        2040
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "update",
        "customResourceId": "={{ $('If').item.json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "sent",
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "id": "760ed1c8-8167-4a7a-984c-2e4e1abba5ff",
      "name": "помечаем их отправленными",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -3260,
        2040
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "get",
        "customResourceId": "={{ $json.odoo_id }}",
        "options": {
          "fieldsList": [
            "job_id"
          ]
        }
      },
      "id": "0cf4a272-ac17-4037-bdf8-7a8467898601",
      "name": "получаем роль",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -840,
        1640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Проверка ролей\n",
        "height": 309.07650486512966,
        "width": 727.3089586054689,
        "color": 6
      },
      "id": "8a73abea-d8f1-4c96-83bf-48e8f6f3c925",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -880,
        1560
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как логист, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Просмотреть свободные машины",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Оповещение",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "e3d17bbc-39b0-4130-9a07-05c2c80854b3",
      "name": "логист",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        460,
        460
      ],
      "credentials": {
        "telegramApi": {
          "id": "R2ipKSfc6dad40P9",
          "name": "Sergey Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как водитель, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к работе",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Срочно",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Заявки на ТО",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Моя статистика",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "fb2f5e83-f8f0-4392-afae-5deb40fecc90",
      "name": "водитель",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        460,
        780
      ],
      "credentials": {
        "telegramApi": {
          "id": "R2ipKSfc6dad40P9",
          "name": "Sergey Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как механик, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Клавиатура механика",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "b6e86cd8-6ac0-4965-a7cf-36783572260a",
      "name": "механик",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        460,
        620
      ],
      "credentials": {
        "telegramApi": {
          "id": "R2ipKSfc6dad40P9",
          "name": "Sergey Bot"
        }
      }
    },
    {
      "parameters": {
        "content": "## Добавление записи в бд при первом запуске",
        "height": 400.90037255076527,
        "width": 857.69326295068,
        "color": 6
      },
      "id": "c52f151d-48be-4408-8b6a-e25d5d8846d6",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2440,
        1400
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "2c1a2e06-ec40-4c58-91ba-21cc65e8b5ab",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -5260,
        2820
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "status",
              "value": "Готово"
            }
          ]
        }
      },
      "id": "ca97cf21-989c-4883-92f4-f47933594b4c",
      "name": "получаем все карточки1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -4965,
        2816
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Проверка состояния карточек и отправка статуса водителю",
        "height": 749.4704439473635,
        "width": 2342.9054234402693
      },
      "id": "0ea4fe4a-c82c-4fb1-81ee-3a2020f5f0c4",
      "name": "Sticky Note21",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -5360,
        2520
      ],
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "={{ $('найдём водителя по номеру автомобиля1').item.json[\"employee_id\"][1] }}\nВаше обращение перенесено в статус <b>{{ $('если не отправлены').item.json[\"status\"] }}</b>\n\nТекст вашего обращения:\n<i>{{ $('если не отправлены').item.json[\"description_of_maintenance\"] }}</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "da06f28a-153a-4627-910a-223ec46cdda6",
      "name": "Вывод статуса карточки1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -4080,
        2700
      ],
      "credentials": {
        "telegramApi": {
          "id": "R2ipKSfc6dad40P9",
          "name": "Sergey Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.employee_id[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14f3d119-a081-40a6-8bc1-08f53492f58c",
      "name": "Получаем тг1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        -4300,
        2700
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.car_id[0] }}"
            }
          ]
        }
      },
      "id": "5fa383ba-aa6f-4813-a02d-b15430ec96bb",
      "name": "найдём водителя по номеру автомобиля1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -4520,
        2700
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "update",
        "customResourceId": "={{ $('если не отправлены').item.json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "sent",
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "id": "938d8f26-1996-4ef7-82c0-b1283f6999f2",
      "name": "помечаем их отправленными1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        -3860,
        2700
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Вы не нажали кнопку \"поделиться контактом\"",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться контактом",
                    "additionalFields": {
                      "request_contact": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "38138583-2df0-4c65-9e5a-4df7fdd2e96c",
      "name": "не ввели контакт",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -620,
        1000
      ],
      "credentials": {
        "telegramApi": {
          "id": "R2ipKSfc6dad40P9",
          "name": "Sergey Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Роль не указана",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "de1c08a9-db54-49f1-81df-55bb7806001f",
      "name": "Нет роли",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        -60,
        2180
      ],
      "credentials": {
        "telegramApi": {
          "id": "R2ipKSfc6dad40P9",
          "name": "Sergey Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "83edda29-8198-4233-8d09-a34820e84077",
              "leftValue": "={{ $json.sent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0069c72e-45db-46c2-8dc6-6acfd90dd3dc",
      "name": "если не отправлены",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4740,
        2820
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5c7a2f2e-c8b7-431a-8a0b-5dc40efd8909",
              "name": "str",
              "value": "={{ $('Telegram Trigger1').item.json.message.contact.phone_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c9a43ec6-2f60-429d-8d80-0e02574a6046",
      "name": "номер телефона",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -615,
        800
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "Вы авторизовались, но у вас не указана роль в Odoo",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d3e5a578-5caa-4849-8752-cced9e5f8a56",
      "name": "нет роли",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        360,
        1020
      ],
      "credentials": {
        "telegramApi": {
          "id": "R2ipKSfc6dad40P9",
          "name": "Sergey Bot"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://dev.everest.lamart.site/web/session/authenticate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"jsonrpc\": \"2.0\",\n    \"method\": \"call\",\n    \"params\": {\n        \"db\": \"db\",\n        \"login\": \"lamart-admin\",\n        \"password\": \"lamarlemur\"\n    }\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "0a8da7e1-82f1-4852-933f-8a3d01d3fe69",
      "name": "авторизация",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -2640,
        1480
      ]
    },
    {
      "parameters": {
        "workflowId": "TSCXh6OIMAccQuB1",
        "options": {}
      },
      "id": "012d8b1a-8190-46a0-868f-1bff797a43cd",
      "name": "воркфлоу ЛОГИСТ",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        140,
        1360
      ]
    },
    {
      "parameters": {
        "workflowId": "kpOaUw7TiRuf8bDs",
        "options": {}
      },
      "id": "334a94cc-0586-4b93-a0e6-c4876b9281a2",
      "name": "воркфлоу МЕХАНИК",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        140,
        1540
      ]
    },
    {
      "parameters": {
        "workflowId": "XbkqWi8UKpbWu46x",
        "options": {}
      },
      "id": "83629d5a-9c08-4564-a2be-7146bf99713b",
      "name": "воркфлоу ВОДИТЕЛЬ_РЕПЛАЙ",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        860,
        1940
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "77fe838f-5f60-44cc-a654-5adcbbebf8bb",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "7dc92754-779a-4427-ba34-e7c6a59cb5c6",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "input_number",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "057edbc4-d6bf-4757-b09e-e1a27afbb853",
      "name": "проверка статуса авторизации1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -1240,
        1460
      ]
    },
    {
      "parameters": {
        "workflowId": "SEKdLtEdrMYVB27h",
        "options": {}
      },
      "id": "e0a2873b-b766-41ed-996e-5efeedd6dbf9",
      "name": "воркфлоу ВОДИТЕЛЬ_ИНЛАЙН",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        480,
        2020
      ]
    },
    {
      "parameters": {
        "content": "## Водитель\nу водителя много нод, поэтому они вынесены в отдельные воркфлоу",
        "height": 469.99969888850467,
        "width": 991.3552023907823,
        "color": 6
      },
      "id": "a6eb8e53-39bf-4a9b-9a04-a3d56b3a88db",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        1720
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nvar res = {};\n\nfor (const item of $input.all()) {\n  Object.assign(res, $('Telegram Trigger1').item.json);\n  Object.assign(res, $('актуальный статус').item.json);\n  Object.assign(res, { cookie: $('авторизация').item.json.headers['set-cookie'][0] });\n}\n\nreturn res;"
      },
      "id": "a822bd67-2344-44b3-a14c-c546c45319d9",
      "name": "склеиваем данные",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -620,
        1640
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2bd61e7b-a58d-4c5d-81d2-ec5f92c0ee0d",
              "leftValue": "={{ $json.message.photo[0].file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "beb896d6-88c5-4a2c-8278-489d76a2eca6",
              "leftValue": "={{ $json.message.voice.file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "0228f7b6-101d-46f6-98b3-0fa3b02263be",
              "leftValue": "={{ $json.message.video_note.file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "0bd83324-348f-4eae-aa8b-5f00ce5638ee",
              "leftValue": "={{ $json.message.video.file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "d2bb637e-fa3c-42ec-8aee-cc8f3ae1c29f",
      "name": "Проверка медиа",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        480,
        1820
      ]
    },
    {
      "parameters": {
        "workflowId": "GZOIC2oNAmLZzf2j",
        "options": {}
      },
      "id": "022dbdb9-c203-4292-9aa7-a72d801da66d",
      "name": "воркфлоу ВОДИТЕЛЬ МЕДИА",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        880,
        1760
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Логист",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "15e1453e-b597-4713-8d5b-6f12cf95cdfe",
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Механик",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c007a326-23d6-4d7f-84ee-af7fc0aead66",
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Водитель",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a0b1b44d-6624-404a-9edc-b87f2556e916",
                    "leftValue": "={{ $('получаем id по mobile_phone').item.json.job_id[1] }}",
                    "rightValue": "Диспетчер",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "907bbbaa-9e8a-4809-8484-87d3a74584c1",
      "name": "проверка роли после авторизации",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        180,
        700
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "=Вы авторизовались как диспетчер, <b>{{ $('получаем id по mobile_phone').item.json.name }}</b>",
        "replyMarkup": "replyKeyboardRemove",
        "replyKeyboardRemove": {
          "remove_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "6aafabe0-12ec-47c6-aa2f-152376d808b8",
      "name": "диспетчер",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        520,
        940
      ],
      "credentials": {
        "telegramApi": {
          "id": "R2ipKSfc6dad40P9",
          "name": "Sergey Bot"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "BWWu7v6W915Xxymu",
        "options": {}
      },
      "id": "199eecfb-c950-48cf-aad2-1da18316d5c5",
      "name": "воркфлоу ДИСПЕТЧЕР",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -60,
        1940
      ]
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "548a3a00-6da2-412d-ab5f-de650117c0d4",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -2860,
        1480
      ],
      "webhookId": "10bbe1ea-7985-4623-a77e-904911fa0997",
      "credentials": {
        "telegramApi": {
          "id": "R2ipKSfc6dad40P9",
          "name": "Sergey Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Логист",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8c711320-cf09-453c-9f7f-dd3e02d0d308",
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Механик",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a06fb869-7c18-4036-9ca4-f2f7fa9005d8",
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Водитель",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "62c1396b-c91f-4fe9-968e-63fad325a2da",
                    "leftValue": "={{ $('получаем роль').item.json.job_id[1] }}",
                    "rightValue": "Диспетчер",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "54ab2e28-bfaa-4bb0-87d1-062304ea6573",
      "name": "ветки для ролей",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -380,
        1640
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2024-07-12T09:46:32.191Z",
      "updatedAt": "2024-07-12T09:46:32.191Z",
      "id": "coJPcdNrgNxmQ1Qw",
      "name": "sergey"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2024-08-02T09:02:15.000Z",
  "versionId": "b5cd14eb-b412-40e7-bf16-901b805959f3"
}