workflows/workflow Sasha.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check_type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_type": {
      "main": [
        [
          {
            "node": "check_role",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "check_role1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_role": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_role1": {
      "main": [
        [],
        [
          {
            "node": "Picked_button",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "Telegram4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram4": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Telegram5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram6": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Picked_button": {
      "main": [
        [
          {
            "node": "pick",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finish",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "menu-ok",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "menu-wrong",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "добавляет пользователя, если не существует": {
      "main": [
        [
          {
            "node": "получаем первый статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "есть ли статус": {
      "main": [
        [
          {
            "node": "актуальный статус",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "меняем статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем первый статус": {
      "main": [
        [
          {
            "node": "есть ли статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус": {
      "main": [
        [
          {
            "node": "получаем первый статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "актуальный статус": {
      "main": [
        [
          {
            "node": "проверка статуса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем odoo id1": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "получение номера машины1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "main-menu1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка статуса": {
      "main": [
        [
          {
            "node": "меняем статус1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "проверка нажатия кнопки контакта",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус1": {
      "main": [
        [
          {
            "node": "отправляем кнопку контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка нажатия кнопки контакта": {
      "main": [
        [
          {
            "node": "получаем id по mobile_phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем id по mobile_phone": {
      "main": [
        [
          {
            "node": "проверяем наличие",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем наличие": {
      "main": [
        [
          {
            "node": "получаем имя",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "пишем, что номера нет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "успешный вход": {
      "main": [
        [
          {
            "node": "меняем статус на \"авторизован\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем имя": {
      "main": [
        [
          {
            "node": "успешный вход",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "комментарий": {
      "main": [
        [
          {
            "node": "удаление прошлого сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo1": {
      "main": [
        [
          {
            "node": "Telegram7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Check_type1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check_type1": {
      "main": [
        [
          {
            "node": "добавляет пользователя, если не существует",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "check_role2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check_role2": {
      "main": [
        [
          {
            "node": "Picked_button3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "/start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "/connect",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Odoo1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "комментарий",
            "type": "main",
            "index": 0
          },
          {
            "node": "Отправка проблемы механику",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Picked_button1": {
      "main": [
        [
          {
            "node": "принятый заказ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stats1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finish1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "menu1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "comment1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "получение номера машины1",
            "type": "main",
            "index": 0
          },
          {
            "node": "получаем odoo id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Picked_button3": {
      "main": [
        [
          {
            "node": "pick2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stats3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Finish3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "menu-ok2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "menu-wrong2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "comment3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "menu3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "main-menu",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "main-menu2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-03-26T13:57:32.243Z",
  "id": "G5idVA6X5Dr9MgYr",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "workflow Sasha",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "bd577820-c05e-44d0-b6a3-2d92248b02fd",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        840,
        380
      ],
      "webhookId": "26b2f4b1-d359-47e0-b0ac-4e39f5443b8a",
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "799934256",
        "text": "привет, дорогой диспетчер",
        "additionalFields": {}
      },
      "id": "56e85d92-f32d-436a-b05c-f77614465e0f",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1640,
        -160
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11c45e0d-196b-47f1-821e-bee57c9f070b",
              "leftValue": "={{ $json.hasField(\"message\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "62a55243-720a-47cc-9ff2-cbc609f4071e",
      "name": "Check_type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "ed8fd1fb-ba97-41a5-844d-74a3ce352197",
              "leftValue": "={{ $json.message.from.username }}",
              "rightValue": "sanioche",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "8745e9da-1f6f-474e-b2e0-bede93568fc9",
      "name": "check_role",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1360,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9e5341d4-525b-4677-b22e-26741349cd16",
              "leftValue": "{{ $json.callback_query.from.username }}",
              "rightValue": "saniochek",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5c256daa-af4a-4f5a-bd01-28c646055d29",
      "name": "check_role1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1300,
        620
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=<b>Пожалуйста, проведите осмотр авто перед началом работы!\n\nАвтомобиль:</b>\n* SCANIA А459ТЕ *\n\n<b>Водитель:</b>\nМамедов Е.С.\n______________________\n<b>⭕ Тех. жидкость в норме.\n⭕ Тормозная система в норме.\n⭕ Ходовая часть в норме.\n⭕ Запаска в норме.\n\nСтраховка до: 18.07.2024.\n\nПробег:</b> 332358км.\n",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅Всё в норме.",
                    "additionalFields": {
                      "callback_data": "=menu_ok"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "❌Есть неисправности",
                    "additionalFields": {
                      "callback_data": "=menu_wrong"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "65924574-719a-43cf-8b76-77b51635b8cf",
      "name": "main-menu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2220,
        -420
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=<b>Пожалуйста, проведите осмотр авто перед началом работы!\n\nАвтомобиль:</b>\n* SCANIA А459ТЕ *\n\n<b>Водитель:</b>\nМамедов Е.С.\n______________________\n<b>⭕ Тех. жидкость в норме.\n⭕ Тормозная система в норме.\n⭕ Ходовая часть в норме.\n⭕ Запаска в норме.\n\nСтраховка до: 18.07.2024.\n\nПробег:</b> 332358км.",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📄Добавить комментарий",
                    "additionalFields": {
                      "callback_data": "mechanic_com"
                    }
                  },
                  {
                    "text": "Комментарии не требуются",
                    "additionalFields": {
                      "callback_data": "no_com"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "9fe24e3f-d181-47a6-be27-98df2165d7ea",
      "name": "menu-wrong",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2400,
        1140
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=<b>Автомобиль:</b>\n* SCANIA А459ТЕ *\n\n<b>Водитель:</b>\nМамедов Е.С.\n______________________\n<b>✅ Тех. жидкость в норме.\n✅ Тормозная система в норме.\n✅ Ходовая часть в норме.\n✅ Запаска в норме.\n\nСтраховка до: 18.07.2024.\n\nПробег:</b> 332358км.",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📄Добавить комментарий",
                    "additionalFields": {
                      "callback_data": "mechanic_com"
                    }
                  },
                  {
                    "text": "Комментарии не требуются",
                    "additionalFields": {
                      "callback_data": "no_com"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "5b556c72-0252-4d3a-89f9-f7363105fa9d",
      "name": "menu-ok",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2620,
        1040
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=<b>Пожалуйста, проведите осмотр авто перед завершением работы!\n\nАвтомобиль:</b>\n* SCANIA А459ТЕ *\n\n<b>Водитель:</b>\nМамедов Е.С.\n______________________\n<b>⭕ Тех. жидкость в норме.\n⭕ Тормозная система в норме.\n⭕ Ходовая часть в норме.\n⭕ Запаска в норме.\n\nСтраховка до: 18.07.2024.\n\nПробег:</b> 332358км.\n",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅Всё в норме.",
                    "additionalFields": {
                      "callback_data": "=menu_ok"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "❌Есть неисправности",
                    "additionalFields": {
                      "callback_data": "=menu_wrong"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "8da5f755-4afc-4db5-8f87-2c0cc0bb1469",
      "name": "main-menu2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2400,
        -280
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Отлично, вы приняли заказ, по его завершению нажмите на кнопку, когда завершите выполнение",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить заказ",
                    "additionalFields": {
                      "callback_data": "Finish"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Статистика",
                    "additionalFields": {
                      "callback_data": "stats"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "c99d883e-1a02-491b-ad2f-13940b60f7b8",
      "name": "pick",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2140,
        580
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Отлично, вы завершили заказ, хотите принять следующий?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Принять заказ",
                    "additionalFields": {
                      "callback_data": "pick"
                    }
                  },
                  {
                    "text": "Посмотреть статистику",
                    "additionalFields": {
                      "callback_data": "stats"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "d31987e3-add7-4a23-bcf5-ffd5ff966f07",
      "name": "Finish",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2580,
        860
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=Тут статистика дорогого водителя:\nза сегодняший день ты выполнил {{counter}} заказов\nПроехал      километров\nПеревёз     тонн груза",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выйти в меню",
                    "additionalFields": {
                      "callback_data": "Finish"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "beeb8372-68c1-4b2a-b475-85ada407877f",
      "name": "Stats",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2320,
        720
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "text": "=<b>Напишите комментарий:</b>",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "941923da-1694-4533-accb-d3d460aa0987",
      "name": "comment",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1900,
        1320
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "Привет дорогой водитель, какое действие ты намерен совершить?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Принять заказ",
                    "additionalFields": {
                      "callback_data": "pick",
                      "switch_inline_query_current_chat": ""
                    }
                  },
                  {
                    "text": "Посмотреть статистику",
                    "additionalFields": {
                      "callback_data": "stats",
                      "switch_inline_query_current_chat": ""
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "af5b9ffd-f698-45a6-a1f7-911d8971baa9",
      "name": "menu",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2340,
        1320
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}  ",
        "text": "Комментарий доставлен",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к заказам",
                    "additionalFields": {
                      "callback_data": "no_com"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "fb0d3340-6d30-425c-9e6f-0c50a804c032",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2300,
        160
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=799934256 ",
        "text": "=Дорогой механик, у водителя возникла проблема:\n{{ $json.message.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "67f8c276-4424-4f8a-8fd8-92fe2256ec26",
      "name": "Telegram2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2800,
        160
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Опишите вашу проблему, доставим ее механику и диспетчеру",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "059a67a2-37e4-4dfb-94c3-45cc35ed3fbe",
      "name": "Telegram3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2640,
        -160
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $json.result.chat.id }}",
        "messageId": "={{ $json.result.message_id -2}}"
      },
      "id": "11bb8052-c822-4011-8962-3cdc37047b4f",
      "name": "Telegram4",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2560,
        160
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "799934256",
        "text": "=Дорогой диспетчер, у водителя проблема: {{ $('Telegram Trigger').item.json.message.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "86c90687-7a16-4747-98aa-0d4743149add",
      "name": "Telegram5",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3360,
        160
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b53b9129-85e1-417f-8127-73571e466bc6",
              "leftValue": "={{ $('Edit Fields1').item.json.only_mech }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cfe959fe-b44a-4793-ac23-cec9c0ce50f4",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3060,
        180
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "109b24b1-cbf7-4379-b141-656b1f0b4024",
              "name": "only_mech",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "b49336b7-63d9-4924-aa9c-24a6449fe499",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1940,
        1500
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "7746efa5-c1e8-4274-a2b8-93f309efdbc8",
      "name": "Switch1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2000,
        180
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "Отправьте свой комментарий механику",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "4c3c3c58-91b8-4562-a7e5-2fd000a450ef",
      "name": "Telegram6",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1780,
        1460
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "=pick",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8bc82b0c-1224-4b1a-8c5f-8889e9c22f7a",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8393d9b4-05b0-4ecf-a449-110e64114680",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "Finish",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "6a32c278-a8b4-4dd6-910c-38775e0c5267",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "menu_ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5ac51105-cc73-4102-b9c6-a408ce0f165b",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "menu_wrong",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "b834315e-6c45-4d14-82b5-980bebf6fdd0",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "menu_com",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "1a38fd4f-020e-4df5-a1b1-11240f872356",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "no_com",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "1a85b9c7-99b3-4589-9fc5-63a92e226a8d",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "mechanic_com",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "cc60313c-2d9f-4185-a3c2-2074d83c7ca9",
      "name": "Picked_button",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1480,
        940
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tg_users (tg_id, odoo_id, status) VALUES ($1, NULL, NULL) ON CONFLICT (tg_id) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ $('Telegram Trigger1').item.json.message.from.id }}"
        }
      },
      "id": "177895e1-13e6-4391-8292-892ca8258942",
      "name": "добавляет пользователя, если не существует",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        1900,
        2360
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3f1dd178-652c-4e81-8cb6-91df77dfe097",
              "leftValue": "={{ $json.status }}",
              "rightValue": "unauthorized",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b55a1cff-ec82-4e71-ba10-758a8ad76cf5",
      "name": "есть ли статус",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2300,
        2360
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $('Telegram Trigger1').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e3c85085-9f86-4bf5-9895-fa4cc86295fe",
      "name": "получаем первый статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2100,
        2360
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('есть ли статус').item.json.tg_id }}",
            "status": "unauthorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "b3dfd568-cbca-497b-8287-0406209e2fc1",
      "name": "меняем статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2500,
        2480
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $('Telegram Trigger1').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7d9ba90b-a910-484d-b3dc-852f323641af",
      "name": "актуальный статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2480,
        2100
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Отлично, вы приняли заказ, по его завершению нажмите на кнопку <b><i>\"Завершить заказ\"</i></b>",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить заказ",
                    "additionalFields": {
                      "callback_data": "Finish"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "31756b85-6b38-4807-94e2-62f4e751ee1d",
      "name": "принятый заказ",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2600,
        4280
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $json.callback_query.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8cc95d10-d508-4a93-8d9a-fcddeaf6a1fd",
      "name": "получаем odoo id1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2740,
        5280
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "contactId": "={{ $json.odoo_id }}",
        "options": {}
      },
      "id": "d47068df-59c0-49f2-82c2-8fc0c058cbe3",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        3020,
        5280
      ],
      "credentials": {
        "odooApi": {
          "id": "IbOO6r3p0Qvo35Gh",
          "name": "Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_user }}",
        "text": "=<b>Пожалуйста, проведите осмотр авто перед началом работы!\n\nАвтомобиль:</b>\n{{ $json.auto_number }}\n\n<b>Водитель:</b>\n{{ $json[\"name\"] }}\n______________________\n<b>⭕ Тех. жидкость в норме.\n⭕ Тормозная система в норме.\n⭕ Ходовая часть в норме.\n⭕ Запаска в норме.\n\nСтраховка до: 18.07.2024.\n\nПробег:</b> 332358км.",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅Всё в норме.",
                    "additionalFields": {
                      "callback_data": "=menu_ok"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "❌Есть неисправности",
                    "additionalFields": {
                      "callback_data": "=menu_wrong"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "e26b8308-f49d-4be8-9eae-e7b3e0783fed",
      "name": "main-menu1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3680,
        5300
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "vehicles",
          "mode": "list",
          "cachedResultName": "vehicles"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "tg_user",
              "value": "={{ $json.callback_query.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a5347642-9e4a-4772-b360-5b2a7c3d2044",
      "name": "получение номера машины1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2740,
        5080
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "f4db5647-3809-4bd8-bf3e-8fff23b460d3",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3320,
        5200
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "77fe838f-5f60-44cc-a654-5adcbbebf8bb",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "7dc92754-779a-4427-ba34-e7c6a59cb5c6",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "input_number",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c328907d-5e2f-4059-b43d-dec7c9a2136a",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "78e84bce-4708-4eaa-80d4-ac6b4324e47a",
      "name": "проверка статуса",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2840,
        2020
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.tg_id }}",
            "status": "input_number"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "13734dfd-8925-4801-8695-97281c9653ad",
      "name": "меняем статус1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        3360,
        1480
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Чтобы войти, поделитесь контактом",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться контактом",
                    "additionalFields": {
                      "request_contact": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "3b020755-f3dc-4e5f-b981-6f3878334e10",
      "name": "отправляем кнопку контакта",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3580,
        1480
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "24ec202f-0645-4527-b391-6bb1bc0ea711",
              "leftValue": "={{ $('Telegram Trigger1').item.json.message.reply_to_message.text }}",
              "rightValue": "Чтобы войти, поделитесь контактом",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a7c4d137-ed60-4861-85f8-99f9069a571b",
      "name": "проверка нажатия кнопки контакта",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3380,
        1680
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "id",
            "mobile_phone"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "mobile_phone",
              "value": "={{ $('Telegram Trigger1').item.json.message.contact.phone_number }}"
            }
          ]
        }
      },
      "id": "335d27de-9ed2-4ce3-bb98-ab6a17825230",
      "name": "получаем id по mobile_phone",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        3580,
        1680
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "IbOO6r3p0Qvo35Gh",
          "name": "Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9b905cb5-83c4-4cdb-b1df-7e7f94e2a734",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b55390eb-ae69-442f-8893-0a1fd2364635",
      "name": "проверяем наличие",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3760,
        1680
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Такого сотрудника ещё нет в Odoo.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "cbd67528-52c5-4fd9-b2ae-e445bd7223ee",
      "name": "пишем, что номера нет",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4000,
        1800
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.reply_to_message.chat.id }}",
        "text": "=Вы успешно авторизовались, <b>{{ $json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Моя статистика",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "eb088561-f01a-4aea-9a81-1a347f9e3c95",
      "name": "успешный вход",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4220,
        1600
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.result.chat.id }}",
            "odoo_id": "={{ $('проверяем наличие').item.json.id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "86e5c2ff-4ef9-4889-a2ba-4c6157dcf521",
      "name": "меняем статус на \"авторизован\"",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        4440,
        1600
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "get",
        "customResourceId": "={{ $json.id }}",
        "options": {
          "fieldsList": [
            "name"
          ]
        }
      },
      "id": "32a25f40-4a41-48c0-9485-d29e83880565",
      "name": "получаем имя",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        4000,
        1600
      ],
      "credentials": {
        "odooApi": {
          "id": "IbOO6r3p0Qvo35Gh",
          "name": "Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Блок авторизации\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 623.4771536589793,
        "width": 1361.5817241569612
      },
      "id": "01f9d1e7-36c1-45f5-bea1-9137b0c6c92e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3280,
        1360
      ]
    },
    {
      "parameters": {
        "chatId": "799934256",
        "text": "=Дорогой диспетчер, у водителя возникла проблема:\n{{ $('Telegram Trigger1').item.json.message.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "0cd20372-70a9-4b2e-81cb-02fd98ae0226",
      "name": "Отправка проблемы механику",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3940,
        3220
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Опишите вашу проблему, доставим ее механику",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "7d874ff0-da2f-4da4-add4-b3ec45f6478f",
      "name": "/connect",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3760,
        2400
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "Комментарий доставлен диспетчеру",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к заказам",
                    "additionalFields": {
                      "callback_data": "Finish"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "709d89f4-65f2-4668-a569-cce529217325",
      "name": "комментарий",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3960,
        3000
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $json.result.chat.id }}",
        "messageId": "={{ $json.result.message_id -2}}"
      },
      "id": "31057b78-0898-4421-a59e-c3f6b02ced33",
      "name": "удаление прошлого сообщения",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4240,
        3060
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "Вы уже авторизовались",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Моя статистика",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "1133838a-256c-4580-a4f6-93aa9d54f8e2",
      "name": "/start",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3760,
        2200
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "get",
        "customResourceId": "={{ $json.odoo_id }}",
        "options": {
          "fieldsList": [
            "employee_properties"
          ]
        }
      },
      "id": "8951e674-8d34-4507-b129-5d1b0e7d25ed",
      "name": "Odoo1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        3980,
        2680
      ],
      "credentials": {
        "odooApi": {
          "id": "IbOO6r3p0Qvo35Gh",
          "name": "Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Вывод статистики \nПока просто заготовка, нормальных данных в Odoo нет",
        "height": 265.0078547016157,
        "width": 526.1978785004818
      },
      "id": "72a5ab56-e623-4218-a9dc-05f12c90976c",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3920,
        2600
      ]
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "688c356b-009e-4b72-bf8d-64d227dcdfe0",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        1380,
        2360
      ],
      "webhookId": "6829191f-f2cf-41f8-bdd9-6e6890f1ba9b",
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11c45e0d-196b-47f1-821e-bee57c9f070b",
              "leftValue": "={{ $('Telegram Trigger1').item.json.hasField(\"message\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "07e1f8c5-9640-49c3-9b49-87bc2235b82b",
      "name": "Check_type1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1620,
        2360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9e5341d4-525b-4677-b22e-26741349cd16",
              "leftValue": "{{ $json.callback_query.from.username }}",
              "rightValue": "saniochek",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "db82e140-3f82-4071-ba76-fe0fec1a1e43",
      "name": "check_role2",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1840,
        2920
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Отлично, вы завершили заказ, хотите принять следующий?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Принять заказ",
                    "additionalFields": {
                      "callback_data": "pick"
                    }
                  },
                  {
                    "text": "Посмотреть статистику",
                    "additionalFields": {
                      "callback_data": "stats"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "8e1eca21-798f-47a1-9b73-5aacbf8a875f",
      "name": "Finish1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2840,
        4540
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=Личная статистика водителя:\nЗа сегодняший день выполно <b><i>9</i></b> заказов.\nПреодалено <b><i>1689</i></b> километров\nПеревезено <b><i>189</i></b> тонн груза",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выйти в меню",
                    "additionalFields": {
                      "callback_data": "Finish"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "679981e1-7696-4596-93c7-2f5c08eb8654",
      "name": "Stats1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2820,
        4360
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "=<b>Напишите комментарий:</b>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "38062c78-f2e6-450b-a8e5-8cb6f0ea59fa",
      "name": "comment1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2840,
        4900
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "Привет дорогой водитель, какое действие ты намерен совершить?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Принять заказ",
                    "additionalFields": {
                      "callback_data": "pick",
                      "switch_inline_query_current_chat": ""
                    }
                  },
                  {
                    "text": "Посмотреть статистику",
                    "additionalFields": {
                      "callback_data": "stats",
                      "switch_inline_query_current_chat": ""
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "b007c7af-2de8-466a-82fb-6f57814ec8c2",
      "name": "menu1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2840,
        4720
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "33133f70-808e-4dfc-b1dc-59459b6f153b",
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "/connect",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "e43b9fe6-d63d-40c3-bdbf-7c1b1fba02fa",
      "name": "Switch2",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3240,
        2460
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Статистика:\n<b>{{ $json.employee_properties[0].string }}</b>:  {{ $json.employee_properties[0].value }}\n<b>{{ $json.employee_properties[1].string }}</b>:  {{ $json.employee_properties[1].value }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "a09e9c76-0840-40ea-90c7-043dd16f513b",
      "name": "Telegram7",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4200,
        2680
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "Моя статистика",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "b5b7a5c2-93f1-48be-92e4-c596ce9ab1dc",
      "name": "Switch3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3640,
        2800
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "=pick",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8bc82b0c-1224-4b1a-8c5f-8889e9c22f7a",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8393d9b4-05b0-4ecf-a449-110e64114680",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "Finish",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "6a32c278-a8b4-4dd6-910c-38775e0c5267",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "menu_ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5ac51105-cc73-4102-b9c6-a408ce0f165b",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "menu_wrong",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "055cb7dd-9a8d-43ba-93c7-93f7ab624e7a",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "continue",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "dbb623c3-4705-4e1e-a02f-04fb1dd118dc",
      "name": "Picked_button1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2300,
        4540
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=<b>Пожалуйста, проведите осмотр авто перед началом работы!\n\nАвтомобиль:</b>\n* SCANIA А459ТЕ *\n\n<b>Водитель:</b>\nМамедов Е.С.\n______________________\n<b>⭕ Тех. жидкость в норме.\n⭕ Тормозная система в норме.\n⭕ Ходовая часть в норме.\n⭕ Запаска в норме.\n\nСтраховка до: 18.07.2024.\n\nПробег:</b> 332358км.",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📄Добавить комментарий",
                    "additionalFields": {
                      "callback_data": "mechanic_com"
                    }
                  },
                  {
                    "text": "Комментарии не требуются",
                    "additionalFields": {
                      "callback_data": "no_com"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "a3235058-841e-47cf-b576-7309d2667c61",
      "name": "menu-wrong2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3100,
        3340
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=<b>Автомобиль:</b>\n* SCANIA А459ТЕ *\n\n<b>Водитель:</b>\nМамедов Е.С.\n______________________\n<b>✅ Тех. жидкость в норме.\n✅ Тормозная система в норме.\n✅ Ходовая часть в норме.\n✅ Запаска в норме.\n\nСтраховка до: 18.07.2024.\n\nПробег:</b> 332358км.",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "📄Добавить комментарий",
                    "additionalFields": {
                      "callback_data": "mechanic_com"
                    }
                  },
                  {
                    "text": "Комментарии не требуются",
                    "additionalFields": {
                      "callback_data": "no_com"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "3c7a4af5-fee7-4313-8eb3-cc8ab498c139",
      "name": "menu-ok2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3320,
        3240
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Отлично, вы приняли заказ, по его завершению нажмите на кнопку, когда завершите выполнение",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить заказ",
                    "additionalFields": {
                      "callback_data": "Finish"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Статистика",
                    "additionalFields": {
                      "callback_data": "stats"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "a479102d-8e56-4e5b-aca2-e117f20cb0b6",
      "name": "pick2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2840,
        2780
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Отлично, вы завершили заказ, хотите принять следующий?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Принять заказ",
                    "additionalFields": {
                      "callback_data": "pick"
                    }
                  },
                  {
                    "text": "Посмотреть статистику",
                    "additionalFields": {
                      "callback_data": "stats"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "5f948dc7-f0fb-49bc-83ec-1fe0b225f24a",
      "name": "Finish3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3280,
        3060
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=Тут статистика дорогого водителя:\nза сегодняший день ты выполнил {{counter}} заказов\nПроехал      километров\nПеревёз     тонн груза",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выйти в меню",
                    "additionalFields": {
                      "callback_data": "Finish"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "be718d87-489b-43b7-bc3f-9895d829ae2f",
      "name": "Stats3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3020,
        2920
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "text": "=<b>Напишите комментарий:</b>",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "215d160c-7627-4ee0-8d7d-de3433b833c8",
      "name": "comment3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2600,
        3520
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "Привет дорогой водитель, какое действие ты намерен совершить?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Принять заказ",
                    "additionalFields": {
                      "callback_data": "pick",
                      "switch_inline_query_current_chat": ""
                    }
                  },
                  {
                    "text": "Посмотреть статистику",
                    "additionalFields": {
                      "callback_data": "stats",
                      "switch_inline_query_current_chat": ""
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "415f3394-119e-4b0e-ac7e-ea28fcdb98f4",
      "name": "menu3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3040,
        3520
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "Отправьте свой комментарий механику",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "658070d5-c8ab-4806-9fef-e6669229c4b6",
      "name": "Telegram9",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2260,
        3680
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "=pick",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8bc82b0c-1224-4b1a-8c5f-8889e9c22f7a",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8393d9b4-05b0-4ecf-a449-110e64114680",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "Finish",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "6a32c278-a8b4-4dd6-910c-38775e0c5267",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "menu_ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5ac51105-cc73-4102-b9c6-a408ce0f165b",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "menu_wrong",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "b834315e-6c45-4d14-82b5-980bebf6fdd0",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "menu_com",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "1a38fd4f-020e-4df5-a1b1-11240f872356",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "no_com",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "1a85b9c7-99b3-4589-9fc5-63a92e226a8d",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "mechanic_com",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "448a8a4c-0db7-432e-b5ee-18bcd0b5b61a",
      "name": "Picked_button3",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2120,
        2960
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "25f542cb-b3ad-4b48-9efe-4ddbfbf061c3",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/stop",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "33133f70-808e-4dfc-b1dc-59459b6f153b",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/connect",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "d5989c2d-9fd3-4631-85aa-dc9714bc1204",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1620,
        80
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2024-04-04T17:19:04.000Z",
  "versionId": "b65e092c-1ab6-489f-b10d-2b33c5204766"
}