workflows/Алексей TG DEV.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "добавляет пользователя, если не существует": {
      "main": [
        [
          {
            "node": "получаем первый статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "есть ли статус": {
      "main": [
        [
          {
            "node": "актуальный статус",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "меняем статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем первый статус": {
      "main": [
        [
          {
            "node": "есть ли статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус": {
      "main": [
        [
          {
            "node": "получаем первый статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "актуальный статус": {
      "main": [
        [
          {
            "node": "проверка статуса авторизации",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "принятый заказ": {
      "main": [
        [
          {
            "node": "получаем odoo id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус1": {
      "main": [
        [
          {
            "node": "отправляем кнопку контакта",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка нажатия кнопки контакта": {
      "main": [
        [
          {
            "node": "получаем id по mobile_phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем id по mobile_phone": {
      "main": [
        [
          {
            "node": "проверяем наличие",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверяем наличие": {
      "main": [
        [
          {
            "node": "получаем имя",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "пишем, что номера нет",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "успешный вход": {
      "main": [
        [
          {
            "node": "меняем статус на \"авторизован\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем имя": {
      "main": [
        [
          {
            "node": "успешный вход",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "удаление прошлого сообщения": {
      "main": [
        [
          {
            "node": "получаем данные автомобиля",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка проблемы механику": {
      "main": [
        [
          {
            "node": "Postgres2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres1": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "комментарий механику": {
      "main": [
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "создание заявки ": {
      "main": [
        [
          {
            "node": "Получение инф. о водители",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "получаем все карточки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем все карточки": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Вывод статуса карточки": {
      "main": [
        [
          {
            "node": "помечаем их отправленными",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Отправка логисту": {
      "main": [
        [
          {
            "node": "Отправка проблемы механику",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получение инф. о водители": {
      "main": [
        [
          {
            "node": "Нужно ли отправить сообщение логисту",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка свободных машин": {
      "main": [
        [
          {
            "node": "Поиск машин со статусом Нет груза",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Заказ завершен": {
      "main": [
        [
          {
            "node": "получаем odoo id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Нужно ли отправить сообщение логисту": {
      "main": [
        [
          {
            "node": "Отправка логисту",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправка проблемы механику",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "сообщение ввода автомобиля": {
      "main": [
        [
          {
            "node": "меняем статус2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ищем автомобиль по номеру": {
      "main": [
        [
          {
            "node": "проверка наличия",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка наличия": {
      "main": [
        [
          {
            "node": "ввод одометра",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Автомобиль отсутствует",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Меню ТО1": {
      "main": [
        [
          {
            "node": "возвращаем статус",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "добавляем данные в оду": {
      "main": [
        [
          {
            "node": "меняем статус машины на Без груза",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка роли логиста": {
      "main": [
        [
          {
            "node": "Проверка старта1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка типа входных данных",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка типа входных данных": {
      "main": [
        [
          {
            "node": "Проверка наличия фото",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Picked_button",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем данные автомобиля": {
      "main": [
        [
          {
            "node": "создание заявки ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "найдём водителя по номеру автомобиля",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Получаем тг": {
      "main": [
        [
          {
            "node": "Вывод статуса карточки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "найдём водителя по номеру автомобиля": {
      "main": [
        [
          {
            "node": "Получаем тг",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ввод одометра": {
      "main": [
        [
          {
            "node": "статус ввода одометра",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "статус ввода одометра": {
      "main": [
        [
          {
            "node": "добавляем данные в оду",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем данные автомобиля1": {
      "main": [
        [
          {
            "node": "обновляем одометр",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "обновляем одометр": {
      "main": [
        [
          {
            "node": "Меню ТО1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка старта": {
      "main": [
        [
          {
            "node": "/start",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Разделение reply-кнопок или иного ввода",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем odoo id": {
      "main": [
        [
          {
            "node": "находим машину по odoo id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим машину по odoo id": {
      "main": [
        [
          {
            "node": "меняем статус машины на Загружена",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем odoo id1": {
      "main": [
        [
          {
            "node": "находим машину по odoo id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим машину по odoo id1": {
      "main": [
        [
          {
            "node": "меняем статус машины на Нет груза",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "тг айди для ролей",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Заказ завершен1": {
      "main": [
        [
          {
            "node": "получаем odoo id2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем odoo id2": {
      "main": [
        [
          {
            "node": "находим машину по odoo id2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим машину по odoo id2": {
      "main": [
        [
          {
            "node": "меняем статус машины на Нет груза1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo": {
      "main": [
        [
          {
            "node": "Telegram6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка наличия фото": {
      "main": [
        [
          {
            "node": "Postgres4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "добавляет пользователя, если не существует",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram5": {
      "main": [
        [
          {
            "node": "Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Проверка старта1": {
      "main": [
        [
          {
            "node": "Приветственное сообщений",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Проверка свободных машин",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Связь с водителем",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Назначение маршрута",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Смена завершена": {
      "main": [
        [
          {
            "node": "получаем odoo id3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "получаем odoo id3": {
      "main": [
        [
          {
            "node": "находим машину по odoo id3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим машину по odoo id3": {
      "main": [
        [
          {
            "node": "меняем статус машины на Нет водителя",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус машины на Нет водителя": {
      "main": [
        [
          {
            "node": "статус ввода данных после смены",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "данные смены введены": {
      "main": [
        [
          {
            "node": "возвращаем статус1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "возвращаем статус1": {
      "main": [
        [
          {
            "node": "сохраняем данные смены",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Поиск машин со статусом Нет груза": {
      "main": [
        [
          {
            "node": "Вывод свободных машин",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "находим данные": {
      "main": [
        [
          {
            "node": "отправляем статистику",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разделение reply-кнопок или иного ввода": {
      "main": [
        [
          {
            "node": "находим данные",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "сообщение ввода автомобиля",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Сообщение для описания проблемы",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Комментарий доставлен",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "проверка статуса авторизации": {
      "main": [
        [
          {
            "node": "меняем статус1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "проверка нажатия кнопки контакта",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Проверка старта",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ищем автомобиль по номеру",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "получаем данные автомобиля1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "данные смены введены",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Комментарий доставлен": {
      "main": [
        [
          {
            "node": "удаление прошлого сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "меняем статус машины на Нет груза": {
      "main": [
        [
          {
            "node": "Telegram5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Picked_button": {
      "main": [
        [
          {
            "node": "принятый заказ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Подтверждение завершения",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "меню после ТО",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "комментарий механику",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправка фото",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Заказ завершен1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Требуется ли отправка фото",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Подтверждение завершения смены",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Смена завершена",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Статус получения фото при неисправности",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Статус получения фото при неисправности": {
      "main": [
        [
          {
            "node": "Отправка фото",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres4": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Telegram7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram7": {
      "main": [
        [
          {
            "node": "Postgres5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres5": {
      "main": [
        [
          {
            "node": "Фото доставлено",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "тг айди для ролей": {
      "main": [
        [
          {
            "node": "Проверка роли логиста",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-03-28T11:45:35.632Z",
  "id": "daDmJ5Eo2gEmGff4",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Алексей TG DEV",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "f3809476-d35b-4044-b7eb-28966dd3e47d",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        4300,
        6340
      ],
      "webhookId": "ebd5349c-3c6b-41c3-8b58-43ccd839d390",
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $json.result.chat.id }}",
        "file": "={{ $('Telegram Trigger').item.json.message.photo[3].file_id }}",
        "additionalFields": {}
      },
      "id": "619aa3fb-33bb-4dc7-a2b1-b2de2a169283",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4860,
        6340
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Ghbdtn",
        "additionalFields": {}
      },
      "id": "51c89dd7-a471-4804-b5e9-8406db64d888",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4620,
        6340
      ],
      "credentials": {
        "telegramApi": {
          "id": "gOQQxmUbZz0UWAfO",
          "name": "Telegram account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO tg_users (tg_id, odoo_id, status) VALUES ($1, NULL, NULL) ON CONFLICT (tg_id) DO NOTHING;",
        "options": {
          "queryReplacement": "={{ $('Telegram Trigger1').item.json.message.from.id }}"
        }
      },
      "id": "6bbc3c44-ef61-449c-9343-3dbe31c33066",
      "name": "добавляет пользователя, если не существует",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        4415,
        10136
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "3f1dd178-652c-4e81-8cb6-91df77dfe097",
              "leftValue": "={{ $json.status }}",
              "rightValue": "unauthorized",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "42209cf3-a94e-41cb-850a-adbe97a2c347",
      "name": "есть ли статус",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4815,
        10136
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $('Telegram Trigger1').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c6ae9f8-6e2f-4b28-808b-f9422d2ca272",
      "name": "получаем первый статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        4615,
        10136
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('есть ли статус').item.json.tg_id }}",
            "status": "unauthorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "7892a056-dedc-443a-92d9-a38930780a86",
      "name": "меняем статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        5015,
        10256
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $('Telegram Trigger1').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a9b9ecd9-d6a0-4e09-b695-9f557625a165",
      "name": "актуальный статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        5015,
        9816
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "=Личная статистика водителя:\nЗа сегодняший день выполно <b><i>9</i></b> заказов.\nПреодалено <b><i>1689</i></b> километров\nПеревезено <b><i>189</i></b> тонн груза",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Выйти в меню",
                    "additionalFields": {
                      "callback_data": "menu_ok"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "6c77be9f-eac7-48b4-b2eb-71d5e01126aa",
      "name": "Stats",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4820,
        11580
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Отлично,заказ активен, по его завершению нажмите на кнопку <b><i>\"Завершить заказ\"</i></b>",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить заказ",
                    "additionalFields": {
                      "callback_data": "Finish"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "e944bdc6-c866-413e-a999-1b4c03bfcdba",
      "name": "принятый заказ",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4755,
        11396
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.tg_id }}",
            "status": "input_number"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "7b4b7bc8-cd84-47e6-881a-24754ca777c6",
      "name": "меняем статус1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        5655,
        9196
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Чтобы войти, поделитесь контактом",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Поделиться контактом",
                    "additionalFields": {
                      "request_contact": true
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "3e07cc24-8ac8-493a-b25b-e939dcef2087",
      "name": "отправляем кнопку контакта",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        5875,
        9196
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "24ec202f-0645-4527-b391-6bb1bc0ea711",
              "leftValue": "={{ $('Telegram Trigger1').item.json.message.reply_to_message.text }}",
              "rightValue": "Чтобы войти, поделитесь контактом",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "900131cd-d579-40dc-a436-4532261c7b83",
      "name": "проверка нажатия кнопки контакта",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5675,
        9396
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": []
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "mobile_phone",
              "value": "={{ $('Telegram Trigger1').item.json.message.contact.phone_number }}"
            }
          ]
        }
      },
      "id": "8323d7ab-9438-4994-a18a-691ad14c61cc",
      "name": "получаем id по mobile_phone",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        5875,
        9396
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9b905cb5-83c4-4cdb-b1df-7e7f94e2a734",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "6666c6bc-ffb2-4bf6-bd0a-256eff525d0e",
      "name": "проверяем наличие",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6055,
        9396
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Такого сотрудника ещё нет в Odoo.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "aad61f53-9d50-4814-bf0a-e911b7ffb1c8",
      "name": "пишем, что номера нет",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        6295,
        9516
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.reply_to_message.chat.id }}",
        "text": "=Вы успешно авторизовались, <b>{{ $json.name }}</b>",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к работе",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Моя статистика",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Написать механику и логисту",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "045aa127-569d-403c-9ca9-45e324b8a8ce",
      "name": "успешный вход",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        6520,
        9320
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $json.result.chat.id }}",
            "odoo_id": "={{ $('проверяем наличие').item.json.id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "a995b434-2703-47aa-845e-680726ff0b44",
      "name": "меняем статус на \"авторизован\"",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        6735,
        9316
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "get",
        "customResourceId": "={{ $json.id }}",
        "options": {
          "fieldsList": []
        }
      },
      "id": "06da919b-bde4-4f8d-8c19-659e6f5c9671",
      "name": "получаем имя",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        6295,
        9316
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Блок авторизации\n",
        "height": 623.4771536589793,
        "width": 1361.5817241569612
      },
      "id": "ea03f3d2-0044-44ea-a83b-a1a5fd999821",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5615,
        9076
      ]
    },
    {
      "parameters": {
        "operation": "deleteMessage",
        "chatId": "={{ $json.result.chat.id }}",
        "messageId": "={{ $json.result.message_id -2}}"
      },
      "id": "931d5937-4dd3-43b7-9f97-4713c47e4ac2",
      "name": "удаление прошлого сообщения",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        7440,
        10940
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "content": "## Вывод статистики \nПока данные берутся из Postgres",
        "height": 271.7908763388541,
        "width": 658.3251335706542,
        "color": 7
      },
      "id": "45d37992-d578-44a9-97c1-d0b586f7dd32",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6820,
        9893.216978362761
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "Вы уже авторизованы!",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к работе",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Моя статистика",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Написать механику и логисту",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "f75b6623-f1cd-4d2f-bd8c-3c836dff8d0f",
      "name": "/start",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        6340,
        9820
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('тг айди для ролей').item.json.mechanic_tg_id }}",
        "text": "=Дорогой механик, у водителя <b>{{ $('Получение инф. о водители').item.json[\"display_name\"] }}</b> {{ $('Получение инф. о водители').item.json[\"mobile_phone\"] }}, номер машины <b>{{ $('получаем данные автомобиля').item.json[\"number_car\"] }}</b> проблема: {{ $('Telegram Trigger1').item.json.message.text }} \n\n<a href=\"https://everest.lamart.site/web#id={{ $('создание заявки ').item.json[\"id\"] }}&cids=1&menu_id=158&action=227&model=technical.maintenance&view_type=form\">Ссылка на заявку в Odoo</a>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "b9e1860a-3f65-4095-8fdc-df7042a2272c",
      "name": "Отправка проблемы механику",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        9440,
        11040
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "only_mech": false,
            "odoo_id": "={{ $('Разделение reply-кнопок или иного ввода').item.json.odoo_id }}",
            "tg_id": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
            "status": "={{ $('Разделение reply-кнопок или иного ввода').item.json.status }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "2055970d-9e08-4d49-9819-0069ecfd54a4",
      "name": "Postgres2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        9720,
        11044
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $json.result.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "45ca0753-dfaf-4bc0-8eee-e3344402d47b",
      "name": "Postgres1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        4835,
        12096
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "only_mech": true,
            "odoo_id": "={{ $json.odoo_id }}",
            "tg_id": "={{ $('Telegram Trigger1').item.json.callback_query.message.chat.id }}",
            "status": "={{ $json.status }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "3e59c493-b759-412e-abbe-de6e510d77f8",
      "name": "Postgres",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        5015,
        12156
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "Отправьте свой комментарий механику",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "6ea4ddf3-196d-4b4e-9f14-553473b962a4",
      "name": "комментарий механику",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4595,
        11976
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "content": "## Создание запроса на обслуживание ",
        "height": 293.1503506761383,
        "width": 772.4055499735014
      },
      "id": "5cbc880a-326e-439b-babd-3ca18906e37c",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7340,
        10840
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "car_id",
              "fieldValue": "={{ $json.id }}"
            },
            {
              "fieldName": "status",
              "fieldValue": "=К выполнению"
            },
            {
              "fieldName": "description_of_maintenance",
              "fieldValue": "={{ $('Telegram Trigger1').item.json.message.text }}"
            },
            {
              "fieldName": "hours_for_maintenance",
              "fieldValue": "1"
            },
            {
              "fieldName": "tech_maintenance",
              "fieldValue": "=false"
            },
            {
              "fieldName": "cost",
              "fieldValue": "1"
            }
          ]
        }
      },
      "id": "f09fa1e5-39cd-4a11-9332-a7ca53936990",
      "name": "создание заявки ",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        7940,
        10940
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds",
              "secondsInterval": 5
            }
          ]
        }
      },
      "id": "61fee894-0a97-40e4-8d27-395543ebf8a2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        1075,
        11496
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "id": "445c3245-3b62-46e9-8a51-8f6de6707344",
      "name": "получаем все карточки",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1375,
        11496
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Проверка состояния карточек и отправка статуса водителю",
        "height": 749.4704439473635,
        "width": 2342.9054234402693
      },
      "id": "5839caba-d559-4cb2-963b-32adf68fd90c",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        980,
        11200
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.tg_id }}",
        "text": "={{ $('найдём водителя по номеру автомобиля').item.json[\"employee_id\"][1] }}\nВаше обращение перенесено в статус <b>{{ $('If').item.json[\"status\"] }}</b>\n\nТекст вашего обращения:\n<i>{{ $('If').item.json[\"description_of_maintenance\"] }}</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "63c9695a-fd68-4e32-8660-c437529172fd",
      "name": "Вывод статуса карточки",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        2260,
        11380
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "content": "## Блок общения с логистом и механиком",
        "height": 515.2827988953883,
        "width": 1788.7724102696845
      },
      "id": "e0c01bd5-c3ca-44dd-962c-829a499e2f95",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8220,
        10740
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('тг айди для ролей').item.json.logist_tg_id }}",
        "text": "=Дорогой логист, у водителя <b>{{ $('Получение инф. о водители').item.json[\"display_name\"] }}</b> {{ $('Получение инф. о водители').item.json[\"mobile_phone\"] }}, номер машины <b>{{ $('получаем данные автомобиля').item.json[\"number_car\"] }}</b> проблема: {{ $('Telegram Trigger1').item.json.message.text }} ",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "c62e6d91-a9c1-4b2c-b8c6-40b922e7ae21",
      "name": "Отправка логисту",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        9160,
        10804
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Опишите вашу проблему, доставим ее механику и логисту",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "3879e150-3c84-4a89-95d8-76c82a765cbf",
      "name": "Сообщение для описания проблемы",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        7080,
        10580
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "hr.employee",
        "operation": "get",
        "customResourceId": "={{ $('Разделение reply-кнопок или иного ввода').item.json.odoo_id }}",
        "options": {
          "fieldsList": []
        }
      },
      "id": "88f2db88-ee03-4d89-8eda-9b6fd5cfd5cb",
      "name": "Получение инф. о водители",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        8340,
        10904
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Блок сценария для логиста",
        "height": 862.4168334078684,
        "width": 1267.9135979457083
      },
      "id": "a2265b1a-24d7-4cfd-893c-173bc6f87a91",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3460,
        8620
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Здравствуй дорогой логист, приступим к работе?",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Просмотреть свободные машины",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Связь с водителем",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Назначить перевозку",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {
          "resize_keyboard": true
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "3eb486d1-cae5-40f4-8313-52170f7bfec0",
      "name": "Приветственное сообщений",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        3680,
        8720
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Напишите имя и Фамилию водителя для связи с ним",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "2a2200fa-3678-4fdd-8487-eb0251a5dcca",
      "name": "Связь с водителем",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4520,
        9000
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "Сейчас свободны следующие автомобили:",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "ebc4b422-b0ee-49ca-8582-1749c99e0a7a",
      "name": "Проверка свободных машин",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4040,
        8680
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "content": "## Блок проверки нажатой водителем кнопки",
        "height": 1259.545934179436,
        "width": 1466.2735295852656
      },
      "id": "7a41f077-008f-43ad-9dd6-c7b367a8b011",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3920,
        11500
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Вы уверены, что готовы завершить заказ?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить",
                    "additionalFields": {
                      "callback_data": "final"
                    }
                  },
                  {
                    "text": "Назад",
                    "additionalFields": {
                      "callback_data": "pick"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "7aec0f75-189c-40d8-af9b-cba9e7f7975a",
      "name": "Подтверждение завершения",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4835,
        11736
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }} or {{ $('Telegram Trigger1').item.json.callback_query.from.id }}",
        "text": "Отлично, вы завершили заказ, хотите принять следующий?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Принять заказ",
                    "additionalFields": {
                      "callback_data": "pick"
                    }
                  },
                  {
                    "text": "Посмотреть статистику",
                    "additionalFields": {
                      "callback_data": "stats"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "3e19d082-3355-4101-bbc8-e5d203241ae5",
      "name": "Заказ завершен",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4300,
        10800
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f4a04b7f-8758-49ca-b7cd-8e933dc9137d",
              "leftValue": "={{ $('Разделение reply-кнопок или иного ввода').item.json.only_mech }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e2159e0f-bd55-41da-a820-67f7f6653d9c",
      "name": "Нужно ли отправить сообщение логисту",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        8740,
        10904
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "Привет дорогой водитель, какое действие ты намерен совершить?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Принять заказ",
                    "additionalFields": {
                      "callback_data": "pick",
                      "switch_inline_query_current_chat": ""
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "11a1607b-4e2f-493f-bb7b-522d1891e9d9",
      "name": "меню после ТО",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4855,
        11916
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "content": "Тут две проверки, так как иногда надо доставать юзернейм из другого типа данных\n\nЕсли не логист:\nis not equal\nand\nis not equal\n\nЕсли логист:\nequal\nor\nequal\n",
        "height": 292.9581857976716,
        "width": 344.6787124129794,
        "color": 3
      },
      "id": "0504c1b0-0a70-44b8-9cc1-a4eb626f6f2e",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3040,
        9940
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Введите номер автомобиля заглавными буквами и без пробелов, например: А312МЕ",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "95a038d2-35c9-44bf-a49b-72918306fdc7",
      "name": "сообщение ввода автомобиля",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        7000,
        10320
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "only_mech": "={{ $('актуальный статус').item.json.only_mech }}",
            "tg_id": "={{ $json.result.chat.id }}",
            "odoo_id": "={{ $('актуальный статус').item.json.odoo_id }}",
            "status": "=inputing_car_number"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "9ac1ab7f-c60e-4cb6-b134-0e0257f03df1",
      "name": "меняем статус2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        7200,
        10320
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "После нажатия кнопки \"приступить к работе\"",
        "height": 251.1678059984191,
        "width": 476.5077865756089
      },
      "id": "8057052c-74ea-4573-8dda-73e6d6c6835d",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6920,
        10240
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "number_car",
              "value": "={{ $('Telegram Trigger1').item.json.message.text }}"
            }
          ]
        }
      },
      "id": "2eb4353a-c014-4e98-aebb-53157ef1f74a",
      "name": "Ищем автомобиль по номеру",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        7060,
        11560
      ],
      "alwaysOutputData": true,
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "4d4be8aa-73f6-479a-a3a3-9ab858135854",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4bd8f7d6-dc37-45ad-a6c4-ac4cc0e7fff4",
      "name": "проверка наличия",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        7280,
        11560
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=<b>Пожалуйста, проведите осмотр авто перед началом работы!</b>\n\nАвтомобиль: <b>{{ $('получаем данные автомобиля1').item.json[\"model\"] }}</b>\nНомер: <b>{{ $('получаем данные автомобиля1').item.json[\"number_car\"] }}</b>\nПробег: <b>{{ $('Telegram Trigger1').item.json[\"message\"][\"text\"] }} км</b>\n______________________\n<b>⭕ Тех. жидкость в норме.\n⭕ Тормозная система в норме.\n⭕ Ходовая часть в норме.\n⭕ Запаска в норме.\n\nСтраховка до: 18.07.2024.\n</b>",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅Всё в норме.",
                    "additionalFields": {
                      "callback_data": "menu_ok"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "❌Есть неисправности",
                    "additionalFields": {
                      "callback_data": "menu_wrong"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "ea0ab209-8db4-4aee-a751-425e03906000",
      "name": "Меню ТО1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        7540,
        12100
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "only_mech": "={{ $('проверка статуса авторизации').item.json.only_mech }}",
            "odoo_id": "={{ $('проверка статуса авторизации').item.json.odoo_id }}",
            "tg_id": "={{ $('проверка статуса авторизации').item.json.tg_id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d31fb9a8-9334-42f5-b767-00e3fcd9f5fa",
      "name": "возвращаем статус",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        7760,
        12100
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ввод номера автомобиля",
        "height": 510.0261823387185,
        "width": 773.3739483260375
      },
      "id": "5cc4fbfa-7c6d-489e-afe3-34eff99224b4",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7000,
        11320
      ]
    },
    {
      "parameters": {
        "content": "## Изменение водителя в ОДУ\nвозможно это должно быть в другом месте",
        "height": 258.8309220721088,
        "width": 800.0418917419497
      },
      "id": "7728e4ce-f615-473a-987d-7bc9a9c7c3d5",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        8060,
        11340
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "update",
        "customResourceId": "={{ $('Ищем автомобиль по номеру').item.json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "employee_id",
              "fieldValue": "={{ $('проверка статуса авторизации').item.json.odoo_id }}"
            }
          ]
        }
      },
      "id": "d7deb580-3241-4d43-809f-207de4799d97",
      "name": "добавляем данные в оду",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        8120,
        11420
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Автомобиль с номером <b>{{ $('Telegram Trigger1').item.json.message.text }}</b> не найден!\nВведите номер заново",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "fb9aaf9f-9f4f-4277-8295-afdac4827b91",
      "name": "Автомобиль отсутствует",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        7580,
        11620
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "9e5341d4-525b-4677-b22e-26741349cd16",
              "leftValue": "={{ $json.message.chat.username }}",
              "rightValue": "123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "2dc7c105-3303-4700-9806-dbde743d993b",
              "leftValue": "={{ $json.callback_query.message.chat.username }}",
              "rightValue": "123",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "3a9a76ee-f31c-4445-8a3d-87e70ede6bf6",
      "name": "Проверка роли логиста",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3180,
        10080
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "11c45e0d-196b-47f1-821e-bee57c9f070b",
              "leftValue": "={{ $('Telegram Trigger1').item.json.hasField(\"message\") }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4c5289bb-b9d4-401a-9e9f-e80390feab0c",
      "name": "Проверка типа входных данных",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3520,
        10160
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "employee_id",
              "value": "={{ $('проверка статуса авторизации').item.json.odoo_id }}"
            }
          ]
        }
      },
      "id": "d960536e-4c61-4eaf-b551-e98099eb4bc0",
      "name": "получаем данные автомобиля",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        7700,
        10940
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "83edda29-8198-4233-8d09-a34820e84077",
              "leftValue": "={{ $json.sent }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b3758d53-409d-41a7-b891-eb597a6420e4",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        11500
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "odoo_id",
              "value": "={{ $json.employee_id[0] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "639f016f-8e06-4643-863a-322f557402fe",
      "name": "Получаем тг",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        2040,
        11380
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "id",
              "value": "={{ $json.car_id[0] }}"
            }
          ]
        }
      },
      "id": "aaf3fea9-5825-48f1-b200-06ecfaaca9d1",
      "name": "найдём водителя по номеру автомобиля",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        1820,
        11380
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "technical.maintenance",
        "operation": "update",
        "customResourceId": "={{ $('If').item.json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "sent",
              "fieldValue": "={{ true }}"
            }
          ]
        }
      },
      "id": "68cce510-7775-4399-a361-880e60d9f8d8",
      "name": "помечаем их отправленными",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        2480,
        11380
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "=Автомобиль <b>{{ $json.model }} {{ $json.number_car }}</b> найден!\nВведите текущие показатели одометра с панели в виде числа, например: 998665",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "926c2587-e225-43ad-a0c3-885af7813339",
      "name": "ввод одометра",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        7580,
        11420
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "only_mech": "={{ $('актуальный статус').item.json.only_mech }}",
            "tg_id": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
            "odoo_id": "={{ $('актуальный статус').item.json.odoo_id }}",
            "status": "inputing_odometer"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "d11525a1-778c-4c36-a40d-a6663e8ac830",
      "name": "статус ввода одометра",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        7880,
        11420
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "employee_id",
              "value": "={{ $('проверка статуса авторизации').item.json.odoo_id }}"
            }
          ]
        }
      },
      "id": "c4cec48d-2439-4ee3-9fff-df216aa7e757",
      "name": "получаем данные автомобиля1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        7040,
        12100
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "=cars.cars",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "odometer",
              "fieldValue": "={{ $('Telegram Trigger1').item.json.message.text }}"
            }
          ]
        }
      },
      "id": "cdf20328-12b9-4412-85be-ccaa003becf7",
      "name": "обновляем одометр",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        7280,
        12100
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ввод одометра",
        "height": 271.1847873311224,
        "width": 1034.7653316632081
      },
      "id": "fa745332-f6c7-45c6-8147-0e0795a8257e",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7000,
        12020
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "cd5d92a7-d6ce-4833-8880-603fdcdfa0f2",
      "name": "Проверка старта",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        6120,
        9940
      ]
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $json.result.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ba127efd-b620-4c26-ab77-906517892452",
      "name": "получаем odoo id",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        4980,
        11400
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "employee_id",
              "value": "={{ $json.odoo_id }}"
            }
          ]
        }
      },
      "id": "f98cb92e-c282-4bc6-b5db-7c50e41947c9",
      "name": "находим машину по odoo id",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        5200,
        11400
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "returnAll": "=",
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $json.result.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e5cb8c66-88c6-447c-ab0d-a2a43392fc2c",
      "name": "получаем odoo id1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        4580,
        10800
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "employee_id",
              "value": "={{ $json.odoo_id }}"
            }
          ]
        }
      },
      "id": "7c6c30cf-ad55-496e-af63-87eeabbba538",
      "name": "находим машину по odoo id1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        4800,
        10800
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "status",
              "fieldValue": "Нет груза"
            }
          ]
        }
      },
      "id": "1fce8d79-415e-4059-ab02-e7b2832da3c5",
      "name": "меняем статус машины на Без груза",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        8400,
        11420
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Завершение заказа и смена статуса машины",
        "height": 289.7155852196428,
        "width": 1024.4704439473637,
        "color": 5
      },
      "id": "5b3fef37-d2c8-4a1a-bc58-c2e70a745b3c",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4200,
        10720
      ]
    },
    {
      "parameters": {
        "content": "## Принятие заказа и смена статуса машины",
        "height": 239.17047464637366,
        "width": 932.7416531557697,
        "color": 5
      },
      "id": "3e009fc5-ef76-49ab-b5b3-b010cbae1e3e",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4640,
        11320
      ]
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "b680fc0b-f6e2-4ae5-b744-de5bc1fb44c7",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        2180,
        10080
      ],
      "webhookId": "6829191f-f2cf-41f8-bdd9-6e6890f1ba9b",
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Отлично, вы завершили заказ, хотите принять следующий?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Принять заказ",
                    "additionalFields": {
                      "callback_data": "pick"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить смену",
                    "additionalFields": {
                      "callback_data": "complete_work"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "6eef35bb-38ea-4aa9-9a4e-39eab1f064c1",
      "name": "Заказ завершен1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4300,
        12380
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $json.result.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "24cc3355-8910-4076-a9e9-fcc02ff105b9",
      "name": "получаем odoo id2",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        4580,
        12380
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "employee_id",
              "value": "={{ $json.odoo_id }}"
            }
          ]
        }
      },
      "id": "66377506-8241-4e07-b0b7-43493ebc42c9",
      "name": "находим машину по odoo id2",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        4800,
        12380
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Завершение заказа и смена статуса машины",
        "height": 289.7155852196428,
        "width": 1024.4704439473637,
        "color": 5
      },
      "id": "db4c50ea-fe0c-4714-81f2-4f2f73b5c3f9",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4220,
        12320
      ]
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "documents",
              "fieldValue": "={{ $('Telegram Trigger1').item.json.message.photo[0].file_id }}"
            }
          ]
        }
      },
      "id": "e75df9cb-ce18-47ff-81c0-2ed62dd00777",
      "name": "Odoo",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        5440,
        10800
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "467549384",
        "file": "={{ $('Telegram Trigger1').item.json.message.photo[0].file_id }}",
        "additionalFields": {}
      },
      "id": "8e8e044f-1ec7-4f74-83d6-2b00a3137194",
      "name": "Telegram6",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        5580,
        10800
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "2bd61e7b-a58d-4c5d-81d2-ec5f92c0ee0d",
              "leftValue": "={{ $('Telegram Trigger1').item.json.message.photo[0].file_unique_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "94d4a5ba-594f-4a56-a929-e9d9ff9038c8",
      "name": "Проверка наличия фото",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        3840,
        10160
      ]
    },
    {
      "parameters": {
        "chatId": "467549384",
        "text": "=Уникальный id документа для поиска через odoo поступил от \n<b>{{ $('находим машину по odoo id1').item.json.employee_id[1] }}, {{ $('находим машину по odoo id1').item.json.number_car }}:</b>\n{{ $('Telegram Trigger1').item.json.message.photo[0].file_unique_id }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "4d8b9260-683e-47b0-be1c-9c0a14312349",
      "name": "Telegram5",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        5300,
        10800
      ],
      "credentials": {
        "telegramApi": {
          "id": "ThC2kf8ZCBAO0FBa",
          "name": "Main Everest"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "42b6d536-65cb-4c12-8c2c-73fbf68adde6",
      "name": "Проверка старта1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3540,
        9080
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.from.id }}",
        "text": "Для назначения напишите маршрут перевозки",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "70f6565c-a986-436f-b78b-a22de29bb515",
      "name": "Назначение маршрута",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4460,
        9220
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Просмотреть свободные машины",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "46635c29-fbc4-4b0c-b6c8-7b31bc9fee81",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Связь с водителем",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "f33ba847-4918-4bdd-a823-7d99c709e03b",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "Назначить маршрут",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "03b733fd-c2b8-43d1-bef7-003355f511c7",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "06ebbbfc-568c-45e9-956b-cd45b11a9e55",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3780,
        9100
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "=<b>{{ $json.number_car }}, {{ $json.employee_id[1] }}</b>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "48ee49c5-7fbb-472e-bc7e-f07960666724",
      "name": "Вывод свободных машин",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4520,
        8680
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.callback_query.message.chat.id }}",
        "text": "Отлично, отправляйте фото",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "3389d529-a4dc-489c-be56-f8570226b8d4",
      "name": "Отправка фото",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4420,
        12120
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "text": "Нужно ли отправить документ?",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Отправить документ",
                    "additionalFields": {
                      "callback_data": "send_photo"
                    }
                  },
                  {
                    "text": "Отправка не требуется",
                    "additionalFields": {
                      "callback_data": "last"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "07f43996-95a5-4377-b650-5de23b55e1a0",
      "name": "Требуется ли отправка фото",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4080,
        12520
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "content": "## Отправка документа логисту",
        "height": 238.24114664041943,
        "width": 587.9672047955498,
        "color": 5
      },
      "id": "9da2913c-9806-4672-9f50-b0add22aa53e",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5260,
        10740
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "replyMarkup": "inlineKeyboard",
        "text": "Вы уверены, что готовы завершить смену?",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Завершить смену",
                    "additionalFields": {
                      "callback_data": "final_complete_work"
                    }
                  },
                  {
                    "text": "Назад",
                    "additionalFields": {
                      "callback_data": "last"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "id": "c3389801-7756-4f83-abbf-2bcb52ee54d7",
      "name": "Подтверждение завершения смены",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4080,
        12760
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "content": "## Завершение смены\nсвои изменения буду делать белым цветом",
        "height": 419.27106267637015,
        "width": 1113.0751450329324,
        "color": 7
      },
      "id": "b21e50ef-ed70-4995-82da-3c951c5931b3",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3960,
        12680
      ]
    },
    {
      "parameters": {
        "operation": "editMessageText",
        "chatId": "={{ $json.callback_query.message.chat.id }}",
        "messageId": "={{ $json.callback_query.message.message_id }}",
        "text": "Для завершения смены введите данные:",
        "additionalFields": {}
      },
      "id": "c6161607-bb13-404c-8cd9-3cf89d3ce669",
      "name": "Смена завершена",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4020,
        12920
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $json.result.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ac690120-a0ba-40a4-88c4-7faeebccea24",
      "name": "получаем odoo id3",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        4240,
        12920
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {},
        "filterRequest": {
          "filter": [
            {
              "fieldName": "employee_id",
              "value": "={{ $json.odoo_id }}"
            }
          ]
        }
      },
      "id": "97ce1bab-b37d-4f3e-bb02-32e430f7100d",
      "name": "находим машину по odoo id3",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        4460,
        12920
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "status",
              "fieldValue": "Нет водителя"
            },
            {
              "fieldName": "employee_id"
            }
          ]
        }
      },
      "id": "53eff0b1-4c4e-49bb-b249-0fac3f4c17f1",
      "name": "меняем статус машины на Нет водителя",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        4660,
        12920
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "only_mech": "={{ $('получаем odoo id3').item.json.only_mech }}",
            "tg_id": "={{ $('получаем odoo id3').item.json.tg_id }}",
            "odoo_id": "={{ $('получаем odoo id3').item.json.odoo_id }}",
            "status": "inputing_data_after_work"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "70051d5a-2c1a-491a-81dc-d3bdd5e76613",
      "name": "статус ввода данных после смены",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        4900,
        12920
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
        "text": "Вы ввели данные, смена завершена!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "2dc01b3a-95ad-4af2-91c9-8abd24092122",
      "name": "данные смены введены",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        7080,
        12480
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "content": "## Ввод данных смены\nэти данные пока никуда не сохраняются",
        "height": 297.5961132589107,
        "width": 766.0405253052202,
        "color": 7
      },
      "id": "196ee4a8-b822-4ea6-af66-9a3bfd50cd77",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        7040,
        12380
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "only_mech": "={{ $('проверка статуса авторизации').item.json.only_mech }}",
            "odoo_id": "={{ $('проверка статуса авторизации').item.json.odoo_id }}",
            "tg_id": "={{ $('проверка статуса авторизации').item.json.tg_id }}",
            "status": "authorized"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "c135ce34-90a7-47ee-a664-3c63c5082294",
      "name": "возвращаем статус1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        7300,
        12480
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "getAll",
        "returnAll": true,
        "options": {
          "fieldsList": [
            "number_car",
            "employee_id"
          ]
        },
        "filterRequest": {
          "filter": [
            {
              "fieldName": "status",
              "value": "Нет груза"
            }
          ]
        }
      },
      "id": "469065d1-21f3-40f2-b74f-33ef47320dde",
      "name": "Поиск машин со статусом Нет груза",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        4280,
        8680
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "content": "## Вывод свободных машин",
        "height": 273.8075573041622,
        "width": 779.3488585284206,
        "color": 5
      },
      "id": "86a4e9e7-ff64-4d54-82fc-9a8c746b5195",
      "name": "Sticky Note18",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3940,
        8620
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "data_after_work",
          "mode": "list",
          "cachedResultName": "data_after_work"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_user": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
            "data": "={{ $('Telegram Trigger1').item.json.message.text }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tg_user",
              "displayName": "tg_user",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "3747249c-b4aa-4c46-959b-146150fbd6ea",
      "name": "сохраняем данные смены",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        7520,
        12480
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "data_after_work",
          "mode": "list",
          "cachedResultName": "data_after_work"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "tg_user",
              "value": "={{ $('Telegram Trigger1').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "00e22c56-f053-4876-9290-6ae2327c91f5",
      "name": "находим данные",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        6880,
        9980
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "={{ $json.data }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "d7d72a16-11b5-4461-96fc-14e0c070a558",
      "name": "отправляем статистику",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        7320,
        9980
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "Моя статистика",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "46700892-d6f7-4494-9b30-6e3a9344bc28",
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "Приступить к работе",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "e9d1379d-cad3-4666-a782-5366de1a5ead",
                    "leftValue": "={{ $('Telegram Trigger1').item.json.message.text }}",
                    "rightValue": "Написать механику и логисту",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "06dafeac-0ed6-496e-a197-a97569af9d01",
      "name": "Разделение reply-кнопок или иного ввода",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        6340,
        10240
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "77fe838f-5f60-44cc-a654-5adcbbebf8bb",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "unauthorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "7dc92754-779a-4427-ba34-e7c6a59cb5c6",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "input_number",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c328907d-5e2f-4059-b43d-dec7c9a2136a",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "authorized",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "ed5a4e82-0574-4022-a4e9-a9e3d492e32f",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "inputing_car_number",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "27af43d5-2d5c-4cf3-9fd6-11b9316f9089",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "inputing_odometer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c2794bc8-e2a0-40b4-b9a7-bf906ac1f32b",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "inputing_data_after_work",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "73b2df10-f455-479f-9ac3-6356985f920f",
      "name": "проверка статуса авторизации",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        5400,
        10020
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "Комментарий доставлен",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к заказам",
                    "additionalFields": {
                      "callback_data": "menu_ok"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Добавить фото",
                    "additionalFields": {
                      "callback_data": "mech_photo"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "19f00654-083e-4113-a9b4-b5c194a92de2",
      "name": "Комментарий доставлен",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        6920,
        10820
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "status",
              "fieldValue": "Нет груза"
            }
          ]
        }
      },
      "id": "08bc2ff0-c672-470e-aa9b-e00118b71104",
      "name": "меняем статус машины на Нет груза",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        5020,
        10800
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "status",
              "fieldValue": "Нет груза"
            }
          ]
        }
      },
      "id": "37f08d2b-2b68-4fa1-8df8-dc0d4e3130ed",
      "name": "меняем статус машины на Нет груза1",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        5020,
        12380
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "resource": "custom",
        "customResource": "cars.cars",
        "operation": "update",
        "customResourceId": "={{ $json.id }}",
        "fieldsToCreateOrUpdate": {
          "fields": [
            {
              "fieldName": "status",
              "fieldValue": "Загружена"
            }
          ]
        }
      },
      "id": "7a4cdb40-7ce1-4395-9170-9418d1b430ac",
      "name": "меняем статус машины на Загружена",
      "type": "n8n-nodes-base.odoo",
      "typeVersion": 1,
      "position": [
        5420,
        11400
      ],
      "credentials": {
        "odooApi": {
          "id": "QXqc61yRCfgVSB3C",
          "name": "new Odoo Алексей"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "=pick",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8bc82b0c-1224-4b1a-8c5f-8889e9c22f7a",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "stats",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "8393d9b4-05b0-4ecf-a449-110e64114680",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "Finish",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "6a32c278-a8b4-4dd6-910c-38775e0c5267",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "menu_ok",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "5ac51105-cc73-4102-b9c6-a408ce0f165b",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "menu_wrong",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "055cb7dd-9a8d-43ba-93c7-93f7ab624e7a",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "send_photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "69666ed5-0c08-4891-b46b-b71a54107deb",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "last",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "48612a14-299b-4bae-9d99-edc129ddab7b",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "final",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "e8f7a1df-54a8-4b49-8a1c-2b7f5d330d91",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "complete_work",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "28a1b664-4cb3-48f9-825a-80fa83b3344a",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "final_complete_work",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "e7abdc4b-442f-4670-bef1-9a5e0305e163",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "mech_photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3020bad4-b559-4720-b21f-b4919fb77dc5",
      "name": "Picked_button",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        3840,
        11760
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mech_photo": true,
            "tg_id": "={{ $('Telegram Trigger1').item.json.callback_query.message.chat.id }}",
            "status": "={{ $json.status }}",
            "odoo_id": "={{ $json.odoo_id }}"
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "c4d851a1-7979-427f-9b82-63404ff0d78a",
      "name": "Статус получения фото при неисправности",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        3660,
        12280
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "where": {
          "values": [
            {
              "column": "tg_id",
              "value": "={{ $('Telegram Trigger1').item.json.message.from.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e518f867-ad5f-4189-a8d1-62d0f22b8b89",
      "name": "Postgres4",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        4000,
        10360
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "069241e8-a706-4d88-98a4-39e00ff7a911",
              "leftValue": "={{ $json.mech_photo }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "413604e4-7486-4b8b-b2d4-0c280adfef40",
      "name": "If1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4180,
        10560
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "700956969",
        "file": "={{ $('Telegram Trigger1').item.json.message.photo[0].file_id }}",
        "additionalFields": {}
      },
      "id": "3c03ddc3-17f7-4435-a01f-ac862c585d75",
      "name": "Telegram7",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4740,
        10520
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "tg_users",
          "mode": "list",
          "cachedResultName": "tg_users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tg_id": "={{ $('Postgres4').item.json.tg_id }}",
            "status": "={{ $('Postgres4').item.json.status }}",
            "odoo_id": "={{ $('Postgres4').item.json.odoo_id }}",
            "mech_photo": false
          },
          "matchingColumns": [
            "tg_id"
          ],
          "schema": [
            {
              "id": "tg_id",
              "displayName": "tg_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "odoo_id",
              "displayName": "odoo_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "only_mech",
              "displayName": "only_mech",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mech_photo",
              "displayName": "mech_photo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "4b3e98c3-0606-4359-831d-6ddcd52a8bee",
      "name": "Postgres5",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.3,
      "position": [
        4980,
        10500
      ],
      "credentials": {
        "postgres": {
          "id": "Q4ZHMkPf1vzJmsuw",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger1').item.json.message.from.id }}",
        "text": "Фото доставлено",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Приступить к заказам",
                    "additionalFields": {
                      "callback_data": "menu_ok"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "fba072fe-cecd-46ac-8003-de91c0f8277a",
      "name": "Фото доставлено",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        5280,
        10500
      ],
      "credentials": {
        "telegramApi": {
          "id": "cg3DBo1aKun5qfRh",
          "name": "Алексей dev"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67275410-aa11-43f5-963e-22a7677d61eb",
              "name": "mechanic_tg_id",
              "value": "700956969",
              "type": "string"
            },
            {
              "id": "94c1e42a-7664-443e-9760-3b2ab3aeb428",
              "name": "logist_tg_id",
              "value": "700956969",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c80f0d58-f6ca-4e6c-9bea-e60453ab5322",
      "name": "тг айди для ролей",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        2540,
        10080
      ]
    },
    {
      "parameters": {
        "content": "данные тг айди будут тут, чтобы каждый раз в нодах не менять",
        "height": 285.95336521392596,
        "width": 314.09021483172114,
        "color": 7
      },
      "id": "f56819a2-10e6-4dbb-ba32-1f809835468c",
      "name": "Sticky Note19",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2440,
        9960
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2024-05-14T11:35:19.000Z",
  "versionId": "1e4655ac-29f7-45a0-8963-0a37e6a12137"
}